@use 'partials/variables' as var;

/* Background */ .chroma, .code-inline { color: #d0d0d0; background-color: #202020 }
/* Other */ .chroma .x, .code-inline .x { color: #ffffff }
/* Error */ .chroma .err, .code-inline .err { color: #fd7777; }
/* LineTableTD */ .chroma .lntd, .code-inline .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable, .code-inline .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
/* LineHighlight */ .chroma .hl, .code-inline .hl { display: block; width: 100%;background-color: #ffffcc }
/* LineNumbersTable */ .chroma .lnt, .code-inline .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #686868 }
/* LineNumbers */ .chroma .ln, .code-inline .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #686868 }
/* Keyword */ .chroma .k, .code-inline .k { color: #80ffff } /* was 6ab825 */
/* KeywordConstant */ .chroma .kc, .code-inline .kc { color: rgb(186, 230, 253) }
/* KeywordDeclaration */ .chroma .kd, .code-inline .kd { color: rgb(186, 230, 253) }
/* KeywordNamespace */ .chroma .kn, .code-inline .kn { color: rgb(186, 230, 253) }
/* KeywordPseudo */ .chroma .kp, .code-inline .kp { color: rgb(186, 230, 253) }
/* KeywordReserved */ .chroma .kr, .code-inline .kr { color: rgb(186, 230, 253) }
/* KeywordType */ .chroma .kt, .code-inline .kt { color: rgb(186, 230, 253) }
/* Name */ .chroma .n, .code-inline .n { color: #ff9970 }
/* NameAttribute */ .chroma .na, .code-inline .na { color: rgb(186, 230, 253) }
/* NameBuiltin */ .chroma .nb, .code-inline .nb { color: lightblue } /* was #24909d
/* NameBuiltinPseudo */ .chroma .bp, .code-inline .bp { color: #efefef }
/* NameClass */ .chroma .nc, .code-inline .nc { color: #de9aef } /* was 447fcf */
/* NameConstant */ .chroma .no, .code-inline .no { color: #40ffff }
/* NameDecorator */ .chroma .nd, .code-inline .nd { color: #ffa500 }
/* NameEntity */ .chroma .ni, .code-inline .ni { color: #efefef }
/* NameException */ .chroma .ne, .code-inline .ne { color: #bbbbbb }
/* NameFunction */ .chroma .nf, .code-inline .nf { color: #8ad2fc } /* was 447fcf */
/* NameFunctionMagic */ .chroma .fm, .code-inline .fm { color: #efefef }
/* NameLabel */ .chroma .nl, .code-inline .nl { color: #efefef }
/* NameNamespace */ .chroma .nn, .code-inline .nn { color: #99cfef } /* was 447fcf */
/* NameOther */ .chroma .nx, .code-inline .nx { color: #efefef }
/* NameProperty */ .chroma .py, .code-inline .py { color: #efefef }
/* NameTag */ .chroma .nt, .code-inline .nt { color: rgb(186, 230, 253) }
/* NameVariable */ .chroma .nv, .code-inline .nv { color: #40ffff }
/* NameVariableClass */ .chroma .vc, .code-inline .vc { color: #efefef }
/* NameVariableGlobal */ .chroma .vg, .code-inline .vg { color: #efefef }
/* NameVariableInstance */ .chroma .vi, .code-inline .vi { color: #efefef }
/* NameVariableMagic */ .chroma .vm, .code-inline .vm { color: #efefef }
/* Literal */ .chroma .l, .code-inline .l { color: #efefef }
/* LiteralDate */ .chroma .ld, .code-inline .ld { color: #efefef }
/* LiteralString */ .chroma .s, .code-inline .s { color: rgb(255, 255, 128) }
/* LiteralStringAffix */ .chroma .sa, .code-inline .sa { color: rgb(255, 255, 128) }
/* LiteralStringBacktick */ .chroma .sb, .code-inline .sb { color: rgb(255, 255, 128) }
/* LiteralStringChar */ .chroma .sc, .code-inline .sc { color: rgb(255, 255, 128) }
/* LiteralStringDelimiter */ .chroma .dl, .code-inline .dl { color: rgb(255, 255, 128) }
/* LiteralStringDoc */ .chroma .sd, .code-inline .sd { color: rgb(255, 255, 128) }
/* LiteralStringDouble */ .chroma .s2, .code-inline .s2 { color: rgb(255, 177, 146) } /* was ed9d13 */
/* LiteralStringEscape */ .chroma .se, .code-inline .se { color: rgb(255, 255, 128) }
/* LiteralStringHeredoc */ .chroma .sh, .code-inline .sh { color: rgb(255, 255, 128) }
/* LiteralStringInterpol */ .chroma .si, .code-inline .si { color: rgb(255, 255, 128) }
/* LiteralStringOther */ .chroma .sx, .code-inline .sx { color: #ffa500 }
/* LiteralStringRegex */ .chroma .sr, .code-inline .sr { color: rgb(255, 255, 128) }
/* LiteralStringSingle */ .chroma .s1, .code-inline .s1 { color: rgb(255, 255, 128) }
/* LiteralStringSymbol */ .chroma .ss, .code-inline .ss { color: rgb(255, 255, 128) }
/* LiteralNumber */ .chroma .m, .code-inline .m { color: #7fcad7 }
/* LiteralNumberBin */ .chroma .mb, .code-inline .mb { color: #7fcad7 }
/* LiteralNumberFloat */ .chroma .mf, .code-inline .mf { color: #7fcad7 }
/* LiteralNumberHex */ .chroma .mh, .code-inline .mh { color: #7fcad7 }
/* LiteralNumberInteger */ .chroma .mi, .code-inline .mi { color: #ffffff }
/* LiteralNumberIntegerLong */ .chroma .il, .code-inline .il { color: #7fcad7 }
/* LiteralNumberOct */ .chroma .mo, .code-inline .mo { color: #fff56f }
/* Operator */ .chroma .o, .code-inline .o { color: rgb(251, 191, 36) }
/* OperatorWord */ .chroma .ow, .code-inline .ow { color: rgb(186, 230, 253) }
/* Punctuation */ .chroma .p, .code-inline .p { color: rgb(192, 192, 192) }
/* Comment */ .chroma .c, .code-inline .c { color: hsl(150, 50%, 70%); }
/* CommentHashbang */ .chroma .ch, .code-inline .ch { color: hsl(150, 50%, 70%); }
/* CommentMultiline */ .chroma .cm, .code-inline .cm { color: hsl(150, 50%, 70%); }
/* CommentSingle */ .chroma .c1, .code-inline .c1 { color: hsl(150, 50%, 70%); }
/* CommentSpecial */ .chroma .cs, .code-inline .cs { color: #e50808; background-color: #520000 }
/* CommentPreproc */ .chroma .cp, .code-inline .cp { color: #ff8585 }
/* CommentPreprocFile */ .chroma .cpf, .code-inline .cpf { color: #cd2828 }
/* Generic */ .chroma .g, .code-inline .g { color: #efefef }
/* GenericDeleted */ .chroma .gd, .code-inline .gd { color: #d22323 }
/* GenericEmph */ .chroma .ge, .code-inline .ge { font-style: italic }
/* GenericError */ .chroma .gr, .code-inline .gr { color: #d22323 }
/* GenericHeading */ .chroma .gh, .code-inline .gh { color: #ffffff }
/* GenericInserted */ .chroma .gi, .code-inline .gi { color: #589819 }
/* GenericOutput */ .chroma .go, .code-inline .go { color: #cccccc }
/* GenericPrompt */ .chroma .gp, .code-inline .gp { color: #aaaaaa }
/* GenericStrong */ .chroma .gs, .code-inline .gs { font-weight: bold }
/* GenericSubheading */ .chroma .gu, .code-inline .gu { color: #ffffff }
/* GenericTraceback */ .chroma .gt, .code-inline .gt { color: #d22323 }
/* GenericUnderline */ .chroma .gl, .code-inline .gl { text-decoration: underline }
/* TextWhitespace */ .chroma .w, .code-inline .w { color: #666666 }
