@use 'partials/variables-010' as var;
/* @use 'partials/005-limited-colors' as clr; */
/* @use 'partials/010-variables' as var; */

.billboard-div {
	@apply text-center relative h-auto px-6 pb-[1vh];
	@media screen and (min-width: 768px) {
		@apply px-12;
	}
	code {
		@apply bg-transparent;
	}
}

.billboard-title-block {
	@apply block w-full pt-[1em];
}

.billboard-title-block-fit {
	@apply block w-full;
}

.billboard-title-text, .billboard-subtitle-text, .billboard-description-text {
	@apply my-0 mx-auto text-center px-[2%];
}

.billboard-title-text {
	font-size: clamp(2.25em, 0.75rem + 4vw, 4em);
	@apply pt-[1em] leading-[1.1] -tracking-[0.0375em];
}

.billboard-description-text {
	/* font-family: var.$serif; */
	/* font-style: italic; */
	/* font-weight: var.$font-light; */
	font-size: clamp(1.25rem, 0.75rem + 1.5vw, 1.75rem);
	@apply -tracking-[0.025em] leading-[1.4] pt-[1em];
}

.billboard-p-text {
	font-size: clamp(1rem, 0.25rem + 1.25vw, 1.5rem);
	@apply text-[var(--head)] leading-5 mt-[1.5em] mb-[0.25em] text-center;
}
