@use 'partials/colors' as clr;
@use 'partials/variables-010' as var;

:root {
	--link-nav: theme(colors.white);
	--link-nav-afh: theme(colors.blue.200);
	--logocircle: theme(colors.blue.500);
	--logocircle-afh: theme(colors.gray.500);
	--border-bquote: theme(colors.gray.400);
	--fill-lightdarktoggle: theme(colors.yellow.200);
	--filter-shadow: theme(colors.gray.400);
	/* underlines for hrefs */
	--textDcThick: 0.05rem; // always rem
	--textDcThickMd: 0.0625rem; // always rem
	--textDcThickHA: 0.075rem; // always rem for `header-anchor`
	--textUnOffst: 0.25em; // always em -- min-width: 768px
	--textUnOffstMd: 0.275em; // always em -- min-width: 768px
	/* ^^^ 0.225em is OK with Libre Franklin,
				but Segoe UI needs at least 0.25em */
	--btn-width: 12rem;
	--btn-height: 2.25rem;
	--interactionPadding: 0.75em;
	--btn-svg-width: 1.25em; /* height will be auto */
	--tc-corner-radius: 1em;
	--tc-padding: 1em;
	/* prev-next */
	--arrowPadding: clamp(1.5em, 0.75vw + 0.625em, 2.5em);
	--nextprevPadding: clamp(0.75em, 1vw + 0.5em, 1.5em);
}

[data-theme="light"] {
	color-scheme: light;
	/* = = = COLORS = = = */
	/* === defaults === */
	/* primaries */
	--default: theme(colors.gray.800);
	--boost: theme(colors.gray.900);
	--bquote: theme(colors.gray.500);
	--bquote-boost: theme(colors.gray.600);
	--link: theme(colors.blue.700);
	--link-afh: theme(colors.blue.900);
	--head: var(--default);
	--red: theme(colors.red.700);
	--box-red: theme(colors.red.600);
	--btn-text-default: theme(colors.white);
	--pf-result-excerpt: theme(colors.black);
	--bquote-article-code: theme(colors.slate.800);
	/* backgrounds and borders */
	--bkgd: theme(colors.white);
	--bkgd-nav: theme(colors.blue.850);
	--bkgd-nav-bottom: theme(colors.blue.850);
	--bkgd-nav-top: theme(colors.blue.850);
	--bkgd-box: theme(colors.slate.50);
	--bkgd-code: theme(colors.slate.50);
	--bkgd-article-code: theme(colors.slate.150);
	--bkgd-box-code: theme(colors.slate.200);
	--bkgd-pf-result-excerpt: theme(colors.blue.100);
	--bkgd-hr: theme(colors.black);
	--bkgd-marker-secondary: theme(colors.slate.400);
	--border: theme(colors.neutral.400);
	--icon-inside: theme(colors.white);
}

[data-theme="dark"] {
	color-scheme: dark;
	/* = = = COLORS = = = */
	/* === defaults === */
	/* primaries */
	--default: theme(colors.gray.300);
	--boost: theme(colors.gray.200);
	--bquote: theme(colors.gray.400);
	--bquote-boost: theme(colors.gray.350);
	--link: theme(colors.blue.300);
	--link-afh: theme(colors.slate.300);
	--head: var(--default);
	--red: theme(colors.red.300);
	--box-red: theme(colors.red.400);
	--btn-text-default: theme(colors.black);
	--pf-result-excerpt: theme(colors.white);
	--bquote-article-code: theme(colors.slate.300);
	/* backgrounds and borders */
	--bkgd: theme(colors.black);
	--bkgd-nav: theme(colors.blue.950);
	--bkgd-nav-bottom: theme(colors.blue.950);
	--bkgd-nav-top: theme(colors.blue.950);
	--bkgd-box: theme(colors.slate.900);
	--bkgd-code: theme(colors.slate.900);
	--bkgd-article-code: theme(colors.slate.750);
	--bkgd-box-code: theme(colors.slate.700);
	--bkgd-pf-result-excerpt: theme(colors.blue.900);
	--bkgd-hr: theme(colors.white);
	--bkgd-marker-secondary: theme(colors.slate.500);
	--border: theme(colors.neutral.600);
	--icon-inside: theme(colors.black);
}

html, body {
	-webkit-font-smoothing: subpixel-antialiased;
	/* ^^ only for Chromium and Safari on macOS; other browsers use defaults (if any) */
	-moz-osx-font-smoothing: auto;
	/* ^^ only for Firefox on macOS (and not for system fonts); other browsers use defaults (if any) */
	font-variant-ligatures: normal;
	text-rendering: optimizeLegibility;
	/* text-justify: inter-character; /* someday... */
	@apply w-full my-0 mx-auto p-0 font-sans font-normal bg-[var(--bkgd)] text-[var(--default)];
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4,
header, footer, table, blockquote, summary, contact-button, search-button,
.container-home, .billboard-div, .posts-Wrapper, .FourOhFour-Wrapper,
.sitemap-Div, .searchDiv, .searchDivPF,
.footnotes, .footnote-sim, .footnote-ref,
.box, .labeled-highlight, .imgcCaption, .imghCaption,
.bg-dark, a.contactButton,
.legal, .pokey {
	@apply font-sans;
}

b, strong {
	@apply font-semibold;
}

p, li {
	line-height: 1.4;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
	@apply font-semibold text-[var(--head)] tracking-tight;
}

h1, h2, h3, h4 {
	outline: 2px transparent;
	outline-offset: 2px;
	&:active, &:focus, &:hover {
		outline: 2px transparent;
		outline-offset: 2px;
	}
}

h1, h2, h3, h4 {
	margin-block-start: 0.25rem;
	margin-block-end: 0.25rem;
	@apply block;
}

h3, .h3 {
	@apply italic;
}

h1, .h1 {
	font-size: clamp(2rem, 1rem + 3vw, 2.5rem);
	/* usually overridden by other styling (e.g., billboard.scss) */
}

h2, .h2 {
	font-size: clamp(1.5rem, 0.75rem + 2vw, 2rem);
}

h3, .h3 {
	font-size: clamp(1.375rem, 0.5rem + 1.75vw, 1.75rem);
}

h4, .h4 {
	font-size: clamp(1.25rem, 0.25rem + 1.5vw, 1.625rem);
}

a, a:focus, a:hover, a:active {
	text-decoration-thickness: var.$textDcThick;
	text-underline-offset: var.$textUnOffst;
	@media screen and (min-width: 768px) {
		text-decoration-thickness: var.$textDcThickMd;
		text-underline-offset: var.$textUnOffstMd;
	}
	text-decoration-skip-ink: auto;
}

a {
	color: var(--link);
	&:focus, &:hover, &:active {
		@apply text-[var(--link-afh)];
	}
	@apply text-[var(--link)] underline;
}

a.icon, a.icon:focus, a.icon:hover, a.icon:active, sup a, .footnote-return, .icon {
	@apply border-b-0 no-underline;
}

hr {
	@apply border-none h-[1px] bg-[var(--bkgd-hr)];
}

sub, sup {
	font-size: 65%;
	@apply leading-[0] relative align-baseline;
}
sup {
	@apply -top-[0.45em];
}

ul li, ol li {
	@apply ps-2 ml-8;
}

ul li {
	@apply list-disc;
}

ol li {
	@apply list-decimal;
}

ul li li, ol li li, ul li li li, ol li li li {
	@apply my-1;
	&::marker {
		@apply text-[var(--bkgd-marker-secondary)];
	}
}

ul li li, ol li li {
	@apply list-disc;
}

ul li li li, ol li li li {
	@apply list-square;
}

ol li ul, ol li li ul, ol li li li ul {
	padding-inline-start: 1.1em;
	li {
		@apply list-disc;
		&::marker {
			@apply text-inherit;
		}
		ul {
			li::marker {
				@apply text-[var(--bkgd-marker-secondary)];
			}
		}
	}
}

#content-main-hugo, main {
	@apply pt-10;
}

#content-main-hugo .topOfMain, main .topOfMain {
	@apply mt-[0.5rem] text-4xl;
}

audio, canvas, embed, iframe, img, object, svg, video {
	@apply align-middle;
}

.container {
	/* width: 90%; */
	@apply my-0 mx-auto;
}

.container-narrower {
	--containerNarrowerWidth: 80%;
	@apply mt-4 mx-auto mb-0 w-[var(--containerNarrowerWidth)] max-w-[var(--containerNarrowerWidth)];
	@media screen and (min-width: 1024px) {
		--containerNarrowerWidth: 50vw;
		--bigImgDivExpansionWidth: 20vw;
		--bigImgDivWidth: calc(var(--containerNarrowerWidth) + var(--bigImgDivExpansionWidth));
		.bigImgDiv:not(li *) {
			left: calc(calc(var(--bigImgDivWidth) * -1)/2 + 50%);
			@apply w-[var(--bigImgDivWidth)];
		}
	}
	@media screen and (min-width: 1536px) {
		--containerNarrowerWidth: 40vw;
	}
	@media screen and (min-width: 1920px) {
		--containerNarrowerWidth: 45rem;
		--bigImgDivExpansionWidth: 15rem;
	}
}

li p {
	@apply mx-0 w-full;
}
