@charset 'utf-8';
@use 'partials/variables-010' as var;
/* @use 'partials/005-limited-colors' as clr; */
/* @use 'partials/010-variables' as var; */

/* === for home page */

.container-home {
	@apply pb-[1em] text-center py-[2vh] px-[5vw] my-0 mx-auto lg:w-full lg:flex lg:flex-row lg:p-0 lg:m-0;
	.post-line {
		@apply hidden;
	}
}

.homeOpen {
	text-align: center;
	@apply text-center md:pt-[3vh] lg:text-right lg:py-0 lg:pr-[3em] lg:w-[40%];
	h1 {
		line-height: 1.75em;
		font-size: clamp(1.5rem, 0.5rem + 1.5vw, 2.25rem);
		letter-spacing: -0.025em;
		padding-top: 2vh;
		@apply leading-[1.7] tracking-tighter pt-[2vh] lg:pt-[3.5em] lg:pr-0 lg:pb-0 lg:pl-[2em] 2xl:pt-[2.5em] 2xl:pl-[2.5em];
	}
}

.homePost-Div {
	padding-top: 1.5em;
	@apply pt-[1.5em] pb-0 px-0 lg:text-left lg:w-[55%] lg:py-0 lg:pr-[1.5em] lg:pl-[4em];
}

.homePost-Latest {
	font-size: clamp(2rem, 2rem + 1vw, 3.5rem);
	@apply text-[var(--head)] mt-[0.5em] lg:mt-0 mb-[0.25em] tracking-tighter lg:pt-[1em];
}

.homePost-Title {
	font-size: clamp(1.75rem, 1.25rem + 1vw, 2.25rem);
	@apply tracking-tight pt-[0.5em] leading-[1.25em];
}

.homePost-Description {
	font-size: clamp(1.125rem, 1rem + 1vw, 1.375rem);
	/* font-family: var.$serif; */
	/* font-style: italic; */
	/* font-weight: var.$font-light; */
	@apply mt-[0.5em] tracking-tight;
}

.homePost-Dates {
	font-size: clamp(0.875rem, 0.75rem + 1vw, 1.125rem);
	@apply mt-[0.5em] mb-[1em];
}

.homePost-Finish {
	strong {
		@apply font-semibold;
	}
	@apply mt-[3em];
}
/* === end, for home page */
