@charset 'utf-8';
@use 'partials/colors' as clr;
@use 'partials/variables-010' as var;
/* @use 'partials/005-limited-colors' as clr; */
/* @use 'partials/010-variables' as var; */

.posts-pagerGray {
	@apply text-gray-300;
}

.posts-pagerThing {
	@apply flex flex-row gap-[1em] justify-center;
	.pagerSpacer {
		@apply w-[0.625em] md:w-[1.25em] lg:w-[1.5em];
	}
}

.posts-Container {
	margin: 0 auto;
	width: 85%;
	@apply my-0 mx-auto w-[85%] lg:w-3/4 2xl:w-[62.5%];
}

.posts-ItemDiv {
	@apply m-0 p-0;
}

.posts-Head {
	padding-top: clamp(1.75rem, 5vh, 3rem);
	font-size: clamp(2.5rem, 1rem + 3vw, 3.5rem);
	letter-spacing: -0.0375em;
	margin-bottom: 0.25em;
}

.posts-Title {
	padding: 0;
	font-size: clamp(1.25rem, 0.625rem + 1.75vw, 2rem);
	/* font-family: var.$serif; */
	/* font-weight: var.$font-medium; */
	line-height: 1.25em;
	letter-spacing: -0.025em;
}

.posts-Description {
	font-size: clamp(0.95rem, 0.625rem + 1vw, 1.25rem);
	/* font-family: var.$serif; */
	/* font-style: italic; */
	/* font-weight: var.$font-light; */
	letter-spacing: -0.025em;
	margin-top: 0.5em;
	margin-bottom: 0.25em;
}

.posts-Dates {
	font-size: clamp(0.825rem, 0.25rem + 1vw, 1rem);
	line-height: 1.33;
	margin-bottom: 0.5em;
	time {
		display: inline;
	}
}

hr.paginatorTop, hr.paginatorBottom {
	border: none;
	height: 1px;
	background-color: var(--bkgd-hr);
	width: clamp(65%, 75vw, 90%);
}

hr.paginatorTop {
	margin-top: 0.5em;
	margin-bottom: 1.5em;
}

hr.paginatorBottom {
	margin-top: 0em;
	padding: 0;
}

.pagination {
	list-style-type: none;
	margin-block-start: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
	padding-inline-start: 0;
	li {
		display: inline;
	}
}

.arrowStop {
	color: clr.$gray-300;
}

path.FirstLast {
	fill: clr.$gray-400;
}

path.NextPrev {
	fill: var(--link);
}

a:hover path.NextPrev {
	fill: var(--link-afh);
}
