@use 'partials/variables-010' as var;

.ctr {
	text-align: center;
}
.red {
	color: var(--red);
}

.legal, .pokey {
	font-weight: var.$font-weight-sm;
}

.legal {
	@apply text-xs;
}
.pokey {
	@apply text-sm;
}
.sansSerif {
	@apply font-sans;
}
.serif {
	@apply font-serif;
}
.tightLead {
	line-height: 1.25;
}
.nobrk, .nowrap {
	@apply whitespace-nowrap;
}
.text-nowrap {
	font-size: inherit;
	@apply whitespace-normal;
}
.pub-date {
	font-weight: var.$pub-date-weight;
}

.mono {
	@apply font-mono;
}

.emojis {
	font-family: var.$emojis;
}
