{{- $compOutput := (dict "outputStyle" "compressed") -}}

{{- $optionsBillboard := (dict "transpiler" "dartsass") -}}
{{- $optionsBillboardComp := merge $optionsBillboard $compOutput -}}

{{- if (or (ne .Title "Home page") (ne .Title "Search the site") (ne .Title "Sitemap") (ne .Title "Posts")) -}}
	{{- with resources.Get "scss/billboard.scss" | resources.ToCSS $optionsBillboardComp -}}
		<style{{ if eq $.Site.Params.Host "CFP" }} nonce="DhcnhD3khTMePgXw"{{ end }}>{{ .Content | safeCSS }}</style>
	{{- end }}
{{- end }}
