.container-posts-cards {
  max-width: 85%;
  margin-right: auto;
  margin-left: auto;
  display: table; // old browsers
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: auto;
  grid-gap: 1rem;
  @media screen and (max-width: 768px) {
    max-width: 95%;
    grid-template-columns: 100%;
  }
  .column {
    display: table-cell; // old browsers
    display: grid;
  }
}

.card {
  display: table-cell; // old browsers
  display: grid;
  grid-template-rows: auto 12rem 4.5vh;
  @media screen and (max-width: 768px) {
    grid-template-rows: auto auto 4.5vh;
  }
  grid-template-areas:
    "img"
    "body"
    "button"
  ;
  background-color: $grey-3;
  border: 1px solid $grey-2;
  border-radius: $card-border-radius;
  /* don't declare padding here because we want image to cover card; we'll handle padding in .card-body */  
}

.card-img-top {
  border-top-left-radius: $card-border-radius;
  border-top-right-radius: $card-border-radius;
}

.card-body {
  padding: 0.5em 1.5em; // old browsers
  padding: 0.5rem 1.5rem;
  grid-area: body;
}

.card-img-crop { /* based on https://stackoverflow.com/questions/28460844/html-bootstrap-how-to-crop-the-center-part-of-an-image */
  grid-area: img;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 200px;
}

.card-btn-bottom {
  grid-area: button;
  align-self: end;
  margin-bottom: 0.5em; // old browsers
  margin-bottom: 0.5rem;
}

.container-narrower {
  margin: 0 auto 0 auto;
  max-width: 60%;
  @media (min-width: 835px) and (max-width: 1024px) {
    max-width: 75%;
  }
  @media (min-width: 769px) and (max-width: 834px) {
    max-width: 85%;
  }
  @media (min-width: 601px) and (max-width: 768px) {
    max-width: 90%;
  }
  @media (max-width: 600px) {
    max-width: 95%;
    h1 {
      font-size: 2rem;
    }
    h2.h4 {
      font-size: 1.25rem;
    }
    article h2 {
      font-size: 1.5rem;}
  }
}

.text-nowrap, .nobrk {
  white-space: nowrap;
}

.text-link {
  color: $blue;
}

.text-muted {
  color: $grey-1;
}

.text-body {
  color: $default-color;
}

.bg-primary {
  background-color: $blue !important;
}

.bg-dark {
  background-color: $darkblue !important;
  div, p {
    color: #fff;
  }
  a, a.hover, a.focus {
    color: #aaddff !important;
  }
}

.btn-primary {
  background-color: $blue;
  border-color: $blue;
  color: #fff;
  border-radius: 6px;
  padding: 0.25em 0.5em; // old browsers
  padding: 0.25rem 0.5rem;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: $darkblue;
  border-color: $darkblue;
}

.disclaimer-portfolio {
  margin: 1em 17.5% 1em 17.5%;
  @media screen and (max-width: 768px) {
    margin: 1em auto 1em auto;
  }
}