{{ define "main" }}

  {{ partial "billboard.html" . }}

<div class="container-narrower">
    <article class="article">
      {{ $readTime := mul (div (countwords .Content) 220.0) 60 }}
      {{ $minutes := math.Floor (div $readTime 60) }}
      {{ $seconds := mod $readTime 60 }}
      {{ $seconds := printf "%02d" $seconds }}
      <p class="legal ctr"><em>Estimated reading time: {{ $minutes }}:{{ $seconds }}</em></p>
      <div class="post-line"></div>
      {{ .Content }}
    </article>
  </div>

  {{ partial "fastcomments.html" . }}

  {{ if or .PrevPage .NextPage }}
    <div class="bg-dark sansSerif">
      <h3 class="ctr wht prevnextH3"><a href="/posts" class="border-transparent text-blue-100 hover:text-white">Other posts</a></h3>
			<p class="ctr prevnextP">
				{{ with .NextInSection }}
					<strong>Next</strong>:
					<a class="next" href="{{.RelPermalink}}"> {{.Title}}</a>
					{{ end }}
			</p>
			<p class="ctr prevnextP">
				{{ with .PrevInSection }}
					<strong>Previous</strong>:
					<a class="previous" href="{{.RelPermalink}}"> {{.Title}}</a>
				{{ end }}
			</p>
    </div>
  {{ end }}
{{ end }}