{{ define "main" }}

  {{ partial "billboard.html" . }}

<div class="container-narrower">
    <article class="article">
      <div class="post-line"></div>
      {{ .Content }}
    </article>
  </div>

  {{ partial "fastcomments.html" . }}

  {{ if or .PrevPage .NextPage }}
    <div class="bg-dark sansSerif">
      <h3 class="ctr wht prevnextH3"><a href="/posts" class="border-transparent text-blue-100 hover:text-white italic">Other posts</a></h3>
			<p class="ctr prevnextP">
				{{ with .NextInSection }}
					<strong>Next</strong>:
					<a class="next" href="{{.RelPermalink}}"> {{.Title}}</a>
					{{ end }}
			</p>
			<p class="ctr prevnextP">
				{{ with .PrevInSection }}
					<strong>Previous</strong>:
					<a class="previous" href="{{.RelPermalink}}"> {{.Title}}</a>
				{{ end }}
			</p>
    </div>
  {{ end }}
{{ end }}