@charset 'utf-8';

:root {
	--link-prvnxt: var(--blue-800);
	@media (prefers-color-scheme: dark) {
		--link-prvnxt: var(--blue-200);
	}
}

.bg-dark {
	margin-top: 2.5rem;
	background-color: var(--bkgd-nav);
	padding: 0.5rem 0rem;
	display: flex;
	flex-direction: row;
	justify-content: stretch;
	align-items: center;
	& div, & p {
		color: var(--black);
		@media (prefers-color-scheme: dark) {
			color: var(--white);
		}
	}
	& .prevDiv, & .nextDiv {
		line-height: clamp(1rem, 1vw + 0.625em, 1.25em);
	}
	& .prevnextText {
		margin: 0 auto;
		font-size: clamp(0.625rem, 0.75vw + 0.625em, 1.25em);
		letter-spacing: -0.025em;
		& a {
			font-weight: var(--font-normal);
			color: var(--link-prvnxt);
			text-decoration: none;
			&:hover, &:focus {
				color: var(--gray-800);
				text-decoration: underline; /* normal */
				text-decoration-thickness: var(--textDcThickMd);
				text-underline-offset: var(--textUnOffst);
				text-decoration-skip-ink: auto;
				@media (prefers-color-scheme: dark) {
					color: var(--gray-200);
				}
			}
		}
	}
	--arrowPadding: clamp(1.5em, 0.75vw + 0.625em, 2.5em);
	.prevArrow {
		padding-left: var(--arrowPadding);
	}
	.nextArrow {
		padding-right: var(--arrowPadding);
		text-align: right;
	}
	.prevArrow, .nextArrow {
		font-size: clamp(0.375em, 0.75vw + 0.5em, 0.825em);
		line-height: 1.375em;
		& a {
			font-weight: var(--font-normal);
			color: var(--link-prvnxt);
			text-decoration: none;
			&:hover, &:focus {
				color: var(--gray-800);
				text-decoration: underline; /* normal */
				text-decoration-thickness: var(--textDcThickMd);
				text-underline-offset: var(--textUnOffst);
				text-decoration-skip-ink: auto;
				@media (prefers-color-scheme: dark) {
					color: var(--gray-200);
				}
			}
		}
	}
	.nextDiv, .prevDiv {
		--nextprevPadding: clamp(0.75em, 1vw + 0.5em, 1.5em);
		flex: 1 1 0%;
	}
	.nextDiv {
		/* background-color: aliceblue; */
		text-align: right;
		padding: 0 var(--nextprevPadding);
	}
	.prevDiv {
		/* background-color: beige; */
		text-align: left;
		padding: 0 0 0 var(--nextprevPadding);
	}
	path.NextPrev {
		fill: var(--link-prvnxt);
		&:hover, &:focus {
			fill: var(--gray-800);
			@media (prefers-color-scheme: dark) {
				fill: var(--gray-200);
			}
		}
	}
}

contact-button {
	display: grid;
	place-items: center;
	margin-top: 0.5em;
	& button {
		width: 15rem;
		padding: 0.25rem 0;
		background-color: var(--link);
		border-radius: var(--btn_radius);
		border-color: transparent;
		vertical-align: middle;
		color: var(--white);
		&:focus, &:active, &:hover {
			background-color: var(--link-afh);
		}
		&:hover {
			cursor: pointer;
		}
		@media (prefers-color-scheme: dark) {
			color: var(--black);
		}
	}
}

.box + contact-button {
	margin-top: 1.5em;
}
