.jumbotron-hero {
  background-color: #0088ff;
  background-image: url("/images/West_Texas_1990_from_FB.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-bottom: 1rem;
  height: 40vh;
  @media (max-width: 1024px) {
    background-attachment: scroll; /* avoids mobile device issues */  
  }
}
