// Colors
$default-color: #333;
$default-shade: #484848;
$default-tint: #aaa;
$grey-1: #656565;
$grey-2: #c8c8c8;
$grey-3: #f9f9f9;
$white: #fff;
$blue: #0088ff;
$darkblue: #000088;
$shadow-color: rgba(0, 0, 0, .2);
$code-color: #00aa22;

// Fonts
$sans-serif: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Tahoma, Roboto, Oxygen, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", "Lucida Grande", sans-serif;
$serif-primary: serif;
$serif-secondary: "Georgia", serif;
$monospaced: "iA Writer Duospace", Menlo, Consolas, Courier, "Courier New", monospace;
$bigger: 2rem;
$sortabig: 1.5rem;
$stdsize: 1rem;
$pokey: 0.85rem;
$legal: 0.75rem;
$teeny: 0.6rem;
$bodyalign: left;

@mixin box-sizing($type: border-box) {
  -webkit-box-sizing: $type;
     -moz-box-sizing: $type;
          box-sizing: $type;
}

@mixin transition($args...) {
  -webkit-transition: $args;
     -moz-transition: $args;
          transition: $args;
}