code, article code, .box code {
	--bg: var(--bkgd-article-code);
	background-color: var(--bg);
}

code {
  font-variant-ligatures: none;
	@apply font-mono tracking-normal;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	@apply p-[0.1em] rounded-md whitespace-normal;
}

article code {
	/* no need for media queries because this
	is em, so clamp() for surrounding text
	will handle it */
	@apply text-base;
}

article .footnotes code {
	/* overriding the `article code` part above for footnotes */
	@apply text-base;
}

/*
article p code {
	@media screen and (min-width: 768px) {
		white-space: nowrap;
	}
}
*/

article p code.code-inline {
	/* font-size: var(--text-sm); */
	@apply py-1 px-2 my-0 mx-1;
}

article .footnotes li code {
	@apply whitespace-normal;
}

article blockquote code {
	@apply text-[var(--bquote-article-code)];
}

.box {
	& code, & a code {
		font-size: 1em; /* definitely em */
		--bg: var(--bkgd-box-code);
	}
}

article ol li .highlight {
	line-height: 1.5;
	@apply leading-[1.5];
}
