pre,
code {
  font-family: "SF Mono", SFMono-Regular, ui-monospace, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	background-color: rgb(239 246 255 / var(--tw-bg-opacity));
	font-kerning: none;
	font-variant-ligatures: none;
}

code[class*="language-"],
pre[class*="language-"] {
  color: #ddd; /* was ccc */
  background: transparent;
	text-align: left;
	white-space: pre;
	line-height: 1.5;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  tab-size: 2;
  hyphens: none;
}

 /* Code blocks */
 pre[class*="language-"],
 pre.chroma {
	 padding: 1em;
	 margin: 0.5em 0;
	 overflow: auto;
	 border-radius: 0.75rem; /* 12px */
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #2d2d2d;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: 0.1em;
	border-radius: 0.3em;
	white-space: normal;
}

.highlight {
  font-size: 0.8em; /* for Roboto Mono as compared to Public Sans */
}

.highlight .chroma {
	font-size: 1.35em;
}

article code {
  font-size: 0.9em;
	background-color: rgb(55,65,81);
}

article blockquote code {
  color: #494d50;
}

/* === for copy-code-to-clipboard */

/*
h/t https://simplernerd.com/hugo-add-copy-to-clipboard-button/
*/

/* TWCSS-ize all this later */

.clipboard-button {
	position: absolute;
	right: 0;
	padding: 2px 7px 5px 7px;
	margin: 5px;
	color: #767676;
	border-color: #767676;
	background-color: #ededed;
	border: 1px solid;
	border-radius: 6px;
	font-size: 0.8em;
	z-index: 1;
	opacity: 0;
	transition: 0.1s;
}
.clipboard-button > svg {
	fill: #767676;
}
.clipboard-button:hover {
	cursor: pointer;
	border-color: #696969;
	background-color: #e0e0e0;
}
.clipboard-button:hover > svg {
	fill: #696969;
}
.clipboard-button:focus {
	outline: 0;
}

.highlight {
   position: relative;
}

.highlight:hover > .clipboard-button {
	opacity: 1;
	transition: 0.2s;
}

article ol li .highlight {
	line-height: 1.5;
}

@media screen and (prefers-color-scheme: dark) {
	pre, code {
		background-color: rgb(51 65 85 / var(--tw-bg-opacity));
	}
	article code {
		background-color: #454545;
	}
	article blockquote code {
		color: #dddddd;
	}
}
