@charset 'utf-8';

/* ======= START, individual items from Chroma */

/* Background */
.chroma, .code-inline {
	@apply text-black bg-white dark:bg-slate-800 border border-gray-400;
}

/* Other */
.chroma .x, .code-inline .x {
	@apply text-black dark:text-white;
}

/* Error */
.chroma .err, .code-inline .err {
	@apply text-red-700 dark:text-red-300;
}

/* Line text */
.chroma .cl, .code-inline .cl {
	@apply text-black dark:text-white;
} /* was missing from original */

/* LineTableTD */
.chroma .lntd, .code-inline .lntd {
	@apply align-top p-0 m-0 border-0;
}

/* LineTable */
.chroma .lntable, .code-inline .lntable {
	@apply border-spacing-0 p-0 m-0 border-0 w-auto overflow-auto block;
}

/* LineHighlight */
.chroma .hl, .code-inline .hl {
	@apply block w-full bg-amber-700 dark:bg-amber-100;
}

/* LineNumbersTable */
.chroma .lnt, .code-inline .lnt {
	@apply mr-[0.4em] py-0 px-[0.4em] text-gray-700 dark:text-gray-300;
}

/* LineNumbers */
.chroma .ln, .code-inline .ln {
	@apply mr-[0.4em] py-0 px-[0.4em] text-gray-700 dark:text-gray-300;
}

/* Keyword */
.chroma .k, .code-inline .k {
	@apply text-cyan-700 dark:text-cyan-300;
} /* was 6ab825 */

/* KeywordConstant */
.chroma .kc, .code-inline .kc {
	@apply text-sky-700 dark:text-sky-300;
}

/* KeywordDeclaration */
.chroma .kd, .code-inline .kd {
	@apply text-cyan-700 dark:text-cyan-300;
}

/* KeywordNamespace */
.chroma .kn, .code-inline .kn {
	@apply text-cyan-700 dark:text-cyan-300;
}

/* KeywordPseudo */
.chroma .kp, .code-inline .kp {
	@apply text-cyan-700 dark:text-cyan-300;
}

/* KeywordReserved */
.chroma .kr, .code-inline .kr {
	@apply text-cyan-700 dark:text-cyan-300;
}

/* KeywordType */
.chroma .kt, .code-inline .kt {
	@apply text-cyan-700 dark:text-cyan-300;
}

/* Name */
.chroma .n, .code-inline .n {
	@apply text-orange-700 dark:text-orange-300;
}

/* NameAttribute */
.chroma .na, .code-inline .na {
	@apply text-purple-700 dark:text-purple-300;
}

/* NameBuiltin */
.chroma .nb, .code-inline .nb {
	@apply text-sky-800 dark:text-sky-300;
} /* was #24909d */

/* NameBuiltinPseudo */
.chroma .bp, .code-inline .bp {
	@apply text-gray-800 dark:text-gray-300;
}

/* NameClass */
.chroma .nc, .code-inline .nc {
	@apply text-fuchsia-700 dark:text-fuchsia-300;
} /* was 447fcf */

/* NameConstant */
.chroma .no, .code-inline .no {
	@apply text-cyan-600 dark:text-cyan-300;
}

/* NameDecorator */
.chroma .nd, .code-inline .nd {
	@apply text-orange-800 dark:text-orange-200;
}

/* NameEntity */
.chroma .ni, .code-inline .ni {
	@apply text-gray-800 dark:text-gray-300;
}

/* NameException */
.chroma .ne, .code-inline .ne {
	@apply text-gray-800 dark:text-gray-300;
}

/* NameFunction */
.chroma .nf, .code-inline .nf {
	@apply text-sky-700 dark:text-sky-300;
} /* was 447fcf */

/* NameFunctionMagic */
.chroma .fm, .code-inline .fm {
	@apply text-gray-800 dark:text-gray-300;
}

/* NameLabel */
.chroma .nl, .code-inline .nl {
	@apply text-gray-800 dark:text-gray-300;
}

/* NameNamespace */
.chroma .nn, .code-inline .nn {
	@apply text-sky-700 dark:text-sky-300;
} /* was 447fcf */

/* NameOther */
.chroma .nx, .code-inline .nx {
	@apply text-gray-800 dark:text-gray-300;
}

/* NameProperty */
.chroma .py, .code-inline .py {
	@apply text-gray-800 dark:text-gray-300;
}

/* NameTag */
.chroma .nt, .code-inline .nt {
	@apply text-cyan-700 dark:text-cyan-300;
}

/* NameVariable */
.chroma .nv, .code-inline .nv {
	@apply text-cyan-800 dark:text-cyan-200;
}

/* NameVariableClass */
.chroma .vc, .code-inline .vc {
	@apply text-gray-800 dark:text-gray-300;
}

/* NameVariableGlobal */
.chroma .vg, .code-inline .vg {
	@apply text-gray-800 dark:text-gray-300;
}

/* NameVariableInstance */
.chroma .vi, .code-inline .vi {
	@apply text-gray-800 dark:text-gray-300;
}

/* NameVariableMagic */
.chroma .vm, .code-inline .vm {
	@apply text-gray-800 dark:text-gray-300;
}

/* Literal */
.chroma .l, .code-inline .l {
	@apply text-gray-800 dark:text-gray-300;
}

/* LiteralDate */
.chroma .ld, .code-inline .ld {
	@apply text-gray-700 dark:text-gray-200;
}

/* LiteralString */
.chroma .s, .code-inline .s {
	@apply text-orange-700 dark:text-orange-300;
}

/* LiteralStringAffix */
.chroma .sa, .code-inline .sa {
	@apply text-yellow-700 dark:text-yellow-200;
}

/* LiteralStringBacktick */
.chroma .sb, .code-inline .sb {
	@apply text-yellow-700 dark:text-yellow-200;
}

/* LiteralStringChar */
.chroma .sc, .code-inline .sc {
	@apply text-yellow-700 dark:text-yellow-200;
}

/* LiteralStringDelimiter */
.chroma .dl, .code-inline .dl {
	@apply text-yellow-700 dark:text-yellow-200;
}

/* LiteralStringDoc */
.chroma .sd, .code-inline .sd {
	@apply text-yellow-700 dark:text-yellow-200;
}

/* LiteralStringDouble */
.chroma .s2, .code-inline .s2 {
	@apply text-orange-700 dark:text-orange-300;
} /* was ed9d13 */

/* LiteralStringEscape */
.chroma .se, .code-inline .se {
	@apply text-yellow-700 dark:text-yellow-200;
}

/* LiteralStringHeredoc */
.chroma .sh, .code-inline .sh {
	@apply text-yellow-700 dark:text-yellow-200;
}

/* LiteralStringInterpol */
.chroma .si, .code-inline .si {
	@apply text-yellow-700 dark:text-yellow-200;
}

/* LiteralStringOther */
.chroma .sx, .code-inline .sx {
	@apply text-orange-700 dark:text-orange-300;
}

/* LiteralStringRegex */
.chroma .sr, .code-inline .sr {
	@apply text-yellow-700 dark:text-yellow-200;
}

/* LiteralStringSingle */
.chroma .s1, .code-inline .s1 {
	@apply text-yellow-700 dark:text-yellow-200;
}

/* LiteralStringSymbol */
.chroma .ss, .code-inline .ss {
	@apply text-yellow-700 dark:text-yellow-200;
}

/* LiteralNumber */
.chroma .m, .code-inline .m {
	@apply text-cyan-800 dark:text-cyan-300;
}

/* LiteralNumberBin */
.chroma .mb, .code-inline .mb {
	@apply text-cyan-800 dark:text-cyan-300;
}

/* LiteralNumberFloat */
.chroma .mf, .code-inline .mf {
	@apply text-cyan-700 dark:text-cyan-200;
}

/* LiteralNumberHex */
.chroma .mh, .code-inline .mh {
	@apply text-cyan-800 dark:text-cyan-300;
}

/* LiteralNumberInteger */
.chroma .mi, .code-inline .mi {
	@apply text-black dark:text-white;
}

/* LiteralNumberIntegerLong */
.chroma .il, .code-inline .il {
	@apply text-cyan-800 dark:text-cyan-300;
}

/* LiteralNumberOct */
.chroma .mo, .code-inline .mo {
	@apply text-yellow-700 dark:text-yellow-200;
}

/* Operator */
.chroma .o, .code-inline .o {
	@apply text-orange-800 dark:text-orange-200;
}

/* OperatorWord */
.chroma .ow, .code-inline .ow {
	@apply text-sky-800 dark:text-sky-200;
}

/* Punctuation */
.chroma .p, .code-inline .p {
	@apply text-slate-700 dark:text-slate-300;
}

/* Comment */
.chroma .c, .code-inline .c {
	@apply text-emerald-700 dark:text-emerald-200;
}

/* CommentHashbang */
.chroma .ch, .code-inline .ch {
	@apply text-emerald-700 dark:text-emerald-200;
}

/* CommentMultiline */
.chroma .cm, .code-inline .cm {
	@apply text-emerald-700 dark:text-emerald-200;
}

/* CommentSingle */
.chroma .c1, .code-inline .c1 {
	@apply text-emerald-700 dark:text-emerald-200;
}

/* CommentSpecial */
.chroma .cs, .code-inline .cs {
	@apply text-red-600 bg-red-900 dark:text-red-900 dark:bg-red-300;
}

/* CommentPreproc */
.chroma .cp, .code-inline .cp {
	@apply text-red-800 dark:text-red-300;
}

/* CommentPreprocFile */
.chroma .cpf, .code-inline .cpf {
	@apply text-red-800 dark:text-red-300;
}

/* Generic */
.chroma .g, .code-inline .g {
	@apply text-gray-800 dark:text-gray-300;
}

/* GenericDeleted */
.chroma .gd, .code-inline .gd {
	@apply text-red-800 dark:text-red-300;
}

/* GenericEmph */
.chroma .ge, .code-inline .ge {
	font-style: italic;
}

/* GenericError */
.chroma .gr, .code-inline .gr {
	@apply text-red-800 dark:text-red-300;
}

/* GenericHeading */
.chroma .gh, .code-inline .gh {
	@apply text-black dark:text-white;
}

/* GenericInserted */
.chroma .gi, .code-inline .gi {
	@apply text-lime-700 dark:text-lime-300;
}

/* GenericOutput */
.chroma .go, .code-inline .go {
	@apply text-gray-800 dark:text-gray-300;
}

/* GenericPrompt */
.chroma .gp, .code-inline .gp {
	@apply text-gray-800 dark:text-gray-300;
}

/* GenericStrong */
.chroma .gs, .code-inline .gs {
	font-weight: bold;
}

/* GenericSubheading */
.chroma .gu, .code-inline .gu {
	@apply text-black dark:text-white;
}

/* GenericTraceback */
.chroma .gt, .code-inline .gt {
	@apply text-red-800 dark:text-red-300;
}

/* GenericUnderline */
.chroma .gl, .code-inline .gl {
	text-decoration: underline;
}

/* TextWhitespace */
.chroma .w, .code-inline .w {
	@apply text-gray-800 dark:text-gray-300;
}

/* ======= END, individual items from Chroma */

pre, code {
	@apply font-mono tracking-normal bg-blue-100 dark:bg-slate-800;
  font-variant-ligatures: none;
}

code[class*="language-"],
pre[class*="language-"] {
	@apply text-gray-800 dark:text-gray-300 text-sm text-left break-normal whitespace-pre;
	background: none;
	word-spacing: normal;
	tab-size: 2;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"],
pre.chroma {
	@apply p-4 my-2 mx-0 overflow-auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	@apply text-black bg-white dark:text-white dark:bg-slate-800;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	@apply p-[0.1em] rounded-md whitespace-normal;
}

article code {
	@apply bg-slate-200 dark:bg-slate-700;
}
/* article .footnotes code {
	@apply text-[0.9em];
} */
/* overriding the `article code` part above for footnotes */

article p code {
	@media screen and (min-width: var.$bkpt_md) {
		@apply whitespace-nowrap;
	}
}

article p code.code-inline {
	/* font-size: var.$text-sm; */
	@apply py-1 px-2 my-0 mx-1;
}

article .footnotes li code {
	@apply whitespace-normal;
}

article blockquote code {
	@apply text-slate-800 dark:text-slate-300;
}

.box code {
	@apply text-[1em] bg-slate-100 dark:bg-slate-600;
	/* definitely em */
}

.highlight {
	@apply relative;
	.chroma {
		@apply rounded-2xl text-sm;
		/* keeps code blocks from being too small */
		/* due to the `article code` rule above */
	}
}

/* @media screen and  (min-width: var.$bkpt-lg) {
	pre.expand:hover {
		margin-left: -20vw;
		margin-right: -20vw;
		max-width: 95vw;
	}
} */

/* === for copy-code-to-clipboard */

/* h/t https://simplernerd.com/hugo-add-copy-to-clipboard-button/ */

.clipboard-button {
	@apply absolute right-1 top-1 text-gray-700 border border-gray-700 bg-gray-100 rounded-md text-[0.8em] z-[1] opacity-0;
	padding: 2px 7px 5px 7px;
	margin: 5px;
	transition: 0.1s;
	& > svg {
		@apply fill-gray-800;
	/* fill: #767676; */
	}
}
.clipboard-button:hover {
	@apply cursor-pointer border border-gray-600 bg-gray-300;
	/* border-color: #696969;
	background-color: #e0e0e0; */
}
.clipboard-button:hover > svg {
	@apply fill-gray-400;
	/* fill: #696969; */
}
.clipboard-button:focus {
	outline: 0;
}
/* .highlight { */
/*   position: relative; */
/* } */
.highlight:hover > .clipboard-button {
	@apply opacity-100;
	transition: 0.2s;
}

article ol li .highlight {
	@apply leading-6;
}

.highlight + hr {
	@apply mt-6;
}
