@layer components {
	/* == footnotes == */

	/* .footnotes ol li, .footnotes ol li p, .footnote-ref,
	.footnote-backref, .footnote-sim, a.footnote-return {
		font-weight: var.$font-weight-sm;
	} */

	.footnotes {
		/* padding-top: 0.5em; */
		@apply pt-2;
		/* padding-bottom: 1em; */
		hr {
			@apply border-none h-[2px] bg-[var(--head)];
		}
		/* ol {
			@apply pis-6;
			// using tailwindcss/logical plugin
		} */
		ol li {
			@apply text-sm;
			/*
			As of now, `::marker` has too little support even in good browsers;
			see https://developer.mozilla.org/en-US/docs/Web/CSS/::marker#allowable_properties
			*/
			p {
				/* line-height: 1.5em; */
				@apply leading-normal;
			}
		}
		.footnote-backref {
			/* font-size: 75%; */
			@apply text-fn;
		}
	}


	.footnote-sim {
		font-size: 65%;
		@apply text-[var(--link)];
	}

	a.footnote-return {
		font-size: 50%;
	}

	/* == end, footnotes == */

}
