@layer components {

	circle.GitHub,
	path.GitLab,
	circle.RSS,
	path.Calckey,
	path.Bluesky,
	path.Threads,
	path.MastodonBody,
	path.Twitter,
	path.JSON,
	path.RSS {
		@apply fill-[var(--icon-inside)];
	}

	path.GitHub,
	circle.GitLab,
	circle.MastodonCircle,
	path.MastodonM,
	circle.Calckey,
	circle.Twitter,
	circle.Bluesky,
	circle.Threads,
	circle.RSS,
	circle.JSON {
		@apply fill-[var(--link)];
	}

	a:hover path.GitHub,
	a:hover circle.GitLab,
	a:hover circle.MastodonCircle,
	a:hover path.MastodonM,
	a:hover circle.Calckey,
	a:hover circle.Bluesky,
	a:hover circle.Threads,
	a:hover circle.Twitter,
	a:hover circle.RSS,
	a:hover circle.JSON {
		@apply fill-[var(--link-afh)];
	}

	path.MastodonBody,
	path.MastodonM {
		fill-rule: nonzero;
	}

}
