@charset 'utf-8';

lite-youtube {
	@apply bg-black border border-gray-700 dark:border-gray-400 relative block bg-cover cursor-pointer my-0 mx-auto;
	contain: content;
	background-position: center center;
	max-width: 720px;
}

/* gradient */
lite-youtube::before {
	content: '';
	@apply block absolute top-0 bg-top bg-repeat-x h-[60px] pb-[50px] w-full;
	/* background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADGCAYAAAAT+OqFAAAAdklEQVQoz42QQQ7AIAgEF/T/D+kbq/RWAlnQyyazA4aoAB4FsBSA/bFjuF1EOL7VbrIrBuusmrt4ZZORfb6ehbWdnRHEIiITaEUKa5EJqUakRSaEYBJSCY2dEstQY7AuxahwXFrvZmWl2rh4JZ07z9dLtesfNj5q0FU3A5ObbwAAAABJRU5ErkJggg==);*/ /* avoid "YT gradient" */
	transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
}

/* responsive iframe with a 16:9 aspect ratio
	thanks https://css-tricks.com/responsive-iframes/
*/
lite-youtube::after {
	@apply block;
	content: "";
	padding-bottom: calc(100% / (16 / 9));
}
lite-youtube > iframe {
	@apply w-full h-full absolute top-0 left-0 border-0;
}

/* play button */
lite-youtube > .lty-playbtn {
	@apply block w-[68px] h-[48px] absolute cursor-pointer top-[50%] left-[50%] z-[1] bg-transparent border-0;
	transform: translate3d(-50%, -50%, 0);
	/* YT's actual play button svg */
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 68 48"><path d="M66.52 7.74c-.78-2.93-2.49-5.41-5.42-6.19C55.79.13 34 0 34 0S12.21.13 6.9 1.55c-2.93.78-4.63 3.26-5.42 6.19C.06 13.05 0 24 0 24s.06 10.95 1.48 16.26c.78 2.93 2.49 5.41 5.42 6.19C12.21 47.87 34 48 34 48s21.79-.13 27.1-1.55c2.93-.78 4.64-3.26 5.42-6.19C67.94 34.95 68 24 68 24s-.06-10.95-1.48-16.26z" fill="red"/><path d="M45 24 27 14v20" fill="white"/></svg>');
	filter: grayscale(100%);
	transition: filter .1s cubic-bezier(0, 0, 0.2, 1);
}

lite-youtube:hover > .lty-playbtn,
lite-youtube .lty-playbtn:focus {
	@apply filter-none;
}

/* Post-click styles */
lite-youtube.lyt-activated {
	cursor: unset;
}
lite-youtube.lyt-activated::before,
lite-youtube.lyt-activated > .lty-playbtn {
	@apply opacity-0 pointer-events-none;
}

.lyt-visually-hidden {
	@apply h-[1px] overflow-hidden absolute whitespace-nowrap w-[1px];
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
}
