@layer components {
	.bg-dark {
		.prevDiv, .nextDiv {
			line-height: clamp(1em, 1vw + 0.75em, 1.25em);
		}
		.prevArrow {
			@apply pl-[var(--arrowPadding)];
		}
		.nextArrow {
			@apply pr-[var(--arrowPadding)] text-right;
		}
		.prevArrow, .nextArrow {
			font-size: clamp(0.375em, 0.75vw + 0.5em, 0.825em);
			@apply leading-[1.375em];
			a {
				@apply text-[var(--link-nav)] no-underline;
				&:hover, &:focus {
					text-decoration-thickness: var(--textDcThickMd);
					text-underline-offset: var(--textUnOffst);
					text-decoration-skip-ink: auto;
					@apply text-[var(--link-nav-afh)] underline;
				}
			}
		}
		.nextDiv, .prevDiv {
			@apply flex-1;
		}
		.nextDiv {
			/* background-color: aliceblue; */
			@apply text-right py-0 px-[var(--nextprevPadding)];
		}
		.prevDiv {
			/* background-color: beige; */
			@apply text-left py-0 pr-0 pl-[var(--nextprevPadding)];
		}
		path.NextPrev {
			@apply fill-[var(--link-nav)];
			&:hover, &:focus {
				@apply fill-[var(--link-nav-afh)];
			}
		}
	}

	.giscus-comments {
		@apply mt-[1.5em] mx-0 mb-[2em] rounded-md p-[1em] bg-gray-100 dark:bg-gray-900;
	}

	details.comments {
		margin-top: 1em;
		@apply mt-[1em];
		> summary {
			@apply list-none my-0 mx-auto;
		}
	}

	details.comments > summary::marker,
	details.comments > summary::-webkit-details-marker {
		@apply hidden;
	}

	a.contactButton {
		@apply no-underline my-[0.5em] mx-auto;
	}

	.box + a.contactButton {
		@apply mt-[1.5em];
	}

	a.contactButton, details.comments > summary {
		@apply w-[var(--btn-width)] h-[var(--btn-height)] flex flex-row justify-between items-center bg-[var(--link)] rounded-md border-transparent text-[var(--btn-text-default)] py-1 px-0;
		&:hover { /* but neither :active or :focus */
			@apply bg-[var(--link-afh)] cursor-pointer;
		}
		.svg {
			@apply pl-[var(--interactionPadding)];
			svg {
				@apply w-[var(--btn-svg-width)] h-auto;
			}
		}
		.legend {
			@apply pr-[var(--interactionPadding)] text-right text-base font-semibold;
		}
	}

	a.contactButton {
		.svg {
			@apply pb-[0.25em];
		}
		.svg, .legend {
			@apply inline-block;
		}
	}

}
