@charset 'utf-8';

/* === for search form */

.searchDiv, .searchDivPF {
	/* font-family: var.$sans-serif; */
	@apply my-8 mx-auto;
}

.searchDivPF {
	/* margin: 0 auto; */
	@apply w-[80%] md:w-[70%] lg:w-[65%] 2xl:w-1/2;
}

.searchDiv {
	@apply w-full;
}

.searchBox {
	@apply relative my-0 mx-auto w-[17em] p-0 bg-white dark:bg-gray-800 border border-black dark:border-gray-300;
}

.searchInput {
	@apply md:max-w-[300ch] outline-none py-1 pr-2 m-0 border-0 bg-transparent dark:text-white;
}

.searchBtn {
	appearance: none; /* otherwise, Safari rounds it */
	border-radius: 0; /* " " " " " " " " " " " " " " */
	@apply absolute right-0 m-0 py-[3px] px-[12px] border border-blue-700 dark:border-blue-300 bg-blue-700 dark:bg-blue-300 font-bold text-white dark:text-black hover:cursor-pointer focus:border-blue-700 focus:bg-blue-700 dark:focus:border-blue-50 dark:focus:bg-blue-50 active:border-blue-700 dark:active:border-blue-50 active:bg-blue-700 dark:active:bg-blue-50;
}

#search {
	/* in case we need it */
	@apply mt-2 mx-auto mb-4;
}

.pagefind-ui {
	/* overall area */
}

.pagefind-ui__form {
	/* holding */
	@apply relative text-center;
}

.pagefind-ui__search-input {
	@apply w-[17em] text-left outline-none py-1 pr-2 border border-black dark:border-gray-300 bg-white dark:bg-gray-800 dark:text-white;
	max-width: 300ch;
}

.pagefind-ui__drawer {
	/* results area */
	@apply gap-[1em] flex flex-row flex-wrap text-left;
}

.pagefind-ui__message {
	/* count of results */
	@apply mt-2 text-center;
}

.pagefind-ui__button {
	/* "Load more results" */
	@apply my-4 mx-auto text-center rounded-[9px] py-[3px] px-[12px] border border-blue-700 dark:border-blue-300 bg-blue-700 dark:bg-blue-300 font-bold text-white dark:text-black hover:cursor-pointer focus:border-blue-700 focus:bg-blue-700 dark:focus:border-blue-50 dark:focus:bg-blue-50 active:border-blue-700 dark:active:border-blue-50 active:bg-blue-700 dark:active:bg-blue-50;
}

.pagefind-ui__result {
	/* li for list */
	@apply mt-3;
}

.pagefind-ui__results-area {
	@apply relative;
}

.pagefind-ui__button {
	@apply block;
	/* position: absolute; */
	/* left: 50%; */
	/* bottom: 0; */
}

.pagefind-ui__result-excerpt mark {
	@apply text-black dark:text-white bg-blue-200 dark:bg-blue-900;
}

.pagefind-ui__result-title {
	@apply font-bold;
}
