.searchDiv, .searchDivPF, .searchBtnDiv {
	margin: 2em auto;
}

.searchBtnDiv{
	text-align: center;
}

.searchBtnDiv button {
	margin: 0 auto;
	color: white;
	width: 15em;
	padding: 0.5em 0.25em;
	background-color: hsl(221, 83%, 53%);
	border: 1px solid hsl(221, 83%, 53%);
	border-radius: 6px;
}
.searchBtnDiv button:hover {
	cursor: pointer;
}
.searchBtnDiv button:focus, .searchBtnDiv button:active, .searchBtnDiv button:hover {
	border: 1px solid hsl(224, 76%, 48%);
	background-color: hsl(224, 76%, 48%);
}

.searchDivPF {
	width: 80%;
}

.searchDiv {
	width: 100%;
}

.searchBox {
	position: relative;
	margin: 0 auto;
	width: 17em;
	padding: 0;
	background-color: white;
	border: 1px solid black;
}

.searchInput {
	outline: none;
	padding: 0.25em 0.5em 0.25em;
	margin: 0;
	border: 0;
	background-color: transparent;
}

.searchBtn {
	appearance: none; /* otherwise, Safari rounds it */
	border-radius: 0; /* " " " " " " " " " " " " " " */
	position: absolute;
	right: 0px;
	margin: 0; /* fixes oddity in Safari */
	padding: 3px 12px;
	border: 1px solid hsl(221, 83%, 53%);
	font-weight: bold;
	background-color: hsl(221, 83%, 53%);
	color: white;
}
.searchBox:hover {
	cursor: pointer;
}
.searchBox:focus, .searchBox:active, .searchBox:hover {
	border: 1px solid hsl(224, 76%, 48%);
	background-color: hsl(224, 76%, 48%);
}

#search {
	/* in case we need it */
	margin: 0.5em auto 1em;
}

.pagefind-ui {
	/* overall area */
}

.pagefind-ui__form {
	/* holding */
	position: relative;
	text-align: center;
}

.pagefind-ui__search-input {
	max-width: 300ch;
	width: 17em;
	text-align: left;
	outline: none;
	padding: 0.25em 0.5em 0.25em;
	border: 1px solid black;
	/* border-radius: 9px; */
	background-color: white;
}

.pagefind-ui__drawer {
	/* results area */
	gap: 1em;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	text-align: left;
}

.pagefind-ui__message {
	/* count of results */
	margin-top: 0.5em;
	text-align: center;
}

.pagefind-ui__button {
	/* "Load more results" */
	margin: 1em auto;
	text-align: center;
	border-radius: 9px;
	padding: 3px 12px;
	border: 1px solid hsl(221, 83%, 53%);
	font-weight: bold;
	background-color: hsl(221, 83%, 53%) !important;
	color: white;
}
.pagefind-ui__button:hover {
	cursor: pointer;
}
.pagefind-ui__button:focus, .pagefind-ui__button:active, .pagefind-ui__button:hover {
	border: 1px solid hsl(224, 76%, 48%);
	background-color: hsl(224, 76%, 48%) !important;
}

.pagefind-ui__result {
	/* li for list */
	margin-bottom: 0.75em;
}

.pagefind-ui__results-area {
	position: relative;
}

.pagefind-ui__button {
	display: block;
	/*
	position: absolute;
	left: 50%;
	bottom: 0;
	*/
}

.pagefind-ui__result-excerpt mark {
	color: black;
	background-color: hsl(213, 97%, 87%) !important;
}

.pagefind-ui__result-title {
	font-weight: bold;
	margin-bottom: 0;
}

@media screen and (prefers-color-scheme: dark) {
	.searchBtnDiv button {
		color: black;
		border: 1px solid rgb(145, 195, 253);
		background-color: rgb(145, 195, 253);
	}
	.searchBtnDiv button:focus, .searchBtnDiv button:active, .searchBtnDiv button:hover {
		border: 1px solid hsl(214, 100%, 97%);
		background-color: hsl(214, 100%, 97%);
	}
	.searchBox {
		background-color: hsl(215, 28%, 17%);
		border: 1px solid hsl(216, 12%, 84%);
	}
	.searchInput {
		color: white;
	}
	.searchBtn {
		border: 1px solid rgb(145, 195, 253);
		background-color: rgb(145, 195, 253);
		color: black;
	}
	.searchBox:focus, .searchBox:active, .searchBox:hover {
		border: 1px solid hsl(214, 100%, 97%);
		background-color: hsl(214, 100%, 97%);
	}
	.pagefind-ui__search-input {
		border: 1px solid hsl(216, 12%, 84%);
		background-color: hsl(215, 28%, 17%);
		color: white;
	}
	.pagefind-ui__button {
		background-color: rgb(145, 195, 253) !important;
		border-color: rgb(145, 195, 253) !important;
		color: black;
	}
	.pagefind-ui__button:focus, .pagefind-ui__button:active, .pagefind-ui__button:hover {
		border: 1px solid hsl(214, 100%, 97%) !important;
		background-color: hsl(214, 100%, 97%) !important;
	}
	.pagefind-ui__result-excerpt mark {
		color: white;
		background-color: hsl(224, 64%, 33%) !important;
	}
}

@media screen and (min-width: 768px) {
	.searchDivPF {
		width: 70%;
	}
	.searchInput {
		max-width: 300ch;
	}
}
@media screen and (min-width: 1024px) {
	.searchDivPF {
		width: 65%;
	}
}
@media screen and (min-width: 1536px) {
	.searchDivPF {
		width: 50%;
	}
}
