table {
	font-family: sans-serif;
}

table.leagues {
	width: 90%;
	margin-top: 1em;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	border: none;
	border-collapse: collapse;
}

table.leagues td.col {
	width: 50%;
}

@media (min-width: 900px) {
  table.leagues {
    width: 60%;
  }
  table.noborders {
    width: 90%;
  }
}

table.noborders {
	width: 100%;
	border: none;
	border-collapse: collapse;
	margin-top: 1.5rem;
	margin-right: auto;
	margin-bottom: 1rem;
	margin-left: auto;
}

table.noborders td {
	color: rgb(39 39 42 / var(--tw-text-opacity));
	text-align: left;
	vertical-align: middle;
	padding-top: 0.25rem;
	padding-right: 0;
	padding-bottom: 0.25rem;
	padding-left: 0.5rem;
  /* text-align: left !important; */
}

table.noborders td img {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
}

table.noborders tr {
  background-color: rgb(219 234 254 / var(--tw-bg-opacity));
}

table.noborders tr:nth-child(even) {
  background-color: rgb(228 228 231 / var(--tw-bg-opacity));
}

table.noborders thead tr {
	background-color: rgb(29 78 216 / var(--tw-bg-opacity));
}

table.noborders thead td {
	color: white;
	font-weight: bold;
}

table.noborders td.td70 {
	width: 70%;
}

table.noborders td.td70 img {
	display: block;
	width: 50%;
	max-width: 50%;
	height: auto;
}

table.noborders td.td30 {
	width: 30%;
}


/* finish TWCSS-izing this later */
table.ulysses {
	width: 100%;
	table-layout: fixed; /* so don't have to spec each `td`'s width */
	border-collapse: collapse;
}

table.ulysses td {
	text-align: center;
	border: 1px solid black;
}

table.ulysses tr:nth-child(odd) {
	background-color: white;
}

table.ulysses tr:nth-child(even) {
	background-color: rgb(219 234 254 / var(--tw-bg-opacity));
}

table.ulysses thead th {
	background-color: rgb(37 99 235 / var(--tw-bg-opacity));
	border: 1px solid black;
	color: white;
}

@media screen and (prefers-color-scheme: dark) {
	table.ulysses td {
		border: 1px solid white;
		color: white;
	}
	table.ulysses tr:nth-child(odd) {
		background-color: rgb(55 65 81 / var(--tw-bg-opacity));
	}

	table.ulysses tr:nth-child(even) {
		background-color: rgb(31 41 55 / var(--tw-bg-opacity));
	}

	table.ulysses thead th {
		background-color: rgb(17 24 39 / var(--tw-bg-opacity));
		border-color: rgb(255 255 255 / var(--tw-border-opacity));
	}
}
