table {
  @apply font-sans;
}

table.leagues {
  @apply w-11/12 mt-4 mx-auto mb-0 border-0 border-collapse;
}

table.leagues td.col {
  @apply w-1/2;
}

@media (min-width: 900px) {
  table.leagues {
    @apply w-3/5;
  }
  table.noborders {
    @apply w-11/12;
  }
}

table.noborders {
  @apply w-full border-0 border-collapse mt-6 mx-auto mb-4;
}

table.noborders td {
  @apply text-zinc-800 text-left align-middle py-1 pr-0 pl-2;
  /* text-align: left !important; */
}

table.noborders td img {
  @apply inline-block align-middle m-0;
}

table.noborders tr {
  @apply bg-blue-100;
}

table.noborders tr:nth-child(even) {
  @apply bg-zinc-200;
}

table.noborders thead tr {
  @apply bg-blue-700;
}

table.noborders thead td {
  @apply text-white font-bold;
}

table.noborders td.td70 {
  @apply w-[70%];
}

table.noborders td.td70 img {
  @apply block w-1/2 h-auto max-w-[50%];
}

table.noborders td.td30 {
  @apply w-[30%];
}
