.yellowBox, .blueBox {
  @apply font-sans border border-zinc-900 border-solid mx-auto my-8 w-full p-[1.5em] dark:bg-zinc-800 dark:border-zinc-500;
}

.yellowBox {
  @apply bg-yellow-100 dark:bg-yellow-900;
}

.yellowBox a {
  @apply text-blue-700 border-blue-700 dark:text-blue-100 dark:border-blue-100;
  &:focus, &:active, &:hover {
    @apply dark:text-blue-200 dark:border-blue-200;
  }
}

.blueBox {
  @apply text-sm bg-sky-100 dark:bg-blue-900;
}

.lazypicturecaption, .imgcCaption {
  @apply font-sans text-sm p-0 mt-2 leading-snug text-center;
}

.indentAfterLI {
  @apply ml-8;
}

.punctuationExample {
  @apply font-serif text-2xl text-center;
}

.navWhite, .navWhite:visited {
  @apply text-white;
}

.navWhite:focus, .navWhite:active {
  @apply text-zinc-400;
}

.text-blue-light {
  @apply text-blue-500;
}

.text-blue-dark { /* for dark mode */
  @apply text-blue-200;
}

.ctr {
  @apply text-center;
}

.legal {
  @apply text-xs;
}

span.caption {
  text-shadow: none; /* keeps link borders from looking "dirty" */
}

/*
span.caption a {
  @apply text-blue-100 border-blue-100;
  &:focus, &:hover, &:active {
    @apply text-slate-200 border-blue-100;
  }
}
*/

.imgCover {
  @apply object-cover object-center h-full w-full;
}

.background-hero-title-text {
  text-shadow: 4px 4px 2px #000;
}

.text-nowrap, .text-nobrk {
  @apply whitespace-nowrap;
}

#collapse-button.hamburger:before {
  font-size: 150%;
  content: "\2630"; /* same as &#9776; HTML entity */
}

#collapse-button.close:before {
  font-size: 170%;
  content: "\00D7"; /* same as &times; HTML entity */
}

.twitter-tweet {
  @apply mt-4 mx-auto mb-4 px-8 py-0 rounded-xl bg-white dark:bg-transparent border-2 border-solid border-zinc-700 dark:border-zinc-300;
}

a .twitter-tweet {
  @apply m-0;
}

.featImgCapt a {
  @apply text-blue-100 border-blue-100;
}
