{{ define "main" }}

	{{ partial "billboard.html" . }}

    <div class="w-4/5 lg:w-[70%] xl:w-[45%] 2xl:w-[40vw] mt-10 mr-auto ml-auto">
      <article id="postArticle">
				{{ .Content | safeHTML }}
				{{- partial "git.html" . -}}
				{{- partial "contact-button.html" . -}}
				{{- partialCached "comments-giscus.html" . -}}
			</article>
    </div>

    {{ if or .PrevPage .NextPage }}
			<div class="bg-dark fixed bottom-0 flex flex-row justify-stretch w-full px-2 py-2 mt-10 bg-blue-900 dark:bg-blue-950 items-center" data-pagefind-ignore>
				<div class="prevArrow">
					{{ with .PrevInSection -}}
					<a href="{{.RelPermalink}}"><strong>PREV</strong></a><br />
						<a href="{{.RelPermalink}}">{{ partialCached "svgPrevPageIcon.html" . }}</a>
					{{- end }}
				</div>
				<div class="prevDiv">
					{{ with .PrevInSection -}}
						<span class="prevnextText">
							<a href="{{.RelPermalink}}">{{.Title}}</a>
						</span>
					{{- end }}
				</div>
				<div class="nextDiv">
					{{ with .NextInSection -}}
						<span class="prevnextText">
							<a href="{{.RelPermalink}}">{{.Title}}</a>
						</span>
					{{- end }}
				</div>
				<div class="nextArrow">
					{{ with .NextInSection -}}
					<a href="{{.RelPermalink}}"><strong>NEXT</strong></a><br />
						<a href="{{.RelPermalink}}">{{ partialCached "svgNextPageIcon.html" . }}</a>
					{{- end }}
				</div>
      </div>
    {{ end }}
  {{ end }}
