html,
body {
  font-family: var(--serif-primary) !important;
  color: var(--default-color);
  width: 100%;
  margin: 0 auto;
  padding: 0;
  -webkit-text-size-adjust: none; /* keeps iOS Safari from making odd changes when phone is in landscape orientation */
}

.sansSerif {
  font-family: var(--sans-serif);
}

.IEonly {
  display: none;
}

p, li {
  line-height: 1.4;
}

article {
  & h2, & h3, & h4, & h5 {
    margin-top: 1.25em;
  }
  & p {
    margin-top: 1em;
    line-height: 1.6;
  }
  & li {
    line-height: 1.7;
    margin-bottom: 1em;
  }
  & p, & li {
    font-size: calc(var(--slightlybig) * 1em);
  }
  & ul, & ol {
    margin: 0 0 2.5em 0;
  }
  & ul li p, & ol li p, & li li, & li li li {
    font-size: 1em;
    margin: 0.5em 0;
    line-height: 1.7;
    /* turtles all the way down... */
  }
  padding-top: 0.25em;
}

@media screen and (min-width: 768px) {
  article {
    padding-top: 0.5em;
  }
}

@media screen and (min-width: 1024px) {
  article {
    padding-top: 0.75em;
  }
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: var(--sans-serif);
  color: var(--default-color);
  letter-spacing: -0.025em;
  line-height: 1.2;
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  display: block;
  margin-block-start: 0.25em;
  margin-block-end: 0.25em;
}

h2 + h3, h3 + h4, h4 + h5 {
  margin-top: 1em;
}

h3, h5, h6 {
  font-style: italic;
}

h1, .h1 {
  font-size: calc(var(--biggest) * 1em);
}

h2, .h2 {
  font-size: calc(var(--bigger) * 1em);
}

h3, .h3 {
  font-size: calc(var(--mightybig) * 1em);
}

h4, .h4 {
  font-size: calc(var(--sortabig) * 1em);
}

h5, .h5, h6, .h6 {
  font-size: calc(var(--slightlybig) * 1em);
}

a, a:focus, a:hover, a:active {
  text-decoration: none;
  border-bottom: 1px solid var(--blue);
  text-decoration-skip-ink: auto;
}

a {
  color: var(--blue);
}

a:focus, a:hover, a:active {
  color: var(--darkblue);
  border-bottom: 1px solid var(--blueFirst);
}

sup a, a.previous, a.next, .footnote-return, a.icon {
  border-bottom: 0;
}

blockquote {
  color: var(--grey-1);
  /* border-left: 2px solid var(--grey-1); */
	margin-right: 1em;
	margin-left: 2em;

  & p:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 600px) {
  blockquote {
    padding: 0 0.5em 0.5em 1.25em;
  }
}

td {
  vertical-align: top;
}

.ctr {
  text-align: center;
}

.rgt {
  text-align: right;
}

.wht {
  color: #fff;
}

.smallCaps {
  font-variant: small-caps;
}

.teenytxt, .teeny {
  font-size: calc(var(--teeny) * 1em);
}

.legaltxt, .legal {
  font-size: calc(var(--legal) * 1em);
}

.pokeytxt, .pokey {
  font-size: calc(var(--pokey) * 1em);
}

.nobrk {
  white-space: nowrap;
  font-size: inherit;
}

.videoWrapper {
	position: relative;
  padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
  height: 0;
	margin-top: 1em;
	margin-bottom: 1em;

  & iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
