#content, main {
  padding-top: 40px;
}

#content .topOfMain, main .topOfMain {
  margin-top: 0.5em;
}

.text-sans-serif {
  font-family: var(--sans-serif);
}

.text-nowrap, .nobrk {
  white-space: nowrap;
}

.text-link {
  color: var(--blue);
}

.text-link:active, .text-link:focus, .text-link:hover {
  color: var(--darkblue);
}

.text-muted {
  color: var(--grey-1);
}

.text-body {
  color: var(--default-color);
}

footer {
  text-align: center;
  font-size: calc(var(--legal) * 1rem);
  margin: 4rem auto 0 auto;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  & p {
    line-height: 1.5em;
  }
  & div.footerWrapper {
    margin: 0 auto;
    width: 80%;
  }
}
@media (min-width: 900px) {
  footer {
    margin: 2em auto 0 auto;
    padding-bottom: 1em;
    & .p-note {
      width: 50%;
    }
  }
}

figure, .figure {
  margin: 0 auto;
  & img {
    display: block;
    margin: 0 auto;
    width: 90%;
  }
}

figure.figurebox {
  padding: 0.5em;
}

figcaption {
  font-size: calc(var(--legal) * 1em);
  color: var(--grey-1);
  padding-top: 1em;
  text-align: center !important;
}

.lazypicturecaption {
  font-size: calc(var(--pokey) * 1em);
  padding: 0;
  margin: 0.5em 0 2em 0;
  line-height: 1.4;
  text-align: center;
}

h3.twitter-border {
  margin: 1em 0;
  padding: 0.5em 0 0 0;
  border-top: 2px solid var(--blue);
  & a {
    border-bottom: 0;
  }
}

.imgCover {
  object-fit: cover;
  object-position: 50% 50%; /* H = middle; V = middle */
  height: 100%;
  width: 100%;
}

.hero-home {
  background-color: #0088ff;
  margin-bottom: 0;
  overflow: hidden;
  height: 45vh;
  /* image supplied programmatically by template */
  & .imgCover { /* just on the home page with that particular image */
    object-position: 50% 15%; /* xH yV */
  }
}
@media screen and (min-width: 768px) {
  .hero-home{
    height: 55vh;
  }
}
@media screen and (min-width: 1024px) {
  .hero-home{
    height: 65vh;
  }
}

.background-hero-image-div {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 70vh;
  max-height: 70vh;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .background-hero-image-div {
    height: 75vh;
    max-height: 75vh;
  }
}

@media screen and (min-width: 1025px) {
  .background-hero-image-div {
    height: 95vh;
    max-height: 95vh;
  }
}

.background-hero-div {
  background: linear-gradient(
    rgba(0,0,170,1.00),
    rgba(0,0,0,1.00)
  );
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  position: relative;
  padding-bottom: 0.5em;
}

.background-hero-title-block-fit {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.background-hero-title-block {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: linear-gradient(
    transparent,
    rgba(0,0,0,.75) 80%,
    #000
  );
}

.background-hero-title-text, .background-hero-subtitle-text, .background-hero-description-text {
  color: #fff;
  margin: 0 auto;
  text-shadow: 4px 4px 2px #000;
  text-align: center;
  letter-spacing: -0.025em;
  padding: 0.25em;
}
@media screen and (min-width: 768px) {
  .background-hero-title-text, .background-hero-subtitle-text, .background-hero-description-text {
    text-align: left;
    padding: 0 5%;
  }
}
@media screen and (min-width: 1024px) {
  .background-hero-title-text, .background-hero-subtitle-text, .background-hero-description-text {
    text-align: left;
    padding: 0 5% 0 5%;
  }
}

.background-hero-title-text {
  font-size: 2.5rem;
  padding-top: 1em;
  padding-bottom: 0;
  letter-spacing: -0.035em;
}
@media screen and (min-width: 768px) {
  .background-hero-title-text {
    font-size: 3rem;
    letter-spacing: -0.04em;
  }
}
@media screen and (min-width: 1024px) {
  .background-hero-title-text {
    font-size: 4rem;
    letter-spacing: -0.045em;
  }
}

.background-hero-subtitle-text {
  font-size: 1.75rem;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

@media screen and (min-width: 768px) {
  .background-hero-subtitle-text {
    font-size: 2.25rem;
    letter-spacing: -0.0325em;
  }
}
@media screen and (min-width: 1024px) {
  .background-hero-subtitle-text {
    font-size: 2.75rem;
    letter-spacing: -0.035em;
  }
}

.background-hero-description-text {
  display: none; /* appears only on wider screens */
  padding: 1em;
}
@media screen and (min-width: 768px) {
  .background-hero-description-text {
    display: block;
    padding: 1em 5% 1em 5%;
    font-size: 1.5rem;
    letter-spacing: -0.035em;
  }
}

.background-hero-p-text {
  color: #fff;
  text-shadow: 4px 4px 2px #000;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .background-hero-p-text {
    text-align: right;
    padding-right: 5%;
  }
}

img.homeHeroImage {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

img.featured-image, img.featured-image-hero {
  display: block;
  width: 90%;
  height: auto;
  margin: 0 auto;
}
@media (min-width: 900px) {
  img.featured-image, img.featured-image-hero {
    width: 65%;
  }
}

img.featured-image-hero {
  width: 100%;    
}

.featured-image-caption {
  margin-top: 0.25em;
  padding-bottom: 1.5em;
  text-align: center !important;
  font-size: calc(var(--legal) * 1em);
  color: var(--grey-1);
}

.homePostTitle {
  font-size: 1.25rem;
}

.homePostSubtitle {
  margin-top: 0;
  margin-bottom: 0.25rem;
  font-weight: bold;
}

.homePostDates {
  margin-top: 0;
  margin-bottom: 0;
}

.homePostDescription {
  margin-top: 0.5rem;
}

span.caption {
  color: #fff;
  text-shadow: none;
}

span.caption a {
  color: #bbeeff;
  border-bottom: 1px solid #bbeeff;
}

span.caption a:focus, span.caption a:hover, span caption a:active {
  color: #edf2f7;
  border-bottom: #bbeeff;
}

.footnotes {
  letter-spacing: normal;

  & ol {
    padding-inline-start: 1.5rem;
  }

  & ol li {
    margin-bottom: 0.5rem;
    line-height: 1.5rem;
    font-size: calc(var(--pokey) * 1rem);
    & code, & pre {
      font-size: 1em;
    }
  }

  & li p {
    font-size: 100%;
  }
}

sub, sup {
  font-size: calc(var(--teeny) * 1em);
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5rem;
}

sup.footnote-ref {
  font-size: calc(var(--teeny) * 1em);
}

a.footnote-return{
  font-size: 50%;
}

table.leagues {
	width: 90%;
	margin: 1em auto 0 auto;
	border: 0;
	border-collapse: collapse;
	& td.col {
		width: 50%;
	}
}
@media screen and (min-width: 900px) {
  table.leagues {
    width: 60%;
  }
}

table.noborders {
  width: 100%;
  margin: 1.5em auto 1em auto;
  border: 0;
  border-collapse: collapse;

  & td {
    text-align: left !important;
    vertical-align: middle;
    padding: 0.25em 0 0.25em 0.5em;
    & img {
      display: inline-block;
      vertical-align: middle;
      margin: 0;  
    }
  }

  & tr:nth-child(even) {
    background-color: #dfefff;
  }

  & thead {
    background-color: var(--darkblue);
  }
  
  & thead td {
    color: #fff !important;
    font-weight: bold;
    font-family: var(--sans-serif);
  }
  
  & td.td70 {
    width: 70%;
    & img {
      display: block;
      width: 50%;
      max-width: 50%;
      height: auto;
    }
  }
  
  & td.td30 {
    width: 30%;
  }
}
@media screen and (min-width: 900px) {
  table.noborders {
    width: 90%;
  }
}

img.postsFeatImg {
  float: inherit;
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
}
@media screen and (min-width: 900px) {
  img.postsFeatImg {
    float: right;
    padding-top: 1em;
    padding-left: 1.5em;
    width: 50%;
    height: auto;
  }
}

.sortabig {
  font-size: calc(var(--sortabig) * 1em);
}

.bigger {
  font-size: calc(var(--bigger) * 1em);
}

.container-home {
  margin: 0 auto;
  width: 90%;
  & .column-home-1, & .column-home-2 {
    margin: 0 auto;
    & img.containedImage {
      display: block;
      width: 100%;
      min-width: 100%;
      max-width: 100%;
      height: auto;
      margin-right: auto;
      margin-left: auto;
    }
  }
  & .column-home-1 {
    & p {
      font-size: calc(var(--minimalbig) * 1em);
      letter-spacing: -0.025em;
      line-height: 1.7;
    }
  }
  & .column-home-2 {
    & .topofHome {
      margin: 0.25em 0 0 0;
    }
    & h2.h5 {
      font-size: calc(var(--slightlybig) * 1em);
      margin: 0;
    }
    & p.h5 {
      font-size: calc(var(--stdsize) * 1em);
      margin: 0.5em 0 0.25em 0;
    }
  }
}
@media screen and (min-width: 900px) {
  .container-home {
    display: grid;
    width: 75%;
    grid-template-columns: 60% 1fr;
    grid-gap: 2rem;
    grid-template-areas: 'column-home-1 column-home-2';
    padding-top: 0.5em;
    & .column-home-1 {
      grid-area: column-home-1;
    }
    & .column-home-2 {
      grid-area: column-home-2;
    }
  }
}

img.containedImage {
  display: block;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}

.container-narrower {
  margin: 0 auto;
  margin: 1em auto 0 auto;
  width: 80%;
  & twitter-widget {
    margin: 0 auto 0 auto;
  }
}
@media screen and (min-width: 900px) {
  .container-narrower {
    margin: 1em auto 0 auto;
    width: 40%;
  }
}

.yellowBox {
  display: block;
  box-sizing: border-box;
  background: #ffff88;
  border: 1px solid #333;
  margin: 0.5rem auto;
  width: 100%;
  padding: 0.5rem 1.5rem;
  & p {
    margin-bottom: 1rem;
  }
}

@media (prefers-color-scheme: dark) {
  .yellowBox {
    background: #332200;
    border: 1px solid(--var(grey-1))
  }
}

.container-comments {
  margin: 0 auto;
  font-size: 85%;
  width: 85%;
  max-width: 720px !important;
  margin-bottom: 0;
  @media screen and (min-width: 900px) {
    width: 40%;
  }
}

.bg-primary {
  background-color: var(--blue) !important;
}

.bg-dark {
  margin-top: 2em;
  background-color: var(--darkblue) !important;
	padding: 0.15em 0 0.25em 0;
  & div, & p {
    color: #fff;
	}
	& h3, & p {
		margin: 0.25em 0;
		padding: 0;
  }
  & a, & a.hover, & a.focus {
    color: #aaddff !important;
  }
}

@media screen and (min-width: 900px) {
  .bg-dark {
    & h3 {
      font-size: calc(var(--bigger) * 1em);
    }
    & p {
      font-size: calc(var(--slightlybig) * 1em);
      letter-spacing: -0.03em;
    }
  }
}

.btn-primary {
  background-color: var(--blue);
  border-color: var(--blue);
  color: #fff;
  border-radius: 6px;
  padding: 0.25em 0.5em;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: var(--darkblue);
  border-color: var(--darkblue);
}

.talkyard-comments {
  font-family: var(--sans-serif);
}

li p {
  margin-right: 0 !important;
  margin-left: 0 !important;
  width: 100% !important;
}

.gradient-titles {
  background-image: linear-gradient(to bottom, var(--gradient-color-stops));
  --gradient-from-color: #0000aa;
  --gradient-color-stops: var(--gradient-from-color), var(--gradient-to-color, rgba(0, 0, 170, 0));
  --gradient-to-color: #000;
}

.YTembed { /* container for iframe */
  position: relative;
  padding-top: 30px;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  & iframe, & object, & embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}