.lazywrapper {
  width: 100%;
  min-width: 320px;
  max-width: 100%; /* was 900px in orig */
  margin: 0.5em auto;
}

li .lazywrapper {
  width: 90%;
  min-width: 0;
}

.lazybox {
  position: relative;
  display: block;
  height: 0;
  width: 100%;
  /* padding-bottom: 66.6667%; */
}

.lazybox-img.ls-blur-up-is-loading, 
.lazybox-img.lazyload:not([src]) {
  visibility: hidden;
}

.ls-blur-up-img, 
.lazybox-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 100%; */
  display: block;
  
  /* object-fit: cover; */
}


.ls-blur-up img {
  filter: blur(20px);
  opacity: 1;
  transition: opacity 200ms, filter 400ms;
}

.ls-blur-up-img.ls-inview.ls-original-loaded {
  opacity: 0;
  filter: blur(10px);
}

.blur-up {
  -webkit-filter: blur(20px);
  filter: blur(20px);
  transition: filter 200ms, -webkit-filter 200ms;
  &.lazyloaded {
    -webkit-filter: blur(0);
    filter: blur(0);
  }
}

/*
=== beginning of NON-lazysizes LQIP handling ===
    based on the *S*QIP version in 
    https://endler.dev/2017/image-previews/
*/

.loader {
  position: relative;
  overflow: hidden;
  width: auto;
  & img.frozen {
    position: absolute;
  }
  & img {
    /* position: absolute; */
    display: block;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.frozen {
  -webkit-filter: blur(8px);
  -moz-filter: blur(8px);
  -o-filter: blur(8px);
  -ms-filter: blur(8px);
  filter: blur(8px);
  transform: scale(1.04);
  animation: 0.2s ease-in 0.4s 1 forwards fade;
  width: 100%;
}

@keyframes fade {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}