# borrowing some of this from Zach Leatherman's .editorconfig
root = true

[*]
indent_size = 2
indent_style = tab
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

[*.{sh,txt,yml,yaml}]
indent_style = space

[{layouts,themes/*/layouts}/_default/_markup/*.*]
insert_final_newline = false
