/public
resources
node_modules
.env
*.env
*.env
.env.*
/_cache
/data
/.vscode
.npmrc
# Local Netlify folder
.netlify
.firebase
.nova

csp.txt
cache-and-headers.js
nonce-worker.js
cache-nonce_mix.js
cache-nonce-playground.js

/assets/css/index.css
/themes/twjit/assets/css/index.css
/themes/twjit-hero/assets/css/index.css
/themes/twjit-thoreau/assets/css/index.css
.hugo_build.lock

start.sh
build.sh
testbuild.sh
push.sh
