:root {
	--link-nav: var(--white);
	--link-nav-afh: var(--blue-200);
	--logocircle: var(--blue-500);
	--logocircle-afh: var(--gray-500);
	--border-bquote: var(--gray-400);
	--fill-lightdarktoggle: var(--yellow-200);
	--filter-shadow: var(--gray-400);
}

html {
	color-scheme: light dark;
	/* = = = COLORS = = = */
	/* === defaults === */
	/* primaries */
	--default: light-dark(var(--gray-800), var(--gray-300));
	--boost: light-dark(var(--gray-900), var(--gray-200));
	--bquote: light-dark(var(--gray-500), var(--gray-400));
	--bquote-boost: light-dark(var(--gray-600), var(--gray-350));
	--link: light-dark(var(--blue-700), var(--blue-550));
	--link-afh: light-dark(var(--blue-900), var(--slate-300));
	--link-box: light-dark(var(--blue-750), var(--blue-550));
	--head: light-dark(var(--black), var(--white));
	--red: light-dark(var(--red-700), var(--red-300));
	--box-red: light-dark(var(--red-600), var(--red-400));
	--btn-text-default: light-dark(var(--white), var(--black));
	--pf-result-excerpt: light-dark(var(--black), var(--white));
	--bquote-article-code: light-dark(var(--slate-800), var(--slate-300));
	/* backgrounds and borders */
	--bkgd: light-dark(var(--white), var(--black));
	--bkgd-nav: light-dark(var(--blue-850), var(--blue-950));
	--bkgd-nav-bottom: light-dark(var(--blue-850), var(--blue-950));
	--bkgd-nav-top: light-dark(var(--blue-850), var(--blue-950));
	--bkgd-box: light-dark(var(--slate-050), var(--neutral-850));
	--bkgd-code: light-dark(var(--slate-050), var(--slate-900));
	--bkgd-article-code: light-dark(var(--slate-150), var(--slate-750));
	--bkgd-box-code: light-dark(var(--slate-200), var(--slate-700));
	--bkgd-pf-result-excerpt: light-dark(var(--blue-100), var(--blue-900));
	--bkgd-hr: light-dark(var(--black), var(--white));
	--bkgd-marker-secondary: light-dark(var(--slate-400), var(--slate-500));
	--border: light-dark(var(--neutral-400), var(--neutral-600));
	--icon-inside: light-dark(var(--white), var(--black));
	--drop-shadow-border: light-dark(transparent, var(--gray-750));
}

html, html[data-theme="light"] {
	color-scheme: light;
}

html[data-theme="dark"] {
	color-scheme: dark;
}

@media screen and (prefers-color-scheme: dark) {
	html:not([data-theme]) {
		color-scheme: dark;
	}
}

html, body {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	-webkit-font-smoothing: subpixel-antialiased;
	/* ^^ only for Chromium and Safari on macOS; other browsers use defaults (if any) */
	-moz-osx-font-smoothing: auto;
	/* ^^ only for Firefox on macOS (and not for system fonts); other browsers use defaults (if any) */
	@media screen and (min-width: 1024px) {
		font-feature-settings: 'ss03' 1, 'calt' 0;
		/* ^^
		- Avoid `ss03` oddity in some system fonts.
		- Disable `calt` with Inter 4.x (or subset it out) until/unless fixed
		-- https://github.com/rsms/inter/issues/442 et al.
		*/
	}
	text-rendering: optimizeLegibility;
	/* text-justify: inter-character; /* someday... */
	font-kerning: normal;
	font-family: var(--sans-serif);
	font-weight: var(--font-normal);
	/* @media screen and (min-width: 768px) {
		font-weight: var(--font-semilight);
	} */
	background-color: var(--bkgd);
	color: var(--default);
}
/*
h1, .h1, h2, .h2, h3, .h3, h4, .h4,
header, footer, table, blockquote, summary, contact-button, search-button,
.container-home, .billboard-div, .posts-Wrapper, .FourOhFour-Wrapper,
.sitemap-Div, .searchDiv, .searchDivPF,
.footnotes, .footnote-sim, .footnote-ref,
.box, .labeled-highlight, .imgcCaption, .imghCaption,
.bg-dark, a.contactButton,
.legal, .pokey {
	font-family: var(--sans-serif);
} */

b, strong {
	font-weight: var(--font-semibold);
}

html {
	/* scroll-behavior: smooth; */
	scroll-padding-top: 80px;
}

p, li {
	line-height: 1.4;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
	font-weight: var(--font-semibold);
	color: var(--head);
	letter-spacing: -0.025rem;
}

h1, h2, h3, h4 {
	outline: 2px transparent;
	outline-offset: 2px;
	&:active, &:focus, &:hover {
		outline: 2px transparent;
		outline-offset: 2px;
	}
}

h1, h2, h3, h4 {
	display: block;
	margin-block-start: 0.25rem;
	margin-block-end: 0.25rem;
}

h3, .h3 {
	font-style: italic;
}

h1, .h1 {
	font-size: clamp(2rem, 1rem + 3vw, 2.5rem);
	/* usually overridden by other styling (e.g., billboard.scss) */
}

h2, .h2 {
	font-size: clamp(1.5rem, 0.75rem + 2vw, 2rem);
}

h3, .h3 {
	font-size: clamp(1.375rem, 0.5rem + 1.75vw, 1.75rem);
}

h4, .h4 {
	font-size: clamp(1.25rem, 0.25rem + 1.5vw, 1.625rem);
}

a, a:focus, a:hover, a:active {
	text-decoration-thickness: var(--textDcThick);
	text-underline-offset: var(--textUnOffst);
	text-decoration-skip-ink: auto;
}

a {
	color: var(--link);
	&:focus, &:hover, &:active {
		color: var(--link-afh);
	}
}

a.icon, a.icon:focus, a.icon:hover, a.icon:active, sup a, .footnote-return, .icon {
	border-bottom: 0;
	text-decoration: none;
}

hr {
	border: none;
	height: 1px;
	background-color: var(--bkgd-hr);
}

sub, sup {
	font-size: 65%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.45em;
}

ul li li, ol li li, ul li li li, ol li li li {
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
	&::marker {
		color: var(--bkgd-marker-secondary);
	}
}

ul li li, ol li li {
	list-style-type: disc;
}

ul li li li, ol li li li {
	list-style-type: square;
}

ol li ul, ol li li ul, ol li li li ul {
	padding-inline-start: 1.1em;
	& li {
		list-style-type: disc;
		&::marker {
			color: inherit;
		}
		& ul {
			& li::marker {
				color: var(--bkgd-marker-secondary);
			}
		}
	}
}

#content-main-hugo, main {
	padding-top: 40px;
}

#content-main-hugo .topOfMain, main .topOfMain {
	margin-top: 0.5rem;
	font-size: 2.25rem;
}

audio, canvas, embed, iframe, img, object, svg, video {
	vertical-align: middle;
}

.container {
	/* width: 90%; */
	margin: 0 auto;
}

.container-narrower {
	margin: 1rem auto 0 auto;
	--containerNarrowerWidth: 80%;
	width: var(--containerNarrowerWidth);
	max-width: var(--containerNarrowerWidth);
	@media screen and (min-width: 1024px) {
		--containerNarrowerWidth: 50vw;
		--bigImgDivExpansionWidth: 40vw;
		--bigImgDivWidth: calc(var(--containerNarrowerWidth) + var(--bigImgDivExpansionWidth));
		.bigImgDiv:not(li *) {
			width: var(--bigImgDivWidth);
			left: calc(calc(var(--bigImgDivWidth) * -1)/2 + 50%);
		}
	}
	@media screen and (min-width: 1536px) {
		--containerNarrowerWidth: 40vw;
		--bigImgDivExpansionWidth: 45vw;
	}
	@media screen and (min-width: 1920px) {
		--containerNarrowerWidth: 45rem;
		// --bigImgDivExpansionWidth: 60vw;
	}
}

li p {
	margin-right: 0;
	margin-left: 0;
	width: 100%;
}

/* === for search button on each page (except search page itself) */

search-button {
	display: grid;
	margin: 4em auto 2em;
	place-items: center;
	button {
		width: var(--btn-width);
		height: var(--btn-height);
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 0.25em 0;
		align-items: center;
		background-color: var(--link);
		border: 1px solid;
		border-radius: var(--btn-radius);
		border-color: transparent;
		color: var(--btn-text-default);
		.svg {
			padding-left: var(--interactionPadding);
			padding-bottom: 0.125em;
			svg {
				width: var(--btn-svg-width);
				height: auto;
			}
		}
		.legend {
			padding-right: var(--interactionPadding);
			text-align: right;
			font-size: var(--btn-legend-text);
			font-weight: var(--btn-legend-weight);
		}
		&:hover {
			cursor: pointer;
		}
		&:focus, &:active, &:hover {
			border-color: var(--link-afh);
			background-color: var(--link-afh);
		}
	}
}

/* === end, search button === */
