// @use '_005-colors' as clr;
@use '_010-variables' as var;

/* stylelint-disable no-descending-specificity */
/* stylelint-disable selector-type-no-unknown */

:root {
	--nav-right-margin: 9.5em;
	--nav-toggle-right-margin: 9em;

	// /* all these unless JS is off */
}

header {
	background-color: var(--bkgd-nav);
	position: fixed;
	width: 100%;
	margin-top: 0;
	z-index: 9999;
}

.nav-toggle {
	position: absolute;
	cursor: pointer;
	margin: 0rem 1rem;
	right: var(--nav-toggle-right-margin);

	svg {
		padding-top: 0.425em;
		width: 1.5rem;
		fill: var(--white);
	}

	.close {
		display: none;
	}

	@media only screen and (width >= 1024px) {
		display: none;
	}
}

.nav-checkbox {
	display: none;
}

.nav-menu {
	margin-block: 0;
	padding-inline-start: 0;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	text-align: right;

	// /* align-items: right; */
	margin: 0.5rem 0.5rem 0.5rem 0;

	li {
		list-style: none;
		display: none;
		font-weight: var.$font-bold;
		padding-right: calc(1em + var(--nav-toggle-right-margin));

		&.not-mobile {
			display: none;
		}

		&:first-child {
			padding: 0;
			margin-right: auto;
			margin-left: 1.5rem;
			display: block;

			svg { // /* for site logo */
				width: auto;
			}
		}
	}

	a {
		text-decoration: none;
		border: 0;
		color: var(--link-nav);

		&:focus, &:active, &:hover {
			color: var(--link-nav-afh);
		}
	}

	@media only screen and (width >= 1024px) {
		flex-direction: row;
		padding: 0;
		gap: 0.5rem;
		margin: 0.375rem var(--nav-right-margin) 0 0;

		li {
			font-size: var.$text-sm;
			display: block;
			text-transform: lowercase;
			margin: 0.5rem 0;
			padding-right: 0.75em;

			&.not-mobile {
				display: block;
			}

			&:first-child {
				letter-spacing: normal;
				line-height: 0;
				margin-top: 0;
			}
		}
	}
}

#nav-checkbox {
	&:checked ~ ul.nav-menu li {
		display: block;
	}

	&:checked ~ label.nav-toggle .close {
		display: block;
	}

	&:checked ~ label.nav-toggle .menu {
		display: none;
	}

	&:checked ~ ul.nav-menu {
		padding-bottom: 1rem;
	}
}

.nav {
	position: relative;
}

// /* .nav-ModeToggle {
// 	position: absolute;
// 	cursor: pointer;
// 	top: 0.15em;
// 	right: 0.5em;
// 	@media (width >= 1024px) {
// 		right: 1.5em;
// 	}
// 	background-color: transparent;
// 	border: 0;
// 	svg {
// 		width: 1.375em;
// 		height: auto;
// 		&.sun path, &.moon {
// 			fill: var(--fill-lightdarktoggle);
// 		}
// 	}
// } */

.switch-theme {
	position: absolute;
	top: 0.45em;
	right: 1.5em;
	display: flex;
	flex-direction: row;
	gap: 0;
	background-color: transparent;
	border: 0;

	label {
		cursor: pointer;
		padding: 0;
		margin: 0;

		svg {
			width: 1.125em;
			height: auto;

			&.sun circle,
			&.sun path,
			&.auto path,
			&.moon path,
			&.moon stroke {
				fill: var(--link-nav);

				&:focus, &:active, &:hover {
					fill: var(--link-nav-afh);
				}
			}
		}
	}

	input[type="radio"] {
		opacity: 0;
		padding: 0;
		margin: 0;

		span {
			display: inline-block;
			width: 1rem;
			height: 1rem;
			padding: 0;
			margin: 0;
			line-height: 1rem;
		}

		&:checked+span {
			svg {
				&.sun circle,
				&.sun path,
				&.auto path,
				&.moon path,
				&.moon stroke {
					fill: var(--fill-lightdarktoggle)
				}
			}
		}
	}
}

circle.nav-icon {
	fill: var(--logocircle);
}

a:hover circle.nav-icon {
	fill: var(--logocircle-afh);
}

path.nav-icon {
	fill: var(--white);
}
