footer {
	text-align: center;
	font-size: var(--text-xs);
	font-weight: var(--font-weight-sm);
	width: 100%;
	padding-top: 0.5rem;
	padding-bottom: 0.5em;
	margin: 2rem auto 0;

	&.with-bg-dark {
		padding-bottom: 6em;
	}

	p {
		line-height: 1.5em; // /* definitely em, not rem, here */
		code {
			background-color: var(--bkgd-article-code);
		}
	}

	div.footer-wrapper {
		margin: 0 auto;
		width: 80%;
		height: 100%;

		p {
			margin: 1rem 0;
		}

		div.icons-box {
			display: flex;
			flex-direction: row;
			justify-content: center;
			gap: 1em;
		}
	}
}

circle.github,
path.gitlab,
circle.rss,
path.calckey,
path.bluesky,
path.threads,
path.mastodon-body,
path.twitter,
path.json,
path.rss {
	fill: var(--icon-inside);
}

path.github,
circle.gitlab,
circle.mastodon-circle,
path.mastodon-m,
circle.bluesky,
circle.threads,
circle.calckey,
circle.twitter,
circle.rss,
circle.json {
	fill: var(--link);
}

path.mastodon-body,
path.mastodon-m {
	fill-rule: nonzero;
}

a:hover path.github,
a:hover circle.gitlab,
a:hover circle.mastodon-circle,
a:hover path.mastodon-m,
a:hover circle.bluesky,
a:hover circle.threads,
a:hover circle.calckey,
a:hover circle.twitter,
a:hover circle.rss,
a:hover circle.json {
	fill: var(--link-afh);
}
