@charset 'utf-8';
@use 'partials/variables' as var;

.header-anchor {
	text-decoration: none;
	color: var.$default-light;
	@media (prefers-color-scheme: dark) {
		color: var.$default-dark;
	}
	&:hover, &:active, &:focus {
		color: var.$blue-700;
		text-decoration: underline;
		text-decoration-thickness: var.$textDcThick; // always rem
		text-underline-offset: var.$textUnOffst; // always em
		text-decoration-skip-ink: auto;
		@media (prefers-color-scheme: dark) {
			color: var.$blue-300;
		}
		&::after {
			font-size: var.$text-base;
			padding-left: 0.5em;
			content: "#";
		}
	}
}

.box {
	font-size: 85%;
	display: block;
	box-sizing: border-box;
	background-color: var.$white;
	border: 1px solid var.$black;
	margin: 0.5em auto;
	width: 100%;
	padding: 1em 1.25em;
	@media (prefers-color-scheme: dark) {
		background-color: var.$slate-800;
		border: 1px solid var.$gray-200;
	}
	p {
		padding: 0;
		margin: 0;
	}
	+ hr { // for situations like in "Gems in the rough #4" as of 2021-04-15
		margin-top: 1.75em;
	}
	code {
		background-color: var.$slate-100;
		@media (prefers-color-scheme: dark) {
			background-color: var.$slate-600;
		}
	}
	a code {
		// background-color: var.$slate-100);
		@media (prefers-color-scheme: dark) {
			background-color: var.$slate-700;
		}
	}
	.red {
		color: var.$red-600;
		@media (prefers-color-scheme: dark) {
			color: var.$red-400;
		}
	}
}

img.containedImage {
	display: block;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0 auto;
}
img.ctrImg {
	display: block;
	margin-right: auto;
	margin-left: auto;
}
.img-phn {
	width: 90%;
	@media screen and (min-width: var.$bkpt_md) {
		width: 50%;
	}
}
.imgcCaption {
	padding: 0;
	margin-block-start: 0.5em;
	line-height: 1.375;
	font-size: 0.75em;
	text-align: center;
}


.punctuationExample {
	font-size: 1.5em;
	font-weight: normal;
	font-family: var.$serif;
	text-align: center;
}

.indentAfterLI {
	margin-left: 2em; // 2em with Public Sans, 2.25em with Inter
	&.box {
		$bIALImarginLeft: 3em;
		margin-left: $bIALImarginLeft;
		width: calc(100% - $bIALImarginLeft);
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.animate-fade {
	animation: fadeIn 750ms ease-in-out;
}

blockquote {
	border-left: 4px solid var.$slate-400;
	color: var.$gray-550;
	margin-right: 0;
	margin-left: 0;
	padding-left: 1.5em;
	@media (prefers-color-scheme: dark) {
		// border-left is same color
		color: var.$gray-400;
	}
	p:last-child {
		margin-bottom: 0;
	}
}

article {
	padding-top: 1em; // definitely em, not rem
	p, li {
		font-size: clamp(1rem, 1vw + 0.625em, var.$text-xl);
		line-height: 1.5em;
		margin-top: 1.15em;
		margin-bottom: 1.15em;
	}
	li li, li p {
		font-size: inherit;
		margin-top: 0.25em; // definitely em, not rem
	}
	h1, h2, h3, h4 {
		margin-top: 1.5em;
		margin-bottom: 1.5rem;
		letter-spacing: -0.02em;
		line-height: normal;
	}
	picture img {
		height: auto;
	}
	// following from...
	// https://www.stefanjudis.com/snippets/how-to-select-elements-that-are-not-children-of-other-elements-in-css/
	strong:not(.red *):not(a *):not(blockquote *), b:not(.red *):not(a *):not(blockquote *), em:not(.red *):not(a *):not(blockquote *), i:not(.red *):not(a *):not(blockquote *), em strong:not(.red *):not(a *):not(blockquote *), strong em:not(.red *):not(a *):not(blockquote *), i b:not(.red *):not(a *):not(blockquote *), b i:not(.red *):not(a *):not(blockquote *) {
		color: var.$gray-800; // (vs. gray-700)
		@media (prefers-color-scheme: dark) {
			color: var.$gray-200; // (vs. gray-300)
		}
	}
	strong:is(blockquote *):not(a *), b:is(blockquote *):not(a *), em:is(blockquote *):not(a *), i:is(blockquote *):not(a *), em strong:is(blockquote *):not(a *), strong em:is(blockquote *):not(a *), i b:is(blockquote *):not(a *), b i:is(blockquote *):not(a *) {
		color: var.$gray-600; // (vs. gray-550)
		@media (prefers-color-scheme: dark) {
			color: var.$gray-350; // (vs. gray-400)
		}
	}
}
