@use 'variables' as var;

// === for billboard partial
.billboard {
	&-div {
		// font-family: var.$sans-serif;
		text-align: center;
		position: relative;
		height: auto;
		padding-right: 1.5rem;
		padding-left: 1.5rem;
		padding-bottom: 1vh; // was 5vh with hero images
		@media screen and (min-width: var.$bkpt_md) {
			padding-right: 3rem;
			padding-left: 3rem;
		}
	}
	&-title-block {
		display: block;
		width: 100%;
		padding-top: 1em;
	}
	&-title-block-fit {
		display: block;
		width: 100%;
	}
	&-title-text, &-subtitle-text, &-description-text {
		margin: 0 auto;
		text-align: center;
		padding-right: 2%;
		padding-left: 2%;
		// @media screen and (min-width: var.$bkpt_lg) {
		//   text-align: left;
		// }
	}
	&-title-text {
		font-size: clamp(2.25em, 0.75rem + 4vw, 4em);
		padding-top: 1em; // definitely em, not rem
		line-height: 1.1;
		letter-spacing: -0.0375em;
	}
	&-description-text {
		font-size: clamp(1.25rem, 0.75rem + 1.5vw, 2rem);
		// font-style: italic;
		// font-family: var.$serif;
		padding-top: 1em; // definitely em, not rem
		letter-spacing: -0.025em;
		line-height: 1.4;
	}
	&-p-text {
		font-size: clamp(1rem, 0.25rem + 1.25vw, 1.5rem);
		// font-size: 1rem;
		font-family: var.$sans-serif;
		line-height: 1.25;
		margin-top: 1.5em;
		margin-bottom: 0.25em;
		text-align: center;
		// @media screen and (min-width: var.$bkpt_lg) {
		//   text-align: right;
		// }
	}
}

// === end, for billboard partial
