@use 'variables' as var;

.billboard {
	&-div {
		background-image: linear-gradient(
			map-get(var.$twcss, slate-400),
			map-get(var.$twcss, slate-200) 20%,
			transparent
		);
		@media (prefers-color-scheme: dark) {
			background-image: linear-gradient(
				map-get(var.$twcss, slate-700),
				map-get(var.$twcss, slate-800) 20%,
				transparent
			);
		}
		text-align: center;
		position: relative;
		height: auto;
		padding-right: 1.5rem;
		padding-left: 1.5rem;
		padding-bottom: 1vh;
		@media screen and (min-width: var.$bkpt_md) {
			padding-right: 3rem;
			padding-left: 3rem;
		}
	}
	&-title-block {
		display: block;
		width: 100%;
		padding-top: 1em;
	}
	&-title-block-fit {
		display: block;
		width: 100%;
	}
	&-title-text, &-subtitle-text, &-description-text {
		margin: 0 auto;
		text-align: center;
		padding-right: 2%;
		padding-left: 2%;
	}
	&-title-text {
		font-size: clamp(2.25em, 0.75rem + 4vw, 4em);
		padding-top: 1em;
		line-height: 1.1;
		letter-spacing: -0.0375em;
	}
	&-description-text {
		font-size: clamp(1.25rem, 0.75rem + 1.5vw, 2rem);
		padding-top: 1em;
		letter-spacing: -0.025em;
		line-height: 1.4;
	}
	&-p-text {
		font-size: clamp(1rem, 0.25rem + 1.25vw, 1.5rem);
		font-family: var.$sans-serif;
		line-height: 1.25;
		margin-top: 1.5em;
		margin-bottom: 0.25em;
		text-align: center;
	}
}
