/* :root {
	--orange-300: hsl(25, 100%, 78%);
	--orange-700: hsl(25, 100%, 36%);
	--yellow-200: hsl(55, 90%, 76%);
	--yellow-300: hsl(55, 84%, 62%);
	--yellow-800: hsl(55, 100%, 20%);
	--green-100: hsl(145, 78%, 93%);
	--green-600: hsl(145, 90%, 34%);
	--emerald-200: hsl(155, 76%, 81%);
	--emerald-700: hsl(155, 70%, 28%);
	--cyan-300: hsl(190, 100%, 73%);
	--cyan-600: hsl(190, 100%, 34%);
	--blue-300: hsl(210, 96%, 78%);
	--blue-700: hsl(210, 100%, 45%);
	--fuchsia-300: hsl(290, 93%, 83%);
	--fuchsia-700: hsl(290, 70%, 41%);
	--rose-300: hsl(330, 98%, 83%);
	--rose-700: hsl(330, 73%, 42%);
} */

html {
	--gray: light-dark(var(--gray-700), var(--gray-300));
	--orange: light-dark(var(--orange-700), var(--orange-300));
	--yellow: light-dark(var(--yellow-800), var(--yellow-300));
	--green: light-dark(var(--green-600), var(--green-100));
	--emerald: light-dark(var(--emerald-700), var(--emerald-200));
	--cyan: light-dark(var(--cyan-600), var(--cyan-300));
	--blue: light-dark(var(--blue-700), var(--blue-300));
	--fuchsia: light-dark(var(--fuchsia-700), var(--fuchsia-300));
	--rose: light-dark(var(--rose-700), var(--rose-300));
}

/* ======= START, individual items from Chroma */

/* Background */

.chroma, .code-inline {
	color: var(--black);
	background-color: var(--bkgd-code);
	border: 1px solid;
	border-color: var(--border);
}
.chroma {
	* {
		font-weight: var(--font-normal); /* to keep italicized items at same width as non-italicized */
		/* === Fallback colors to catch var issues */
		color: var(--clr, #ffff00);
	}
	/* === Other */
	.x {
		--clr: var(--default);
	}
	/* === Error */
	.err {
		--clr: var(--red);
	}
	/* === Lines (most items need specifics)
	Line text (cl - was missing from original), LineTableTD (lntd),
	LineTable (lntable), LineHighlight (hl), LineNumbersTable (lnt),
	LineNumbers (ln) */
	.cl {
		--clr: var(--default);
	}
	.lntd {
		vertical-align: top;
		padding: 0;
		margin: 0;
		border: 0;
	}
	.lntable {
		border-spacing: 0;
		padding: 0;
		margin: 0;
		border: 0;
		width: auto;
		overflow: auto;
		display: block;
	}
	.hl {
		display: block;
		width: 100%;
		background-color: var(--yellow-200);
	}
	.lnt, .ln {
		margin-right: 0.4em;
		padding: 0 0.4em;
		--clr: var(--gray);
	}
	/* === Keywords
	Keyword (k), KeywordConstant (kc), KeywordDeclaration (kd),
	KeywordNamespace (kn), KeywordPseudo (kp), KeywordReserved (kr),
	KeywordType (kt) */
	.k, .kc, .kd, .kn, .kp, .kr, .kt {
		/* font-weight: bold; */
		--clr: var(--rose);
	}
	/* === Names
	Name (n), NameAttribute (na), NameBuiltin (nb), NameBuiltinPseudo (bp),
	NameClass (nc), NameConstant (no), NameDecorator (nd), NameEntity (ni),
	NameException (ne), NameFunction (nf), NameFunctionMagic (fm),
	NameLabel (nl), NameNamespace (nn), NameOther (nx), NameProperty (np),
	NameTag (nt), NameVariable (nv), NameVariableClass (vc),
	NameVariableGlobal (vg), NameVariableInstance (vi), NameVariableMagic (vm) */
	.n, .na, .nb, .bp, .nc, .no, .nd, .ni, .ne, .fm, .nl, .nn, .np,
	.nv, .vc, .vg, .vi, .vm {
		--clr: var(--blue);
	}
	.nf, .nt {
		--clr: var(--cyan);
	}
	.nx {
		--clr: var(--orange);
	}
	/* === Literals
	Literal (l), LiteralDate (ld), LiteralString (s), LiteralStringAffix (sa),
	LiteralStringBacktick (sb), LiteralStringChar (sc), LiteralStringDelimiter (dl),
	LiteralStringDoc (sd), LiteralStringDouble (s2), LiteralStringEscape (se),
	LiteralStringHereDoc (sh), LiteralStringInterpol (si), LiteralStringOther (sx),
	LiteralStringRegex (sr), LiteralStringSingle (s1), LiteralStringSymbol (ss),
	LiteralNumber (m), LiteralNumberBin (mb), LiteralNumberFloat (mf),
	LiteralNumberHex (mh), LiteralNumberInteger (mi), LiteralNumberIntegerLong (il),
	LiteralNumberOct (mo) */
	.l, .ld, .s, .sa, .sb, .sc, .dl, .sd, .s2, .se, .sh, .si, .sx, .sr,
	.s1, .ss, .m, .mb, .mf, .mh, .mi, .il, .mo {
		--clr: var(--yellow);
	}
	/* === Operators
	Operator (.o), OperatorWord (.ow) */
	.o, .ow {
		--clr: var(--fuchsia);
	}
	/* === Punctuation (p) */
	.p {
		--clr: var(--gray);
	}
	/* === Comments
	Comment (c), CommentHashbang (ch), CommentMultiline (cm),
	CommentSingle (c1), CommentSpecial (cs),
	CommentPreProc (cp), CommentPreProcFile (cpf) */
	.c, .ch, .cm, .c1, .cs {
		font-style: italic;
		--clr: var(--emerald);
	}
	.cp, .cpf {
		--clr: var(--gray);
	}
	/* === Generics
	Generic (g), GenericDeleted (gd), GenericEmph (ge - italic), GenericError (gr),
	GenericHeading (gh), GenericInserted (gi), GenericOutput (go), GenericPrompt (gp),
	GenericStrong (gs - bold), GenericSubheading (gu), GenericTraceback (gt),
	GenericUnderline (gl) */
	.g, .gd, .gr, .gh, .gi, .go, .gp, .gu, .gt, .gl {
		--clr: var(--gray);
	}
	.ge {
		font-style: italic;
	}
	.gs {
		font-weight: bold;
	}
	/* === TextWhitespace (w) */
	.w {
		--clr: var(--gray);
	}
}


/* ======= END, individual items from Chroma */

pre,
code {
	font-family: var(--monospaced);
  font-kerning: none;
  font-variant-ligatures: none;
	background: var(--bkgd-article-code);
}

code[class*="language-"],
pre[class*="language-"] {
	color: var(--gray-200);
	background: none;
	font-size: clamp(0.9rem, 1vw + 0.625rem, var(--text-lg));
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;
	tab-size: 2;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"],
pre.chroma {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	color: var(--black);
	background-color: var(--white);
}

.highlight {
	position: relative;
	.chroma {
		border-radius: 16px;
		/* keeps code blocks from being too small
		due to the `article code` rule above */
		font-size: clamp(0.9rem, 1vw + 0.625rem, var(--text-lg));
	}
}

@media screen and  (min-width: 1024px) {
	pre.expand:hover {
		margin-left: -20vw;
		margin-right: -20vw;
		max-width: 95vw;
	}
	p.labeled-highlight + .highlight, .highlightWide .highlight {
		width: var(--bigImgDivWidth);
		left: calc(calc(var(--bigImgDivWidth) * -1)/2 + 50%);
	}
}

/* === for copy-code-to-clipboard */

/* h/t https://simplernerd.com/hugo-add-copy-to-clipboard-button/ */

.clipboard-button {
	position: absolute;
	right: 0;
	padding: 2px 7px 5px 7px;
	margin: 5px;
	color: var(--gray-500);
	border-color: var(--gray-500);
	background-color: var(--gray-100);
	border: 1px solid;
	border-radius: 6px;
	font-size: 0.8em;
	z-index: 1;
	opacity: 0;
	transition: 0.1s;
}
.clipboard-button > svg {
	fill: var(--gray-500);
}
.clipboard-button:hover {
	cursor: pointer;
	border-color: var(--green-600);
	background-color: var(--green-100);
}
.clipboard-button:hover > svg {
	fill: var(--green-600);
}
.clipboard-button:focus {
	outline: 0;
}
/* .highlight {
  position: relative;
} */
.highlight:hover > .clipboard-button {
	opacity: 1;
	transition: 0.2s;
}

/* === Inline code
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
} */

.labeled-highlight {
	margin-bottom: 0;
	padding-bottom: 0;
	line-height: 0.5em;
	text-align: center;
}

.labeled-highlight + div.highlight {
	margin-top: 0;
	padding-top: 0;
}

html[data-theme="dark"] {
	.chroma *, .code-inline * {
		color: var(--clr, #191970);
	}
	.chroma, .code-inline {
		.h1 {
			background-color: var(--yellow-800);
		}
	}
	:not(pre) > code[class*="language-"], pre[class*="language-"] {
		color: var(--white);
		background-color: var(--slate-800);
	}
}

@media screen and (prefers-color-scheme: dark) {
	html:not([data-theme]) {
		.chroma *, .code-inline * {
			color: var(--clr, #191970);
		}
		.chroma, .code-inline {
			.h1 {
				background-color: var(--yellow-800);
			}
		}
		:not(pre) > code[class*="language-"], pre[class*="language-"] {
			color: var(--white);
			background-color: var(--slate-800);
		}
	}
}

/* needed for articles */

code, article code, .box code {
	background-color: var(--bkgd-article-code);
}

code {
	font-family: var(--monospaced);
  font-kerning: none;
  font-variant-ligatures: none;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

article code {
	font-size: 0.95em;
	/* no need for media queries because this
	is em, so clamp() for surrounding text
	will handle it */
}

article .footnotes code {
	font-size: 1em;
	/* overriding the `article code` part above for footnotes */
}

/*
article p code {
	@media screen and (min-width: 768px) {
		white-space: nowrap;
	}
}
*/

article p code.code-inline {
	/* font-size: var(--text-sm); */
	padding: 0.25em 0.5em;
	margin: 0 0.25em;
}

article .footnotes li code {
	white-space: normal;
}

article blockquote code {
	color: var(--bquote-article-code);
}

.box {
	code, a code {
		font-size: 1em; /* definitely em */
		background-color: var(--bkgd-box-code);
	}
}

article ol li .highlight {
	line-height: 1.5;
}
