@use '_005-colors' as clr;
@use '_010-variables' as var;

/* stylelint-disable no-descending-specificity */
/* stylelint-disable hue-degree-notation */
/* stylelint-disable comment-empty-line-before */
/* stylelint-disable color-function-notation */
/* stylelint-disable number-max-precision */

html, html[data-theme="light"] {
	--gray: #{clr.$gray-700};
	--orange: #{clr.$orange-700};
	--yellow: #{clr.$yellow-800};
	--green: #{clr.$green-600};
	--emerald: #{clr.$emerald-700};
	--cyan: #{clr.$cyan-600};
	--blue: #{clr.$blue-750};
	--fuchsia: #{clr.$fuchsia-700};
	--rose: #{clr.$rose-700};
}

html[data-theme="dark"] {
	--gray: #{clr.$gray-300};
	--orange: #{clr.$orange-300};
	--yellow: #{clr.$yellow-300};
	--green: #{clr.$green-100};
	--emerald: #{clr.$emerald-200};
	--cyan: #{clr.$cyan-300};
	--blue: #{clr.$blue-300};
	--fuchsia: #{clr.$fuchsia-300};
	--rose: #{clr.$rose-300};

	.chroma *, .code-inline * {
		color: var(--clr, #191970);
	}

	.chroma, .code-inline {
		.h1 {
			background-color: #{clr.$yellow-800};
		}
	}

	:not(pre) > code[class*="language-"], pre[class*="language-"] {
		color: var(--white);
		background-color: #{clr.$slate-800};
	}
}

@media screen and (prefers-color-scheme: dark) {
	html:not([data-theme]) {
		--gray: #{clr.$gray-300};
		--orange: #{clr.$orange-300};
		--yellow: #{clr.$yellow-300};
		--green: #{clr.$green-100};
		--emerald: #{clr.$emerald-200};
		--cyan: #{clr.$cyan-300};
		--blue: #{clr.$blue-300};
		--fuchsia: #{clr.$fuchsia-300};
		--rose: #{clr.$rose-300};
	}
}

// /* ======= START, individual items from Chroma */

// /* Background */

.chroma, .code-inline {
	color: var(--black);
	background-color: var(--bkgd-code);
	border: 1px solid;
	border-color: var(--border);
}

.chroma {
	* {
		font-weight: var.$font-normal; // to keep italicized items at same width as non-italicized
		// === Fallback colors to catch var issues
		color: var(--clr, #ff0);
	}

	// /* === Other */
	.x {
		--clr: var(--default);
	}

	// /* === Error */
	.err {
		--clr: var(--red);
	}

	// /* === Lines (most items need specifics)
	// Line text (cl - was missing from original), LineTableTD (lntd),
	// LineTable (lntable), LineHighlight (hl), LineNumbersTable (lnt),
	// LineNumbers (ln) */
	.cl {
		--clr: var(--default);
	}

	.lntd {
		vertical-align: top;
		padding: 0;
		margin: 0;
		border: 0;
	}

	.lntable {
		border-spacing: 0;
		padding: 0;
		margin: 0;
		border: 0;
		width: auto;
		overflow: auto;
		display: block;
	}

	.hl {
		display: block;
		width: 100%;
		background-color: clr.$yellow-200;
	}

	.lnt, .ln {
		margin-right: 0.4em;
		padding: 0 0.4em;

		--clr: var(--gray);
	}

	// /* === Keywords
	// Keyword (k), KeywordConstant (kc), KeywordDeclaration (kd),
	// KeywordNamespace (kn), KeywordPseudo (kp), KeywordReserved (kr),
	// KeywordType (kt) */
	.k, .kc, .kd, .kn, .kp, .kr, .kt {
		/* font-weight: bold; */
		--clr: var(--rose);
	}

	// /* === Names
	// Name (n), NameAttribute (na), NameBuiltin (nb), NameBuiltinPseudo (bp),
	// NameClass (nc), NameConstant (no), NameDecorator (nd), NameEntity (ni),
	// NameException (ne), NameFunction (nf), NameFunctionMagic (fm),
	// NameLabel (nl), NameNamespace (nn), NameOther (nx), NameProperty (np),
	// NameTag (nt), NameVariable (nv), NameVariableClass (vc),
	// NameVariableGlobal (vg), NameVariableInstance (vi), NameVariableMagic (vm) */
	.n, .na, .nb, .bp, .nc, .no, .nd, .ni, .ne, .fm, .nl, .nn, .np,
	.nv, .vc, .vg, .vi, .vm {
		--clr: var(--blue);
	}

	.nf, .nt {
		--clr: var(--cyan);
	}

	.nx {
		--clr: var(--orange);
	}

	// /* === Literals
	// Literal (l), LiteralDate (ld), LiteralString (s), LiteralStringAffix (sa),
	// LiteralStringBacktick (sb), LiteralStringChar (sc), LiteralStringDelimiter (dl),
	// LiteralStringDoc (sd), LiteralStringDouble (s2), LiteralStringEscape (se),
	// LiteralStringHereDoc (sh), LiteralStringInterpol (si), LiteralStringOther (sx),
	// LiteralStringRegex (sr), LiteralStringSingle (s1), LiteralStringSymbol (ss),
	// LiteralNumber (m), LiteralNumberBin (mb), LiteralNumberFloat (mf),
	// LiteralNumberHex (mh), LiteralNumberInteger (mi), LiteralNumberIntegerLong (il),
	// LiteralNumberOct (mo) */
	.l, .ld, .s, .sa, .sb, .sc, .dl, .sd, .s2, .se, .sh, .si, .sx, .sr,
	.s1, .ss, .m, .mb, .mf, .mh, .mi, .il, .mo {
		--clr: var(--yellow);
	}

	// /* === Operators
	// Operator (.o), OperatorWord (.ow) */
	.o, .ow {
		--clr: var(--fuchsia);
	}

	// /* === Punctuation (p) */
	.p {
		--clr: var(--gray);
	}

	// /* === Comments
	// Comment (c), CommentHashbang (ch), CommentMultiline (cm),
	// CommentSingle (c1), CommentSpecial (cs),
	// CommentPreProc (cp), CommentPreProcFile (cpf) */
	.c, .ch, .cm, .c1, .cs {
		font-style: italic;

		--clr: var(--emerald);
	}

	.cp, .cpf {
		--clr: var(--gray);
	}

	// /* === Generics
	// Generic (g), GenericDeleted (gd), GenericEmph (ge - italic), GenericError (gr),
	// GenericHeading (gh), GenericInserted (gi), GenericOutput (go), GenericPrompt (gp),
	// GenericStrong (gs - bold), GenericSubheading (gu), GenericTraceback (gt),
	// GenericUnderline (gl) */
	.g, .gd, .gr, .gh, .gi, .go, .gp, .gu, .gt, .gl {
		--clr: var(--gray);
	}

	.ge {
		font-style: italic;
	}

	.gs {
		font-weight: bold;
	}

	// /* === TextWhitespace (w) */
	.w {
		--clr: var(--gray);
	}
}


// /* ======= END, individual items from Chroma */

pre,
code {
	font-family: var.$monospaced;
  font-kerning: none;
  font-variant-ligatures: none;
	background: var(--bkgd-article-code);
}

code[class*="language-"],
pre[class*="language-"] {
	color: clr.$gray-200;
	background: none;
	font-size: clamp(0.9rem, 1vw + 0.625rem, var.$text-lg);
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;
	tab-size: 2;
	hyphens: none;
}

// /* Code blocks */
pre[class*="language-"],
pre.chroma {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	color: var(--black);
	background-color: var(--white);
}

.highlight {
	position: relative;

	.chroma {
		border-radius: 16px;

		// /* keeps code blocks from being too small
		// due to the `article code` rule above */
		font-size: clamp(0.9rem, 1vw + 0.625rem, var.$text-lg);
	}
}

@media screen and (width >= 1024px) {
	pre.expand:hover {
		margin-left: -20vw;
		margin-right: -20vw;
		max-width: 95vw;
	}

	p.labeled-highlight + .highlight, .highlight-wide .highlight {
		width: var(--big-img-div-width);
		left: calc(calc(var(--big-img-div-width) * -1) / 2 + 50%);
	}
}

// /* === for copy-code-to-clipboard */

// /* h/t https://simplernerd.com/hugo-add-copy-to-clipboard-button/ */

.clipboard-button {
	position: absolute;
	right: 0;
	padding: 2px 7px 5px;
	margin: 5px;
	color: clr.$gray-500;
	border: 1px solid;
	border-color: clr.$gray-500;
	background-color: clr.$gray-100;
	border-radius: 6px;
	font-size: 0.8em;
	z-index: 1;
	opacity: 0;
	transition: 0.1s;
}

.clipboard-button > svg {
	fill: clr.$gray-500;
}

.clipboard-button:hover {
	cursor: pointer;
	border-color: clr.$green-600;
	background-color: clr.$green-100;
}

.clipboard-button:hover > svg {
	fill: clr.$green-600;
}

.clipboard-button:focus {
	outline: 0;
}

// /* .highlight {
//   position: relative;
// } */
.highlight:hover > .clipboard-button {
	opacity: 1;
	transition: 0.2s;
}

// /* === Inline code
// :not(pre) > code[class*="language-"] {
// 	padding: .1em;
// 	border-radius: .3em;
// 	white-space: normal;
// } */

.labeled-highlight {
	margin-bottom: 0;
	padding-bottom: 0;
	line-height: 0.5em;
	text-align: center;
}

.labeled-highlight + div.highlight {
	margin-top: 0;
	padding-top: 0;
}

@media screen and (prefers-color-scheme: dark) {
	html:not([data-theme]) {
		.chroma *, .code-inline * {
			color: var(--clr, #191970);
		}

		.chroma, .code-inline {
			.h1 {
				background-color: clr.$yellow-800;
			}
		}

		:not(pre) > code[class*="language-"], pre[class*="language-"] {
			color: var(--white);
			background-color: clr.$slate-800;
		}
	}
}

// /* needed for articles */

code, article code, .box code {
	background-color: var(--bkgd-article-code);
}

code {
	font-family: var.$monospaced;
  font-kerning: none;
  font-variant-ligatures: none;
}

a code {
	color: var(--link-code);
}

:is(h1, h2, h3, h4, h5, h6) a code {
	color: var(--default-color);
}

// /* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

article code {
	font-size: 0.95em;

	// /* no need for media queries because this
	// is em, so clamp() for surrounding text
	// will handle it */
}

article .footnotes code {
	font-size: 1em;

	// /* overriding the `article code` part above for footnotes */
}

// /*
// article p code {
// 	@media screen and (width >= 768px) {
// 		white-space: nowrap;
// 	}
// }
// */

article p code.code-inline {
	// /* font-size: var(--text-sm); */
	padding: 0.25em 0.5em;
	margin: 0 0.25em;
}

article .footnotes li code {
	white-space: normal;
}

article blockquote code {
	color: var(--bquote-article-code);
}

.box {
	code, a code {
		font-size: 1em; // /* definitely em */
		background-color: var(--bkgd-box-code);
	}
}

article ol li .highlight {
	line-height: 1.5;
}
