@use 'variables' as var;
@use 'colors' as clr;

:root {
	// = = = TYPOGRAPHY = = =
	--sans-serif: #{var.$sans-serif};
	// --font-thin: 100;
	--font-extralight: 200;
	--font-light: 300;
	--font-semilight: 350;
	--font-normal: 400;
	--font-medium: 500;
	--font-semibold: 600;
	--font-bold: 700;
	// --font-extrabold: 800;
	// --font-black: 900;
	// --font-weight-sm: var(--font-normal);
	// ^^^ for .pokey, .legal, footnotes, etc. if using font-light for `html` and `body`
	--pub-date-weight: var(--font-medium);
	//
	// = = = COLORS = = =
	// === defaults ===
	// primaries
	--default-color: hsl(0, 0%, 20%); // same as #333 --- was #374151 (TWCSS "Prose" black)
	--white: hsl(0, 0%, 100%); // could also be #eee at some point, hence this var
	--black: hsl(0, 0%, 0%); // could also be #333 at some point, hence this var
	--default-light: #{clr.$gray-750};
	--default-dark: #{clr.$gray-300};
	--boost-light: #{clr.$gray-850};
	--boost-dark: ${clr.$gray-200};
	--bquote-light: #{clr.$gray-550};
	--bquote-dark: #{clr.$gray-400};
	--bquote-boost-light: #{clr.$gray-650};
	--bquote-boost-dark: #{clr.$gray-350};
	--link-light: #{clr.$blue-700};
	--link-dark: #{clr.$blue-300};
	--link-afh-light: #{clr.$blue-900};
	--link-afh-dark: #{clr.$slate-300};
	--head-light: #{clr.$blue-850};
	--head-dark: #{clr.$blue-150};
	// backgrounds and borders
	--bkgd-light: #{clr.$slate-050};
	--bkgd-dark: var(--black);
	--bkgd-box-light: var(--white);
	--bkgd-box-dark: #{clr.$slate-900};
	--bkgd-code-light: var(--white);
	--bkgd-code-dark: #{clr.$slate-900};
	--bkgd-article-code-light: var(--white);
	--bkgd-article-code-dark: #{clr.$slate-750};
	--bkgd-box-code-light: #{clr.$slate-100};
	--bkgd-box-code-dark: #{clr.$slate-700};
	--border-light: #{clr.$neutral-400};
	--border-dark: #{clr.$neutral-600};
	--red-light: #{clr.$red-700};
	--red-dark: #{clr.$red-300};
	@supports (color: oklch(49% 0.1 252)) {
		--link-light: #{clr.$blue-750-oklch}; // a bit darker in OKLCH only
		--link-dark: #{clr.$blue-300-oklch};
		--link-afh-light: #{clr.$blue-900-oklch};
		--link-afh-dark: #{clr.$slate-300-oklch};
		--head-light: #{clr.$blue-850-oklch};
		--head-dark: #{clr.$blue-150-oklch};
		--red-light: #{clr.$red-700-oklch};
		--red-dark: #{clr.$red-300-oklch};
	}
}

html, body {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	-moz-osx-font-smoothing: auto;
	// ^^ only for Firefox on macOS (and not for system fonts); other browsers use defaults (if any)
	font-variant-ligatures: normal;
	text-rendering: optimizeLegibility;
	// text-justify: inter-character; // someday...
	font-kerning: normal;
	font-family: var.$sans-serif;
	font-weight: var(--font-normal);
	background-color: var(--bkgd-light);
	color: var(--default-light);
	color-scheme: light dark;
	@media screen and (min-width: var.$bkpt_lg) {
		font-weight: var(--light);
	}
	@media (prefers-color-scheme: dark) {
		background: var(--bkgd-dark);
		color: var(--default-dark);
	}
}

// h1, .h1, h2, .h2, h3, .h3, h4, .h4,
// header, footer, table, blockquote, summary, contact-button, search-button,
// .container-home, .billboard-div, .posts-Wrapper, .FourOhFour-Wrapper,
// .sitemap-Div, .searchDiv, .searchDivPF,
// .footnotes, .footnote-sim, .footnote-ref,
// .box, .labeled-highlight, .imgcCaption, .imghCaption, .bg-dark,
// .legal, .pokey {
// 	font-family: var.$sans-serif;
// }

html {
	// scroll-behavior: smooth;
	scroll-padding-top: 80px;
}

p, li {
	line-height: 1.4;
}

b, strong {
	font-weight: var(--font-semibold);
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
	font-weight: var(--font-medium);
	color: var(--head-light);
	letter-spacing: -0.025rem;
	@media (prefers-color-scheme: dark) {
		color: var(--head-dark);
	}
}

h1, h2, h3, h4 {
	outline: 2px transparent;
	outline-offset: 2px;
	&:active, &:focus, &:hover {
		outline: 2px transparent;
		outline-offset: 2px;
	}
}

h1, h2, h3, h4 {
	display: block;
	margin-block-start: 0.25rem;
	margin-block-end: 0.25rem;
}

h3, .h3 {
	font-style: italic;
}

h1, .h1 {
	font-size: clamp(2rem, 1rem + 3vw, 2.5rem);
	// usually overridden by other styling (e.g., billboard.scss)
}

h2, .h2 {
	font-size: clamp(1.5rem, 0.75rem + 2vw, 2rem);
}

h3, .h3 {
	font-size: clamp(1.375rem, 0.5rem + 1.75vw, 1.75rem);
}

h4, .h4 {
	font-size: clamp(1.25rem, 0.25rem + 1.5vw, 1.625rem);
}

a, a:focus, a:hover, a:active {
	text-decoration-thickness: var.$textDcThick;
	text-underline-offset: var.$textUnOffst;
	@media screen and (min-width: var.$bkpt_md) {
		text-decoration-thickness: var.$textDcThickMd;
		text-underline-offset: var.$textUnOffstMd;
	}
	text-decoration-skip-ink: auto;
}

a {
	color: var(--link-light);
	@media (prefers-color-scheme: dark) {
		color: var(--link-dark);
	}
	&:focus, &:hover, &:active {
		color: var(--link-afh-light);
		@media (prefers-color-scheme: dark) {
			color: var(--link-afh-dark);
		}
	}
}

a.icon, a.icon:focus, a.icon:hover, a.icon:active, sup a, .footnote-return, .icon {
	border-bottom: 0;
	text-decoration: none;
}

hr {
	border: none;
	height: 1px;
	background-color: var(--black);
	@media (prefers-color-scheme: dark) {
		background-color: var(--white);
	}
}

sub, sup {
	font-size: 65%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.45em;
}

ul li li, ol li li, ul li li li, ol li li li {
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
	&::marker {
		color: clr.$slate-400;
		@media (prefers-color-scheme: dark) {
			color: clr.$slate-500;
		}
	}
}

ul li li, ol li li {
	list-style-type: disc;
}

ul li li li, ol li li li {
	list-style-type: square;
}

ol li ul, ol li li ul, ol li li li ul {
	padding-inline-start: 1.1em;
	li {
		list-style-type: disc;
		&::marker {
			color: inherit;
		}
		ul {
			li::marker {
				color: clr.$slate-400;
				@media (prefers-color-scheme: dark) {
					color: clr.$slate-500;
				}
			}
		}
	}
}

#content-main-hugo, main {
	padding-top: 40px;
}

#content-main-hugo .topOfMain, main .topOfMain {
	margin-top: 0.5rem;
	font-size: 2.25rem;
}

audio, canvas, embed, iframe, img, object, svg, video {
	vertical-align: middle;
}

.container {
	// width: 90%;
	margin: 0 auto;
	&-narrower {
		margin: 1rem auto 0 auto;
		width: 80%;
		@media screen and (min-width: var.$bkpt_lg) {
			width: 50%;
			// max-width: 65ch;
		}
		@media screen and (min-width: var.$bkpt_2xl) {
			width: 45%;
			// max-width: 65ch;
		}
		@media screen and (min-width: var.$bkpt_3xl) {
			width: 40%;
		}
		// figure img, img {
		//   width: 100%;
		//   height: auto;
		// }
	}
}

li p {
	margin-right: 0;
	margin-left: 0;
	width: 100%;
}
