@use 'colors-005' as clr;
@use 'variables-010' as var;

:root {
	--black: #{clr.$black};
	--white: #{clr.$white};
	--link-nav: var(--white);
	--link-nav-afh: #{clr.$blue-200};
	--logocircle: #{clr.$blue-500};
	--logocircle-afh: #{clr.$gray-500};
	--border-bquote: #{clr.$gray-400};
	--fill-lightdarktoggle: #{clr.$yellow-200};
	--filter-shadow: #{clr.$gray-400};
	@supports (color: oklch(49% 0.1 252)) {
		--link-nav-afh: #{clr.$blue-200-oklch};
		--logocircle: #{clr.$blue-500-oklch};
	}
	--serif: #{var.$serif};
	--sans-serif: #{var.$sans-serif};
	--monospaced: #{var.$monospaced};
	@if var.$webFont {
		@media screen and (min-width: 1024px) {
			--sans-serif: #{var.$sans-serif-lg};
		}
	}
}

html, html[data-theme="light"] {
	color-scheme: light;
	// /* = = = COLORS = = = */
	// /* === defaults === */
	// /* primaries */
	--default: #{clr.$gray-800};
	--boost: #{clr.$gray-900};
	--bquote: #{clr.$gray-500};
	--bquote-boost: #{clr.$gray-600};
	--link: #{clr.$blue-700};
	--link-afh: #{clr.$blue-900};
	--head: var(--default);
	--red: #{clr.$red-700};
	--box-red: #{clr.$red-600};
	--btn-text-default: var(--white);
	--pf-result-excerpt: var(--black);
	--bquote-article-code: #{clr.$slate-800};
	// /* backgrounds and borders */
	--bkgd: var(--white);
	--bkgd-nav: #{clr.$blue-850};
	--bkgd-nav-bottom: #{clr.$blue-850};
	--bkgd-nav-top: #{clr.$blue-850};
	--bkgd-box: #{clr.$slate-050};
	--bkgd-code: #{clr.$slate-050};
	--bkgd-article-code: #{clr.$slate-150};
	--bkgd-box-code: #{clr.$slate-200};
	--bkgd-pf-result-excerpt: #{clr.$blue-100};
	--bkgd-hr: var(--black);
	--bkgd-marker-secondary: #{clr.$slate-400};
	--border: #{clr.$neutral-400};
	--icon-inside: var(--white);
	@supports (color: oklch(49% 0.1 252)) {
		--link: #{clr.$blue-700-oklch};
		--link-afh: #{clr.$blue-900-oklch};
		--red: #{clr.$red-700-oklch};
		--box-red: #{clr.$red-600-oklch};
		--bkgd-nav: #{clr.$blue-850-oklch};
		--bkgd-nav-bottom: #{clr.$blue-850-oklch};
		--bkgd-pf-result-excerpt: #{clr.$blue-100-oklch};
	}
}

html[data-theme="dark"] {
	color-scheme: dark;
	// /* = = = COLORS = = = */
	// /* === defaults === */
	// /* primaries */
	--default: #{clr.$gray-300};
	--boost: #{clr.$gray-200};
	--bquote: #{clr.$gray-400};
	--bquote-boost: #{clr.$gray-350};
	--link: #{clr.$blue-300};
	--link-afh: #{clr.$slate-300};
	--head: var(--default);
	--red: #{clr.$red-300};
	--box-red: #{clr.$red-400};
	--btn-text-default: var(--black);
	--pf-result-excerpt: var(--white);
	--bquote-article-code: #{clr.$slate-300};
	// /* backgrounds and borders */
	--bkgd: var(--black);
	--bkgd-nav: #{clr.$blue-950};
	--bkgd-nav-bottom: #{clr.$blue-950};
	--bkgd-nav-top: #{clr.$blue-950};
	--bkgd-box: #{clr.$slate-900};
	--bkgd-code: #{clr.$slate-900};
	--bkgd-article-code: #{clr.$slate-750};
	--bkgd-box-code: #{clr.$slate-700};
	--bkgd-pf-result-excerpt: #{clr.$blue-900};
	--bkgd-hr: var(--white);
	--bkgd-marker-secondary: #{clr.$slate-500};
	--border: #{clr.$neutral-600};
	--icon-inside: var(--black);
	@supports (color: oklch(49% 0.1 252)) {
		--link: #{clr.$blue-300-oklch};
		--red: #{clr.$red-300-oklch};
		--box-red: #{clr.$red-400-oklch};
		--bkgd-nav: #{clr.$blue-950-oklch};
		--bkgd-nav-bottom: #{clr.$blue-950-oklch};
		--bkgd-nav-top: #{clr.$blue-950-oklch};
		--bkgd-pf-result-excerpt: #{clr.$blue-900-oklch};
	}
}

@media screen and (prefers-color-scheme: dark) {
	html:not([data-theme]) {
		color-scheme: dark;
		// /* = = = COLORS = = = */
		// /* === defaults === */
		// /* primaries */
		--default: #{clr.$gray-300};
		--boost: #{clr.$gray-200};
		--bquote: #{clr.$gray-400};
		--bquote-boost: #{clr.$gray-350};
		--link: #{clr.$blue-300};
		--link-afh: #{clr.$slate-300};
		--head: var(--default);
		--red: #{clr.$red-300};
		--box-red: #{clr.$red-400};
		--btn-text-default: var(--black);
		--pf-result-excerpt: var(--white);
		--bquote-article-code: #{clr.$slate-300};
		// /* backgrounds and borders */
		--bkgd: var(--black);
		--bkgd-nav: #{clr.$blue-950};
		--bkgd-nav-bottom: #{clr.$blue-950};
		--bkgd-nav-top: #{clr.$blue-950};
		--bkgd-box: #{clr.$slate-900};
		--bkgd-code: #{clr.$slate-900};
		--bkgd-article-code: #{clr.$slate-750};
		--bkgd-box-code: #{clr.$slate-700};
		--bkgd-pf-result-excerpt: #{clr.$blue-900};
		--bkgd-hr: var(--white);
		--bkgd-marker-secondary: #{clr.$slate-500};
		--border: #{clr.$neutral-600};
		--icon-inside: var(--black);
		@supports (color: oklch(49% 0.1 252)) {
			--link: #{clr.$blue-300-oklch};
			--red: #{clr.$red-300-oklch};
			--box-red: #{clr.$red-400-oklch};
			--bkgd-nav: #{clr.$blue-950-oklch};
			--bkgd-nav-bottom: #{clr.$blue-950-oklch};
			--bkgd-nav-top: #{clr.$blue-950-oklch};
			--bkgd-pf-result-excerpt: #{clr.$blue-900-oklch};
		}
	}
}

html, body {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	-webkit-font-smoothing: subpixel-antialiased;
	// /* ^^ only for Chromium and Safari on macOS; other browsers use defaults (if any) */
	-moz-osx-font-smoothing: auto;
	// /* ^^ only for Firefox on macOS (and not for system fonts); other browsers use defaults (if any) */
	@if var.$webFont == "Inter" {
		@media screen and (min-width: 1024px) {
			font-feature-settings: 'ss03' 1, 'calt' 0;
			// /* ^^
			// - Avoid `ss03` oddity in some system fonts.
			// - Disable `calt` with Inter 4.x (or subset it out) until/unless fixed
			// 	-- https://github.com/rsms/inter/issues/442 et al.
			// */
		}
	}
	text-rendering: optimizeLegibility;
	// /* text-justify: inter-character; /* someday... */
	font-kerning: normal;
	font-family: var(--sans-serif);
	font-weight: var.$font-normal;
	// /* @media screen and (min-width: 768px) {
	// 	font-weight: var.$font-semilight;
	// } */
	background-color: var(--bkgd);
	color: var(--default);
}
// /*
// h1, .h1, h2, .h2, h3, .h3, h4, .h4,
// header, footer, table, blockquote, summary, contact-button, search-button,
// .container-home, .billboard-div, .posts-Wrapper, .FourOhFour-Wrapper,
// .sitemap-Div, .searchDiv, .searchDivPF,
// .footnotes, .footnote-sim, .footnote-ref,
// .box, .labeled-highlight, .imgcCaption, .imghCaption,
// .bg-dark, a.contactButton,
// .legal, .pokey {
// 	font-family: var(--sans-serif);
// } */

b, strong {
	font-weight: var.$font-semibold;
}

html {
	// /* scroll-behavior: smooth; */
	scroll-padding-top: 80px;
}

p, li {
	line-height: 1.4;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
	font-weight: var.$font-semibold;
	color: var(--head);
	letter-spacing: -0.025rem;
}

h1, h2, h3, h4 {
	outline: 2px transparent;
	outline-offset: 2px;
	&:active, &:focus, &:hover {
		outline: 2px transparent;
		outline-offset: 2px;
	}
}

h1, h2, h3, h4 {
	display: block;
	margin-block-start: 0.25rem;
	margin-block-end: 0.25rem;
}

h3, .h3 {
	font-style: italic;
}

h1, .h1 {
	font-size: clamp(2rem, 1rem + 3vw, 2.5rem);
	// /* usually overridden by other styling (e.g., billboard.scss) */
}

h2, .h2 {
	font-size: clamp(1.5rem, 0.75rem + 2vw, 2rem);
}

h3, .h3 {
	font-size: clamp(1.375rem, 0.5rem + 1.75vw, 1.75rem);
}

h4, .h4 {
	font-size: clamp(1.25rem, 0.25rem + 1.5vw, 1.625rem);
}

a, a:focus, a:hover, a:active {
	text-decoration-thickness: var.$textDcThick;
	text-underline-offset: var.$textUnOffst;
	@media screen and (min-width: 768px) {
		text-decoration-thickness: var.$textDcThickMd;
		text-underline-offset: var.$textUnOffstMd;
	}
	text-decoration-skip-ink: auto;
}

a {
	color: var(--link);
	&:focus, &:hover, &:active {
		color: var(--link-afh);
	}
}

a.icon, a.icon:focus, a.icon:hover, a.icon:active, sup a, .footnote-return, .icon {
	border-bottom: 0;
	text-decoration: none;
}

hr {
	border: none;
	height: 1px;
	background-color: var(--bkgd-hr);
}

sub, sup {
	font-size: 65%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.45em;
}

ul li li, ol li li, ul li li li, ol li li li {
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
	&::marker {
		color: var(--bkgd-marker-secondary);
	}
}

ul li li, ol li li {
	list-style-type: disc;
}

ul li li li, ol li li li {
	list-style-type: square;
}

ol li ul, ol li li ul, ol li li li ul {
	padding-inline-start: 1.1em;
	& li {
		list-style-type: disc;
		&::marker {
			color: inherit;
		}
		& ul {
			& li::marker {
				color: var(--bkgd-marker-secondary);
			}
		}
	}
}

#content-main-hugo, main {
	padding-top: 40px;
}

#content-main-hugo .topOfMain, main .topOfMain {
	margin-top: 0.5rem;
	font-size: 2.25rem;
}

audio, canvas, embed, iframe, img, object, svg, video {
	vertical-align: middle;
}

.container {
	// /* width: 90%; */
	margin: 0 auto;
}

.container-narrower {
	margin: 1rem auto 0 auto;
	--containerNarrowerWidth: 80%;
	width: var(--containerNarrowerWidth);
	max-width: var(--containerNarrowerWidth);
	@media screen and (min-width: 1024px) {
		--containerNarrowerWidth: 50vw;
		--bigImgDivExpansionWidth: 20vw;
		--bigImgDivWidth: calc(var(--containerNarrowerWidth) + var(--bigImgDivExpansionWidth));
		.bigImgDiv:not(li *) {
			width: var(--bigImgDivWidth);
			left: calc(calc(var(--bigImgDivWidth) * -1)/2 + 50%);
		}
	}
	@media screen and (min-width: 1536px) {
		--containerNarrowerWidth: 40vw;
	}
	@media screen and (min-width: 1920px) {
		--containerNarrowerWidth: 45rem;
		--bigImgDivExpansionWidth: 15rem;
	}
}

li p {
	margin-right: 0;
	margin-left: 0;
	width: 100%;
}

// /* === for search button on each page (except search page itself) */

search-button {
	display: grid;
	margin: 4em auto 2em;
	place-items: center;
	button {
		width: var.$btn-width;
		height: var.$btn-height;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 0.25em 0;
		align-items: center;
		background-color: var(--link);
		border: 1px solid;
		border-radius: var.$btn-radius;
		border-color: transparent;
		color: var(--btn-text-default);
		.svg {
			padding-left: var.$interactionPadding;
			padding-bottom: 0.125em;
			svg {
				width: var.$btn-svg-width;
				height: auto;
			}
		}
		.legend {
			padding-right: var.$interactionPadding;
			text-align: right;
			font-size: var.$btn-legend-text;
			font-weight: var.$btn-legend-weight;
		}
		&:hover {
			cursor: pointer;
		}
		&:focus, &:active, &:hover {
			border-color: var(--link-afh);
			background-color: var(--link-afh);
		}
	}
}

// /* === end, search button === */
