@use 'variables' as var;

.background-hero {
	&-div {
		position: relative;
		height: 100%;
		background-color: black;
	}
	&-image-div {
		position: relative;
		overflow: hidden;
		width: 100%;
		height: 85vh;
		max-height: 85vh;
		min-height: 85vh;
		@media screen and (min-width: var.$bkpt_md) {
			height: 90vh;
			max-height: 90vh;
			min-height: 90vh;
		}
		@media screen and (min-width: var.$bkpt_xl) {
			height: 100vh;
			max-height: 100vh;
			min-height: 100vh;
		}
	}
	&-title-block-fit {
		display: block;
		width: 100%;
		position: absolute;
		bottom: 0;
	}
	&-title-block {
		display: block;
		width: 100%;
		position: absolute;
		bottom: 0;
		padding: 5em 2em 1.5em 2em;
		background: linear-gradient(
			transparent,
			rgba(0,0,0,.75) 80%,
			#000
		);
		@media screen and (min-width: var.$bkpt_xl) {
			padding-bottom: 5%;
		}
	}
	&-title-text, &-subtitle-text, &-description-text {
		// font-family: var.$sans-serif;
		color: #fff;
		margin: 0 auto;
		text-shadow: 4px 4px 2px #000;
		text-align: center;
		letter-spacing: -0.025em;
		padding: 0.25em;
		@media screen and (min-width: var.$bkpt_lg) {
			text-align: left;
		}
		@media screen and (min-width: var.$bkpt_xl) {
			text-align: left;
		}
	}
	&-title-text {
		font-size: clamp(2.25em, 0.75rem + 4vw, 4em);
		font-weight: 800;
		@media screen and (prefers-color-scheme: dark) {
			font-weight: 750;
		}
		letter-spacing: -0.0375em;
		line-height: 1.1;
		padding-top: 0.5em;
		padding-bottom: 1rem;
		@media screen and (min-width: var.$bkpt_lg) {
			padding-left: 5vw;
			padding-right: 5vw;
		}
		@media screen and (min-width: var.$bkpt_xl) {
			padding-top: 0;
		}
	}
	&-description-text {
		// font-family: var.$sans-serif;
		font-size: clamp(1rem, 0.5rem + 1.5vw, 2rem);
		letter-spacing: -0.01em;
		line-height: 1.4;
		@media screen and (min-width: var.$bkpt_lg) {
			// font-size: 1.5rem;
			letter-spacing: -0.025em;
			margin-bottom: 1em;
			padding-top: 0.25em;
			padding-right: 15vw;
			padding-left: 5vw;
		}
		// @media screen and (min-width: var.$bkpt_2xl) {
		//   font-size: 1.75rem;
		// }
		// @media screen and (min-width: var.$bkpt_3xl) {
		//   font-size: 2rem;
		// }
	}
	&-p-text {
		// font-family: var.$sans-serif;
		font-size: 1rem;
		line-height: 1.25;
		padding-top: 1rem;
		// padding-bottom: 0.5em;
		color: #fff;
		text-shadow: 4px 4px 2px #000;
		text-align: center;
		@media screen and (min-width: var.$bkpt_md) {
			font-size: 1.25rem;
			line-height: 1.175;
		}
		@media screen and (min-width: var.$bkpt_lg) {
			font-size: 1.375rem;
			line-height: 1.1;
			text-align: right;
			padding-top: 0;
			padding-right: 5vw;
		}
	}
}

.featured-image-caption {
	margin-top: 1.5em;
	padding-bottom: 0.5em;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	font-family: var.$sans-serif;
	font-size: var.$teeny;
	@media screen and (min-width: var.$bkpt_md) {
		font-size: var.$legal;
	}
	color: var.$white;
	a {
		color: var.$blueLight;
		border-bottom: 1px solid var.$blueLight;
	}
}
