/* from vanilla-lazyload */
.lazy {
  opacity: 0;
}

.lazy:not(.initial) {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 750ms;
}

.lazy.initial,
.lazy.loaded,
.lazy.error {
  opacity: 1;
}

.lazy:not([src]) {
  visibility: hidden;
}
/* end of CSS from vanilla-lazyload */
