@use 'partials/variables' as var;

.bg-dark {
	margin-top: 2.5rem;
	background-color: var(--slate-300);
	@media (prefers-color-scheme: dark) {
		background-color: var(--slate-800);
	}
	padding: 0.5rem 0;
	div, p {
		color: var(--black);
		@media (prefers-color-scheme: dark) {
			color: var(--white);
		}
	}
	p.prevnextP {
		margin: 0 auto;
		padding: 0.15rem 0;
		width: 90%;
		font-size: clamp(1rem, 1vw + 0.625em, var.$text-xl);
		a {
			color: var(--blue-800);
			text-decoration: none;
			@media (prefers-color-scheme: dark) {
				color: var(--blue-200);
			}
			&:hover, &:focus {
				color: gray;
				color: var(--gray-800);
				text-decoration: underline; // normal
				text-decoration-thickness: var.$textDcThickMd;
				text-underline-offset: var.$textUnOffst;
				text-decoration-skip-ink: auto;
				@media (prefers-color-scheme: dark) {
					color: var(--gray-200);
				}
			}
		}
	}
}

contact-button {
	display: grid;
	place-items: center;
	margin-top: 0.5em;
	--blue-050: #eff6fe;
	@supports (color: oklch(49% 0.1 252)) {
		--blue-050: oklch(97% 0.013 252);
	}
	button {
		width: 15rem;
		padding: 0.25rem 0;
		background-color: var(--default-light-link);
		border-radius: var.$btn_radius;
		border-color: transparent;
		vertical-align: middle;
		color: var(--white);
		&:focus, &:active, &:hover {
			background-color: var(--default-light-link-afh);
		}
		&:hover {
			cursor: pointer;
		}
		@media (prefers-color-scheme: dark) {
			color: var(--black);
			background-color: var(--default-dark-link);
			&:focus, &:active, &:hover {
				background-color: var(--default-dark-link-afh);
			}
		}
	}
}

.box + contact-button {
	margin-top: 1.5em;
}
