@use '_005-colors' as clr;
@use '_010-variables' as var;

.posts-pager-gray {
	color: clr.$gray-300;
}

.posts-pager-thing {
	display: flex;
	flex-direction: row;
	gap: 1em;
	justify-content: center;

	.pager-spacer {
		width: 0.625em;

		@media screen and (width >= 768px) {
			width: 1.25em;
		}

		@media screen and (width >= 1024px) {
			width: 1.5em
		}
	}
}

.posts-container {
	margin: 0 auto;
	width: 85%;

	@media screen and (width >= 1024px) {
		width: 75%;
	}

	@media screen and (width >= 1536px) {
		width: 62.5%;
	}
}

.posts-item-div {
	margin: 0;
	padding: 0;
}

.posts-head {
	padding-top: clamp(1.75rem, 5vh, 3rem);
	font-size: clamp(2.5rem, 1rem + 3vw, 3.5rem);
	letter-spacing: -0.0375em;
	margin-bottom: 0.25em;
}

.posts-title {
	padding: 0;
	font-size: clamp(1.25rem, 0.625rem + 1.75vw, 2rem);

	// /* font-family: var.$serif; */
	font-weight: var.$font-medium;
	line-height: 1.25em;
	letter-spacing: -0.025em;
}

.posts-description {
	font-size: clamp(0.95rem, 0.625rem + 1vw, 1.25rem);

	// /* font-family: var.$serif; */
	font-style: italic;
	letter-spacing: -0.025em;

	// /* margin-top: 0.5em; */
	margin-bottom: 0.25em;

	@media screen and (width >= 1024px) {
		font-weight: var.$font-semilight;
	}
}

.posts-dates {
	font-size: clamp(0.825rem, 0.25rem + 1vw, 1rem);
	line-height: 1.33;
	margin-bottom: 0.5em;

	time {
		display: inline;
	}
}

hr.paginator-top, hr.paginator-bottom {
	border: none;
	height: 1px;
	background-color: var(--bkgd-hr);
	width: clamp(65%, 75vw, 90%);
}

hr.paginator-top {
	margin-top: 0.5em;
	margin-bottom: 1.5em;
}

hr.paginator-bottom {
	margin-top: 0;
	padding: 0;
}

.pagination {
	list-style-type: none;
	margin-block-start: 0;
	margin-inline: 0;
	padding-inline-start: 0;

	li {
		display: inline;
	}
}

.arrow-stop {
	color: clr.$gray-300;
}

path.first-last {
	fill: clr.$gray-400;
}

path.next-prev {
	fill: var(--link);
}

a:hover path.next-prev {
	fill: var(--link-afh);
}
