@use 'variables' as var;

// based on https://www.jotform.com/blog/css-perfect-print-stylesheet-98272/

@media print {
	#content-main-hugo, main {
		width: 100%;
		margin: 0;
		float: none;
	}
	header,
	footer,
	.bg-dark,
	.background-hero-div,
	.imgc-div,
	.hero,
	[class^="imgB-"],
	.contactBtn,
	.searchBtnDiv,
	.giscus-comments,
	.featured-image-caption * {
		display: none !important;
	}
	@page {
		margin: 1in;
	}
	html,
	body,
	[class^="background-hero"] {
		font-family: sans-serif;
		background-color: transparent !important;
		color: #000 !important;
	}
	pre, code {
		font-family: monospace !important;
		white-space: pre-wrap !important;
		word-wrap: break-word !important;
		overflow-x: auto !important;
	}
	code[class*="language-"], pre[class*="language-"] {
		color: white;
	}
	:not(pre) > code[class*="language-"], pre[class*="language-"] {
		background: #000;
	}
	.chroma * {
		color: white !important;
	}
	article code {
		background-color: #ddd;
	}
	h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
		break-after: avoid-page;
		break-inside: avoid-page;
	}
	.yellowBox, .blueBox {
		background-color: #fff;
	}
	[class^="background-hero"] {
		position: relative !important;
		background: none !important;
		text-shadow: none !important;
		margin-top: 0 !important;
		padding-top: 0 !important;
		height: auto !important;
		max-height: auto !important;
		min-height: auto !important;
		color: #000 !important;
		padding: 1em !important;
	}
	.background-hero imgCover {
		display: none !important;
		height: 0 !important;
	}
	a {
		color: #000 !important;
	}

	a[target="_blank"]::after {
		margin: 0;
		content: "";
		// "new window" indication obviously unneeded in print
	}

	.container-narrower {
		width: 90% !important;
	}
	article:after {
		content: "Site textual content © 2018–2022 Bryce Wray except where otherwise noted.";
		color: #000;
		margin: 2em auto 0 auto;
		text-align: center;
		font-size: var.$legal;
		padding-top: 2em;
	}
}
