@use 'variables' as var;

// === for search form

.searchDiv {
	font-family: var.$sans-serif;
	margin: 2em auto;
	width: 100%;
}

.searchBox {
	position: relative;
	margin: 0 auto;
	width: 17em;
	padding: 0;
	background-color: var.$white;
	border: 1px solid var.$black;
	@media screen and (prefers-color-scheme: dark) {
		background-color: var.$gray-1;
		border: 1px solid var.$gray-2;
	}
}

.searchInput {
	@media (min-width: var.$bkpt_md) {
		max-width: 300ch;
	}
	outline: none;
	padding: 0.25em 0.5em 0.25em;
	margin: 0;
	border: 0;
	background-color: transparent;
	@media screen and (prefers-color-scheme: dark) {
		color: var.$white;
	}
}

.searchBtn {
	appearance: none; // otherwise, Safari rounds it
	border-radius: 0; // " " " " " " " " " " " " " "
	position: absolute;
	right: 0px;
	margin: 0; // fixes oddity in Safari
	padding: 3px 12px;
	border: 1px solid var.$blue;
	font-weight: bold;
	background-color: var.$blue;
	color: var.$white;
	@media screen and (prefers-color-scheme: dark) {
		background-color: var.$blueLight;
		color: var.$black;
	}
	&:hover {
		cursor: pointer;
	}
	&:focus, &:active, &:hover {
		border: 1px solid var.$darkblue;
		background-color: var.$darkblue;
		@media screen and (prefers-color-scheme: dark) {
			border: 1px solid var.$blueLightBtn;
			background-color: var.$blueLightBtn;
		}
	}
}
