@use 'variables' as var;

// === for search form

.searchDiv, .searchDivPF, .searchBtnDiv {
	font-family: var.$sans-serif;
	margin: 2em auto;
}

.searchBtnDiv{
	text-align: center;
	button {
		// display: block;
		margin: 0 auto;
		color: white;
		width: 15em;
		padding: 0.5em 0.25em;
		background-color: var.$blue;
		border: 1px solid var.$blue;
		border-radius: var.$btn_radius;
		@media screen and (prefers-color-scheme: dark) {
			border: 1px solid var.$code-color-blueLight-dark-mode;
			background-color: var.$code-color-blueLight-dark-mode;
			color: var.$black;
		}
		&:hover {
			cursor: pointer;
		}
		&:focus, &:active, &:hover {
			border: 1px solid var.$darkblue;
			background-color: var.$darkblue;
			@media screen and (prefers-color-scheme: dark) {
				border: 1px solid var.$blueLightBtn;
				background-color: var.$blueLightBtn;
			}
		}
	}
}

.searchDivPF {
	// margin: 0 auto;
	width: 80%;
	@media screen and (min-width: var.$bkpt_md) {
		width: 70%;
	}
	@media screen and (min-width: var.$bkpt_lg) {
		width: 65%;
	}
	@media screen and (min-width: var.$bkpt_2xl) {
		width: 50%;
	}
}

.searchDiv {
	width: 100%;
}

.searchBox {
	position: relative;
	margin: 0 auto;
	width: 17em;
	padding: 0;
	background-color: var.$white;
	border: 1px solid var.$black;
	@media screen and (prefers-color-scheme: dark) {
		background-color: var.$gray-1;
		border: 1px solid var.$gray-2;
	}
}

.searchInput {
	@media (min-width: var.$bkpt_md) {
		max-width: 300ch;
	}
	outline: none;
	padding: 0.25em 0.5em 0.25em;
	margin: 0;
	border: 0;
	background-color: transparent;
	@media screen and (prefers-color-scheme: dark) {
		color: var.$white;
	}
}

.searchBtn {
	appearance: none; // otherwise, Safari rounds it
	border-radius: 0; // " " " " " " " " " " " " " "
	position: absolute;
	right: 0px;
	margin: 0; // fixes oddity in Safari
	padding: 3px 12px;
	border: 1px solid var.$blue;
	font-weight: bold;
	background-color: var.$blue;
	color: var.$white;
	@media screen and (prefers-color-scheme: dark) {
		border: 1px solid var.$blueLight;
		background-color: var.$blueLight;
		color: var.$black;
	}
	&:hover {
		cursor: pointer;
	}
	&:focus, &:active, &:hover {
		border: 1px solid var.$darkblue;
		background-color: var.$darkblue;
		@media screen and (prefers-color-scheme: dark) {
			border: 1px solid var.$blueLightBtn;
			background-color: var.$blueLightBtn;
		}
	}
}

#search {
	// in case we need it
	margin: 0.5em auto 1em;
}

.pagefind-ui {
	// overall area
}

.pagefind-ui__form {
	// holding
	position: relative;
	text-align: center;
}

.pagefind-ui__search-input {
	max-width: 300ch;
	width: 17em;
	text-align: left;
	outline: none;
	padding: 0.25em 0.5em 0.25em;
	border: 1px solid var.$black;
	// border-radius: 9px;
	background-color: var.$white;
	@media screen and (prefers-color-scheme: dark) {
		border: 1px solid var.$gray-2;
		background-color: var.$gray-1;
		color: var.$white;
	}
}

.pagefind-ui__drawer {
	// results area
	gap: 1em;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	text-align: left;
}

.pagefind-ui__message {
	// count of results
	margin-top: 0.5em;
	text-align: center;
}

.pagefind-ui__button {
	// "Load more results"
	margin: 1em auto;
	text-align: center;
	border-radius: 9px;
	padding: 3px 12px;
	border: 1px solid var.$blue;
	font-weight: bold;
	background-color: var.$blue;
	color: var.$white;
	@media screen and (prefers-color-scheme: dark) {
		background-color: var.$blueLight;
		color: var.$black;
	}
	&:hover {
		cursor: pointer;
	}
	&:focus, &:active, &:hover {
		border: 1px solid var.$darkblue;
		background-color: var.$darkblue;
		@media screen and (prefers-color-scheme: dark) {
			border: 1px solid var.$blueLightBtn;
			background-color: var.$blueLightBtn;
		}
	}
}

.pagefind-ui__result {
	// li for list
	margin-bottom: 0.75em;
}

.pagefind-ui__results-area {
	position: relative;
}

.pagefind-ui__button {
	display: block;
	// position: absolute;
	// left: 50%;
	// bottom: 0;
}

.pagefind-ui__result-excerpt {
	font-family: var.$serif;
	mark {
		color: var.$black;
		background-color: var.$paleBlue;
		@media screen and (prefers-color-scheme: dark) {
			color: var.$white;
			background-color: var.$gray-2-blue;
		}
	}
}

.pagefind-ui__result-title {
	font-weight: bold;
}
