// @charset 'utf-8';
@use 'partials/colors' as clr;
@use 'partials/variables' as var;

/* === for search button on each page */

search-button {
	display: grid;
	margin: 4em auto 2em;
	place-items: center;
	& button {
		width: var.$btn-width;
		height: var.$btn-height;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 0.25em 0;
		align-items: center;
		background-color: var(--link);
		border: 1px solid;
		border-radius: var.$btn-radius;
		border-color: transparent;
		color: var(--btn-text-default);
		& .svg {
			padding-left: var.$interactionPadding;
			padding-bottom: 0.125em;
			& svg {
				width: var.$btn-svg-width;
				height: auto;
			}
		}
		& .legend {
			padding-right: var.$interactionPadding;
			text-align: right;
			font-size: var.$btn-legend-text;
			font-weight: var.$btn-legend-weight;
		}
		&:hover {
			cursor: pointer;
		}
		&:focus, &:active, &:hover {
			border-color: var(--link-afh);
			background-color: var(--link-afh);
		}
	}
}
