@use '_005-colors' as clr;
@use '_010-variables' as var;

/* stylelint-disable no-descending-specificity */

td {
	vertical-align: top;
}

/* === table for web typography article, part II */
table.noborders {
	width: 100%;

	/* table-layout: fixed; */
	margin: 1.5rem auto 1rem;
	border: 0;
	border-collapse: collapse;

	td {
		font-weight: var.$font-normal;
		text-align: left;
		vertical-align: middle;
		padding: 0.25rem 0 0.25rem 0.5rem;

		&.td30 {
			width: 30%;
		}

		&.td70 {
			width: 70%;
		}

		img {
			margin: 0;
			display: block;
			max-width: 60%;
			height: auto;

			@media screen and (width >= 768px) {
				max-width: 40%;
			}
		}
	}

	tr:nth-child(odd) {
		background-color: clr.$slate-050;
	}

	tr:nth-child(even) {
		background-color: clr.$slate-150;
	}

	thead td {
		background-color: clr.$blue-900;
		color: var(--white);
		font-weight: bold;
	}
}

/* === end, table for web typography article, part II */

/* === table for MLB/NFL article */
table.leagues {
	table-layout: fixed; /* so don't have to spec each `td`'s width */
	width: 90%;
	margin: 1rem auto 0;
	border: 0;
	border-collapse: collapse;

	@media (width >= 900px) {
		width: 60%;
	}
}

/* === end, table for MLB/NFL article */

table.ulysses {
	width: 100%;
	table-layout: auto;
	border-collapse: collapse;
	font-size: var.$text-xs;

	@media screen and (width >= 768px) {
		font-size: inherit;
		table-layout: fixed; /* so don't have to spec each `td`'s width */
	}

	thead th {
		background-color: clr.$blue-800;
		border: 1px solid;
		border-color: var(--black) clr.$gray-350 var(--black) var(--black);
		color: var(--white);

		&:last-child {
			border-right-color: var(--black);
		}
	}

	td {
		text-align: center;
		border: 1px solid;
		border-color: var(--black);
		padding: 0;
	}

	thead th, td {
		padding: 0.125em 0.375em;
	}

	thead th:nth-child(1), td:nth-child(1) {
		text-align: left;
	}

	tr:nth-child(odd) {
		background-color: var(--white);
	}

	tr:nth-child(even) {
		background-color: clr.$emerald-050;
	}
}

html[data-theme="dark"] {
	table.noborders {
		tr {
			color: var(--black);
		}
	}

	table.ulysses {
		thead th {
			border-color: var(--white);
		}

		td {
			border-color: var(--white);
			color: var(--white);
		}

		tr:nth-child(odd) {
			background-color: clr.$slate-800;
		}

		tr:nth-child(even) {
			background-color: clr.$emerald-900;
		}
	}
}

@media screen and (prefers-color-scheme: dark) {
	html:not([data-theme]) {
		table.noborders {
			tr {
				color: var(--black);
			}
		}

		table.ulysses {
			thead th {
				border-color: var(--white);
			}

			td {
				border-color: var(--white);
				color: var(--white);
			}

			tr:nth-child(odd) {
				background-color: clr.$slate-800;
			}

			tr:nth-child(even) {
				background-color: clr.$emerald-900;
			}
		}
	}
}
