/* :root {
	--emerald-050: hsl(155, 80%, 96%);
	--emerald-900: hsl(155, 61%, 19%);
} */

td {
	vertical-align: top;
}

/* === table for web typography article, part II */
table.noborders {
	width: 100%;
	/* table-layout: fixed; */
	margin: 1.5rem auto 1rem;
	border: 0;
	border-collapse: collapse;

	td {
		font-weight: var(--font-normal);
		text-align: left;
		vertical-align: middle;
		padding: 0.25rem 0 0.25rem 0.5rem;
		&.td30 {
			width: 30%;
		}
		&.td70 {
			width: 70%;
		}
		img {
			margin: 0;
			display: block;
			max-width: 60%;
			@media screen and (min-width: 768px) {
				max-width: 40%;
			}
			height: auto;
		}
	}
	tr {
		color: var(--black);
	}
	tr:nth-child(odd) {
		background-color: var(--slate-050);
	}
	tr:nth-child(even) {
		background-color: var(--slate-150);
	}
	thead td {
		background-color: var(--blue-900);
		color: var(--white);
		font-weight: bold;
	}
}
/* === end, table for web typography article, part II */

/* === table for MLB/NFL article */
table.leagues {
	table-layout: fixed; /* so don't have to spec each `td`'s width */
	width: 90%;
	margin: 1rem auto 0;
	border: 0;
	border-collapse: collapse;
	@media (min-width: 900px) {
		width: 60%;
	}
}

/* === end, table for MLB/NFL article */

table.ulysses {
	width: 100%;
	table-layout: auto;
	border-collapse: collapse;
	font-size: var(--text-xs);
	@media screen and (min-width: 768px) {
		font-size: inherit;
		table-layout: fixed; /* so don't have to spec each `td`'s width */
	}
	thead th {
		background-color: var(--blue-800);
		border: 1px solid;
		border-color: var(--black) var(--gray-350) var(--black) var(--black);
		/* ^^^ apparently no way to do this with `light-dark()` just yet -- 2024-05-13 */
		color: var(--white);
		&:last-child {
			border-right-color: var(--black);
		}
	}
	td {
		text-align: center;
		border: 1px solid;
		border-color: light-dark(var(--black), var(--white));
		padding: 0;
	}
	thead th, td {
		padding: 0.125em 0.375em;
	}
	thead th:nth-child(1), td:nth-child(1) {
		text-align: left;
	}
	tr:nth-child(odd) {
		background-color: light-dark(var(--white), var(--slate-800));
	}
	tr:nth-child(even) {
		background-color: light-dark(var(--emerald-050), var(--emerald-950));
	}
}

html[data-theme="dark"] {
	table.ulysses {
		thead th {
			border-color: var(--white);
		}
	}
}

@media screen and (prefers-color-scheme: dark) {
	html:not([data-theme]) {
		table.ulysses {
			thead th {
				border-color: var(--white);
			}
		}
	}
}
