@use 'variables' as var;

// === utility classes
.ctr {
  text-align: center;
}

.rgt {
  text-align: right;
}

.wht {
  color: hsl(0, 0%, 100%);
}

.smallCaps {
  font-variant: small-caps;
}

.sortabig {
  font-size: var.$sortabig;
}

.bigger {
  font-size: var.$bigger;
}

.teenytxt, .teeny {
  font-size: var.$teeny;
}

.legaltxt, .legal {
  font-size: var.$legal;
}

.pokeytxt, .pokey {
  font-size: var.$pokey;
}

.eightyFive {
  font-size: var.$eightyFive;
}

.seventyFive {
  font-size: var.$seventyFive;
}

.sixtyFive {
  font-size: var.$sixtyFive;
}

.topM2 {
  margin-top: 2em;
}

.btmM1 {
  margin-bottom: 1em;
}

.btmM10 {
  margin-bottom: 10em;
}

.tightLead {
  line-height: 1.25;
}

.text {
  &-nowrap, .nobrk {
    white-space: nowrap;
    font-size: inherit;
  }
  &-link {
    color: var.$blue;
  }
  &-link:active, &-link:focus, &-link:hover {
    color: var.$darkblue;
  }
  &-muted {
    color: var.$gray-1;
    @media (prefers-color-scheme: dark) {
      color: var.$gray-2-dark-mode;
    }
  }
  &-body {
  color: var.$default-color;
  }
}
.bg-primary {
  background-color: var.$blue;
}

.bg-center {
  background-position: center;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.bg-cover {
  background-size: cover;
}

.btn-primary {
  background-color: var.$blue;
  border-color: var.$blue;
  color: hsl(0, 0%, 100%);
  border-radius: 6px;
  padding: 0.25rem 0.5rem;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: var.$darkblue;
  border-color: var.$darkblue;
}

.sansSerif {
  font-family: var.$sans-serif;
}

.serif {
  font-family: var.$serif;
}

.IEonly {
  display: none;
}

.yellowBox, .blueBox {
  font-family: var.$sans-serif;
  display: block;
  box-sizing: border-box;
  border: 1px solid hsl(0, 0%, 20%);
  margin: 0.5em auto;
  width: 100%;
  padding: 1em 1.25em;
  @media (prefers-color-scheme: dark) {
    border: 1px solid var.$gray-1;
  }
  p {
    padding: 0;
    margin: 0;
  }
}

.yellowBox + hr, .blueBox + hr { // for situations like in "Gems in the rough #4" as of 2021-04-15
  margin-top: 1.75em;
}

.yellowBox {
  background: hsl(52, 100%, 85%);
  @media (prefers-color-scheme: dark) {
    background: hsl(40, 100%, 10%);
  }
  font-size: 85%;
}

.blueBox {
  background: hsl(200, 100%, 95%);
  @media (prefers-color-scheme: dark) {
    background: hsl(200, 100%, 20%);
  }
  font-size: 85%;
}

img.containedImage {
  display: block;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0 auto;
}

.red {
  color: var.$red;
  @media (prefers-color-scheme: dark) {
    color: var.$red-dark-mode;
  }
}

.imgcCaption, .imgCaption, .lazypicturecaption {
  font-family: var.$sans-serif;
  padding: 0;
  margin-block-start: 0.5em;
  line-height: 1.375;
  font-size: 0.95em;
  text-align: center;
}

.FeatImgCaption {
  font-family: var.$sans-serif;
  font-size: var.$legal;
  text-align: center;
  padding-top: 0.5em;
  margin-bottom: 0;
}

.EICapt { // for use with images used with Eleventy Image which have captions
  margin-bottom: -0.5em;
}

.relative {
  position: relative;
}

.w-full {
  width: 100%;
}

.w-auto {
  width: auto;
}

.w-50 {
  width: 50%;
}

.h-full {
  height: 100%;
}

.h-auto {
  height: auto;
}

.punctuationExample {
  font-size: 1.5em;
  font-weight: normal;
  font-family: var.$serif;
  text-align: center;
}

.indentAfterLI {
  margin-left: 2em; // 2em with Public Sans, 2.25em with Inter
  @media screen and (min-width: var.$bkpt_2xl) {
    margin-left: 2em;
  }
}

/* === start, borrowed from TWCSS === */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.inline {
  display: inline;
}

/* === end, borrowed from TWCSS === */

.grayedOut {
  color: var.$gray-2-dark-mode;
}

/* start, for imgc.html */

.imgc {
  &-div {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/* end, for imgc.html */

/* start, for 404 page */

.FourOhFour {
  &-Wrapper {
    padding-top: 10vh;
    background-image: linear-gradient(
      to bottom,
      var.$gray-3-blue,
      var.$gray-5-blue 40%,
      var.$gray-GitHub-blue
    );
    @media screen and (prefers-color-scheme: dark) {
      background-image: linear-gradient(
        to bottom,
        var.$gray-0-5,
        var.$black
      );
    }
  }
  &-Body {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    h1 {
      font-size: var.$biggest;
      margin-bottom: 3rem;
      @media screen and (min-width: var.$bkpt_lg) {
        font-size: 3.25rem;
      }
      @media screen and (min-width: var.$bkpt_xl) {
        font-size: 3.5rem;
      }
    }
    p {
      font-size: var.$slightlybig;
    }
    .bottom {
      margin-bottom: 10em;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade {
  animation: fadeIn 750ms ease-in-out;
}

// start, text/LH classes from TWCSS
// =================================

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.text-5xl, .text-6xl, .text-7xl, .text-8xl, .text-9xl {
  line-height: 1;
}

.text-5xl {
  font-size: 3rem;
}

.text-6xl {
  font-size: 3.75rem;
}

.text-7xl {
  font-size: 4.5rem;
}

.text-8xl {
  font-size: 6rem;
}

.text-9xl {
  font-size: 8rem;
}

// ===============================
// end, text/LH classes from TWCSS

// === end, utility classes
