@use 'variables' as var;

// .legal, .pokey {
// 	font-family: var.$sans-serif;
// }

.ctr {
	text-align: center;
}
.red {
	color: map-get(var.$twcss, red-700);
	@media (prefers-color-scheme: dark) {
		color: map-get(var.$twcss, red-300);
	}
}

.legal {
	font-size: var.$text-xs;
}
.pokey {
	font-size: var.$text-sm;
}
.sansSerif {
	font-family: var.$sans-serif;
}
.serif {
	font-family: var.$serif;
}
.tightLead {
	line-height: 1.25;
}
.nobrk, .nowrap {
	white-space: nowrap;
}
.text-nowrap {
	white-space: nowrap;
	font-size: inherit;
}
.bg-center {
	background-position: center;
}
.relative {
	position: relative;
}
.w-full {
	width: 100%;
}
.h-full {
	height: 100%;
}
.h-auto {
	height: auto;
}
.mx-auto {
	margin-right: auto;
	margin-left: auto;
}
.w-auto {
	width: auto;
}
.inline {
	display: inline;
}
// start, text/LH classes from TWCSS
// =================================

.text-xs {
	font-size: 0.75rem;
	line-height: 1rem;
}

.text-sm {
	font-size: 0.875rem;
	line-height: 1.25rem;
}

.text-base {
	font-size: 1rem;
	line-height: 1.5rem;
}

.text-lg {
	font-size: 1.125rem;
	line-height: 1.75rem;
}

.text-xl {
	font-size: 1.25rem;
	line-height: 1.75rem;
}

.text-2xl {
	font-size: 1.5rem;
	line-height: 2rem;
}

.text-3xl {
	font-size: 1.875rem;
	line-height: 2.25rem;
}

.text-4xl {
	font-size: 2.25rem;
	line-height: 2.5rem;
}

.text-5xl, .text-6xl, .text-7xl, .text-8xl, .text-9xl {
	line-height: 1;
}

.text-5xl {
	font-size: 3rem;
}

.text-6xl {
	font-size: 3.75rem;
}

.text-7xl {
	font-size: 4.5rem;
}

.text-8xl {
	font-size: 6rem;
}

.text-9xl {
	font-size: 8rem;
}

// ===============================
// end, text/LH classes from TWCSS

.mono {
	font-family: var.$monospaced;
}

circle.GitHub,
circle.RSS,
path.MastodonBody,
path.Twitter,
path.JSON,
path.RSS {
	fill: var.$white;
	@media (prefers-color-scheme: dark) {
		fill: var.$black;
	}
}

circle.Twitter,
circle.JSON {
	fill: var.$black;
	@media (prefers-color-scheme: dark) {
		fill: map-get(var.$twcss, blue-300);
	}
}

path.GitHub,
circle.MastodonCircle,
path.MastodonM,
circle.Twitter,
circle.RSS,
circle.JSON {
	fill: var.$default-light-link;
	@media (prefers-color-scheme: dark) {
		fill: var.$default-dark-link;
	}
}

a:hover path.GitHub,
a:hover circle.MastodonCircle,
a:hover path.MastodonM,
a:hover circle.Twitter,
a:hover circle.RSS,
a:hover circle.JSON {
	fill: var.$default-light-link-afh;
	@media (prefers-color-scheme: dark) {
		fill: var.$default-dark-link-afh;
	}
}

path.MastodonBody,
path.MastodonM {
	fill-rule:nonzero;
}

// // needed only if using darker bkgd in dark mode
// a:hover circle.GitHub,
// a:hover path.Twitter,
// a:hover path.RSS,
// a:hover path.JSON,
// a:hover path.MastodonBody {
// 	@media (prefers-color-scheme: dark) {
// 		fill: var.$white;
// 	}
// }

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}
