@use 'partials/colors' as clr;

/* Miscellaneous variables */

/*

==== start, TYPOGRAPHY ====

*/
/* Note from the relevant GitHub SCSS file: "SFMono-Regular needs to come before SF Mono to fix an older version of the font in Chrome" */
$sans-serif: "Libre Franklin", ui-sans-serif, system-ui, "Segoe UI", "Noto Sans", "DejaVu Sans", Ubuntu, Cantarell, Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$serif: ui-serif, Georgia, "Bitstream Charter", Cambria, serif;
$monospaced: ui-monospace, SFMono-Regular, "SF Mono", Consolas, "Source Code Pro", "Cascadia Code", "DejaVu Sans Mono", "Nimbus Mono PS", "Droid Sans Mono", Menlo, Monaco, "Cascadia Mono", "Courier New", monospace;
$social-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$emojis: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
/* $font-thin: 100; */
/*
Remember: Apple's San Francisco is not variable, so it won't show "half-weights" (e.g., 350) as desired. Instead, it has nine distinct weights.
*/
$font-extralight: 200;
$font-light: 300;
$font-semilight: 350;
$font-normal: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
/* $font-extrabold: 800; */
/* $font-black: 900; */
$font-weight-sm: $font-normal;
/* ^^^ for .pokey, .legal, footnotes, etc. if using font-light for `html` and `body` */

/* like Tailwind **SIZES** but not the concomitant `line-height, which is in comments */
$text-xs: 0.75rem; /* LH 1rem */
$text-sm: 0.875rem; /* LH 1.25rem */
$text-base: 1rem; /* LH 1.5rem */
$text-lg: 1.125rem; /* LH 1.75rem */
$text-xl: 1.25rem; /* LH 1.75 rem (also) */
$text-2xl: 1.5rem; /* LH 2 rem */
$text-3xl: 1.875rem; /* LH 2.25rem */
$text-4xl: 2.25rem; /* LH 2.5rem */
$text-5xl: 3rem; /* LH 1 */
/* $text-6xl: 3.75rem; */ /* LH 1 (also) */
/* $text-7xl: 4.5rem; */ /* LH 1 (also) */
/* $text-8xl: 6rem; */ /* LH 1 (also) */
/* $text-9xl: 8rem; */ /* LH 1 (also) */

/* underlines for hrefs */
$textDcThick: 0.05rem; /* always rem */
$textDcThickMd: 0.0625rem; /* always rem */
$textDcThickHA: 0.075rem; /* always rem -- for `header-anchor` */
$textUnOffst: 0.275em; /* always em -- min-width: 768px */
$textUnOffstMd: 0.275em; /* always em -- min-width: 768px */
/* ^^^ 0.225em is OK with Libre Franklin,
			but Segoe UI needs at least 0.25em */

/*

==== end, TYPOGRAPHY ====

*/


/* button */
$btn-radius: 6px;
$btn-width: 12rem;
$btn-height: 2.25rem;
$interactionPadding: 0.75em;
$btn-svg-width: 1.25em; /* height will be auto */
$btn-legend-text: $text-base;
$btn-legend-weight: $font-semibold;

/* social */
$tc-corner-radius: 1em;
$tc-padding: 1em;

/* ====== theming ======= */

@mixin theme-light {
	color-scheme: light;
	/* = = = COLORS = = = */
	/* === defaults === */
	/* primaries */
	--default: #{clr.$gray-800};
	--boost: #{clr.$gray-900};
	--bquote: #{clr.$gray-500};
	--bquote-boost: #{clr.$gray-600};
	--link: #{clr.$blue-700};
	--link-afh: #{clr.$blue-900};
	--head: #{clr.$black};
	--red: #{clr.$red-700};
	--box-red: #{clr.$red-600};
	--btn-text-default: #{clr.$white};
	--pf-result-excerpt: #{clr.$black};
	--bquote-article-code: #{clr.$slate-800};
	/* backgrounds and borders */
	--bkgd: #{clr.$white};
	--bkgd-nav: #{clr.$black};
	--bkgd-nav-bottom: #{clr.$black};
	--bkgd-nav-top: #{clr.$gray-500};
	--bkgd-box: #{clr.$slate-050};
	--bkgd-code: #{clr.$slate-050};
	--bkgd-article-code: #{clr.$slate-150};
	--bkgd-box-code: #{clr.$slate-200};
	--bkgd-pf-result-excerpt: #{clr.$blue-100};
	--bkgd-hr: #{clr.$black};
	--bkgd-marker-secondary: #{clr.$slate-400};
	--border: #{clr.$neutral-400};
	--icon-inside: #{clr.$white};
}

@mixin theme-dark {
	color-scheme: dark;
	/* = = = COLORS = = = */
	/* === defaults === */
	/* primaries */
	--default: #{clr.$gray-300};
	--boost: #{clr.$gray-200};
	--bquote: #{clr.$gray-400};
	--bquote-boost: #{clr.$gray-350};
	--link: #{clr.$blue-300};
	--link-afh: #{clr.$slate-300};
	--head: #{clr.$white};
	--red: #{clr.$red-300};
	--box-red: #{clr.$red-400};
	--btn-text-default: #{clr.$black};
	--pf-result-excerpt: #{clr.$white};
	--bquote-article-code: #{clr.$slate-300};
	/* backgrounds and borders */
	--bkgd: #{clr.$black};
	--bkgd-nav: #{clr.$blue-950};
	--bkgd-nav-bottom: #{clr.$blue-950};
	--bkgd-nav-top: #{clr.$blue-800};
	--bkgd-box: #{clr.$slate-900};
	--bkgd-code: #{clr.$slate-900};
	--bkgd-article-code: #{clr.$slate-750};
	--bkgd-box-code: #{clr.$slate-700};
	--bkgd-pf-result-excerpt: #{clr.$blue-900};
	--bkgd-hr: #{clr.$white};
	--bkgd-marker-secondary: #{clr.$slate-500};
	--border: #{clr.$neutral-600};
	--icon-inside: #{clr.$black};
}
