// ===== start, COLORS =====
// =========================
$default-color: hsl(0, 0%, 20%); // same as #333 --- was #374151 (TWCSS "Prose" black)
$white: hsl(0, 0%, 100%); // could also be #eee at some point, hence this var
$black: hsl(0, 0%, 0%); // could also be #333 at some point, hence this var
// map of selected TWCSS colors
$twcss: ( // midpoints after 50 from https://meyerweb.com/eric/tools/color-blend/
	slate-50: #f8fafc,
	slate-100: #f1f5f9,
	slate-150: #e9eef4,
	slate-200: #e1e7ef,
	slate-250: #d6dee8,
	slate-300: #cbd5e1,
	slate-350: #b5c1d0,
	slate-400: #94a3b8,
	slate-450: #7d8ca2,
	slate-500: #65758b,
	slate-550: #57667b,
	slate-600: #48566a,
	slate-650: #3e4c60,
	slate-700: #344256,
	slate-750: #293548,
	slate-800: #1d283a,
	slate-850: #162032,
	slate-900: #0f1729,
	gray-50: #f9fafb,
	gray-100: #f3f4f6,
	gray-150: #eceef1,
	gray-200: #e5e7eb,
	gray-250: #dbdee3,
	gray-300: #d1d5db,
	gray-350: #b7bcc5,
	gray-400: #9ca3af,
	gray-450: #848B98,
	gray-500: #6b7280,
	gray-550: #5b6472,
	gray-600: #4b5563,
	gray-650: #414b5a,
	gray-700: #374151,
	gray-750: #2b3544,
	gray-800: #1f2937,
	gray-850: #18212f,
	gray-900: #111827,
	zinc-50: #fafafa,
	zinc-100: #f4f4f5,
	zinc-150: #ececee,
	zinc-200: #e4e4e7,
	zinc-250: #dcdce0,
	zinc-300: #d4d4d8,
	zinc-350: #bbbbc1,
	zinc-400: #a1a1aa,
	zinc-450: #898992,
	zinc-500: #71717a,
	zinc-550: #62626b,
	zinc-600: #52525b,
	zinc-650: #494951,
	zinc-700: #3f3f46,
	zinc-750: #333338,
	zinc-800: #27272a,
	zinc-850: #202023,
	zinc-900: #18181b,
	neutral-50: #fafafa,
	neutral-100: #f5f5f5,
	neutral-150: #ededed,
	neutral-200: #e5e5e5,
	neutral-250: #dddddd,
	neutral-300: #d4d4d4,
	neutral-350: #bcbcbc,
	neutral-400: #a3a3a3,
	neutral-450: #8b8b8b,
	neutral-500: #737373,
	neutral-550: #636363,
	neutral-600: #525252,
	neutral-650: #494949,
	neutral-700: #404040,
	neutral-750: #333333,
	neutral-800: #262626,
	neutral-850: #1f1f1f,
	neutral-900: #171717,
	stone-50: #fafaf9,
	stone-100: #f5f5f4,
	stone-150: #eeedec,
	stone-200: #e7e5e4,
	stone-250: #dfddcb,
	stone-300: #d6d3d1,
	stone-350: #bfbbb8,
	stone-400: #a8a29e,
	stone-450: #908a85,
	stone-500: #78716c,
	stone-550: #68625d,
	stone-600: #57534e,
	stone-650: #4e4a45,
	stone-700: #44403c,
	stone-750: #373330,
	stone-800: #292524,
	stone-850: #231f1e,
	stone-900: #1c1917,
	red-50: #fef2f2,
	red-100: #fee2e2,
	red-150: #fed6d6,
	red-200: #fecaca,
	red-250: #fdb8b8,
	red-300: #fca6a6,
	red-350: #fa8c8c,
	red-400: #f87171,
	red-450: #f45b5b,
	red-500: #ef4444,
	red-550: #e63535,
	red-600: #dc2626,
	red-650: #cb2121,
	red-700: #ba1c1c,
	red-750: #a91c1c,
	red-800: #981b1b,
	red-850: #8c1c1c,
	red-900: #7f1d1d,
	orange-50: #fff7ed,
	orange-100: #ffedd5,
	orange-150: #ffe2c0,
	orange-200: #fed7aa,
	orange-250: #fec98f,
	orange-300: #fdba74,
	orange-350: #fca658,
	orange-400: #fb923c,
	orange-450: #fa8329,
	orange-500: #f97316,
	orange-550: #f26611,
	orange-600: #ea580c,
	orange-650: #d64d0c,
	orange-700: #c2410c,
	orange-750: #ae3b0f,
	orange-800: #9a3412,
	orange-850: #8b3112,
	orange-900: #7c2d12,
	amber-50: #fffbeb,
	amber-100: #fef3c7,
	amber-150: #feeda9,
	amber-200: #fde68a,
	amber-250: #fddd6c,
	amber-300: #fcd34d,
	amber-350: #fcc939,
	amber-400: #fbbf24,
	amber-450: #f8af18,
	amber-500: #f59e0b,
	amber-550: #e78b09,
	amber-600: #d97706,
	amber-650: #c76508,
	amber-700: #b45309,
	amber-750: #a34a0c,
	amber-800: #92400e,
	amber-850: #853b0f,
	amber-900: #78350f,
	yellow-50: #fefce8,
	yellow-100: #fef9c3,
	yellow-150: #fef5a7,
	yellow-200: #fef08a,
	yellow-250: #fee869,
	yellow-300: #fde047,
	yellow-350: #fcd62e,
	yellow-400: #facc15,
	yellow-450: #f2c00f,
	yellow-500: #eab308,
	yellow-550: #f2c00f,
	yellow-600: #ca8a04,
	yellow-650: #b67606,
	yellow-700: #a16207,
	yellow-750: #93580b,
	yellow-800: #854d0e,
	yellow-850: #7b4610,
	yellow-900: #713f12,
	lime-50: #f7fee7,
	lime-100: #ecfccb,
	lime-150: #e3fbb4,
	lime-200: #d9f99d,
	lime-250: #ccf681,
	lime-300: #bef264,
	lime-350: #b1ec4d,
	lime-400: #a3e635,
	lime-450: #94d926,
	lime-500: #84cc16,
	lime-550: #75b812,
	lime-600: #65a30d,
	lime-650: #59900e,
	lime-700: #4d7c0f,
	lime-750: #466f11,
	lime-800: #3f6212,
	lime-850: #3b5b13,
	lime-900: #365314,
	green-50: #f0fdf4,
	green-100: #dcfce7,
	green-150: #ccfadc,
	green-200: #bbf7d0,
	green-250: #a1f3be,
	green-300: #86efac,
	green-350: #68e796,
	green-400: #4ade80,
	green-450: #36d26f,
	green-500: #22c55e,
	green-550: #1cb454,
	green-600: #16a34a,
	green-650: #169244,
	green-700: #15803d,
	green-750: #167339,
	green-800: #166534,
	green-850: #155c31,
	green-900: #14532d,
	emerald-50: #ecfdf5,
	emerald-100: #d1fae5,
	emerald-150: #bcf7db,
	emerald-200: #a7f3d0,
	emerald-250: #8bedc4,
	emerald-300: #6ee7b7,
	emerald-350: #51dda8,
	emerald-400: #34d399,
	emerald-450: #22c68d,
	emerald-500: #10b981,
	emerald-550: #0ba875,
	emerald-600: #059669,
	emerald-650: #058760,
	emerald-700: #047857,
	emerald-750: #056c4f,
	emerald-800: #065f46,
	emerald-850: #065741,
	emerald-900: #064e3b,
	teal-50: #f0fdfa,
	teal-100: #ccfbf1,
	teal-150: #b3f9eb,
	teal-200: #99f6e4,
	teal-250: #7cf0dc,
	teal-300: #5eead4,
	teal-350: #46dfca,
	teal-400: #2dd4bf,
	teal-450: #21c6b3,
	teal-500: #14b8a6,
	teal-550: #11a697,
	teal-600: #0d9488,
	teal-650: #0e857b,
	teal-700: #0f766e,
	teal-750: #106a64,
	teal-800: #115e59,
	teal-850: #125652,
	teal-900: #134e4a,
	cyan-50: #ecfeff,
	cyan-100: #cffafe,
	cyan-150: #baf7fd,
	cyan-200: #a5f3fc,
	cyan-250: #86eefb,
	cyan-300: #67e8f9,
	cyan-350: #45def4,
	cyan-400: #22d3ee,
	cyan-450: #14c5e1,
	cyan-500: #06b6d4,
	cyan-550: #07a4c3,
	cyan-600: #0891b2,
	cyan-650: #0b83a1,
	cyan-700: #0e7490,
	cyan-750: #126983,
	cyan-800: #155e75,
	cyan-850: #16566c,
	cyan-900: #164e63,
	sky-50: #f0f9ff,
	sky-100: #e0f2fe,
	sky-150: #cdecfe,
	sky-200: #bae6fd,
	sky-250: #9cddfd,
	sky-300: #7dd3fc,
	sky-350: #5bc8fa,
	sky-400: #38bdf8,
	sky-450: #23b1f1,
	sky-500: #0ea5e9,
	sky-550: #0895d8,
	sky-600: #0284c7,
	sky-650: #0377b4,
	sky-700: #0369a0,
	sky-750: #056092,
	sky-800: #075783,
	sky-850: #0a5179,
	sky-900: #0c4a6e,
	blue-50: #f0f6ff,
	blue-100: #dcebfe,
	blue-150: #cde3fe,
	blue-200: #bedbfe,
	blue-250: #a8cffe,
	blue-300: #91c3fd,
	blue-350: #79b5fc,
	blue-400: #61a6fa,
	blue-450: #4f95f8,
	blue-500: #3c83f6,
	blue-550: #3073f1,
	blue-600: #2463eb,
	blue-650: #2159e1,
	blue-700: #1d4fd8,
	blue-750: #1e48c4,
	blue-800: #1e40af,
	blue-850: #1f3e9d,
	blue-900: #1f3b8a,
	indigo-50: #eef2ff,
	indigo-100: #e0e7ff,
	indigo-150: #d4ddff,
	indigo-200: #c7d2fe,
	indigo-250: #b6c3fd,
	indigo-300: #a5b4fc,
	indigo-350: #93a0fa,
	indigo-400: #818cf8,
	indigo-450: #7279f5,
	indigo-500: #6366f1,
	indigo-550: #5956eb,
	indigo-600: #4f46e5,
	indigo-650: #493fd8,
	indigo-700: #4338ca,
	indigo-750: #3d34b7,
	indigo-800: #3730a3,
	indigo-850: #342f92,
	indigo-900: #312e81,
	violet-50: #f5f3ff,
	violet-100: #ede9fe,
	violet-150: #e5e0f4,
	violet-200: #ddd6fe,
	violet-250: #d1c6fe,
	violet-300: #c4b5fd,
	violet-350: #b6a0fc,
	violet-400: #a78bfa,
	violet-450: #9974f8,
	violet-500: #8b5cf6,
	violet-550: #844bf2,
	violet-600: #7c3aed,
	violet-650: #7531e3,
	violet-700: #6d28d9,
	violet-750: #6425c8,
	violet-800: #5b21b6,
	violet-850: #541fa6,
	violet-900: #4c1d95,
	purple-50: #faf5ff,
	purple-100: #f3e8ff,
	purple-150: #eedfff,
	purple-200: #e9d5ff,
	purple-250: #e1c5ff,
	purple-300: #d8b4fe,
	purple-350: #cc9cfd,
	purple-400: #c084fc,
	purple-450: #b46dfa,
	purple-500: #a855f7,
	purple-550: #9e44f1,
	purple-600: #9333ea,
	purple-650: #892bdc,
	purple-700: #7e22ce,
	purple-750: #7522bb,
	purple-800: #6b21a8,
	purple-850: #621f98,
	purple-900: #581c87,
	fuchsia-50: #fdf4ff,
	fuchsia-100: #fae8ff,
	fuchsia-150: #f8dcff,
	fuchsia-200: #f5d0fe,
	fuchsia-250: #f3befd,
	fuchsia-300: #f0abfc,
	fuchsia-350: #ec92fb,
	fuchsia-400: #e879f9,
	fuchsia-450: #e160f4,
	fuchsia-500: #d946ef,
	fuchsia-550: #cd36e1,
	fuchsia-600: #c026d3,
	fuchsia-650: #b121c1,
	fuchsia-700: #a21caf,
	fuchsia-750: #941b9f,
	fuchsia-800: #86198f,
	fuchsia-850: #7b1a82,
	fuchsia-900: #701a75,
	pink-50: #fdf2f8,
	pink-100: #fce7f3,
	pink-150: #fcdbee,
	pink-200: #fbcfe8,
	pink-250: #fabcde,
	pink-300: #f9a8d4,
	pink-350: #f78dc5,
	pink-400: #f472b6,
	pink-450: #f05da8,
	pink-500: #ec4899,
	pink-550: #e43888,
	pink-600: #db2777,
	pink-650: #cd206a,
	pink-700: #be185d,
	pink-750: #ae1855,
	pink-800: #9d174d,
	pink-850: #901848,
	pink-900: #831843,
	rose-50: #fff1f2,
	rose-100: #ffe4e6,
	rose-150: #ffd9dd,
	rose-200: #fecdd3,
	rose-250: #feb9c1,
	rose-300: #fda4af,
	rose-350: #fc8b9a,
	rose-400: #fb7185,
	rose-450: #f85872,
	rose-500: #f43f5e,
	rose-550: #eb2e53,
	rose-600: #e11d48,
	rose-650: #d01842,
	rose-700: #be123c,
	rose-750: #af123b,
	rose-800: #9f1239,
	rose-850: #941338,
	rose-900: #881337
);
$default-light: map-get($twcss, gray-700);
$default-dark: map-get($twcss, gray-300);
// =========================
// ===== end, COLORS =====


// === start, TYPOGRAPHY ===
// =========================
// Note from the relevant GitHub SCSS file: "SFMono-Regular needs to come before SF Mono to fix an older version of the font in Chrome"
$sans-serif: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$serif: ui-serif, "New York", Georgia, Cambria, "Times New Roman", Times, serif;
$monospaced: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$social-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;

// like Tailwind **SIZES**
// but not the concomitant `line-height,
// which is in comments
$text-xs: 0.75rem; // LH 1rem
$text-sm: 0.875rem; // LH 1.25rem
$text-base: 1rem; // LH 1.5rem
$text-lg: 1.125rem; // LH 1.75rem
$text-xl: 1.25rem; // LH 1.75 rem (also)
$text-2xl: 1.5rem; // LH 2 rem
$text-3xl: 1.875rem; // LH 2.25rem
$text-4xl: 2.25rem; // LH 2.5rem
$text-5xl: 3rem; // LH 1
$text-6xl: 3.75rem; // LH 1 (also)
$text-7xl: 4.5rem; // LH 1 (also)
$text-8xl: 6rem; // LH 1 (also)
$text-9xl: 8rem; // LH 1 (also)

// underlines for hrefs
$textDcThick: 0.0275rem; // always rem
$textDcThickMd: 0.05rem; // always rem
$textUnOffst: 0.325em; // always em -- min-width: 768px
$textUnOffstMd: 0.275em; // always em -- min-width: 768px
// ^^^ 0.225em is OK with Libre Franklin,
//     but Segoe UI needs at least 0.25em

// =========================
// ==== end, TYPOGRAPHY ====

// === start, MISCELLANY ===
// =========================

// alignment
$bodyalign: left;
$nav-height: 50px;

// breakpoints (mostly based on Tailwind CSS)
$bkpt_sm: 640px;
$bkpt_md: 768px;
$bkpt_ml: 960px; // additional
$bkpt_lg: 1024px;
$bkpt_xl: 1280px;
$bkpt_2xl: 1536px;
$bkpt_3xl: 1920px; // additional

// button
$btn_radius: 6px;

// =========================
// ==== end, MISCELLANY ====
