// Colors
$default-color: hsl(0, 0%, 20%); // same as #333 --- was #374151 (TWCSS "Prose" black)
$default-color-dark-mode: hsl(0, 0%, 87%); // i.e., #dedede
$default-shade: hsl(0, 0%, 28%);
$default-tint: hsla(0, 0%, 67%, 0.72);
$gray-0-5: hsl(219, 100%, 20%);
$gray-1: hsl(0, 0%, 35%);
$gray-1-blue: hsl(218, 90%, 20%);
$gray-2: rgb(199, 199, 199);
$gray-2-blue: hsl(218, 70%, 40%);
$gray-2-dark-mode: hsl(0, 0%, 66%);
$gray-2-5: hsl(0, 0%, 93%);
$gray-3: hsl(0, 0%, 98%);
$gray-3-blue: hsl(218, 50%, 70%); // #8ca8d9
$gray-4-blue: hsl(218, 70%, 85%);
$gray-5-blue: hsl(218, 85%, 95%);
$gray-GitHub: hsl(204, 33%, 97%);
$gray-GitHub-blue: hsl(222, 50%, 97%);
$grayArrow: rgb(156, 163, 176); // rgb(156, 163, 175) -- same as TWCSS `text-gray-400`
$chroma-bkgd: hsl(0, 0%, 93%); // was ededed
$chroma-bkgd-dark-mode: hsl(0, 0%, 33%);
$white: hsl(0, 0%, 100%); // could also be #eee at some point, hence this var
$background-dark-mode: hsl(0, 0%, 0%); // was #181818
$black: hsl(0, 0%, 0%); // could also be #333 at some point, hence this var
$blue: hsl(228, 100%, 50%); // was 0088ff but that's not sufficient contrast for accessibility
$blueFirst: hsl(208, 100%, 50%); // Will use as a hover color only
$blueLight: hsl(204, 100%, 83%); // for use with dark mode where supported
$blueLightCode: hsl(212, 100%, 94%);
$blueLightBtn: hsl(204, 100%, 90%);
$darkerblue: hsl(240, 100%, 25%);
$darkblue: hsl(240, 100%, 33%);
$red: hsl(0, 100%, 41%);
$red-dark-mode: hsl(0, 100%, 75%);
$gold: hsl(55, 100%, 44%);
$paleBlue: hsl(200, 100%, 92%);
$shadow-color: hsla(0, 0%, 0%, 0.2);
$code-color: hsl(120, 100%, 20%); // was 00aa22 and then 006600 but neither is sufficient contrast for accessibility on an f9f9f9 background
$code-color-dark-mode: hsl(120, 100%, 77%);
$code-bkgd-light-mode: hsl(0, 0%, 96%); // for reference, GitHub uses f6f8fa
$code-bkgd-dark-mode: hsl(200, 63%, 15%);
$code-color-tan: hsl(40, 100%, 30%);
$code-color-blueLight-dark-mode: hsl(197, 100%, 77%);
$code-color-orange-dark-mode: hsl(40, 100%, 50%);
$twitter-bkgd-dark-mode: hsl(210, 50%, 10%);

// Typography
// $sans-serif: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Noto Sans", "Liberation Sans", "Helvetica Neue", Helvetica, Roboto, "Segoe UI", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
// $serif: ui-serif, "New York", "Calisto MT", "Palatino Linotype", Times, "Times New Roman", Georgia, Constantia, Cambria, "Noto Serif", "Liberation Serif", serif;
// $monospaced: ui-monospace, SFMono-Regular, "SF Mono", "Liberation Mono", "Noto Sans Mono", "Roboto Mono", Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", Consolas, "Ubuntu Mono", monospace;
/*
Note from the relevant GitHub SCSS file:
"SFMono-Regular needs to come before SF Mono to fix an older version of the font in Chrome"
*/
$sans-serif: "Public Sans", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$twitter-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
$monospaced: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

// rems
$biggest: 2.5rem;
$bigger: 2.25rem;
$mightybig: 2rem;
$sortabig: 1.75rem;
$slightlybig: 1.5rem;
$minimalbig: 1.25rem;
$stdsize: 1rem;
$pokey: 0.85rem;
$legal: 0.75rem;
$timelineTxt: 0.7rem;
$teeny: 0.6rem;

$eightyFive: 85%;
$seventyFive: 75%;
$sixtyFive: 65%;

// like Tailwind **SIZES**
// but not the concomitant `line-height,
// which is in comments
$text-xs: 0.75rem; // LH 1rem
$text-sm: 0.875rem; // LH 1.25rem
$text-base: 1rem; // LH 1.5rem
$text-lg: 1.125rem; // LH 1.75rem
$text-xl: 1.25rem; // LH 1.75 rem (also)
$text-2xl: 1.5rem; // LH 2 rem
$text-3xl: 1.875rem; // LH 2.25rem
$text-4xl: 2.25rem; // LH 2.5rem
$text-5xl: 3rem; // LH 1
$text-6xl: 3.75rem; // LH 1 (also)
$text-7xl: 4.5rem; // LH 1 (also)
$text-8xl: 6rem; // LH 1 (also)
$text-9xl: 8rem; // LH 1 (also)

// alignment
$bodyalign: left;
$nav-height: 50px;

// breakpoints (mostly based on Tailwind CSS)
$bkpt_sm: 640px;
$bkpt_md: 768px;
$bkpt_ml: 960px; // additional
$bkpt_lg: 1024px;
$bkpt_xl: 1280px;
$bkpt_2xl: 1536px;
$bkpt_3xl: 1920px; // additional

// button
$btn_radius: 6px;
