@use 'variables' as var;

/* ====
FOR USE **ONLY** WITH FONTS WITH VARIABLE WEIGHTS
--------
As of 2022-05-15, this includes system fonts such as San Francisco (macOS/iOS) and Segoe UI (Windows); not worrying about Linux distros because they're all over the map on this as with so many other specs.
==== */

b,
strong {
	font-weight: 600;
}

.header-anchor::after {
	font-weight: 425;
}
h1,
.h1,
.background-hero-title-text,
.billboard-title-text,
.posts-Head,
.homePost-Latest,
// .homeOpen h1,
.sitemap-Div h1 {
	font-weight: 600;
	letter-spacing: -0.05em; // for Libre Franklin
}

.homeOpen h1 {
	font-weight: 600;
	letter-spacing: -0.0375em; // for Libre Franklin
}

h2,
.h2,
article h2,
article .h2,
h3,
.h3,
article h3,
article .h3,
h4,
.h4,
article h4,
article .h4,
h5,
.h5,
article h5,
article .h5,
h6,
.h6,
article h6,
article .h6,
.homePost-Title,
.posts-Title {
	font-weight: 550;
	letter-spacing: -0.025em; // for Libre Franklin
}

.prevnextP {
	letter-spacing: -0.025em; // for Libre Franklin
}

.billboard-description-text,
.posts-Description,
.homePost-Description {
	font-weight: 300;
}

.posts-Description,
.homePost-Description {
	letter-spacing: -0.025em; // for Libre Franklin
}

.billboard-description-text {
	letter-spacing: -0.0375em; // for Libre Franklin
}

.billboard-p-text,
.homePost-Dates,
.posts-Dates {
	letter-spacing: -0.025em; // for Libre Franklin
}

// article p, article li {
// 	@media screen and (min-width: var.$bkpt_xl) {
// 		letter-spacing: -0.0175em;
// 	}
// }

.footnotes li,
.footnotes li p,
.yellowBox,
.blueBox,
.tweet-card div,
.tweet-card a,
.tweet-card p {
	letter-spacing: normal;
}

// article code, article p code {
// 	font-size: 1em;
// 	@media screen and (min-width: var.$bkpt_md) {
// 		font-size: 0.975em;
// 	}
// 	@media screen and (min-width: var.$bkpt_xl) {
// 		font-size: 0.95em;
// 	}
// 	@media screen and (min-width: var.$bkpt_2xl) {
// 		font-size: 0.9em;
// 	}
// }

@media screen and (prefers-color-scheme: dark) {
	.header-anchor::after {
		font-weight: 375;
	}
	h1,
	.h1,
	.background-hero-title-text,
	.billboard-title-text,
	.posts-Head,
	.homePost-Latest {
		font-weight: 550;
	}
	h2,
	.h2,
	h3,
	.h3,
	h4,
	.h4,
	h5,
	.h5,
	h6,
	.h6,
	.homePost-Title,
	.posts-Title {
		font-weight: 500;
	}
	.homePost-Title,
	.posts-Title {
		font-weight: 500;
	}
	b,
	strong {
		font-weight: 700;
	}
}
