{{ define "main" }}
	<div class="posts-Wrapper text-center" data-pagefind-ignore>
		<h1 class="pt-8 pb-4 text-5xl">Posts</h1>
		<div class="my-0 mx-auto w-[85%] lg:w-3/4 2xl:w-[62.5%]">

			{{ $paginator := .Paginate (where .Data.Pages "Type" "posts") }}
			{{ $paginator := .Paginator }}

			{{ partial "pagerthing.html" . }}
			<hr class="w-full bg-[var(--bkgd-hr)] mt-2 mb-6" />

			{{ range $paginator.Pages }}
				<div class="m-0 p-0">
					<h2 class="p-0 text-3xl !leading-snug"><a href="{{ .RelPermalink }}">{{ .Title | .Page.RenderString }}</a></h2>
					<p class="mt-2 mb-1 text-lg !leading-snug">
						{{ .Description | .Page.RenderString }}
					</p>
					<p class="mb-6">
						{{- if ne (substr .Title 0 22) "The site this week: 20" -}}<strong>{{ .PublishDate.Format "2006-01-02" }}</strong>{{- end -}}
					</p>
				</div>
			{{ end }}

			<hr class="w-full bg-[var(--bkgd-hr)] mt-0 mb-2 p-0" />
			{{ partial "pagerthing.html" . }}

		</div>
	</div>

{{ end }}
