{{ define "main" }}

	{{ partial "billboard.html" . }}

    <div class="w-4/5 lg:w-[70%] xl:w-1/2 2xl:w-[45%] mt-10 mr-auto ml-auto">
      <article>
        {{ .Content }}
        <div class="font-sans text-center py-4">
          <a class="text-white hover:text-white active:text-white focus:text-white dark:text-black dark:hover:text-black dark:active:text-black dark:focus:text-black border-transparent hover:border-transparent" href="mailto:bw@brycewray.com?subject=“{{ .Title }}”">
						<button class="font-sans my-0 mx-auto text-center text-white dark:text-black w-[15em] py-2 px-1 border border-blue-600 dark:border-blue-300 bg-blue-600 dark:bg-blue-300 hover:cursor-pointer focus:border-blue-700 dark:focus:border-blue-50 focus:bg-blue-700 dark:focus:bg-blue-50 hover:border-blue-700 dark:hover:border-blue-50 hover:bg-blue-700 dark:hover:bg-blue-50 rounded-md">
              <svg aria-hidden="true" class="inline" role="img" height="2em" width="2em" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path fill="currentColor" d="M464 64H48C21.49 64 0 85.49 0 112v288c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48V112c0-26.51-21.49-48-48-48zm0 48v40.805c-22.422 18.259-58.168 46.651-134.587 106.49-16.841 13.247-50.201 45.072-73.413 44.701-23.208.375-56.579-31.459-73.413-44.701C106.18 199.465 70.425 171.067 48 152.805V112h416zM48 400V214.398c22.914 18.251 55.409 43.862 104.938 82.646 21.857 17.205 60.134 55.186 103.062 54.955 42.717.231 80.509-37.199 103.053-54.947 49.528-38.783 82.032-64.401 104.947-82.653V400H48z"></path></svg>&nbsp;&nbsp;<strong>Reply via email</strong>
	          </button>
					</a>
        </div>
      </article>
    </div>

    {{ if or .PrevPage .NextPage }}
      <div class="w-full px-8 py-2 bg-black dark:bg-slate-800 align-middle mt-10 mb-10">
        <p class="font-sans text-center py-0 my-0 fluid-lg text-white !tracking-normal">
          {{ with .NextInSection }}
					Next: <a class="no-underline hover:underline text-blue-200 dark:text-blue-300 hover:text-slate-300 hover:border-blue-200" href="{{.RelPermalink}}">{{.Title}}</a>
					{{ end }}
        </p>
        <p class="font-sans text-center py-0 my-0 fluid-lg text-white !tracking-normal">
          {{ with .PrevInSection }}
          Previous: <a class="no-underline hover:underline text-blue-200 dark:text-blue-300 hover:text-slate-300 hover:border-blue-200" href="{{.RelPermalink}}">{{.Title}}</a>
          {{ end }}
        </p>
      </div>
    {{ end }}
  {{ end }}
