{{ define "main" }}
{{ $readTime := mul (div (countwords .Content) 220.0) 60 }}
{{ $minutes := math.Floor (div $readTime 60) }}
{{ $seconds := mod $readTime 60 }}
{{ $seconds := printf "%02d" $seconds }}

  {{ partial "billboard.html" . }}

  <div class="mr-auto ml-auto px-6" style="max-width: 60ch;">
    <p class="text-xs 2xl:text-base text-center">Estimated reading time: {{ $minutes }}:{{ $seconds }}</p>
    <div class="mr-auto ml-auto border-b-2 border-blue-700 dark:border-white w-5/12"></div>
    <article class="article">
      {{ .Content }}
    </article>
  </div>
  
{{ end }}
