header {
  // font-family: $sans-serif;
  position: fixed;
  width: 100%;
  margin-top: 0;
  background-color: $black;
  @media screen and (prefers-color-scheme: dark) {
    background-color: $darkblue;
  }
  z-index: 9999;
}

.nav {
  color: $white;
  background-color: $black;
  @media screen and (prefers-color-scheme: dark) {
    background-color: $darkblue;
  }
  &-Toggle {
    position: absolute;
    cursor: pointer;
    margin: 0rem 1rem;
    right: 0;

    svg {
      width: 1.5rem;
      fill: $white;
    }
    .close {
      display: none;
    }
    .menu {
      margin-top: 0.2rem;
    }
  }

  &-Checkbox {
    display: none;
  }

  &-Menu {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    background-color: $black;
    @media screen and (prefers-color-scheme: dark) {
      background-color: $darkblue;
    }
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: right;
    // align-items: right;
    margin: 0.5rem 0.5rem 0.5rem 0;
    li {
      list-style: none;
      display: none;
      font-weight: bold;
      padding-right: 0.75em;
      &.notMobile {
        display: none;
      }

      &:first-child {
        padding: 0;
        margin-right: auto;
        margin-left: 1.5rem;
        display: block;
        svg { // for site logo
          width: auto;
        }
      }
    }

    a {
      text-decoration: none;
      border: 0;
      color: $white;
    }

    svg {
      width: 1.5rem;
      fill: $white;
    }
  }
}

#nav-Checkbox:checked ~ ul.nav-Menu li {
  display: block;
}

#nav-Checkbox:checked ~ label.nav-Toggle .close {
  display: block;
}

#nav-Checkbox:checked ~ label.nav-Toggle .menu {
  display: none;
}

#nav-Checkbox:checked ~ ul.nav-Menu {
  padding-bottom: 1rem;
}

// now, larger screens

@media only screen and (min-width: $bkpt_lg) {
  .nav {
    &-Toggle {
      display: none;
    }

    &-Menu {
      flex-direction: row;
      padding: 0;
      gap: 0.5rem;
      margin: 0.5rem 1.5rem 0 0;

      li {
        font-size: $pokey;
        display: block;
        text-transform: uppercase;
        // letter-spacing: 0.2em;
        margin: 0.5rem 0 0.5rem 0;
        // padding: 0;
        &.notMobile {
          display: block;
        }

        &:first-child {
          letter-spacing: normal;
          line-height: 0;
          margin-top: 0;
        }
      }
    }
  }
}