// === posts and post lists

/*
.posts-Container, .posts-ReadingTime {
  font-family: $sans-serif;
}
*/

.posts {
  &-Container {
    margin: 0 auto;
    width: 85%;
    @media screen and (min-width: $BkPt-lg) {
      width: 75%;
    }
    @media screen and (min-width: $BkPt-2xl) {
      width: 62.5%
    }
  }
  &-Head {
    padding-top: 2.5rem;
    font-size: 2.5rem;
    letter-spacing: -0.025em;
    margin-bottom: 0.25em;
    @media screen and (min-width: $BkPt-lg) {
      padding-top: 3.25rem;
      font-size: 3.25rem;
    }
    @media screen and (min-width: $BkPt-2xl) {
      padding-top: 4rem;
      font-size: 4rem;
    }
  }
  &-Title {
    margin-bottom: 0.25em;
    padding: 0;
    font-size: 1.5rem;
    letter-spacing: -0.025em;
    @media screen and (min-width: $BkPt-lg) {
      font-size: 1.75rem;
    }
    @media screen and (min-width: $BkPt-2xl) {
      font-size: 2rem;
    }
  }
  &-Subtitle {
    letter-spacing: -0.0125em;
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    @media screen and (min-width: $BkPt-lg) {
      font-size: 1.25rem;
    }
    @media screen and (min-width: $BkPt-2xl) {
      font-size: 1.5rem;
    }
  }
  &-Dates {
    font-size: 0.75rem;
    line-height: 1.5em;
    margin-top: 0.25em;
    margin-bottom: 0.5em;
    @media screen and (min-width: $BkPt-lg) {
      font-size: 0.875rem;
    }
    @media screen and (min-width: $BkPt-2xl) {
      font-size: 1rem;
    }
  }
  &-Description {
    font-size: 1rem;
    line-height: 1.5em;
    margin-top: 0;
    margin-bottom: 1.5em;
    @media screen and (min-width: $BkPt-lg) {
      font-size: 1.125rem;
    }
    @media screen and (min-width: $BkPt-2xl) {
      font-size: 1.25rem;
    }
  }
}

.post-line {
  border-top: 0.2rem solid $darkblue;
  @media screen and (prefers-color-scheme: dark) {
    border-color: #fff;
  }
  display: block;
  margin: 0 auto 2rem;
  width: 15rem;
}

.bg-dark {
  // font-family: $sans-serif;
  margin-top: 2.5rem;
  background-color: $darkblue !important;
  padding: 0.5rem 0 1rem 0;
  div, p {
    color: #fff;
  }
  h3, p {
    margin: 0;
    padding: 0.15rem 0;
  }
  h3.prevnextH3 {
    font-size: 1.875rem;
    font-style: normal;
  }
  p.prevnextP {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.25rem;
  }
  a, a:hover, a:focus {
    color: #aaddff !important;
  }
  a {
    border-bottom: 0;
  }
  a:hover, a:focus {
    border-bottom: 1px solid #aaddff !important;
  }
}

hr.paginatorTop, hr.paginatorBottom {
  width: 65%;
  @media screen and (min-width: $BkPt-lg) {
    width: 50%;
  }
  @media screen and (min-width: $BkPt-2xl) {
    width: 40%;
  }
}

hr.paginatorTop {
  margin-top: 0;
  margin-bottom: 1.5em;
}

hr.paginatorBottom {
  margin-top: 2em;
}

.featured-image-caption {
  margin-top: 0.25rem;
  padding-bottom: 1.5rem;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  text-align: center !important;
  font-family: $sans-serif;
  font-size: $legal;
  color: $grey-1;
  @media (prefers-color-scheme: dark) {
    color: $grey-2-dark-mode;
  }
}

// === end, posts and post lists