/*
.twitter-tweet {
  margin: 1rem auto 0 auto;
  padding: 0.25rem;
  border-radius: 12px;
  background-color: #fff;
  border: 2px solid $grey-1;
  @media screen and (prefers-color-scheme: dark) {
    border: 2px solid $grey-2;
  }
}
*/
