{{ define "main" }}

	<div class="font-sans sm:w-5/6 md:w-4/5 lg:w-7/12 mr-auto ml-auto pt-10 px-6 lg:px-16">
		<h1 class="text-center font-extrabold text-3xl lg:text-4xl 2xl:text-5xl mb-2">Sitemap</h1>
		<div class="post-line"></div>
		<h2 class="text-2xl font-bold mt-6 mb-4">Main pages</h2>
		<ul>
			<li class="text-sm my-1"><a href="{{ .Site.BaseURL }}">Home page</a></li>
			<li class="text-sm my-1"><a href="{{ .Site.BaseURL }}about/">About me</li>
			<li class="text-sm my-1"><a href="{{ .Site.BaseURL }}privacy/">Site&rsquo;s privacy policy</a></li>
			<li class="text-sm my-1"><a href="{{ .Site.BaseURL }}contact/">How to contact me</a></li>
		</ul>
		<h2 class="text-2xl font-bold mt-6 mb-4">Posts</h2>
		<ul>
			<li class="text-sm my-2"><a href="/posts"><strong>Complete list</strong></a> <em>(first page of paginated list; five posts per page)</em></li>
		{{- range where .Site.Pages.ByPublishDate.Reverse ".Type" "posts" -}}
			{{- if (ne .Title "Posts") -}}
			<li class="text-sm my-2"><strong><a href="{{ .Permalink }}">{{ .Title | .Page.RenderString }}</a></strong>{{- if ne (substr .Title 0 22) "The site this week: 20" -}}&nbsp;&nbsp;<span class="text-xs text-nowrap"><strong>{{ .PublishDate.Format "2006-01-02" }}</strong></span>{{- end -}}<br />
			<span>{{ .Description | .Page.RenderString }}</span></li>
			{{- end -}}
		{{- end -}}
		</ul>
	</div>

{{ end }}
