{{ define "main" }}
<h1 class="ctr" style="margin-top: 0.5em; margin-bottom: 0.25em;">{{ .Title | markdownify}}</h1>

<h2 class="ctr h4" style="margin-top: 0;">
  {{- if .Params.Subtitle }}
    {{ .Params.Subtitle | markdownify }}
  {{- else }}
    &nbsp;
  {{- end }}
</h2>
<p class="text-muted text-sans-serif ctr">
  Published: {{ .Date.Format "January 2, 2006"  }}<br /><span style="font-size: 85%;">
  {{- if ne .PublishDate .Lastmod }}
    Last modified: {{ .Lastmod.Format "January 2, 2006" }}
  {{- else }}
    &nbsp;
  {{- end }}
  </span>
</p>

<div class="post-line"></div> 

{{- if isset .Params "featured_image" }}
  <img src="{{ .Site.BaseURL }}{{ index .Params "featured_image" }}" class="img-fluid featured-image" alt="{{ index .Params "featured_image_alt" }}">
  {{- if isset .Params "featured_image_caption" }}
    <p class="featured-image-caption">{{ index .Params "featured_image_caption" }}</p>
  {{- end }}
{{- end }}

<div class="container-narrower">
    <article class="article">
      {{ .Content }}
    </article>
  </div>

  <div class="container container-comments">
    <p>&nbsp;</p>
    <!-- Comments code -->
    <script>talkyardServerUrl='{{ .Site.Params.talkyardServerUrl }}';</script>
    <script async defer src="{{ .Site.Params.talkyardScriptUrl }}"></script>
    <!-- You can specify a per page discussion id on the next line, if your URLs might change. -->
    <div class="talkyard-comments" data-discussion-id="{{ .Params.discussionId }}" style="margin-top: 3em;">
      <noscript>Please enable Javascript to view comments.</noscript>
      <!-- commenting this out because it's in the footer -- <p class="legal text-muted" style="margin-top: 2em;">Comments powered by <a href="https://www.talkyard.io">Talkyard</a>.</p>-->
    </div>
    <!-- end, Comments code -->
  </div>
  

{{ end }}