html,
body {
  font-family: $sans-serif-boot !important;
  color: $default-color;
  letter-spacing: -0.01em; // old browsers
  letter-spacing: -0.015rem;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-rendering: optimizeLegibility;
}

p, li {
  line-height: 1.4;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: $sans-serif-boot;
  color: $darkblue;
  letter-spacing: -0.05em; // old browsers
  letter-spacing: -0.05rem;
  font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
  display: block;
  margin-block-start: 0.25em;
  margin-block-end: 0.25em;
}

h1, .h1 {
  font-size: $biggest + unquote("em"); // old browsers
  font-size: $biggest + unquote("rem");
}

h2, .h2 {
  font-size: $bigger + unquote("em"); // old browsers
  font-size: $bigger + unquote("rem");
}

h3, .h3 {
  font-size: $mightybig + unquote("em"); // old browsers
  font-size: $mightybig + unquote("rem");
}

h4, .h4 {
  font-size: $sortabig + unquote("em"); // old browsers
  font-size: $sortabig + unquote("rem");
}

h5, .h5, h6, .h6 {
  font-size: $slightlybig + unquote("em"); // old browsers
  font-size: $slightlybig + unquote("rem");
}

a, a:focus, a:hover, a:active {
  text-decoration: none;
}

a {
  color: $blue;
}

a:focus, a:hover, a:active {
  color: $darkblue;
}

blockquote {
  border-left: .25em solid $grey-2; // old browsers
  border-left: .25rem solid $grey-2;
  color: $grey-1;
  margin: .8em 0; // old browsers
  margin: .8rem 0;
  padding: .5em 1em; // old browsers
  padding: .5rem 1rem;

  p:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 600px) {
    padding: 0 5em 0 1.25em; // old browaers
    padding: 0 5rem 0 1.25rem;
  }
}

/*
img {
  display: block;
  margin: 0 0 1rem;
  margin: 0 0 1em;
  max-width: 100%;
}
*/

td {
  vertical-align: top;
}

.footnotes {
  font-size: $legal + unquote("em"); // old browsers
  font-size: $legal + unquote("rem");

  ol li {
    margin-bottom: 0.5em;
  }
}

sup.footnote-ref {
  font-size: $teeny + unquote("em"); // old browsers
  font-size: $teeny + unquote("rem");
}

a.footnote-return{
  font-size: 50%;
}

.microblog {

  &_timeline {
    color: $default-color;
    font-size: $timelineTxt + unquote("em"); // old browsers
    font-size: $timelineTxt + unquote("rem");
  }

  &_post {
    /* */
    border-bottom: 1px solid $grey-2;
    padding-bottom: 0.5em; // old browsers
    padding-bottom: 0.5rem;
  }

  &_text {
    /* */
    img {
      height: auto;
    }
  }

  &_time {
    color: $grey-1;
    text-align: right;
  }
}

.ctr {
  text-align: center;
}

.teenytxt, .teeny {
  font-size: $teeny + unquote("em"); // old browsers
  font-size: $teeny + unquote("rem");
}

.legaltxt, .legal {
  font-size: $legal + unquote("em"); // old browsers
  font-size: $legal + unquote("rem");
}

.pokeytxt, .pokey {
  font-size: $pokey + unquote("em"); // old browsers
  font-size: $pokey + unquote("rem");
}

.nobrk {
  white-space: nowrap;
  font-size: inherit;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin-bottom: 1em;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

pre, code {
  white-space: inherit; // otherwise, code causes horizontal overflow
}