{{ define "main" }}
    <div class="container">
        <h1 class="mt-5 text-center"><strong>{{ .Title | markdownify }}</strong></h1>
        <div class="post-line"></div>

        {{ range first 2 (where .Pages "Section" "posts") }}				
            <div class="row" style="margin-bottom: 1rem;">
                <div class="col-md-7">
                    <a href="{{ .Permalink }}">
                        <h2 style="margin-bottom: 0;">{{ .Title | markdownify }}</strong></h2>
                        <time class="pokey text-muted" style="margin-top: 0;" datetime="{{ .PublishDate }}">{{ .PublishDate.Format "January 2, 2006" }}</time>
                        <p class="text-body">
                            {{ .Summary }}
                            {{ if .Truncated }}
                                <br />
                                <strong class="text-link">Read&nbsp;more&nbsp;.&nbsp;.&nbsp;</strong>.
                            {{ end }}
                        </p>
                    </a>
                </div>
                <div class="col-md-5">
                    {{- if isset .Params "featured_image" }}
                        <a href="{{ .Permalink }}">
                            <img src="{{ index .Params "featured_image" }}" class="img-fluid">
                        </a>
                    {{- end }}
                    </div>
                </div>
        {{ end }}
        {{ range after 2 (where .Pages "Section" "posts") }}				
        <div>          
        <a href="{{ .RelPermalink }}">
            <h2 class="h5" style="margin-bottom: 0;">{{ .Title | markdownify }}</h2>
            <time datetime="{{ .PublishDate }}" class="pokey text-muted">{{ .PublishDate.Format "January 2, 2006" }}</time>
            <p class="pokey text-body">
            {{ .Summary }}
            {{ if .Truncated }}
                <strong class="text-link text-nowrap">Read more&nbsp;.&nbsp;.&nbsp;.</strong>
            {{ end }}
            </p>
        </a>
        </div>
        {{ end }}
        <div class="teeny ctr" style="margin-top: 3rem;">
            <p style="margin-top: 0; margin-bottom: 0;">For media credits (where applicable), see the original posts linked&nbsp;herein.</p>
        </div>
    </div>

{{ end }}