{{ define "main" }}
    <div class="container">
        <h1 class="mt-5 text-center">{{ .Title | markdownify }}</h1>
        <div class="post-line"></div>

        <div class="container-fluid content-row">
            <div class="row" style="margin-bottom: 1rem;">
            {{ range first 2 (where .Pages "Section" "posts") }}
                <div class="col-sm-12 col-lg-6 text-center" style="margin-bottom: 0.5rem;">
                    <a href="{{ .RelPermalink }}">
                    <div class="card h-100">
                        {{- if isset .Params "featured_image" }}
                            <img class="card-img-top card-img-crop"  src="{{ index .Params "featured_image" }}" alt="{{ .Title }}">
                        {{- end }}
                        <div class="card-body">
                            <h2 class="card-title h3" style="margin-bottom: 0;">{{ .Title }}</h2>
                            <time datetime="{{ .PublishDate }}" class="pokey text-muted">{{ .PublishDate.Format "January 2, 2006" }}</time>
                            <p class="card-text pokey text-body">{{ .Summary }}
                                {{ if .Truncated }}
                                <br />
                                &nbsp;<br />
                                <button type="button" class="btn btn-primary pokey">Read more</button>
                                {{ end }}
                            </p>
                        </div>
                    </div>
                    </a>
                </div>
            {{ end }}
            </div>
        </div>

        {{ range after 2 (where .Pages "Section" "posts") }}				
        <div class="container container-narrower">          
        <a href="{{ .RelPermalink }}">
            <h2 class="h5" style="margin-bottom: 0;">{{ .Title | markdownify }}</h2>
            <time datetime="{{ .PublishDate }}" class="pokey text-muted">{{ .PublishDate.Format "January 2, 2006" }}</time>
            <p class="pokey text-body">
            {{ .Summary }}
            {{ if .Truncated }}
                <strong class="text-link text-nowrap">Read more&nbsp;.&nbsp;.&nbsp;.</strong>
            {{ end }}
            </p>
        </a>
        </div>
        {{ end }}
        <div class="teeny ctr" style="margin-top: 3rem;">
            <p style="margin-top: 0; margin-bottom: 0;">For media credits (where applicable), see the original posts linked&nbsp;herein.</p>
        </div>
    </div>

{{ end }}