{{- $email := site.Params.AuthorEmail -}}
<contact-button data-pagefind-ignore aria-label="Link for generating email to reply to this website post" class="nScrHidden">
{{- if eq site.Params.EmailObfuscation "local" -}}
	<script{{ if site.Params.Nonces }} nonce="DhcnhD3khTMePgXw"{{ end }}>
		var email64Link ='{{ (print "href=\"mailto:" $email) | base64Encode }}';
		document.write('<a ' + atob(email64Link) + '?subject=“{{ .Title }}”" class="contact-button">');
	</script>
{{- else -}}
	<a href="mailto:{{ $email }}?subject=“{{ .Title }}”" class="contact-button">
{{- end }}
		<span class="svg">
			<svg aria-hidden="true" class="inline" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M20 4H4c-1.103 0-2 .897-2 2v12c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2zm0 2v.511l-8 6.223-8-6.222V6h16zM4 18V9.044l7.386 5.745a.994.994 0 0 0 1.228 0L20 9.044 20.002 18H4z"></path></svg>
		</span>
		<span class="legend">Reply via email</span>
	</a>
</contact-button>
{{- if eq site.Params.EmailObfuscation "local" -}}
<noscript><p class="ctr legal">“Reply via email” button and its contained email link hidden in an attempt to limit spambots’ access. Please activate JavaScript to see the button.</p></noscript>{{- end -}}
