		<footer{{ if (and (eq .Section "posts") (ne .Title site.Params.Titles.Postslist)) }} class="with-bg-dark"{{ end }} data-pagefind-ignore>
			<div class="footer-wrapper">
				<div class="icons-box">
					<a class="icon" rel="me noopener" title="GitHub" href="https://github.com/brycewray" aria-label="GitHub">
						{{- partialCached "svgGitHubIcon.html" . -}}
					</a>
					<a class="icon" rel="me noopener" title="GitLab" href="https://gitlab.com/brycewray" aria-label="GitLab">
						{{- partialCached "svgGitLabIcon.html" . -}}
					</a>
					<a class="icon" rel="me noopener" title="Mastodon" href="https://hachyderm.io/@BryceWrayTX" aria-label="Mastodon">
						{{- partialCached "svgMastodonIcon.html" . -}}
					</a>
					<a class="icon" rel="me noopener" title="Bluesky" href="https://bsky.app/profile/brycewray.com" aria-label="Bluesky">
						{{- partialCached "svgBlueskyIcon.html" . -}}
					</a>
					<a class="icon" title="RSS/Atom feed" href="/index.xml" rel="noopener" aria-label="RSS/Atom feed">
						{{- partialCached "svgRSSIcon.html" . -}}
					</a>
					<a class="icon" title="JSON feed" href="/index.json" rel="noopener" aria-label="JSON feed">
						{{- partialCached "svgJSONfeedIcon.html" . -}}
					</a>
				</div>
				<p>
					<span class="text-nowrap"><a href="/sitemap/">HTML sitemap</a> &bull; <a href="/sitemap.xml">XML sitemap</a></span>
				</p>
				<p id="footer-info">
					Textual content &copy; 2018&ndash;{{ now.Year }} <a class="h-card" rel="me" href="https://www.brycewray.com/">Bryce&nbsp;Wray</a> except&nbsp;where otherwise noted and/or quoting external&nbsp;sources.<br />
					<span class="text-nowrap">Affiliated with <a href="https://usefathom.com/ref/ZKHYWX" rel="noopener">Fathom&nbsp;Analytics</a> <em>(affiliate link)</em>.</span><br />
				</p>
			</div>
		</footer>
