// for lazy-picture.js

.LPindexDiv {
  height: 100%;
}

.LPindexImg {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

.LPpostsDiv {
  height: 100%;
}

.LPdefaultDiv {
  position: relative;
}
