  <div class="billboard-div">
    <div class="billboard-title-block">
      <h1 class="billboard-title-text">{{ .Title | markdownify}}</h1>
      <h2 class="billboard-subtitle-text">{{- if .Params.Subtitle }}{{ .Params.Subtitle | markdownify }}{{- else -}}&nbsp;{{- end }}</h2>
      <p class="billboard-description-text">{{- if .Params.Description }}{{ .Params.Description }}{{- else -}}&nbsp;{{- end }}</p>
      <p class="billboard-p-text"><strong>{{ .PublishDate.Format "January 2, 2006" }}</strong><br />{{- if ne .PublishDate .Lastmod }}<span class="seventyFive">Last modified {{ .Lastmod.Format "January 2, 2006" }}</span>{{- else -}}&nbsp;{{- end }}</p>
    </div>
  </div>
