/* Background */ .chroma { color: #d0d0d0; background-color: #202020 }
/* Other */ .chroma .x { color: #ffffff }
/* Error */ .chroma .err { color: #fd7777; }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
/* LineHighlight */ .chroma .hl { display: block; width: 100%;background-color: #ffffcc }
/* LineNumbersTable */ .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #686868 }
/* LineNumbers */ .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #686868 }
/* Keyword */ .chroma .k { color: #80ffff } /* was 6ab825 */
/* KeywordConstant */ .chroma .kc { color: rgb(186, 230, 253) }
/* KeywordDeclaration */ .chroma .kd { color: rgb(186, 230, 253) }
/* KeywordNamespace */ .chroma .kn { color: rgb(186, 230, 253) }
/* KeywordPseudo */ .chroma .kp { color: rgb(186, 230, 253) }
/* KeywordReserved */ .chroma .kr { color: rgb(186, 230, 253) }
/* KeywordType */ .chroma .kt { color: rgb(186, 230, 253) }
/* Name */ .chroma .n { color: #ff9970 }
/* NameAttribute */ .chroma .na { color: rgb(186, 230, 253) }
/* NameBuiltin */ .chroma .nb { color: lightblue } /* was #24909d
/* NameBuiltinPseudo */ .chroma .bp { color: #efefef }
/* NameClass */ .chroma .nc { color: #de9aef } /* was 447fcf */
/* NameConstant */ .chroma .no { color: #40ffff }
/* NameDecorator */ .chroma .nd { color: #ffa500 }
/* NameEntity */ .chroma .ni { color: #efefef }
/* NameException */ .chroma .ne { color: #bbbbbb }
/* NameFunction */ .chroma .nf { color: #8ad2fc } /* was 447fcf */
/* NameFunctionMagic */ .chroma .fm { color: #efefef }
/* NameLabel */ .chroma .nl { color: #efefef }
/* NameNamespace */ .chroma .nn { color: #99cfef } /* was 447fcf */
/* NameOther */ .chroma .nx { color: #efefef }
/* NameProperty */ .chroma .py { color: #efefef }
/* NameTag */ .chroma .nt { color: rgb(186, 230, 253) }
/* NameVariable */ .chroma .nv { color: #40ffff }
/* NameVariableClass */ .chroma .vc { color: #efefef }
/* NameVariableGlobal */ .chroma .vg { color: #efefef }
/* NameVariableInstance */ .chroma .vi { color: #efefef }
/* NameVariableMagic */ .chroma .vm { color: #efefef }
/* Literal */ .chroma .l { color: #efefef }
/* LiteralDate */ .chroma .ld { color: #efefef }
/* LiteralString */ .chroma .s { color: rgb(255, 255, 128) }
/* LiteralStringAffix */ .chroma .sa { color: rgb(255, 255, 128) }
/* LiteralStringBacktick */ .chroma .sb { color: rgb(255, 255, 128) }
/* LiteralStringChar */ .chroma .sc { color: rgb(255, 255, 128) }
/* LiteralStringDelimiter */ .chroma .dl { color: rgb(255, 255, 128) }
/* LiteralStringDoc */ .chroma .sd { color: rgb(255, 255, 128) }
/* LiteralStringDouble */ .chroma .s2 { color: rgb(255, 177, 146) } /* was ed9d13 */
/* LiteralStringEscape */ .chroma .se { color: rgb(255, 255, 128) }
/* LiteralStringHeredoc */ .chroma .sh { color: rgb(255, 255, 128) }
/* LiteralStringInterpol */ .chroma .si { color: rgb(255, 255, 128) }
/* LiteralStringOther */ .chroma .sx { color: #ffa500 }
/* LiteralStringRegex */ .chroma .sr { color: rgb(255, 255, 128) }
/* LiteralStringSingle */ .chroma .s1 { color: rgb(255, 255, 128) }
/* LiteralStringSymbol */ .chroma .ss { color: rgb(255, 255, 128) }
/* LiteralNumber */ .chroma .m { color: #7fcad7 }
/* LiteralNumberBin */ .chroma .mb { color: #7fcad7 }
/* LiteralNumberFloat */ .chroma .mf { color: #7fcad7 }
/* LiteralNumberHex */ .chroma .mh { color: #7fcad7 }
/* LiteralNumberInteger */ .chroma .mi { color: #ffffff }
/* LiteralNumberIntegerLong */ .chroma .il { color: #7fcad7 }
/* LiteralNumberOct */ .chroma .mo { color: #fff56f }
/* Operator */ .chroma .o { color: rgb(251, 191, 36) }
/* OperatorWord */ .chroma .ow { color: rgb(186, 230, 253) }
/* Punctuation */ .chroma .p { color: rgb(192, 192, 192) }
/* Comment */ .chroma .c { color: #bbffdd; }
/* CommentHashbang */ .chroma .ch { color: #bbffdd; }
/* CommentMultiline */ .chroma .cm { color: #bbffdd; }
/* CommentSingle */ .chroma .c1 { color: #bbffdd; }
/* CommentSpecial */ .chroma .cs { color: #e50808; background-color: #520000 }
/* CommentPreproc */ .chroma .cp { color: #ff8585 }
/* CommentPreprocFile */ .chroma .cpf { color: #cd2828 }
/* Generic */ .chroma .g { color: #efefef }
/* GenericDeleted */ .chroma .gd { color: #d22323 }
/* GenericEmph */ .chroma .ge { font-style: italic }
/* GenericError */ .chroma .gr { color: #d22323 }
/* GenericHeading */ .chroma .gh { color: #ffffff }
/* GenericInserted */ .chroma .gi { color: #589819 }
/* GenericOutput */ .chroma .go { color: #cccccc }
/* GenericPrompt */ .chroma .gp { color: #aaaaaa }
/* GenericStrong */ .chroma .gs { font-weight: bold }
/* GenericSubheading */ .chroma .gu { color: #ffffff }
/* GenericTraceback */ .chroma .gt { color: #d22323 }
/* GenericUnderline */ .chroma .gl { text-decoration: underline }
/* TextWhitespace */ .chroma .w { color: #666666 }
