{{ define "main" }}
    <div class="container">
        <h1 class="ctr">{{ .Title | markdownify }}</h1>
        <div class="post-line"></div>

        <div class="container-posts-cards">
               {{ range first 2 (where .Pages "Section" "posts") }}
               <div class="column ctr">
                <div class="card">
                    {{- if isset .Params "featured_image" }}
                    <img class="card-img-top card-img-crop"  src="{{ .Site.BaseURL }}{{ index .Params "featured_image" }}" alt="{{ index .Params "featured_image_alt" }}">
                    {{- end }}
                    <div class="card-body">
                        <h2 class="card-title h4" style="margin-bottom: 0;"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
                        <time datetime="{{ .PublishDate }}" class="pokey text-muted text-sans-serif">{{ .PublishDate.Format "January 2, 2006" }}</time>
                        <p class="card-text pokey text-body">{{ .Summary }}</p>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>

        {{ range after 2 (where .Pages "Section" "posts") }}				
        <div class="container-narrower">          
        
            <h2 class="h5" style="margin-bottom: 0;"><a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a></h2>
            <time datetime="{{ .PublishDate }}" class="pokey text-muted text-sans-serif">{{ .PublishDate.Format "January 2, 2006" }}</time>
            <p class="pokey text-body">
            {{ .Summary }}
            </p>
        
        </div>
        {{ end }}
        <div class="teeny ctr" style="margin-top: 3rem;">
            <p style="margin-top: 0; margin-bottom: 0;">For media credits (where applicable), see the original posts linked&nbsp;herein.</p>
        </div>
    </div>

{{ end }}