html, body {
  font-family: $sans-serif;
  color: $default-color;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  // font-feature-settings: "liga" 1; // ligatures won't work without this
  @media (prefers-color-scheme: dark) {
    background: $background-dark-mode;
    color: $default-color-dark-mode;
  }
}

.IEonly {
  display: none;
}

p, li {
  line-height: 1.4;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-weight: bold;
  letter-spacing: -0.025rem;
  @media (prefers-color-scheme: dark) {
    color: $default-color-dark-mode;
  }
}

h1, h2, h3, h4, h5, h6 {
  display: block;
  margin-block-start: 0.25rem;
  margin-block-end: 0.25rem;
}

h3, .h3, h5, .h5 {
  font-style: italic;
}

h1, .h1 {
  font-size: $biggest + unquote("rem");
}

h2, .h2 {
  font-size: $bigger + unquote("rem");
}

h3, .h3 {
  font-size: $mightybig + unquote("rem");
}

h4, .h4 {
  font-size: $sortabig + unquote("rem");
}

h5, .h5, h6, .h6 {
  font-size: $slightlybig + unquote("rem");
}

a, a:focus, a:hover, a:active {
  text-decoration: none;
  border-bottom: 1px solid $blue;
  // text-decoration-skip-ink: auto;
}

a {
  color: $blue;
  border-bottom: 1px solid $blueFirst;
  @media (prefers-color-scheme: dark) {
    color: $blueLight;
    border-bottom: 1px solid $blueFirst;
  }
}

a:focus, a:hover, a:active {
  color: $darkblue;
  @media (prefers-color-scheme: dark) {
    color: $grey-2;
    border-bottom: 1px solid $blueLight;
  }
}

sup a, a.previous, a.next, .footnote-return, a.icon {
  border-bottom: 0;
}

blockquote {
	color: $grey-1;
  @media (prefers-color-scheme: dark) {
    color: $grey-2-dark-mode;
  }
  p:last-child {
    margin-bottom: 0;
  }
}

td {
  vertical-align: top;
}

sub, sup {
  font-size: 65%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5rem;
}


a.footnote-return{
  font-size: 50%;
}

.ctr {
  text-align: center;
}

.rgt {
  text-align: right;
}

.wht {
  color: #fff;
}

.smallCaps {
  font-variant: small-caps;
}

.bigger {
  font-size: $bigger + unquote("rem");
}

.sortabig {
  font-size: $sortabig + unquote("rem");
}

.teenytxt, .teeny {
  font-size: $teeny + unquote("rem");
}

.legaltxt, .legal {
  font-size: $legal + unquote("rem");
}

.pokeytxt, .pokey {
  font-size: $pokey + unquote("rem");
}

.nobrk {
  white-space: nowrap;
  font-size: inherit;
}