#content, main {
  padding-top: 40px;
}

#content .topOfMain, main .topOfMain {
  margin-top: 0.5rem;
  font-size: 2.25rem;
}

.text-nowrap, .nobrk {
  white-space: nowrap;
}

img.containedImage, figure {
  display: block;
  width: 100%;
  height: auto;
  margin: 1rem auto;
  margin-right: auto;
  margin-left: auto;
}

.text-link {
  color: $blue;
}

.text-link:active, .text-link:focus, .text-link:hover {
  color: $darkblue;
}

.text-muted {
  color: $grey-1;
  @media (prefers-color-scheme: dark) {
    color: $grey-2-dark-mode;
  }
}

.text-body {
  color: $default-color;
}

footer {
  text-align: center;
  font-size: $legal + unquote("rem");
  margin: 4rem auto 0 auto;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  p {
    line-height: 1.5em; // definitely em, not rem, here
  }
  div.footerWrapper {
    margin: 0 auto;
    width: 80%;
  }
  @media (min-width: 900px) {
    margin: 2rem auto 0 auto;
    padding-bottom: 1rem;
    div.footerWrapper {
      width: 65%;
    }
  }

  @media (prefers-color-scheme: dark) {
    background: linear-gradient(
      rgba(0, 0, 0, 0.0),
      rgba(5, 0, 169, 1.00)
    );
  }
}

.imgCover {
  object-fit: cover;
  object-position: 50% 50%; // H = middle; V = middle
  height: 100%;
  width: 100%;
}

.hero-home {
  background: linear-gradient(
    rgba(0,0,170,1.00),
    rgba(0,0,85,1.00)
  );
  margin-top: 0;
  margin-bottom: 0;
  overflow: hidden;
  height: 50vh;
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    height: 60vh;
  }
  @media screen and (min-width: 1025px) {
    height: 70vh;
  }
}

.background-hero {
  &-div {
    background: linear-gradient(
      rgba(0,0,170,1.00),
      rgba(0,0,85,1.00)
    );
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    position: relative;
    height: 70vh;
    @media screen and (min-width: 769px) and (max-width: 1024px) {
      height: 75vh;
    }
    @media screen and (min-width: 1025px) {
      height: 80vh;
    }
  }
  &-image-div {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 70vh;
    max-height: 70vh;
    @media screen and (min-width: 769px) and (max-width: 1024px) {
      height: 75vh;
      max-height: 75vh;
    }
    @media screen and (min-width: 1025px) {
      height: 95vh;
      max-height: 95vh;
    }
  }
  &-title-block-fit {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  &-title-block {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(
      transparent,
      rgba(0,0,0,.75) 80%,
      #000
    );
  }
  &-title-text, &-subtitle-text, &-description-text {
    color: #fff;
    margin: 0 auto;
    text-shadow: 4px 4px 2px #000;
    text-align: center;
    padding: 0.25em; // definitely em, not rem
    @media screen and (min-width: 769px) and (max-width: 1024px) {
      text-align: left;
    }
    @media screen and (min-width: 1025px) {
      text-align: left;
    }
  }
  &-title-text {
    font-size: 2.5rem;
    padding-top: 0.5em; // definitely em, not rem
    padding-bottom: 0;
    @media screen and (min-width: 769px) and (max-width: 1024px) {
      font-size: 3.5rem;
      padding-right: 4%;
      padding-left: 4%;
    }
    @media screen and (min-width: 1025px) {
      padding-top: 0;
      font-size: 4.5rem;
      padding-right: 5%;
      padding-left: 5%;
    }
  }
  &-subtitle-text {
    font-style: italic;
    font-size: 1.5rem;
    padding-top: 0.25em; // definitely em, not rem
    padding-bottom: 0.5em; // definitely em, not rem
      @media screen and (min-width: 769px) and (max-width: 1024px) {
      padding-top: 1em; // definitely em, not rem
      font-size: 2.25rem;
      padding-right: 4%;
      padding-left: 4%;
    }
    @media screen and (min-width: 1025px) {
      font-size: 3rem;
      padding-top: 0.75em; // definitely em, not rem
      padding-right: 5%;
      padding-left: 5%;
    }
  }
  &-description-text {
    display: none; // appears only on wider screens
    @media screen and (min-width: 769px) {
      display: block;
      padding-top: 0.25em; // definitely em, not rem
      font-size: 1.25rem;
      padding-right: 4%;
      padding-left: 4%;
    }
    @media screen and (min-width: 1025px) {
      font-size: 1.5rem;
      padding-right: 4%;
      padding-left: 5%;
    }
  }
  &-p-text {
    color: #fff;
    text-shadow: 4px 4px 2px #000;
    text-align: center;
    @media screen and (min-width: 1024px) {
      text-align: right;
      padding-right: 5%;
    }
  }
}


img.featured-image {
  display: block;
  width: 90%;
  @media (min-width: 900px) {
    width: 65%;
  }
  height: auto;
  margin: 0 auto;
  &-hero {
    width: 100%;    
  }
}

.featured-image-caption {
  margin-top: 0.25rem;
  padding-bottom: 1.5rem;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  text-align: center !important;
  font-size: $legal + unquote("rem");
  color: $grey-1;
  @media (prefers-color-scheme: dark) {
    color: $grey-2-dark-mode;
  }
}

table.leagues {
	width: 90%;
	margin: 1rem auto 0 auto;
	border: 0;
	border-collapse: collapse;
	@media (min-width: 900px) {
		width: 60%;
	}
	td.col {
		width: 50%;
	}
}

table.noborders {
  width: 100%;
  margin: 1.5rem auto 1rem auto;
  border: 0;
  border-collapse: collapse;

  tr {
    @media (prefers-color-scheme: dark) {
      background-color: $default-color-dark-mode;
      color: $default-color;
    }
  }

  td {
    text-align: left !important;
    vertical-align: middle;
    padding: 0.25rem 0 0.25rem 0.5rem;
    img {
      display: inline-block;
      vertical-align: middle;
      margin: 0;  
    }
  }

  tr:nth-child(even) {
    background-color: #dfefff;
  }

  thead {
    background-color: $darkblue;
  }

  thead tr {
    @media (prefers-color-scheme: dark) {
      background-color: $darkblue;
    }
  }

  thead td {
    color: #fff !important;
    font-weight: bold;
    font-family: $sans-serif;
  }
  
  td.td70 {
    width: 70%;
    img {
      display: block;
      width: 50%;
      max-width: 50%;
      height: auto;
    }
  }
  
  td.td30 {
    width: 30%;
  }
}

img.postsFeatImg {
  float: inherit;
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  @media (min-width: 900px) {
    float: right;
    padding-top: 1rem;
    padding-left: 1.5rem;
    width: 50%;
    height: auto;
  }
}

.container {
  // width: 90%;
  margin: 0 auto;
  &-home {
    display: -ms-grid;
    display: grid;
    margin: 0 auto;
    width: 90%;
    grid-gap: 0.25rem;
    grid-template-columns: 1fr;
    @media screen and (min-width: 769px) {
      width: 75%;
      grid-template-columns: 60% 1fr;
      grid-gap: 3rem;
      padding-top: 0.5rem;
    }
    .column-home {
      article {
        p {
          font-size: 1.15rem;
          line-height: 1.6;
        }
      }
    }
  }
  &-narrower {
    margin: 1rem auto 0 auto;
    width: 80%;

    figure img {
      width: 100%;
    }

    .twitter-tweet {
      margin: 1rem auto 0 auto;
    }

    @media (min-width: 900px) {
      width: 40%;
    }
  }
  &-comments {
    font-size: 85%;
    width: 85%;
    max-width: 720px !important;
    margin-bottom: 0;
    @media (min-width: 900px) {
      width: 40%;
    }
  }
}

.bg-primary {
  background-color: $blue !important;
}

.bg-dark {
  margin-top: 2.5rem;
  background-color: $darkblue !important;
	padding: 0.5rem 0 1rem 0;
  div, p {
    color: #fff;
	}
	h3, p {
		margin: 0;
		padding: 0.15rem 0;
  }
  h3.prevnextH3 {
    font-size: 1.875rem;
  }
  p.prevnextP {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.25rem;
  }
  a, a:hover, a:focus {
    color: #aaddff !important;
  }
  a {
    border-bottom: 0;
  }
  a:hover, a:focus {
    border-bottom: 1px solid #aaddff !important;
  }
}

.btn-primary {
  background-color: $blue;
  border-color: $blue;
  color: #fff;
  border-radius: 6px;
  padding: 0.25rem 0.5rem;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: $darkblue;
  border-color: $darkblue;
}

li p {
  margin-right: 0 !important;
  margin-left: 0 !important;
  width: 100% !important;
}

.gradient-titles {
  background-image: linear-gradient(to bottom, var(--gradient-color-stops));
  --gradient-from-color: #0000aa;
  --gradient-color-stops: var(--gradient-from-color), var(--gradient-to-color, rgba(0, 0, 170, 0));
  --gradient-to-color: #000;
}

img.homeHeroImage {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

.homePostTitle {
  font-size: 1.25rem;
}

.homePostSubtitle {
  margin-top: 0;
  margin-bottom: 0.25rem;
  font-weight: bold;
}

.homePostDates {
  margin-top: 0;
  margin-bottom: 0;
}

.homePostDescription {
  margin-top: 0.5rem;
}

span.caption {
  color: #fff;
  text-shadow: none;
}

span.caption a {
  color: #bbeeff;
  border-bottom: 1px solid #bbeeff;
}

span.caption a:focus, span.caption a:hover, span caption a:active {
  color: #edf2f7;
  border-bottom: #bbeeff;
}

article {
  padding-top: 1em; // definitely em, not rem
  p, li {
    font-size: 1.25rem;
    line-height: 1.6;
    margin-top: 1em; // definitely em, not rem
  }
  li li, li p {
    font-size: inherit;
    margin-top: 0.25em; // definitely em, not rem
  }
  h2, h3, h4 {
    margin-top: 1.25em; // definitely em, not rem
  }
}

.footnotes {
  ol {
    padding-inline-start: 1.5rem;
  }
  ol li {
    margin-bottom: 0.5rem;
    line-height: 1.5rem;
    font-size: $pokey + unquote("rem");
  }
  li p {
    font-size: 100%;
  }
}

.yellowBox {
  display: block;
  box-sizing: border-box;
  background: #ffff88;
  border: 1px solid #333;
  margin: 0.5rem auto;
  width: 100%;
  padding: 0.5rem 1.5rem;

  @media (prefers-color-scheme: dark) {
    background: #332200;
    border: 1px solid $grey-1;
  }
}

img.containedImage {
  display: block;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}

.lazypicturecaption {
  font-size: $pokey + unquote("rem");
  padding: 0;
  margin-top: 0.5rem;
  line-height: 1.375;
  text-align: center;
}