<div class="container container-comments">
  <div id="hyvor-talk-view"></div>
  <script type="text/javascript">
    var palette = null
    if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
      palette = {
        accent: "#ffffff",
        accentText: "#000000",
        footerHeader: "#1b1818",
        footerHeaderText: "#cac7c7",
        box: "#232121",
        boxText: "#ffffff",
        boxLightText: "#aaaaaa",
        backgroundText: "#ffffff"
      }
    }

    var HYVOR_TALK_WEBSITE = 2137 // DO NOT CHANGE THIS
    var HYVOR_TALK_CONFIG = {
      url: false,
      id: false,
      palette: palette
    }
  </script>
  <script async type="text/javascript" src="//talk.hyvor.com/web-api/embed"></script>
</div>