
    <!-- Osano CookieConsent FOSS tool (https://github.com/osano/cookieconsent) -->
    <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
    <script>
      window.cookieconsent.initialize({
        "palette": {
          "popup": {
            "background": "#0000aa",
            "text": "#ffffff"
          },
          "button": {
            "background": "#88ddff",
            "text": "#333333"
          }
        },
        "theme": "classic",
        "position": "bottom-right",
        "content": {
          "message": "External services use cookies to help us improve the site.",
          "link": "See our privacy policy.",
          "href": "https://www.brycewray.com/privacy"
        }
      });
    </script>

    <!-- Google Analytics -->
    {{ template "_internal/google_analytics_async.html" . }}

    <!-- AdSense -->
    <!--<script data-ad-client="ca-pub-4851426714135189" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>-->

    
    <!-- Firebase Performance Monitoring -->
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="/__/firebase/7.21.1/firebase-app.js"></script>

    <script src="/__/firebase/7.21.1/firebase-performance.js"></script>

    <!-- Initialize Firebase -->
    <script src="/__/firebase/init.js"></script>

    <!-- Initialize Performance Monitoring and get a reference to the service -->
    <script>
      var perf = firebase.performance();
      // ...
    </script>
