// === for billboard partial
.billboard {
  &-div {
    font-family: $sans-serif;
    text-align: center;
    position: relative;
    height: auto;
    padding-right: 2em;
    padding-left: 2em;
    padding-bottom: 1em;
    @media screen and (min-width: $bkpt_lg) {
      padding-right: 4rem;
      padding-left: 4rem;
    }
    @media screen and (min-width: $bkpt_2xl) {
      padding-right: 8rem;
      padding-left: 8rem;
    }
  }
  &-title-block {
    display: block;
    width: 100%;
    padding-top: 1em;
  }
  &-title-block-fit {
    display: block;
    width: 100%;
  }
  &-title-text, &-subtitle-text, &-description-text {
    margin: 0 auto;
    text-align: center;
    padding-right: 2%;
    padding-left: 2%;
    @media screen and (min-width: $bkpt_lg) {
      padding-right: 3%;
      padding-left: 3%;
    }
    @media screen and (min-width: $bkpt_2xl) {
      padding-right: 4%;
      padding-left: 4%;
    }
  }
  &-title-text {
    font-size: 2.25rem;
    padding-top: 1em; // definitely em, not rem
    line-height: 1.1;
    letter-spacing: -0.035em;
    @media screen and (min-width: $bkpt_md) {
      font-size: 2.5rem;
    }
    @media screen and (min-width: $bkpt_lg) {
      font-size: 3.5rem;
    }
    @media screen and (min-width: $bkpt_2xl) {
      font-size: 4.5em;
    }
  }
  &-subtitle-text {
    font-size: 1.75rem;
    padding-top: 0.75em; // definitely em, not rem
    padding-bottom: 0.5em; // definitely em, not rem
    line-height: 1.25;
    letter-spacing: -0.04em;
    @media screen and (min-width: $bkpt_md) {
      font-size: 1.875rem;
    }
    @media screen and (min-width: $bkpt_lg) {
      font-size: 2.25rem;
    }
    @media screen and (min-width: $bkpt_2xl) {
      font-size: 3rem;
    }
  }
  &-description-text {
    font-size: 1.25rem;
    padding-top: 0.5em; // definitely em, not rem
    letter-spacing: -0.01em;
    line-height: 1.4;
    @media screen and (min-width: $bkpt_md) {
      font-size: 1.5rem;
    }
    @media screen and (min-width: $bkpt_lg) {
      font-size: 1.625rem;
    }
    @media screen and (min-width: $bkpt_2xl) {
      font-size: 1.75rem;
    }
  }
  &-p-text {
    font-size: 1rem;
    text-align: center;
    margin-top: 1.5em;
    @media screen and (min-width: $bkpt_md) {
      font-size: 1.125rem;
    }
    @media screen and (min-width: $bkpt_lg) {
      font-size: 1.25rem;
    }
    @media screen and (min-width: $bkpt_2xl) {
      font-size: 1.5rem;
    }
  }
}

// === end, for billboard partial
