@use 'variables' as var;

.background-hero {
  &-div {
    position: relative;
    height: 100%;
    background-color: black;
  }
  &-image-div {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 85vh;
    max-height: 85vh;
    min-height: 85vh;
    @media screen and (min-width: var.$bkpt_md) {
      height: 90vh;
      max-height: 90vh;
      min-height: 90vh;
    }
    @media screen and (min-width: var.$bkpt_xl) {
      height: 100vh;
      max-height: 100vh;
      min-height: 100vh;
    }
  }
  &-title-block-fit {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  &-title-block {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 5em 2em 1.5em 2em;
    background: linear-gradient(
      transparent,
      rgba(0,0,0,.75) 80%,
      #000
    );
    @media screen and (min-width: var.$bkpt_xl) {
      padding-bottom: 5%;
    }
  }
  &-title-text, &-subtitle-text, &-description-text {
    font-family: var.$sans-serif;
    color: #fff;
    margin: 0 auto;
    text-shadow: 4px 4px 2px #000;
    text-align: center;
    letter-spacing: -0.025em;
    padding: 0.25em;
    @media screen and (min-width: var.$bkpt_lg) {
      text-align: left;
    }
    @media screen and (min-width: var.$bkpt_xl) {
      text-align: left;
    }
  }
  &-title-text {
    font-size: 2.5em;
    font-weight: bold;
    line-height: 1.1;
    padding-top: 0.5em;
    padding-bottom: 1rem;
    @media screen and (min-width: var.$bkpt_md) {
      font-size: 3em;
    }
    @media screen and (min-width: var.$bkpt_lg) {
      font-size: 3.5em;
      padding-left: 5%;
      padding-right: 5%;
    }
    @media screen and (min-width: var.$bkpt_xl) {
      padding-top: 0;
      font-size: 4em;
    }
  }
  &-subtitle-text {
    font-size: 2em;
    line-height: 1.1;
    padding-top: 0;
    padding-bottom: 1.5rem;
    // font-style: italic;
    @media screen and (min-width: var.$bkpt_md) {
      font-size: 2em;
    }
    @media screen and (min-width: var.$bkpt_lg) {
      font-size: 2.5em;
      padding-left: 5%;
      padding-right: 5%;
    }
    @media screen and (min-width: var.$bkpt_xl) {
      font-size: 3em;
    }
  }
  &-description-text {
    // display: none; // appears only on wider screens
    // font-family: var.$serif;
    font-size: 1.25rem;
    @media screen and (min-width: var.$bkpt_md) {
      // display: block;
      font-size: 1.5rem;
    }
    @media screen and (min-width: var.$bkpt_lg) {
      margin-bottom: 1em;
      padding-top: 0.25em;
      padding-right: 15%;
      padding-left: 5%;
      font-size: 1.75rem;
    }
    @media screen and (min-width: var.$bkpt_2xl) {
      font-size: 2rem;
    }
    @media screen and (min-width: var.$bkpt_3xl) {
      font-size: 2.25rem;
    }
  }
  &-p-text {
    font-family: var.$sans-serif;
    font-size: var.$slightlybig;
    line-height: 1;
    padding-top: 1rem;
    // padding-bottom: 0.5em;
    color: #fff;
    text-shadow: 4px 4px 2px #000;
    text-align: center;
    @media screen and (min-width: var.$bkpt_lg) {
      text-align: right;
      padding-top: 0;
      padding-right: 5%;
    }
  }
}

.featured-image-caption {
  margin-top: 1em;
  padding-bottom: 0.5em;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-family: var.$sans-serif;
  font-size: var.$legal;
  color: var.$white;
  a {
    color: var.$blueLight;
    border-bottom: 1px solid var.$blueLight;
  }
}
