@use 'variables' as var;

// === for home page
.homeOpen {
  text-align: center;
  h1 {
    line-height: 1.75em;
    font-size: 1.5rem;
    font-weight: bold;
  }
  @media screen and (min-width: var.$bkpt_lg) {
    text-align: right;
    padding: 0 3em 0 0;
    color: var.$white;
    background-image: linear-gradient(to bottom, var.$darkblue, var.$black 50%, var.$white);
    @media screen and (prefers-color-scheme: dark) {
      background-image: linear-gradient(to bottom, var.$black, var.$darkblue 50%, var.$black);
    }
    width: 40%;
    min-height: 80vh;
    h1 {
      padding: 3.5em 0 0 2em;
      font-size: 1.75rem;
    }
    a {
      color: var.$blueLight;
      border-bottom: 1px solid var.$blueLight;
    }
  }
  @media screen and (min-width: var.$bkpt_2xl) {
    h1 {
      padding: 2.5em 0 0 2.5em;
      font-size: 2.25rem;
    }
  }
}

.homePost {
  &-Div {
    padding-top: 1.5em;
    @media screen and (min-width: var.$bkpt_lg) {
      text-align: left;
      width: 55%;
      padding: 0 1.5em 0 4em;
    }
  }
  &-Latest {
    margin-top: 0.5em;
    margin-bottom: 0.25em;
    // font-weight: 825;
    font-size: 2rem;
    font-weight: bold;
    @media screen and (min-width: var.$bkpt_lg) {
      margin-top: 0;
      padding-top: 1em;
      font-size: 2.75rem;
    }
    @media screen and (min-width: var.$bkpt_2xl) {
      font-size: 3.5rem;
    }
  }
  &-Title {
    font-size: 1.75rem;
    padding-top: 0.5em;
    line-height: normal;
    @media screen and (min-width: var.$bkpt_lg) {
      font-size: 2rem;
    }
    @media screen and (min-width: var.$bkpt_2xl) {
      font-size: 2.25rem;
    }
  }
  &-Subtitle {
    margin-top: 0;
    margin-bottom: 0.25em;
    // font-weight: 625;
    font-size: 1.25rem;
    @media screen and (min-width: var.$bkpt_lg) {
      font-size: 1.5rem;
    }
    @media screen and (min-width: var.$bkpt_2xl) {
      font-size: 1.75rem;
    }
  }
  &-Dates {
    margin-top: 0.5em;
    margin-bottom: 1em;
    font-size: 0.875rem;
    @media screen and (min-width: var.$bkpt_lg) {
      font-size: 1rem;
    }
    @media screen and (min-width: var.$bkpt_2xl) {
      font-size: 1.125rem;
    }
  }
  &-Description {
    margin-top: 0.5em;
    // font-family: var.$serif;
    font-size: 1.125rem;
    @media screen and (min-width: var.$bkpt_lg) {
      font-size: 1.25rem;
    }
    @media screen and (min-width: 1536px) {
      font-size: 1.375rem;
    }
  }
  &-Finish {
    margin-top: 3em;
  }
}
// === end, for home page
