@use 'variables' as var;

// === posts and post lists

.posts {
  &-pagerGray {
    color: var.$grey-2;
  }
  &-pagerThingP {
    text-align: center;
    font-size: 1.25em;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  &-Container {
    margin: 0 auto;
    width: 85%;
    @media screen and (min-width: var.$bkpt_lg) {
      width: 75%;
    }
    @media screen and (min-width: var.$bkpt_2xl) {
      width: 62.5%
    }
  }
  &-ItemDiv {
    margin: 0;
    padding: 0;
  }
  &-Head {
    padding-top: 1.75rem;
    font-size: 2.5rem;
    letter-spacing: -0.025em;
    margin-bottom: 0.25em;
    @media screen and (min-width: var.$bkpt_md) {
      padding-top: 2rem;
      font-size: 2.75rem;
    }
    @media screen and (min-width: var.$bkpt_lg) {
      padding-top: 2.5rem;
      font-size: 3rem;
    }
    @media screen and (min-width: var.$bkpt_2xl) {
      padding-top: 3rem;
      font-size: 3.5rem;
    }
  }
  &-Title {
    padding: 0;
    font-size: 1.25rem;
    line-height: 1.25em;
    letter-spacing: -0.025em;
    @media screen and (min-width: var.$bkpt_lg) {
      font-size: 2rem;
    }
    @media screen and (min-width: var.$bkpt_2xl) {
      font-size: 2.25rem;
    }
  }
  &-Subtitle {
    letter-spacing: -0.0125em;
    font-size: 1rem;
    margin-top: 0;
    padding-top: 0.25em;
    margin-bottom: 0.5em;
    @media screen and (min-width: var.$bkpt_lg) {
      font-size: 1.25rem;
    }
    @media screen and (min-width: var.$bkpt_2xl) {
      font-size: 1.5rem;
    }
  }
  &-Dates {
    font-size: 0.825rem;
    line-height: 1.33;
    margin-bottom: 0.5em;
    @media screen and (min-width: var.$bkpt_lg) {
      font-size: 1rem;
    }
    @media screen and (min-width: var.$bkpt_2xl) {
      font-size: 1.15rem;
    }
    time {
      display: inline;
    }
  }
  &-Description {
    font-family: var.$serif;
    font-size: 1.1rem;
    margin-top: 0.5em;
    // line-height: 1.25em;
    margin-bottom: 0.5em;
    @media screen and (min-width: var.$bkpt_lg) {
      font-size: 1.2rem;
    }
    @media screen and (min-width: var.$bkpt_2xl) {
      font-size: 1.3rem;
    }
  }
  &-ReadingTime {
    margin-top: 0;
    margin-bottom: 3em;
    font-size: 0.625rem;
    @media screen and (min-width: var.$bkpt_lg) {
      font-size: 0.75rem;
    }
    @media screen and (min-width: var.$bkpt_2xl) {
      font-size: 0.875rem;
    }
  }
}

.post-line {
  border-top: 0.2rem solid var.$darkblue;
  @media screen and (prefers-color-scheme: dark) {
    border-color: hsl(0, 0%, 100%);
  }
  display: block;
  margin: 0 auto 2rem;
  width: 15rem;
}

.bg-dark {
  // font-family: var.$sans-serif;
  margin-top: 2.5rem;
  background-color: var.$black;
  @media (prefers-color-scheme: dark) {
    background-color: var.$darkblue;
  }
  padding: 0.5rem 0 1rem 0;
  div, p {
    color: hsl(0, 0%, 100%);
  }
  h3, p {
    margin: 0;
    padding: 0.15rem 0;
  }
  h3.prevnextH3 {
    font-size: 1.875rem;
  }
  p.prevnextP {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.375rem;
  }
  a {
    color: hsl(204, 100%, 83%);
    border-bottom: 0;
  }
  a:hover, a:focus {
    color: var.$grey-2;
    border-bottom: 1px solid hsl(204, 100%, 83%);
  }
}

hr.paginatorTop, hr.paginatorBottom {
  border: none;
  height: 1px;
  background-color: var.$black;
  @media (prefers-color-scheme: dark) {
    background-color: var.$white;
  }
  width: 75%;
  @media screen and (min-width: var.$bkpt_lg) {
    width: 65%;
  }
  @media screen and (min-width: var.$bkpt_2xl) {
    width: 55%;
  }
}

hr.paginatorTop {
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}

hr.paginatorBottom {
  margin-top: 0em;
  padding: 0;
}

.contactBtn {
  font-family: var.$sans-serif;
  text-align: center;
  margin: auto;
  padding-bottom: 1rem;
  padding-top: 1rem;
  button {
    padding: 1rem;
    background-color: var.$darkblue;
    border-radius: 0.375rem;
    border-color: transparent;
    vertical-align: middle;
    color: var.$white;
    &:focus, &:active, &:hover {
      background-color: var.$blue;
    }
    @media (prefers-color-scheme: dark) {
      background-color: var.$code-color-blueLight-dark-mode;
      &:focus, &:active, &:hover {
        background-color: var.$blueLightBtn;
      }
    }
    a {
      color: var.$white;
      border: none;
      @media (prefers-color-scheme: dark) {
        color: var.$black;
      }
    }
  }
}

.arrowStop {
  color: var.$greyArrow;
}

// === end, posts and post lists
