@use 'variables' as var;

// based partly on https://github.com/astro-community/astro-embed/tree/main/packages/astro-embed-twitter

$tc-corner-radius: 1em;
$tc-padding: 1em;

.tweet-card {
  font-family: var.$twitter-sans-serif;
  margin: 1.5rem auto;
  padding: 1rem;
  border: 2px solid var.$gray-1;
  border-radius: 12px;
  background: var.$white;
  width: 100%;
  @media screen and (min-width: var.$bkpt_ml) {
    width: 80%;
  }
  @media screen and (min-width: var.$bkpt_lg) {
    width: 85%;
  }
  // @media screen and (min-width: var.$bkpt_2xl) {
  //   width: 85%;
  // }
  @media screen and (min-width: var.$bkpt_3xl) {
    max-width: 80ch;
  }
  @media screen and (prefers-color-scheme: dark) {
    background: transparent;
  }
  a, a:hover {
    border: none !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    /*
    See:
    - https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/
    - https://css-tricks.com/where-lines-break-is-complicated-heres-all-the-related-css-and-html/
    - https://css-tricks.com/better-line-breaks-for-long-urls/
    */
    @media screen and (prefers-color-scheme: dark) {
      color: var.$blueLight;
    }
  }
  @media screen and (prefers-color-scheme: dark) {
    border: 2px solid var.$gray-2;
    color: var.$white;
  }
}

.tweet-body {
  font-size: var.$stdsize;
  line-height: 1.5em;
  text-align: left !important;
  @media screen and (min-width: var.$bkpt_lg) {
    font-size: var.$minimalbig;
  }
}

// ==== rounded image "attachment"
// Eleventy version
.tweet-images {
  img {
    border-radius: 12px;
  }
}
// Hugo version
.tweet-media-img {
  // border-radius: 12px;
  width: 100%;
  height: auto;
  aspect-ratio: 1;
  object-fit: cover;
}
// ==== END, rounded image "attachment"


.tweet-header {
  display: flex;
  .tweet-profile {
    margin-right: 0.5em;
    flex-shrink: 0;
    img {
      border-radius: 9999px;
    }
  }
  .tweet-author {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    &-name {
      font-weight: bold;
      color: var.$black;
      @media screen and (prefers-color-scheme: dark) {
        color: var.$white;
      }
      line-height: 1.375;
    }
    &-handle {
      color: var.$gray-1;
      @media screen and (prefers-color-scheme: dark) {
        color: var.$gray-2-dark-mode;
      }
      font-size: var.$pokey;
      line-height: 1;
    }
    .tweet-bird {
      margin-left: 1.25rem;
    }
  }
}

.tweet-footer {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  color: var.$gray-1;
  font-size: var.$pokey;
  @media screen and (prefers-color-scheme: dark) {
    color: var.$gray-2-dark-mode;
  }
  .tweet-like-icon, .tweet-like-count {
    display: none;
  }
  a {
    color: var.$gray-1;
    @media screen and (prefers-color-scheme: dark) {
      color: var.$gray-2-dark-mode;
    }
  }
  /* === needed in Eleventy but not in Hugo
  .tweet-date:after {
    content: " (UTC)";
    font-size: var.$legal;
  }
  */
}

[class^='tweet-img-grid'],
.tweet-video-wrapper,
.tweet-media-video {
	border-radius: $tc-corner-radius;
	overflow: hidden;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
  grid-gap: 2px;
}

.tweet-video-wrapper {
	border-radius: $tc-corner-radius;
  display: block;
  // overriding previous
}

.tweet-img-grid-3 {
	grid-template-columns: repeat(2, 1fr);
}

.tweet-img-grid-3 .tweet-media-img {
	aspect-ratio: 1.8;
}

.tweet-img-grid-3 :nth-child(1) {
	grid-row: 1 / span 2;
}

.tweet-img-grid-3 :nth-child(1) .tweet-media-img {
	aspect-ratio: 0.9;
}

.tweet-img-grid-2,
.tweet-img-grid-4 {
	grid-template-columns: repeat(2, 1fr);
}
