@charset 'utf-8';
/* @use 'partials/005-limited-colors' as clr; */
/* @use 'partials/010-variables' as var; */


code, article code, .box code {
	--bg: var(--bkgd-article-code);
	background-color: var(--bg);
}

code {
	font-family: var(--monospaced);
  font-kerning: none;
  font-variant-ligatures: none;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

article code {
	font-size: 0.975em;
	@media screen and (min-width: 768px) {
		font-size: 0.95em;
	}
	@media screen and (min-width: 1024px) {
		font-size: 0.925em;
	}
	@media screen and (min-width: 1536px) {
		font-size: 0.9em;
	}
}

article .footnotes code {
	font-size: 1em;
	/* overriding the `article code` part above for footnotes */
}

article p code {
	@media screen and (min-width: 768px) {
		white-space: nowrap;
	}
}

article p code.code-inline {
	/* font-size: var(--text-sm); */
	padding: 0.25em 0.5em;
	margin: 0 0.25em;
}

article .footnotes li code {
	white-space: normal;
}

article blockquote code {
	color: var(--bquote-article-code);
}

.box {
	& code, & a code {
		font-size: 1em; /* definitely em */
		--bg: var(--bkgd-box-code);
	}
}

article ol li .highlight {
	line-height: 1.5;
}
