@charset 'utf-8';
@use 'partials/variables' as var;

code, article code, .box code {
	background-color: var(--bg-lt);
	@media (prefers-color-scheme: dark) {
		background-color: var(--bg-dk);
	}
}

code {
	font-family: var.$monospaced;
  font-kerning: none;
  font-variant-ligatures: none;
}

// Inline code
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

article code {
	font-size: 0.975em;
	@media screen and (min-width: var.$bkpt_md) {
		font-size: 0.95em;
	}
	@media screen and (min-width: var.$bkpt_xl) {
		font-size: 0.925em;
	}
	@media screen and (min-width: var.$bkpt_2xl) {
		font-size: 0.9em;
	}
	--bg-lt: #{var.$white};
	--bg-dk: #{map-get(var.$twcss, slate-700)};
}
article .footnotes code {
	font-size: 1em;
	// overriding the `article code` part above for footnotes
}

article p code {
	@media screen and (min-width: var.$bkpt_md) {
		white-space: nowrap;
	}
}

article p code.code-inline {
	// font-size: var.$text-sm;
	padding: 0.25em 0.5em;
	margin: 0 0.25em;
}

article .footnotes li code {
	white-space: normal;
}

article blockquote code {
	color: map-get(var.$twcss, slate-800);
	@media (prefers-color-scheme: dark) {
		color: map-get(var.$twcss, slate-300);
	}
}

.box code {
	font-size: 1em; // definitely em
	--bg-lt: #{map-get(var.$twcss, slate-100)};
	--bg-dk: #{map-get(var.$twcss, slate-600)};
}

article ol li .highlight {
	line-height: 1.5;
}
