@charset 'utf-8';
@use 'partials/variables' as var;

// == footnotes == //

.footnotes, .footnote-sim, .footnote-ref {
	font-family: var.$sans-serif;
}

.footnotes {
	padding-top: 0.5em;
	// padding-bottom: 1em;
	hr {
		border: none;
		height: 2px;
		background-color: map-get(var.$twcss, gray-700);
		@media (prefers-color-scheme: dark) {
			background-color: map-get(var.$twcss, gray-300);
		}
	}
	ol {
		padding-inline-start: 1.5rem;
	}
	ol li {
		font-size: 0.9rem;
		// As of now, `::marker` has too little support even in good browsers;
		// see https://developer.mozilla.org/en-US/docs/Web/CSS/::marker#allowable_properties
		p {
			line-height: 1.5;
		}
	}
	.footnote-backref {
		font-size: 75%;
	}
}

.footnote-sim {
	font-size: 0.65em;
	color: hsl(240, 100%, 50%);
	@media (prefers-color-scheme: dark) {
		color: hsl(200, 100%, 50%);
	}
}

a.footnote-return{
	font-size: 50%;
}

// == end, footnotes == //
