// not using @use here until Hugo supports it
@import 'reset';
// @import 'fonts_Inter';
@import 'fonts_PublicSans';
@import 'variables';
@import 'twitter';
@import 'chroma_native_tweaked';
// @import 'chroma_rrt';
// @import 'chroma_monokai_tweaked';
@import 'chroma_fix-all';
@import 'global';
@import 'utility';
@import 'tables';
@import 'billboard';
@import 'posts';
@import 'footnotes';
@import 'home';
@import 'nav';
@import 'lazyload';
@import 'lazypic';
// @import 'intervf'; // for Inter VF's weird obliquing stuff
// @import 'ffoxobliq'; // if using system font stack
@import 'sitemaphtml';
@import 'iefixes';
@import 'lite-yt-embed';
