@charset 'utf-8';
@use 'partials/variables' as var;
// @use 'partials/colors' as clr;

// === for search button on each page

search-button {
	display: grid;
	margin: 2em auto;
	place-items: center;
	button {
		color: var(--white);
		width: 15em;
		padding: 0.5em 0.25em;
		background-color: var(--link-light);
		border: 1px solid;
		border-color: var(--link-light);
		border-radius: var.$btn_radius;
		@media (prefers-color-scheme: dark) {
			border-color: var(--link-dark);
			background-color: var(--link-dark);
			color: var(--black);
		}
		&:hover {
			cursor: pointer;
		}
		&:focus, &:active, &:hover {
			border: 1px solid;
			border-color: var(--link-afh-light);
			background-color: var(--link-afh-light);
			@media (prefers-color-scheme: dark) {
				border-color: var(--link-afh-dark);
				background-color: var(--link-afh-dark);
			}
		}
	}
}
