@charset 'utf-8';
@use 'partials/variables' as var;

// === for search button on each page

search-button {
	// font-family: var.$sans-serif;
	display: grid;
	margin: 2em auto;
	place-items: center;
	button {
		color: white;
		width: 15em;
		padding: 0.5em 0.25em;
		background-color: var.$default-light-link;
		border: 1px solid var.$default-light-link;
		border-radius: var.$btn_radius;
		@media (prefers-color-scheme: dark) {
			border: 1px solid var.$default-dark-link;
			background-color: var.$default-dark-link;
			color: var.$black;
		}
		&:hover {
			cursor: pointer;
		}
		&:focus, &:active, &:hover {
			border: 1px solid var.$default-light-link-afh;
			background-color: var.$default-light-link-afh;
			@media (prefers-color-scheme: dark) {
				border: 1px solid var.$default-dark-link-afh;
				background-color: var.$default-dark-link-afh;
			}
		}
	}
}
