@use 'partials/variables' as var;

// === for search button on each page

.searchBtnDiv {
	font-family: var.$sans-serif;
	margin: 2em auto;
	text-align: center;
	button {
		// display: block;
		margin: 0 auto;
		color: white;
		width: 15em;
		padding: 0.5em 0.25em;
		background-color: map-get(var.$twcss, blue-700);
		border: 1px solid map-get(var.$twcss, blue-700);
		border-radius: var.$btn_radius;
		@media (prefers-color-scheme: dark) {
			border: 1px solid map-get(var.$twcss, blue-300);
			background-color: map-get(var.$twcss, blue-300);
			color: var.$black;
		}
		&:hover {
			cursor: pointer;
		}
		&:focus, &:active, &:hover {
			border: 1px solid map-get(var.$twcss, blue-800);
			background-color: map-get(var.$twcss, blue-800);
			@media (prefers-color-scheme: dark) {
				border: 1px solid map-get(var.$twcss, blue-50);
				background-color: map-get(var.$twcss, blue-50);
			}
		}
	}
}
