@charset 'utf-8';
@use 'partials/variables' as var;
@use 'partials/colors' as clr;

:root {
	--emerald-050: hsl(155, 80%, 96%);
	--emerald-900: hsl(155, 61%, 19%);
	@supports (color: oklch(49% 0.1 252)) {
		--emerald-050: oklch(98% 0.019 158);
		--emerald-900: oklch(37.92% 0.074 158);
	}
}

td {
	vertical-align: top;
}

/* === table for web typography article, part II */
table.noborders {
	width: 100%;
	/* table-layout: fixed; */
	margin: 1.5rem auto 1rem auto;
	border: 0;
	border-collapse: collapse;
	& tr {
		background-color: var(--white);
		@media (prefers-color-scheme: dark) {
			color: var(--black);
		}
	}
	& td {
		text-align: left;
		vertical-align: middle;
		padding: 0.25rem 0 0.25rem 0.5rem;
		& img {
			display: inline-block;
			vertical-align: middle;
			margin: 0;
		}
	}
	& tr:nth-child(even) {
		background-color: var(--slate-150);
	}
	& thead {
		background-color: var(--blue-900);
		color: var(--white);
	}
	& thead tr {
		background-color: var(--blue-900);
	}
	& thead td {
		color: var(--white);
		font-weight: bold;
	}
	& td {
		& img {
			display: block;
			max-width: 60%;
			@media screen and (min-width: 768px) {
				max-width: 40%;
			}
			height: auto;
		}
	}
}
/* === end, table for web typography article, part II */

/* === table for MLB/NFL article */
table.leagues {
	table-layout: fixed; /* so don't have to spec each `td`'s width */
	width: 90%;
	margin: 1rem auto 0 auto;
	border: 0;
	border-collapse: collapse;
	@media (min-width: 900px) {
		width: 60%;
	}
}

/* === end, table for MLB/NFL article */

table.ulysses {
	width: 100%;
	table-layout: auto;
	border-collapse: collapse;
	font-size: var(--text-xs);
	@media screen and (min-width: 768px) {
		font-size: inherit;
		table-layout: fixed; /* so don't have to spec each `td`'s width */
	}
	& thead th {
		background-color: var(--blue-800);
		border: 1px solid;
		border-color: var(--black);
		color: var(--white);
		@media (prefers-color-scheme: dark) {
			border-color: var(--white);
		}
	}
	& td {
		text-align: center;
		border: 1px solid;
		border-color: var(--black);
		@media (prefers-color-scheme: dark) {
			border-color: var(--white);
			color: var(--white);
		}
		padding: 0;
	}
	& thead th, & td {
		padding: 0.125em 0.375em;
	}
	& thead th:nth-child(1), & td:nth-child(1) {
		text-align: left;
	}
	& tr:nth-child(odd) {
		background-color: var(--white);
		@media (prefers-color-scheme: dark){
			background-color: var(--slate-700);
		}
	}
	& tr:nth-child(even) {
		background-color: var(--emerald-050);
		@media (prefers-color-scheme: dark){
			background-color: var(--emerald-900);
		}
	}
}
