footer {
	text-align: center;
	font-size: var(--text-xs);
	font-weight: var(--font-weight-sm);
	margin: 4rem auto 0 auto;
	width: 100%;
	padding-top: 0.5rem;
	padding-bottom: 0.5em;
	margin: 2rem auto 0 auto;
	&.with-bg-dark {
		padding-bottom: 6em;
	}
	& p {
		line-height: 1.5em; /* definitely em, not rem, here */
		& code {
			background-color: var(--bkgd-article-code);
		}
	}
	& div.footerWrapper {
		margin: 0 auto;
		width: 80%;
		height: 100%;
		& p {
			margin: 1rem 0;
		}
		& div.icons-box {
			display: flex;
			flex-direction: row;
			justify-content: center;
			gap: 1em;
		}
	}
}

circle.GitHub,
path.GitLab,
circle.RSS,
path.Calckey,
path.Bluesky,
path.Threads,
path.MastodonBody,
path.Twitter,
path.JSON,
path.RSS {
	fill: var(--icon-inside);
}

path.GitHub,
circle.GitLab,
circle.MastodonCircle,
path.MastodonM,
circle.Bluesky,
circle.Threads,
circle.Calckey,
circle.Twitter,
circle.RSS,
circle.JSON {
	fill: var(--link);
}

a:hover path.GitHub,
a:hover circle.GitLab,
a:hover circle.MastodonCircle,
a:hover path.MastodonM,
a:hover circle.Bluesky,
a:hover circle.Threads,
a:hover circle.Calckey,
a:hover circle.Twitter,
a:hover circle.RSS,
a:hover circle.JSON {
	fill: var(--link-afh);
}

path.MastodonBody,
path.MastodonM {
	fill-rule: nonzero;
}
