{{- /*
  This shortcode takes the following form:
  twitscrn imageUrl, alt, width, height, twitterUrl
*/ -}}

{{/* init vars */}}
{{- $respSizes := slice "300" "450" "600" "750" "900" "1050" "1200" "1350" "1500" -}}
{{- $imageUrl := .Get "imageUrl" -}}
{{- $alt := .Get "alt" -}}
{{- $width := .Get "width" -}}
{{- $height := .Get "height" -}}
{{- $twitterUrl := .Get "twitterUrl" -}}

{{/*
  separating the Cloudinary-related vars for greater flexibility, especially in case somebody else
  wants to borrow this code for his/her own Cloudinary setup and transformation ("xFm") choices
*/}}
{{- $cloudiBase := "https://res.cloudinary.com/brycewray-com/image/upload/" -}}
{{- $LQIPholder := "f_auto,q_1,w_20/" -}}
{{/* $xFmPart1 := "f_auto,q_auto:eco,w_" */}}
{{- $xFmPart2 := ",x_0,z_1/" -}}

{{- $imgBd5 := md5 $imageUrl -}}
{{- $divClass := printf "%s%s" "relative tweet-bkgd imgB-" $imgBd5 -}}
{{- $imgClass := "w-full h-auto lazy twitter-tweet" -}}
{{- $nscClass := "containedImage" -}}
{{- $dataSzes := "(min-width: 1024px) 100vw, 50vw" -}}

<style nonce="DhcnhD3khTMePgXw">.imgB-{{ $imgBd5 }} {background-image: url({{ $cloudiBase }}{{ $LQIPholder }}{{ $imageUrl }});}</style>
<div class="{{ $divClass}} bg-center bg-no-repeat bg-cover" aspect-ratio="{{ $width }} / {{ $height }}"><a href="{{ $twitterUrl }}" target="_blank" rel="noopener">
  <img class="{{ $imgClass }}" data-src="{{ $cloudiBase }}f_auto,q_auto:eco,w_600{{ $xFmPart2 }}{{ $imageUrl }}" data-srcset="
  {{- range $i, $respSizes -}}
    {{- if ge $width . -}}
      {{- $cloudiBase -}}f_auto,q_auto:eco,w_{{ . }}{{- $xFmPart2 -}}{{- $imageUrl }} {{ . }}w{{ if $i }}, {{ end -}}
    {{- end -}}
  {{- end -}}" alt="{{ $alt }}" width="{{ $width }}" height="{{ $height }}" aspect-ratio="{{ $width }} / {{ $height }}" loading="lazy" sizes="{{ $dataSzes }}" /></a>
  <noscript>
    <a href="{{ $twitterUrl }}" target="_blank" rel="noopener"><img class="{{ $nscClass }}" src="{{ $cloudiBase }}f_auto,q_auto:eco,w_600 {{ $xFmPart2 }}{{ $imageUrl }}" alt="{{ $alt }}" /></a>
  </noscript>
</div>
