@charset 'utf-8';

.header-anchor {
	text-decoration: none;
	color: var(--default-light);
	@media (prefers-color-scheme: dark) {
		color: var(--default-dark);
	}
	&:focus, &:hover, &:active {
		color: var(--blue-700);
		text-decoration: underline;
		text-decoration-thickness: var(--textDcThick);
		text-underline-offset: var(--textUnOffst);
		text-decoration-skip-ink: auto;
		&:after {
			font-size: var(--text-base);
			padding-left: 0.5em;
			content: "#";
		}
	}
	&:active {
		@media (prefers-color-scheme: dark) {
			color: var(--blue-300);
		}
	}
}

.box {
	font-size: 85%;
	display: block;
	box-sizing: border-box;
	background-color: white;
	border: 1px solid black;
	margin: 0.5em auto;
	width: 100%;
	padding: 1em 1.25em;
	@media (prefers-color-scheme: dark) {
		background-color: var(--slate-800);
		border: 1px solid var(--gray-200);
	}
	& p {
		padding: 0;
		margin: 0;
	}
	+ hr { /* for situations like in "Gems in the rough #4" as of 2021-04-15 */
		margin-top: 1.75em;
	}
	& code {
		background-color: var(--slate-100);
		@media (prefers-color-scheme: dark) {
			background-color: var(--slate-600);
		}
	}
	& a code {
		@media (prefers-color-scheme: dark) {
			background-color: var(--slate-700);
		}
	}
	& .red {
		color: var(--red-600);
		@media (prefers-color-scheme: dark) {
			color: var(--red-400);
		}
	}
}


img {
	.containedImage {
		display: block;
		width: 100%;
		height: auto;
		padding: 0;
		margin: 0 auto;
	 }
	 .ctrImg {
		display: block;
		margin-right: auto;
		margin-left: auto;
	 }
}

.img-phn {
	width: 90%;
	@media screen and (min-width: 768px) {
		width: 50%;
		margin: 0 auto;
	}
}

.imgcCaption, .imghCaption {
	padding: 0;
	margin-block-start: 0.5em;
	line-height: 1.375;
	font-size: 0.75em;
	text-align: center;
}

.punctuationExample {
	font-size: 1.5em;
	font-weight: normal;
	font-family: var(--serif);
	text-align: center;
}

.indentAfterLI {
	margin-left: 2em; /* 2em with Public Sans, 2.25em with Inter */
}

.indentAfterLI .box {
	--boxIALImarginLeft: 3em;
	margin-left: var(--boxIALImarginLeft);
	width: calc(100% - var(--boxIALImarginLeft));
}

@keyframes fadeIn {
 0% {
	 opacity: 0;
 }
 to {
	 opacity: 1;
 }
}

.animate-fade {
	animation: fadeIn 750ms ease-in-out;
}

blockquote {
	border-left: 4px solid var(--slate-400);
	color: var(--gray-550);
	margin-right: 0;
	margin-left: 0;
	padding-left: 1.5em;
	& p:last-child {
		margin-bottom: 0;
	}
	@media (prefers-color-scheme: dark) {
		/* border-left is same color */
		color: var(--gray-400);
	}
}

article {
	padding-top: 1em; /* definitely em, not rem */
	& p, & li {
		font-size: clamp(1rem, 1vw + 0.625em, var(--text-xl));
		line-height: 1.5em;
		margin-top: 1.15em;
		margin-bottom: 1.15em;
	}
	& li li, & li p {
		font-size: inherit;
		margin-top: 0.25em; /* definitely em, not rem */
	}
	& h1, & h2, & h3, & h4 {
		margin-top: 1.5em;
		margin-bottom: 1.5rem;
		letter-spacing: -0.02em;
		line-height: normal;
	}
	& picture img {
		height: auto;
	}
}

article strong:not(.red *):not(a *):not(blockquote *), article b:not(.red *):not(a *):not(blockquote *), article em:not(.red *):not(a *):not(blockquote *), article i:not(.red *):not(a *):not(blockquote *), article em strong:not(.red *):not(a *):not(blockquote *), article strong em:not(.red *):not(a *):not(blockquote *), article i b:not(.red *):not(a *):not(blockquote *), article b i:not(.red *):not(a *):not(blockquote *) {
	color: var(--gray-800); /* (vs. gray-700) */
	@media (prefers-color-scheme: dark) {
		color: var(--gray-200); /* (vs. gray-400) */
	}
}
article strong:is(blockquote *):not(a *), article b:is(blockquote *):not(a *), article em:is(blockquote *):not(a *), article i:is(blockquote *):not(a *), article em strong:is(blockquote *):not(a *), article strong em:is(blockquote *):not(a *), article i b:is(blockquote *):not(a *), article b i:is(blockquote *):not(a *) {
	color: var(--gray-600); /* (vs. gray-550) */
	@media (prefers-color-scheme: dark) {
		color: var(--gray-350); /* (vs. gray-400) */
	}
}
