@charset 'utf-8';

/* .box, .imgcCaption {
	font-family: var(--sans-serif);
} */

.header-anchor {
	text-decoration: none;
	color: var(--default-light);
}

.header-anchor:focus, .header-anchor:hover, .header-anchor:active {
	color: var(--twcss-blue-700);
	text-decoration: underline;
	text-decoration-thickness: var(--textDcThick);
	text-underline-offset: var(--textUnOffst);
	text-decoration-skip-ink: auto;
}
.header-anchor:focus::after, .header-anchor:hover::after, .header-anchor:active::after {
	font-size: var(--text-base);
	padding-left: 0.5em;
	content: "#";
}

.box {
 font-size: 85%;
 display: block;
 box-sizing: border-box;
 background-color: white;
 border: 1px solid black;
 margin: 0.5em auto;
 width: 100%;
 padding: 1em 1.25em;
}

.box p {
	padding: 0;
	margin: 0;
}

.box + hr { /* for situations like in "Gems in the rough #4" as of 2021-04-15 */
	margin-top: 1.75em;
}

.box code {
	background-color: var(--twcss-slate-100);
}

.box .red {
	color: var(--twcss-red-600);
}

img.containedImage {
 display: block;
 width: 100%;
 height: auto;
 padding: 0;
 margin: 0 auto;
}
img.ctrImg {
 display: block;
 margin-right: auto;
 margin-left: auto;
}
.img-phn {
 width: 90%;
}

.imgcCaption {
 padding: 0;
 margin-block-start: 0.5em;
 line-height: 1.375;
 font-size: 0.75em;
 text-align: center;
}

.punctuationExample {
 font-size: 1.5em;
 font-weight: normal;
 font-family: var(--serif);
 text-align: center;
}

.indentAfterLI {
 margin-left: 2em; /* 2em with Public Sans, 2.25em with Inter */
}

.indentAfterLI .box {
	--boxIALImarginLeft: 3em;
	margin-left: var(--boxIALImarginLeft);
	width: calc(100% - var(--boxIALImarginLeft));
}

@keyframes fadeIn {
 0% {
	 opacity: 0;
 }
 to {
	 opacity: 1;
 }
}

.animate-fade {
 animation: fadeIn 750ms ease-in-out;
}

article {
	padding-top: 1em; /* definitely em, not rem */
}
article p, article li {
	font-size: clamp(1rem, 1vw + 0.625em, var(--text-xl));
	line-height: 1.5em;
	margin-top: 1.15em;
	margin-bottom: 1.15em;
}
article li li, article li p {
	font-size: inherit;
	margin-top: 0.25em; /* definitely em, not rem */
}
article h1, article h2, article h3, article h4 {
	margin-top: 1.5em;
	margin-bottom: 1.5rem;
	letter-spacing: -0.02em;
	line-height: normal;
}
article picture img {
	height: auto;
}
article strong:not(.red *):not(a *):not(blockquote *), article b:not(.red *):not(a *):not(blockquote *), article em:not(.red *):not(a *):not(blockquote *), article i:not(.red *):not(a *):not(blockquote *), article em strong:not(.red *):not(a *):not(blockquote *), article strong em:not(.red *):not(a *):not(blockquote *), article i b:not(.red *):not(a *):not(blockquote *), article b i:not(.red *):not(a *):not(blockquote *) {
	color: var(--twcss-gray-800); /* (vs. gray-700) */
}
article strong:is(blockquote *):not(a *), article b:is(blockquote *):not(a *), article em:is(blockquote *):not(a *), article i:is(blockquote *):not(a *), article em strong:is(blockquote *):not(a *), article strong em:is(blockquote *):not(a *), article i b:is(blockquote *):not(a *), article b i:is(blockquote *):not(a *) {
	color: var(--twcss-gray-600); /* (vs. gray-550) */
}

@media (prefers-color-scheme: dark) {
	.header-anchor {
		color: var(--default-dark);
	}
	.header-anchor:active {
		color: var(--twcss-blue-300);
	}
	.box {
		background-color: var(--twcss-slate-800);
		border: 1px solid var(--twcss-gray-200);
	}
	.box code {
		background-color: var(--twcss-slate-600);
	}
	.box a code {
		background-color: var(--twcss-slate-700);
	}
	.box .red {
		color: var(--twcss-red-400);
	}
	article strong:not(.red *):not(a *):not(blockquote *), article b:not(.red *):not(a *):not(blockquote *), article em:not(.red *):not(a *):not(blockquote *), article i:not(.red *):not(a *):not(blockquote *), article em strong:not(.red *):not(a *):not(blockquote *), article strong em:not(.red *):not(a *):not(blockquote *), article i b:not(.red *):not(a *):not(blockquote *), article b i:not(.red *):not(a *):not(blockquote *) {
		color: var(--twcss-gray-200); /* (vs. gray-400) */
	}
	article strong:is(blockquote *):not(a *), article b:is(blockquote *):not(a *), article em:is(blockquote *):not(a *), article i:is(blockquote *):not(a *), article em strong:is(blockquote *):not(a *), article strong em:is(blockquote *):not(a *), article i b:is(blockquote *):not(a *), article b i:is(blockquote *):not(a *) {
		color: var(--twcss-gray-350); /* (vs. gray-400) */
	}
}
