@charset 'utf-8';

/* Background */

.chroma, .code-inline {
	--gray-400: oklch(71.5% 0.019 264);
	--gray-500: oklch(55% 0.023 264);
	--gray-800: oklch(28% 0.03 264);
	--zinc-300: oklch(87% 0.005 286);
	--zinc-800: oklch(27.5% 0.005 286);
	--stone-300: oklch(87% 0.004 58);
	--stone-800: oklch(27% 0.006 58);
	--red-800: oklch(44% 0.16 25);
	--red-900: oklch(39.5% 0.133 25);
	--orange-200: oklch(90% 0.07 47);
	--orange-300: oklch(83.5% 0.117 47);
	--orange-400: oklch(76% 0.159 47);
	--orange-700: oklch(55.5% 0.174 47);
	--orange-800: oklch(47% 0.143 47);
	--yellow-100: oklch(97% 0.069 105);
	--yellow-200: oklch(94.5% 0.124 105);
	--yellow-700: oklch(55.5% 0.121 105);
	--yellow-800: oklch(47.5% 0.103 105);
	--green-100: oklch(96% 0.043 150);
	--green-200: oklch(92.5% 0.081 150);
	--green-600: oklch(62.5% 0.17 150);
	--green-700: oklch(52.5% 0.137 150);
	--green-800: oklch(45% 0.108 150);
	--emerald-200: oklch(90.5% 0.089 162);
	--emerald-700: oklch(51% 0.105 162);
	--cyan-200: oklch(91.5% 0.072 215);
	--cyan-300: oklch(86.5% 0.115 215);
	--cyan-600: oklch(61% 0.111 215);
	--cyan-700: oklch(52% 0.094 215);
	--cyan-800: oklch(45% 0.077 215);
	--sky-200: oklch(90% 0.055 237);
	--sky-300: oklch(83% 0.101 237);
	--sky-700: oklch(50% 0.118 237);
	--sky-800: oklch(43.5% 0.099 237);
	--purple-200: oklch(90% 0.06 304);
	--purple-800: oklch(44% 0.198 304);
	--fuchsia-300: oklch(83.5% 0.132 322);
	--fuchsia-700: oklch(52% 0.226 322);
	--rose-200: oklch(89% 0.056 12);
	--rose-800: oklch(45.5% 0.171 12);
	color: black;
	background-color: white;
	border: 1px solid var(--gray-400, gray);
}

/* fallback colors to catch var issues) */
.chroma *, .code-inline * {
	color: var(--clr-lt, yellow);
}

@media (prefers-color-scheme: dark) {
	.chroma *, .code-inline * {
		color: var(--clr-dk, #191970);
	}
} /* Keep this media query up here, rather than with other media queries at end */

/* Other */
.chroma .x, .code-inline .x {
	--clr-lt: black;
	--clr-dk: white;
}

/* Error */
.chroma .err, .code-inline .err {
	--clr-lt: var(--red-700, red);
	--clr-dk: var(--red-300, #ffb6c1);
}

/* Line text */
.chroma .cl, .code-inline .cl {
	--clr-lt: black;
	--clr-dk: white;
} /* was missing from original */

/* LineTableTD */
.chroma .lntd, .code-inline .lntd {
	vertical-align: top;
	padding: 0;
	margin: 0;
	border: 0;
}

/* LineTable */
.chroma .lntable, .code-inline .lntable {
	border-spacing: 0;
	padding: 0;
	margin: 0;
	border: 0;
	width: auto;
	overflow: auto;
	display: block;
}

/* LineHighlight */
.chroma .hl, .code-inline .hl {
	display: block;
	width: 100%;
	background-color: var(--yellow-200, #ffffe0);
}

/* #faf0e6umbersTable */
.chroma .lnt, .code-inline .lnt {
	margin-right: 0.4em;
	padding: 0 0.4em 0 0.4em;
	--clr-lt: var(--gray-700, gray);
	--clr-dk: var(--gray-300, #d3d3d3);
}

/* #faf0e6umbers */
.chroma .ln, .code-inline .ln {
	margin-right: 0.4em;
	padding: 0 0.4em 0 0.4em;
	--clr-lt: var(--gray-700, gray);
	--clr-dk: var(--gray-300, #d3d3d3);
}

/* Keyword */
.chroma .k, .code-inline .k {
	--clr-lt: var(--sky-700, #4682b4);
	--clr-dk: var(--sky-300, #b0e0e6);
}

/* KeywordConstant */
.chroma .kc, .code-inline .kc {
	--clr-lt: var(--sky-700, #4682b4);
	--clr-dk: var(--sky-300, #b0e0e6);
}

/* KeywordDeclaration */
.chroma .kd, .code-inline .kd {
	--clr-lt: var(--cyan-700, #008b8b);
	--clr-dk: var(--cyan-300, #e0ffff);
}

/* KeywordNamespace */
.chroma .kn, .code-inline .kn {
	--clr-lt: var(--cyan-700, #008b8b);
	--clr-dk: var(--cyan-300, #e0ffff);
}

/* KeywordPseudo */
.chroma .kp, .code-inline .kp {
	--clr-lt: var(--cyan-700, #008b8b);
	--clr-dk: var(--cyan-300, #e0ffff);
}

/* KeywordReserved */
.chroma .kr, .code-inline .kr {
	--clr-lt: var(--cyan-700, #008b8b);
	--clr-dk: var(--cyan-300, #e0ffff);
}

/* KeywordType */
.chroma .kt, .code-inline .kt {
	--clr-lt: var(--cyan-700, #008b8b);
	--clr-dk: var(--cyan-300, #e0ffff);
}

/* Name */
.chroma .n, .code-inline .n {
	--clr-lt: var(--orange-700, #ff4500);
	--clr-dk: var(--orange-300, #ffdab9);
}

/* NameAttribute */
.chroma .na, .code-inline .na {
	--clr-lt: var(--rose-800, #db7093);
	--clr-dk: var(--rose-200, #ffe4e1);
}

/* NameBuiltin */
.chroma .nb, .code-inline .nb {
	--clr-lt: var(--sky-800, #1e90ff);
	--clr-dk: var(--sky-300, #b0e0e6);
}

/* NameBuiltinPseudo */
.chroma .bp, .code-inline .bp {
	--clr-lt: var(--stone-800, gray);
	--clr-dk: var(--stone-300, #d3d3d3);
}

/* NameClass */
.chroma .nc, .code-inline .nc {
	--clr-lt: var(--fuchsia-700, #ff00ff);
	--clr-dk: var(--fuchsia-300, pink);
}

/* NameConstant */
.chroma .no, .code-inline .no {
	--clr-lt: var(--cyan-600, #008b8b);
	--clr-dk: var(--cyan-300, #e0ffff);
}

/* NameDecorator */
.chroma .nd, .code-inline .nd {
	--clr-lt: var(--orange-800, #d2691e);
	--clr-dk: var(--orange-300, #faf0e6);
}

/* NameEntity */
.chroma .ni, .code-inline .ni {
	--clr-lt: var(--cyan-800, #008b8b);
	--clr-dk: var(--cyan-300, #e0ffff);
}

/* NameException */
.chroma .ne, .code-inline .ne {
	--clr-lt: var(--stone-800, gray);
	--clr-dk: var(--stone-300, #d3d3d3);
}

/* NameFunction */
.chroma .nf, .code-inline .nf {
	--clr-lt: var(--sky-700, #4682b4);
	--clr-dk: var(--sky-200, #f0ffff);
}

/* NameFunctionMagic */
.chroma .fm, .code-inline .fm {
	--clr-lt: var(--stone-800, gray);
	--clr-dk: var(--stone-300, #d3d3d3);
}

/* NameLabel */
.chroma .nl, .code-inline .nl {
	--clr-lt: var(--stone-800, gray);
	--clr-dk: var(--stone-300, #d3d3d3);
}

/* NameNamespace */
.chroma .nn, .code-inline .nn {
	--clr-lt: var(--sky-700, #4682b4);
	--clr-dk: var(--sky-300, #b0e0e6);
}

/* NameOther */
.chroma .nx, .code-inline .nx {
	--clr-lt: var(--orange-800, #d2691e);
	--clr-dk: var(--orange-200, #faf0e6);
}

/* NameProperty */
.chroma .py, .code-inline .py {
	--clr-lt: var(--gray-800, #a9a9a9);
	--clr-dk: var(--gray-300, #d3d3d3);
}

/* NameTag */
.chroma .nt, .code-inline .nt {
	--clr-lt: var(--cyan-700, #008b8b);
	--clr-dk: var(--cyan-300, #e0ffff);
}

/* NameVariable */
.chroma .nv, .code-inline .nv {
	--clr-lt: var(--purple-800, #8b008b);
	--clr-dk: var(--purple-200, #ee82ee);
}

/* NameVariableClass */
.chroma .vc, .code-inline .vc {
	--clr-lt: var(--gray-800, #a9a9a9);
	--clr-dk: var(--gray-300, #d3d3d3);
}

/* NameVariableGlobal */
.chroma .vg, .code-inline .vg {
	--clr-lt: var(--gray-800, #a9a9a9);
	--clr-dk: var(--gray-300, #d3d3d3);
}

/* NameVariableInstance */
.chroma .vi, .code-inline .vi {
	--clr-lt: var(--gray-800, #a9a9a9);
	--clr-dk: var(--gray-300, #d3d3d3);
}

/* NameVariableMagic */
.chroma .vm, .code-inline .vm {
	--clr-lt: var(--gray-800, #a9a9a9);
	--clr-dk: var(--gray-300, #d3d3d3);
}

/* Literal */
.chroma .l, .code-inline .l {
	--clr-lt: var(--gray-800, #a9a9a9);
	--clr-dk: var(--gray-300, #d3d3d3);
}

/* LiteralDate */
.chroma .ld, .code-inline .ld {
	--clr-lt: var(--gray-700, gray);
	--clr-dk: var(--gray-200, #d3d3d3);
}

/* LiteralString */
.chroma .s, .code-inline .s {
	--clr-lt: var(--orange-700, #ff4500);
	--clr-dk: var(--orange-400, #ffdab9);
}

/* LiteralStringAffix */
.chroma .sa, .code-inline .sa {
	--clr-lt: var(--yellow-700, #a0522d);
	--clr-dk: var(--yellow-200, #ffffe0);
}

/* LiteralStringBacktick */
.chroma .sb, .code-inline .sb {
	--clr-lt: var(--yellow-800, #a0522d);
	--clr-dk: var(--yellow-100, #ffffe0);
}

/* LiteralStringChar */
.chroma .sc, .code-inline .sc {
	--clr-lt: var(--yellow-700, #a0522d);
	--clr-dk: var(--yellow-200, #ffffe0);
}

/* LiteralStringDelimiter */
.chroma .dl, .code-inline .dl {
	--clr-lt: var(--yellow-700, #a0522d);
	--clr-dk: var(--yellow-200, #ffffe0);
}

/* LiteralStringDoc */
.chroma .sd, .code-inline .sd {
	--clr-lt: var(--yellow-700, #a0522d);
	--clr-dk: var(--yellow-200, #ffffe0);
}

/* LiteralStringDouble */
.chroma .s2, .code-inline .s2 {
	--clr-lt: var(--orange-700, #ff4500);
	--clr-dk: var(--orange-300, #ffdab9);
}

/* LiteralStringEscape */
.chroma .se, .code-inline .se {
	--clr-lt: var(--yellow-700, #a0522d);
	--clr-dk: var(--yellow-200, #ffffe0);
}

/* LiteralStringHeredoc */
.chroma .sh, .code-inline .sh {
	--clr-lt: var(--yellow-700, #a0522d);
	--clr-dk: var(--yellow-200, #ffffe0);
}

/* LiteralStringInterpol */
.chroma .si, .code-inline .si {
	--clr-lt: var(--yellow-700, #a0522d);
	--clr-dk: var(--yellow-200, #ffffe0);
}

/* LiteralStringOther */
.chroma .sx, .code-inline .sx {
	--clr-lt: var(--orange-700, #ff4500);
	--clr-dk: var(--orange-300, #ffdab9);
}

/* LiteralStringRegex */
.chroma .sr, .code-inline .sr {
	--clr-lt: var(--yellow-700, #a0522d);
	--clr-dk: var(--yellow-200, #ffffe0);
}

/* LiteralStringSingle */
.chroma .s1, .code-inline .s1 {
	--clr-lt: var(--yellow-700, #a0522d);
	--clr-dk: var(--yellow-200, #ffffe0);
}

/* LiteralStringSymbol */
.chroma .ss, .code-inline .ss {
	--clr-lt: var(--yellow-700, #a0522d);
	--clr-dk: var(--yellow-200, #ffffe0);
}

/* LiteralNumber */
.chroma .m, .code-inline .m {
	--clr-lt: var(--cyan-800, #008b8b);
	--clr-dk: var(--cyan-200, #e0ffff);
}

/* LiteralNumberBin */
.chroma .mb, .code-inline .mb {
	--clr-lt: var(--sky-800, #1e90ff);
	--clr-dk: var(--sky-200, #f0ffff);
}

/* LiteralNumberFloat */
.chroma .mf, .code-inline .mf {
	--clr-lt: var(--sky-700, #4682b4);
	--clr-dk: var(--sky-300, #b0e0e6);
}

/* LiteralNumberHex */
.chroma .mh, .code-inline .mh {
	--clr-lt: var(--cyan-800, #008b8b);
	--clr-dk: var(--cyan-200, #e0ffff);
}

/* LiteralNumberInteger */
.chroma .mi, .code-inline .mi {
	--clr-lt: var(--sky-700, #4682b4);
	--clr-dk: var(--sky-300, #b0e0e6);
}

/* LiteralNumberIntegerLong */
.chroma .il, .code-inline .il {
	--clr-lt: var(--sky-800, #1e90ff);
	--clr-dk: var(--sky-300, #b0e0e6);
}

/* LiteralNumberOct */
.chroma .mo, .code-inline .mo {
	--clr-lt: var(--yellow-700, #a0522d);
	--clr-dk: var(--yellow-200, #ffffe0);
}

/* Operator */
.chroma .o, .code-inline .o {
	--clr-lt: var(--yellow-800, #a0522d);
	--clr-dk: var(--yellow-200, #ffffe0);
}

/* OperatorWord */
.chroma .ow, .code-inline .ow {
	--clr-lt: var(--sky-800, #1e90ff);
	--clr-dk: var(--sky-200, #f0ffff);
}

/* Punctuation */
.chroma .p, .code-inline .p {
	--clr-lt: var(--slate-700, #708090);
	--clr-dk: var(--slate-300, #dcdcdc);
}

/* Comment */
.chroma .c, .code-inline .c {
	--clr-lt: var(--emerald-700, #006400);
	--clr-dk: var(--emerald-200, #98fb98);
}

/* CommentHashbang */
.chroma .ch, .code-inline .ch {
	--clr-lt: var(--green-700, green);
	--clr-dk: var(--green-200, #90ee90);
}

/* CommentMultiline */
.chroma .cm, .code-inline .cm {
	--clr-lt: var(--green-700, green);
	--clr-dk: var(--green-200, #90ee90);
}

/* CommentSingle */
.chroma .c1, .code-inline .c1 {
	--clr-lt: var(--green-700, green);
	--clr-dk: var(--green-200, #90ee90);
}

/* CommentSpecial */
.chroma .cs, .code-inline .cs {
	color: var(--red-300, #ffb6c1);
	background-color: var(--red-900, #800000);
}

/* CommentPreproc */
.chroma .cp, .code-inline .cp {
	--clr-lt: var(--stone-800, gray);
	--clr-dk: var(--stone-300, #d3d3d3);
}

/* CommentPreprocFile */
.chroma .cpf, .code-inline .cpf {
	--clr-lt: var(--red-800, #8b0000);
	--clr-dk: var(--red-300, #ffb6c1);
}

/* Generic */
.chroma .g, .code-inline .g {
	--clr-lt: var(--stone-800, gray);
	--clr-dk: var(--stone-300, #d3d3d3);
}

/* GenericDeleted */
.chroma .gd, .code-inline .gd {
	--clr-lt: var(--red-800, #8b0000);
	--clr-dk: var(--red-300, #ffb6c1);
}

/* GenericEmph */
.chroma .ge, .code-inline .ge {
	font-style: italic;
}

/* GenericError */
.chroma .gr, .code-inline .gr {
	--clr-lt: var(--red-800, #8b0000);
	--clr-dk: var(--red-300, #ffb6c1);
}

/* GenericHeading */
.chroma .gh, .code-inline .gh {
	--clr-lt: black;
	--clr-dk: white;
}

/* GenericInserted */
.chroma .gi, .code-inline .gi {
	--clr-lt: var(--green-800, #006400);
	--clr-dk: var(--green-200, #90ee90);
}

/* GenericOutput */
.chroma .go, .code-inline .go {
	--clr-lt: var(--zinc-800, #708090);
	--clr-dk: var(--zinc-300, #d3d3d3);
}

/* GenericPrompt */
.chroma .gp, .code-inline .gp {
	--clr-lt: var(--zinc-800, #708090);
	--clr-dk: var(--zinc-300, #d3d3d3);
}

/* GenericStrong */
.chroma .gs, .code-inline .gs {
	font-weight: bold;
}

/* GenericSubheading */
.chroma .gu, .code-inline .gu {
	--clr-lt: black;
	--clr-dk: white;
}

/* GenericTraceback */
.chroma .gt, .code-inline .gt {
	--clr-lt: var(--red-800, #8b0000);
	--clr-dk: var(--red-300, #ffb6c1);
}

/* GenericUnderline */
.chroma .gl, .code-inline .gl {
	text-decoration: underline;
}

/* TextWhitespace */
.chroma .w, .code-inline .w {
	--clr-lt: var(--zinc-800, #708090);
	--clr-dk: var(--zinc-300, #d3d3d3);
}

/* ======= END, individual items from Chroma */

pre,
code {
	font-family: var(--monospaced);
  font-kerning: none;
  font-variant-ligatures: none;
  background-color: var(--slate-200, #d3d3d3);
}

code[class*="language-"],
pre[class*="language-"] {
	color: var(--gray-200, #d3d3d3);
	background: none;
	font-size: clamp(0.9rem, 1vw + 0.625em, var(--text-lg));
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;
	tab-size: 2;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"],
pre.chroma {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	color: black;
	background-color: white;
}

.highlight {
	position: relative;
}
.highlight .chroma {
	border-radius: 16px;
	/* keeps code blocks from being too small
			due to the `article code` rule above */
	font-size: clamp(0.9rem, 1vw + 0.625em, var(--text-lg));
}

@media screen and  (min-width: 1024px) {
	pre.expand:hover {
		margin-left: -20vw;
		margin-right: -20vw;
		max-width: 95vw;
	}
}

/* === for copy-code-to-clipboard */

/* h/t https://simplernerd.com/hugo-add-copy-to-clipboard-button/ */

.clipboard-button {
	position: absolute;
	right: 0;
	padding: 2px 7px 5px 7px;
	margin: 5px;
	color: var(--gray-500, #c0c0c0);
	border-color: var(--gray-500, #c0c0c0);
	background-color: var(--gray-100, #d3d3d3);
	border: 1px solid;
	border-radius: 6px;
	font-size: 0.8em;
	z-index: 1;
	opacity: 0;
	transition: 0.1s;
}
.clipboard-button > svg {
	fill:  var(--gray-500, #c0c0c0);
}
.clipboard-button:hover {
	cursor: pointer;
	border-color: var(--emerald-700, #16a34a);
	background-color: var(--emerald-200, #dcfce7);
}
.clipboard-button:hover > svg {
	fill: var(--emerald-700, #16a34a);
}
.clipboard-button:focus {
	outline: 0;
}

/* .highlight {
   position: relative;
} */

.highlight:hover > .clipboard-button {
	opacity: 1;
	transition: 0.2s;
}

code, article code, .box code {
	background-color: var(--bg-lt);
}

code {
	font-family: var(--monospaced);
  font-kerning: none;
  font-variant-ligatures: none;
	--bg-lt: var(--slate-200, #d3d3d3);
	--bg-dk: var(--slate-800, #a9a9a9);
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.labeled-highlight {
	margin-bottom: 0;
	padding-bottom: 0;
	line-height: 0.5em;
}
.labeled-highlight + div.highlight {
	margin-top: 0;
	padding-top: 0;
}

article code {
	font-size: 0.975em;
	--bg-lt: white;
	--bg-dk: var(--slate-700, #708090);
}

article .footnotes code {
	font-size: 1em;
	/* overriding the `article code` part above for footnotes */
}

article p code.code-inline {
	/* font-size: var(--text-sm); */
	padding: 0.25em 0.5em;
	margin: 0 0.25em;
}

article .footnotes li code {
	white-space: normal;
}

article blockquote code {
	color: var(--slate-800, #a9a9a9);
}

.box code {
	font-size: 1em; /* definitely em */
	--bg-lt: var(--slate-100, snow);
	--bg-dk: var(--slate-600, gray);
}

article ol li .highlight {
	line-height: 1.5;
}

@media (prefers-color-scheme: dark) {
	.chroma, .code-inline {
		background-color: var(--slate-800, #a9a9a9);
	}
	/* LineHighlight */
	.chroma .hl, .code-inline .hl {
		background-color: var(--yellow-800, #a0522d);
	}
	pre,
	code {
		background-color: var(--slate-800, #a9a9a9);
	}
	:not(pre) > code[class*="language-"],
	pre[class*="language-"] {
	color: white;
		background-color: var(--slate-800, #a9a9a9);
	}
	code, article code, .box code {
		background-color: var(--bg-dk);
	}
	article blockquote code {
		color: var(--slate-300, gray);
	}
}

@media screen and (min-width: 768px) {
	article code {
		font-size: 0.95em;
	}
	article p code {
		white-space: nowrap;
	}
}
@media screen and (min-width: 1280px) {
	article code {
		font-size: 0.925em;
	}
}
@media screen and (min-width: 1536px) {
	article code {
		font-size: 0.9em;
	}
}
