@charset 'utf-8';

/* Background */

.chroma, .code-inline {
	--twcss-gray-400: #9ca3af;
	--twcss-gray-500: #6b7280;
	--twcss-gray-800: #1f2937;
	--twcss-zinc-300: #d4d4d8;
	--twcss-zinc-800: #27272a;
	--twcss-stone-300: #d6d3d1;
	--twcss-stone-800: #292524;
	--twcss-red-800: #981b1b;
	--twcss-red-900: #7f1d1d;
	--twcss-orange-200: #fed7aa;
	--twcss-orange-300: #fdba74;
	--twcss-orange-400: #fb923c;
	--twcss-orange-700: #c2410c;
	--twcss-orange-800: #9a3412;
	--twcss-yellow-100: #fef9c3;
	--twcss-yellow-200: #fef08a;
	--twcss-yellow-700: #a16207;
	--twcss-yellow-800: #854d0e;
	--twcss-green-100: #dcfce7;
	--twcss-green-200: #bbf7d0;
	--twcss-green-600: #16a34a;
	--twcss-green-700: #15803d;
	--twcss-green-800: #166534;
	--twcss-emerald-200: #a7f3d0;
	--twcss-emerald-700: #047857;
	--twcss-cyan-200: #a5f3fc;
	--twcss-cyan-300: #67e8f9;
	--twcss-cyan-600: #0891b2;
	--twcss-cyan-700: #0e7490;
	--twcss-cyan-800: #155e75;
	--twcss-sky-200: #bae6fd;
	--twcss-sky-300: #7dd3fc;
	--twcss-sky-700: #0369a0;
	--twcss-sky-800: #075783;
	--twcss-purple-200: #e9d5ff;
	--twcss-purple-800: #6b21a8;
	--twcss-fuchsia-300: #f0abfc;
	--twcss-fuchsia-700: #a21caf;
	--twcss-rose-200: #fecdd3;
	--twcss-rose-800: #9f1239;
	color: black;
	background-color: white;
	border: 1px solid var(--twcss-gray-400);
}

/* fallback colors to catch var issues) */
.chroma *, .code-inline * {
	color: var(--clr-lt, yellow);
}

@media (prefers-color-scheme: dark) {
	.chroma *, .code-inline * {
		color: var(--clr-dk, midnightblue);
	}
} /* Keep this media query up here, rather than with other media queries at end */

/* Other */
.chroma .x, .code-inline .x {
	--clr-lt: black;
	--clr-dk: white;
}

/* Error */
.chroma .err, .code-inline .err {
	--clr-lt: var(--twcss-red-700);
	--clr-dk: var(--twcss-red-300);
}

/* Line text */
.chroma .cl, .code-inline .cl {
	--clr-lt: black;
	--clr-dk: white;
} /* was missing from original */

/* LineTableTD */
.chroma .lntd, .code-inline .lntd {
	vertical-align: top;
	padding: 0;
	margin: 0;
	border: 0;
}

/* LineTable */
.chroma .lntable, .code-inline .lntable {
	border-spacing: 0;
	padding: 0;
	margin: 0;
	border: 0;
	width: auto;
	overflow: auto;
	display: block;
}

/* LineHighlight */
.chroma .hl, .code-inline .hl {
	display: block;
	width: 100%;
	background-color: var(--twcss-yellow-200);
}

/* LineNumbersTable */
.chroma .lnt, .code-inline .lnt {
	margin-right: 0.4em;
	padding: 0 0.4em 0 0.4em;
	--clr-lt: var(--twcss-gray-700);
	--clr-dk: var(--twcss-gray-300);
}

/* LineNumbers */
.chroma .ln, .code-inline .ln {
	margin-right: 0.4em;
	padding: 0 0.4em 0 0.4em;
	--clr-lt: var(--twcss-gray-700);
	--clr-dk: var(--twcss-gray-300);
}

/* Keyword */
.chroma .k, .code-inline .k {
	--clr-lt: var(--twcss-sky-700);
	--clr-dk: var(--twcss-sky-300);
}

/* KeywordConstant */
.chroma .kc, .code-inline .kc {
	--clr-lt: var(--twcss-sky-700);
	--clr-dk: var(--twcss-sky-300);
}

/* KeywordDeclaration */
.chroma .kd, .code-inline .kd {
	--clr-lt: var(--twcss-cyan-700);
	--clr-dk: var(--twcss-cyan-300);
}

/* KeywordNamespace */
.chroma .kn, .code-inline .kn {
	--clr-lt: var(--twcss-cyan-700);
	--clr-dk: var(--twcss-cyan-300);
}

/* KeywordPseudo */
.chroma .kp, .code-inline .kp {
	--clr-lt: var(--twcss-cyan-700);
	--clr-dk: var(--twcss-cyan-300);
}

/* KeywordReserved */
.chroma .kr, .code-inline .kr {
	--clr-lt: var(--twcss-cyan-700);
	--clr-dk: var(--twcss-cyan-300);
}

/* KeywordType */
.chroma .kt, .code-inline .kt {
	--clr-lt: var(--twcss-cyan-700);
	--clr-dk: var(--twcss-cyan-300);
}

/* Name */
.chroma .n, .code-inline .n {
	--clr-lt: var(--twcss-orange-700);
	--clr-dk: var(--twcss-orange-300);
}

/* NameAttribute */
.chroma .na, .code-inline .na {
	--clr-lt: var(--twcss-rose-800);
	--clr-dk: var(--twcss-rose-200);
}

/* NameBuiltin */
.chroma .nb, .code-inline .nb {
	--clr-lt: var(--twcss-sky-800);
	--clr-dk: var(--twcss-sky-300);
}

/* NameBuiltinPseudo */
.chroma .bp, .code-inline .bp {
	--clr-lt: var(--twcss-stone-800);
	--clr-dk: var(--twcss-stone-300);
}

/* NameClass */
.chroma .nc, .code-inline .nc {
	--clr-lt: var(--twcss-fuchsia-700);
	--clr-dk: var(--twcss-fuchsia-300);
}

/* NameConstant */
.chroma .no, .code-inline .no {
	--clr-lt: var(--twcss-cyan-600);
	--clr-dk: var(--twcss-cyan-300);
}

/* NameDecorator */
.chroma .nd, .code-inline .nd {
	--clr-lt: var(--twcss-orange-800);
	--clr-dk: var(--twcss-orange-300);
}

/* NameEntity */
.chroma .ni, .code-inline .ni {
	--clr-lt: var(--twcss-cyan-800);
	--clr-dk: var(--twcss-cyan-300);
}

/* NameException */
.chroma .ne, .code-inline .ne {
	--clr-lt: var(--twcss-stone-800);
	--clr-dk: var(--twcss-stone-300);
}

/* NameFunction */
.chroma .nf, .code-inline .nf {
	--clr-lt: var(--twcss-sky-700);
	--clr-dk: var(--twcss-sky-200);
}

/* NameFunctionMagic */
.chroma .fm, .code-inline .fm {
	--clr-lt: var(--twcss-stone-800);
	--clr-dk: var(--twcss-stone-300);
}

/* NameLabel */
.chroma .nl, .code-inline .nl {
	--clr-lt: var(--twcss-stone-800);
	--clr-dk: var(--twcss-stone-300);
}

/* NameNamespace */
.chroma .nn, .code-inline .nn {
	--clr-lt: var(--twcss-sky-700);
	--clr-dk: var(--twcss-sky-300);
}

/* NameOther */
.chroma .nx, .code-inline .nx {
	--clr-lt: var(--twcss-orange-800);
	--clr-dk: var(--twcss-orange-200);
}

/* NameProperty */
.chroma .py, .code-inline .py {
	--clr-lt: var(--twcss-gray-800);
	--clr-dk: var(--twcss-gray-300);
}

/* NameTag */
.chroma .nt, .code-inline .nt {
	--clr-lt: var(--twcss-cyan-700);
	--clr-dk: var(--twcss-cyan-300);
}

/* NameVariable */
.chroma .nv, .code-inline .nv {
	--clr-lt: var(--twcss-purple-800);
	--clr-dk: var(--twcss-purple-200);
}

/* NameVariableClass */
.chroma .vc, .code-inline .vc {
	--clr-lt: var(--twcss-gray-800);
	--clr-dk: var(--twcss-gray-300);
}

/* NameVariableGlobal */
.chroma .vg, .code-inline .vg {
	--clr-lt: var(--twcss-gray-800);
	--clr-dk: var(--twcss-gray-300);
}

/* NameVariableInstance */
.chroma .vi, .code-inline .vi {
	--clr-lt: var(--twcss-gray-800);
	--clr-dk: var(--twcss-gray-300);
}

/* NameVariableMagic */
.chroma .vm, .code-inline .vm {
	--clr-lt: var(--twcss-gray-800);
	--clr-dk: var(--twcss-gray-300);
}

/* Literal */
.chroma .l, .code-inline .l {
	--clr-lt: var(--twcss-gray-800);
	--clr-dk: var(--twcss-gray-300);
}

/* LiteralDate */
.chroma .ld, .code-inline .ld {
	--clr-lt: var(--twcss-gray-700);
	--clr-dk: var(--twcss-gray-200);
}

/* LiteralString */
.chroma .s, .code-inline .s {
	--clr-lt: var(--twcss-orange-700);
	--clr-dk: var(--twcss-orange-400);
}

/* LiteralStringAffix */
.chroma .sa, .code-inline .sa {
	--clr-lt: var(--twcss-yellow-700);
	--clr-dk: var(--twcss-yellow-200);
}

/* LiteralStringBacktick */
.chroma .sb, .code-inline .sb {
	--clr-lt: var(--twcss-yellow-800);
	--clr-dk: var(--twcss-yellow-100);
}

/* LiteralStringChar */
.chroma .sc, .code-inline .sc {
	--clr-lt: var(--twcss-yellow-700);
	--clr-dk: var(--twcss-yellow-200);
}

/* LiteralStringDelimiter */
.chroma .dl, .code-inline .dl {
	--clr-lt: var(--twcss-yellow-700);
	--clr-dk: var(--twcss-yellow-200);
}

/* LiteralStringDoc */
.chroma .sd, .code-inline .sd {
	--clr-lt: var(--twcss-yellow-700);
	--clr-dk: var(--twcss-yellow-200);
}

/* LiteralStringDouble */
.chroma .s2, .code-inline .s2 {
	--clr-lt: var(--twcss-orange-700);
	--clr-dk: var(--twcss-orange-300);
}

/* LiteralStringEscape */
.chroma .se, .code-inline .se {
	--clr-lt: var(--twcss-yellow-700);
	--clr-dk: var(--twcss-yellow-200);
}

/* LiteralStringHeredoc */
.chroma .sh, .code-inline .sh {
	--clr-lt: var(--twcss-yellow-700);
	--clr-dk: var(--twcss-yellow-200);
}

/* LiteralStringInterpol */
.chroma .si, .code-inline .si {
	--clr-lt: var(--twcss-yellow-700);
	--clr-dk: var(--twcss-yellow-200);
}

/* LiteralStringOther */
.chroma .sx, .code-inline .sx {
	--clr-lt: var(--twcss-orange-700);
	--clr-dk: var(--twcss-orange-300);
}

/* LiteralStringRegex */
.chroma .sr, .code-inline .sr {
	--clr-lt: var(--twcss-yellow-700);
	--clr-dk: var(--twcss-yellow-200);
}

/* LiteralStringSingle */
.chroma .s1, .code-inline .s1 {
	--clr-lt: var(--twcss-yellow-700);
	--clr-dk: var(--twcss-yellow-200);
}

/* LiteralStringSymbol */
.chroma .ss, .code-inline .ss {
	--clr-lt: var(--twcss-yellow-700);
	--clr-dk: var(--twcss-yellow-200);
}

/* LiteralNumber */
.chroma .m, .code-inline .m {
	--clr-lt: var(--twcss-cyan-800);
	--clr-dk: var(--twcss-cyan-200);
}

/* LiteralNumberBin */
.chroma .mb, .code-inline .mb {
	--clr-lt: var(--twcss-sky-800);
	--clr-dk: var(--twcss-sky-200);
}

/* LiteralNumberFloat */
.chroma .mf, .code-inline .mf {
	--clr-lt: var(--twcss-sky-700);
	--clr-dk: var(--twcss-sky-300);
}

/* LiteralNumberHex */
.chroma .mh, .code-inline .mh {
	--clr-lt: var(--twcss-cyan-800);
	--clr-dk: var(--twcss-cyan-200);
}

/* LiteralNumberInteger */
.chroma .mi, .code-inline .mi {
	--clr-lt: var(--twcss-sky-700);
	--clr-dk: var(--twcss-sky-300);
}

/* LiteralNumberIntegerLong */
.chroma .il, .code-inline .il {
	--clr-lt: var(--twcss-sky-800);
	--clr-dk: var(--twcss-sky-300);
}

/* LiteralNumberOct */
.chroma .mo, .code-inline .mo {
	--clr-lt: var(--twcss-yellow-700);
	--clr-dk: var(--twcss-yellow-200);
}

/* Operator */
.chroma .o, .code-inline .o {
	--clr-lt: var(--twcss-yellow-800);
	--clr-dk: var(--twcss-yellow-200);
}

/* OperatorWord */
.chroma .ow, .code-inline .ow {
	--clr-lt: var(--twcss-sky-800);
	--clr-dk: var(--twcss-sky-200);
}

/* Punctuation */
.chroma .p, .code-inline .p {
	--clr-lt: var(--twcss-slate-700);
	--clr-dk: var(--twcss-slate-300);
}

/* Comment */
.chroma .c, .code-inline .c {
	--clr-lt: var(--twcss-emerald-700);
	--clr-dk: var(--twcss-emerald-200);
}

/* CommentHashbang */
.chroma .ch, .code-inline .ch {
	--clr-lt: var(--twcss-green-700);
	--clr-dk: var(--twcss-green-200);
}

/* CommentMultiline */
.chroma .cm, .code-inline .cm {
	--clr-lt: var(--twcss-green-700);
	--clr-dk: var(--twcss-green-200);
}

/* CommentSingle */
.chroma .c1, .code-inline .c1 {
	--clr-lt: var(--twcss-green-700);
	--clr-dk: var(--twcss-green-200);
}

/* CommentSpecial */
.chroma .cs, .code-inline .cs {
	color: var(--twcss-red-300);
	background-color: var(--twcss-red-900);
}

/* CommentPreproc */
.chroma .cp, .code-inline .cp {
	--clr-lt: var(--twcss-stone-800);
	--clr-dk: var(--twcss-stone-300);
}

/* CommentPreprocFile */
.chroma .cpf, .code-inline .cpf {
	--clr-lt: var(--twcss-red-800);
	--clr-dk: var(--twcss-red-300);
}

/* Generic */
.chroma .g, .code-inline .g {
	--clr-lt: var(--twcss-stone-800);
	--clr-dk: var(--twcss-stone-300);
}

/* GenericDeleted */
.chroma .gd, .code-inline .gd {
	--clr-lt: var(--twcss-red-800);
	--clr-dk: var(--twcss-red-300);
}

/* GenericEmph */
.chroma .ge, .code-inline .ge {
	font-style: italic;
}

/* GenericError */
.chroma .gr, .code-inline .gr {
	--clr-lt: var(--twcss-red-800);
	--clr-dk: var(--twcss-red-300);
}

/* GenericHeading */
.chroma .gh, .code-inline .gh {
	--clr-lt: black;
	--clr-dk: white;
}

/* GenericInserted */
.chroma .gi, .code-inline .gi {
	--clr-lt: var(--twcss-green-800);
	--clr-dk: var(--twcss-green-200);
}

/* GenericOutput */
.chroma .go, .code-inline .go {
	--clr-lt: var(--twcss-zinc-800);
	--clr-dk: var(--twcss-zinc-300);
}

/* GenericPrompt */
.chroma .gp, .code-inline .gp {
	--clr-lt: var(--twcss-zinc-800);
	--clr-dk: var(--twcss-zinc-300);
}

/* GenericStrong */
.chroma .gs, .code-inline .gs {
	font-weight: bold;
}

/* GenericSubheading */
.chroma .gu, .code-inline .gu {
	--clr-lt: black;
	--clr-dk: white;
}

/* GenericTraceback */
.chroma .gt, .code-inline .gt {
	--clr-lt: var(--twcss-red-800);
	--clr-dk: var(--twcss-red-300);
}

/* GenericUnderline */
.chroma .gl, .code-inline .gl {
	text-decoration: underline;
}

/* TextWhitespace */
.chroma .w, .code-inline .w {
	--clr-lt: var(--twcss-zinc-800);
	--clr-dk: var(--twcss-zinc-300);
}

/* ======= END, individual items from Chroma */

pre,
code {
	font-family: var(--monospaced);
  font-kerning: none;
  font-variant-ligatures: none;
  background-color: var(--twcss-slate-200);
}

code[class*="language-"],
pre[class*="language-"] {
	color: var(--twcss-gray-200);
	background: none;
	font-size: clamp(0.9rem, 1vw + 0.625em, var(--text-lg));
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;
	tab-size: 2;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"],
pre.chroma {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	color: black;
	background-color: white;
}

.highlight {
	position: relative;
}
.highlight .chroma {
	border-radius: 16px;
	/* keeps code blocks from being too small
			due to the `article code` rule above */
	font-size: clamp(0.9rem, 1vw + 0.625em, var(--text-lg));
}

@media screen and  (min-width: 1024px) {
	pre.expand:hover {
		margin-left: -20vw;
		margin-right: -20vw;
		max-width: 95vw;
	}
}

/* === for copy-code-to-clipboard */

/* h/t https://simplernerd.com/hugo-add-copy-to-clipboard-button/ */

.clipboard-button {
	position: absolute;
	right: 0;
	padding: 2px 7px 5px 7px;
	margin: 5px;
	color: var(--twcss-gray-500);
	border-color: var(--twcss-gray-500);
	background-color: var(--twcss-gray-100);
	border: 1px solid;
	border-radius: 6px;
	font-size: 0.8em;
	z-index: 1;
	opacity: 0;
	transition: 0.1s;
}
.clipboard-button > svg {
	fill:  var(--twcss-gray-500);
}
.clipboard-button:hover {
	cursor: pointer;
	border-color: #16a34a;
	background-color: #dcfce7;
}
.clipboard-button:hover > svg {
	fill: #16a34a;
}
.clipboard-button:focus {
	outline: 0;
}

/* .highlight {
   position: relative;
} */

.highlight:hover > .clipboard-button {
	opacity: 1;
	transition: 0.2s;
}

code, article code, .box code {
	background-color: var(--bg-lt);
}

code {
	font-family: var(--monospaced);
  font-kerning: none;
  font-variant-ligatures: none;
	--bg-lt: var(--twcss-slate-200);
	--bg-dk: var(--twcss-slate-800);
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.labeled-highlight {
	margin-bottom: 0;
	padding-bottom: 0;
	line-height: 0.5em;
}
.labeled-highlight + div.highlight {
	margin-top: 0;
	padding-top: 0;
}

article code {
	font-size: 0.975em;
	--bg-lt: white;
	--bg-dk: var(--twcss-slate-700);
}

article .footnotes code {
	font-size: 1em;
	/* overriding the `article code` part above for footnotes */
}

article p code.code-inline {
	/* font-size: var(--text-sm); */
	padding: 0.25em 0.5em;
	margin: 0 0.25em;
}

article .footnotes li code {
	white-space: normal;
}

article blockquote code {
	color: var(--twcss-slate-800);
}

.box code {
	font-size: 1em; /* definitely em */
	--bg-lt: var(--twcss-slate-100);
	--bg-dk: var(--twcss-slate-600);
}

article ol li .highlight {
	line-height: 1.5;
}

@media (prefers-color-scheme: dark) {
	.chroma, .code-inline {
		background-color: var(--twcss-slate-800);
	}
	/* LineHighlight */
	.chroma .hl, .code-inline .hl {
		background-color: var(--twcss-yellow-800);
	}
	pre,
	code {
		background-color: var(--twcss-slate-800);
	}
	:not(pre) > code[class*="language-"],
	pre[class*="language-"] {
	color: white;
		background-color: var(--twcss-slate-800);
	}
	code, article code, .box code {
		background-color: var(--bg-dk);
	}
	article blockquote code {
		color: var(--twcss-slate-300);
	}
}

@media screen and (min-width: 768px) {
	article code {
		font-size: 0.95em;
	}
	article p code {
		white-space: nowrap;
	}
}
@media screen and (min-width: 1280px) {
	article code {
		font-size: 0.925em;
	}
}
@media screen and (min-width: 1536px) {
	article code {
		font-size: 0.9em;
	}
}
