
/* ==== for IE 10 and 11 **ONLY** ==== */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  #content .topOfMain, main .topOfMain {
    margin-top: 60px;
  }
  
  .container-home {
    display: table;
    border-spacing: 15px;
    padding: 0;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    /* margin: 0; */
    & .column-home-1 {
      width: 65%;
    }
    & .column-home-2 {
      width: 35%;
    }
		& .column-home-1, & .column-home-2 {
      display: table-cell;
      margin-top: 0;
      padding-top: 0;
      padding-right: 0.25em;
      padding-left: 0.25em;
			& h1 {
				margin-top: 0;
				padding-top: 0;
      }
      & img {
        display: inline-block;
        width: 95%;
        margin-right: auto;
        margin-left: auto;
      }
		}
	}
	.container {
		display: inherit;
  }
  
  .container-narrower {
    & img {
      width: 100%;
    }
    & pre[class*='language-'] {
      margin-right: auto;
      margin-left: auto;
    }
  }

	.bg-dark {
		& h3 {
			margin: 0;
			padding: 0;
		}
		& .column-left-end, 
		& .column-right-end {
			display: inherit;
			text-align: center;
		}
		& .column-left-end {
			margin: 0;
			padding: 0;
		}
  }
  
  .background-hero-wrapper-div {
    margin-top: 0;
  }

  nav {
    margin-left: 35%;
  }
  nav ul {  
		margin-left: 48%;
		text-align: inherit;
	}
	.site-logo {
		margin: 0 0 0.25em 0;
		padding: 0 0 0 4%;
  }
  
  .noIE {
    display: none !important;
  }

  .IEonly {
    display: inline;
  }

  
  .hero-home {
    min-height: 80vh;
    height: 80vh;
    & .imgCover {
      height: 120%;
    }
  }

  .background-hero-image-div {
    margin-top: 0;
    min-height: 90vh;
    height: 90vh;
    & .imgCover {
      height: 120%;
    }
  }

  .background-hero-div {
    margin-top: 40px;
  }

  .site-logo-holder {
    font-size: 115%;
    /* IE doesn't know 'vertical-align' */
  }

}


/* ==== end, IE 10 and 11 **ONLY** ==== */