ul.pagination {
	margin: 0 auto 0 auto;
  text-align: center;
  padding-inline-start: 0;
}

li.page-item, 
li.pagination__item, 
li.pagination__item--first, 
li.pagination__item--previous, 
li.pagination__item--next, 
li.pagination__item--last {
	font-size: calc(var(--pokey) * 1em);
	display: inline;
	padding-left: 0.2em;
	padding-right: 0.2em;
}