.bg-dark {
	background-color: var(--blue-200);
	margin-top: 2.5rem;
	padding: 0.5rem 0;
}

.bg-dark div, .bg-dark p {
	color: var(--black);
}
.bg-dark p.prevnextP {
	margin: 0 auto;
	padding: 0.15rem 0;
	width: 90%;
	font-size: clamp(1rem, 1vw + 0.625em, var(--text-xl));
}
.bg-dark p.prevnextP a {
	color: var(--blue-800);
	text-decoration: none;
}
.bg-dark p.prevnextP a:hover, .bg-dark p.prevnextP a:focus {
	color: var(--gray-800);
	text-decoration: underline; /* normal */
	text-decoration-thickness: var(--textDcThick); /* always rem */
	text-underline-offset: var(--textUnOffst); /* always em */
	text-decoration-skip-ink: auto;
}

contact-button {
	display: grid;
	place-items: center;
	margin-top: 0.5em;
	--blue-050: #eff6fe;
}
contact-button button {
	width: 15rem;
	padding: 0.25rem 0;
	background-color: var(--blue-700);
	border-radius: var(--btn_radius);
	border-color: transparent;
	vertical-align: middle;
	color: var(--white);
}
contact-button button:focus, contact-button button:active, contact-button button:hover {
	background-color: var(--blue-800);
}
contact-button button:hover {
	cursor: pointer;
}

.box + contact-button {
	margin-top: 1.5em;
}

@media (prefers-color-scheme: dark) {
	.bg-dark {
		background-color: var(--blue-950);
	}
	.bg-dark div, .bg-dark p {
		color: var(--white);
	}
	.bg-dark p.prevnextP a {
		color: var(--blue-200);
	}
	.bg-dark p.prevnextP a:hover, .bg-dark p.prevnextP a:focus {
		color: var(--gray-200);
	}
	contact-button button {
		color: var(--black);
		background-color: var(--blue-300);
	}
	contact-button button:focus, contact-button button:active, contact-button button:hover {
		background-color: var(--blue-050);
	}
}
