.bg-dark {
	position: fixed;
	bottom: 0;
	width: 100%;
	margin-top: 2.5rem;
	background-color: var(--bkgd-nav);
	padding: 0.5rem 0;
	display: flex;
	flex-direction: row;
	justify-content: stretch;
	align-items: center;

	.prev-div, .next-div {
		line-height: clamp(1em, 1vw + 0.75em, 1.25em);

		--next-prev-padding: clamp(0.75em, 1vw + 0.5em, 1.5em);

		flex: 1 1 0%;
	}

	--arrow-padding: clamp(1.5em, 0.75vw + 0.625em, 2.5em);

	.prev-arrow {
		padding-left: var(--arrow-padding);
	}

	.next-arrow {
		padding-right: var(--arrow-padding);
		text-align: right;
	}

	.prev-arrow, .next-arrow {
		/* font-size: clamp(0.375em, 0.75vw + 0.5em, 0.825em); */
		line-height: 1.5em;

		a {
			font-weight: var(--font-normal);
			color: var(--link-nav);
			text-decoration: none;

			&:hover, &:focus {
				color: var(--link-nav-afh);
				text-decoration: none;
				text-decoration-thickness: var(--text-dc-thick-md);
				text-underline-offset: var(--text-un-offset);
				text-decoration-skip-ink: auto;
			}
		}
	}

	.next-div {
		/* background-color: aliceblue; */
		text-align: right;
		padding: 0 var(--next-prev-padding);
	}

	.prev-div {
		/* background-color: beige; */
		text-align: left;
		padding: 0 0 0 var(--next-prev-padding);
	}

	path.next-prev {
		fill: var(--link-nav);

		&:hover, &:focus {
			fill: var(--link-nav-afh);
		}
	}

	.prev-next-text {
		display: none;

		@media screen and (width >= 1024px) {
			display: block;
			margin: 0 auto;
			font-size: clamp(0.625rem, 0.75vw + 0.625em, 1.25em);
			letter-spacing: -0.025em;

			a {
				font-weight: var(--font-normal);
				color: var(--link-nav);
				text-decoration: none;

				&:hover, &:focus {
					color: var(--link-nav-afh);
					text-decoration: none;
					text-decoration-thickness: var(--text-dc-thick-md);
					text-underline-offset: var(--text-un-offset);
					text-decoration-skip-ink: auto;
				}
			}
		}
	}
}

.giscus-comments {
	margin: 1.5em 0 2em;
	border-radius: var(--btn-radius);
	padding: 1em;
}

html[data-theme="light"] .giscus-comments {
	background-color: var(--gray-100);
}

html[data-theme="dark"] .giscus-comments {
	background-color: var(--gray-900);
}

@media screen and (prefers-color-scheme: dark) {
	html:not([data-theme]) .giscus-comments {
		background-color: var(--gray-900);
	}
}

details.comments {
	margin-top: 1em;

	> summary {
		list-style: none;
		margin: 0 auto;
	}
}


details.comments > summary::marker,
details.comments > summary::-webkit-details-marker {
	display: none;
}



a.contact-button {
	text-decoration: none;
	margin: 0.5em auto;

	.svg {
		padding-bottom: 0.25em;
	}

	.svg, .legend {
		display: inline-block;
	}
}

a.contact-button, details.comments > summary {
	width: var(--btn-width);
	height: var(--btn-height);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: var(--link);
	border-radius: var(--btn-radius);
	border-color: transparent;
	color: var(--btn-text-default);
	padding: 0.25rem 0;

	&:hover { /* but neither :active or :focus */
		background-color: var(--link-afh);
		cursor: pointer;
	}

	.svg {
		padding-left: var(--interaction-padding);

		svg {
			width: var(--btn-svg-width);
			height: auto;
		}
	}

	.legend {
		padding-right: var(--interaction-padding);
		text-align: right;

		/* text-transform: uppercase; */
		font-size: var(--btn-legend-text);
		font-weight: var(--btn-legend-weight);
	}
}

.box + a.contact-button {
	margin-top: 1.5em;
}
