@charset 'utf-8';

.bg-dark {
	margin-top: 2.5rem;
	background-color: var(--twcss-slate-300);
	padding: 0.5rem 0;
}
.bg-dark div, .bg-dark p {
	color: black;
}
.bg-dark p.prevnextP {
	margin: 0 auto;
	padding: 0.15rem 0;
	width: 90%;
	font-size: clamp(1rem, 1vw + 0.625em, var(--text-xl));
	--twcss-blue-200: #bedbfe;
}
.bg-dark p.prevnextP a {
	color: var(--twcss-blue-800);
	text-decoration: none;
}
.bg-dark p.prevnextP a:hover, .bg-dark p.prevnextP a:focus {
	--twcss-gray-800: #1f2937;
	--twcss-gray-200: #e5e7eb;
	color: var(--twcss-gray-800);
	text-decoration: underline; /* normal */
	text-decoration-thickness: var(--textDcThick); /* always rem */
	text-underline-offset: var(--textUnOffst); /* always em */
	text-decoration-skip-ink: auto;
}

contact-button {
	/* font-family: var(--sans-serif); */
	display: block;
	text-align: center;
	--twcss-blue-50: #f0f6ff;
	margin: 1.5em auto 1em;
}
contact-button button {
	width: 15rem;
	margin-top: 0.5em;
	padding: 0.25rem 0;
	background-color: var(--twcss-blue-700);
	border-radius: var(--btn_radius);
	border-color: transparent;
	vertical-align: middle;
	color: white;
}
contact-button button:focus, contact-button button:active, contact-button button:hover {
	background-color: var(--twcss-blue-800);
}
contact-button button:hover {
	cursor: pointer;
}

@media (prefers-color-scheme: dark) {
	.bg-dark {
		background-color: var(--twcss-slate-800);
	}
	.bg-dark div, .bg-dark p {
		color: white;
	}
	.bg-dark p.prevnextP a {
		color: var(--twcss-blue-200);
	}
	.bg-dark p.prevnextP a:hover, .bg-dark p.prevnextP a:focus {
		color: var(--twcss-gray-200);
	}
	contact-button button {
		color: black;
		background-color: var(--twcss-blue-300);
	}
	contact-button button:focus, contact-button button:active, contact-button button:hover {
		background-color: var(--twcss-blue-50);
	}
}
