@charset 'utf-8';
/* @use 'partials/005-limited-colors' as clr; */
/* @use 'partials/010-variables' as var; */

/* === for search button on each page */

search-button {
	display: grid;
	margin: 4em auto 2em;
	place-items: center;
}

search-button button {
	width: var(--btn-width);
	height: var(--btn-height);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0.25em 0;
	align-items: center;
	background-color: var(--link);
	border: 1px solid;
	border-radius: var(--btn-radius);
	border-color: transparent;
	color: var(--btn-text-default);
}

search-button button .svg {
	padding-left: var(--interactionPadding);
	padding-bottom: 0.125em;
}

search-button button .svg svg {
	width: var(--btn-svg-width);
	height: auto;
}

search-button button .legend {
	padding-right: var(--interactionPadding);
	text-align: right;
	/* font-size: var(--btn-legend-text); */
	font-size: var(--text-lg);
	font-weight: var(--btn-legend-weight);
}

search-button button:hover {
	cursor: pointer;
}

search-button button:focus,
search-button button:active,
search-button button:hover {
	border-color: var(--link-afh);
	background-color: var(--link-afh);
}
