@charset 'utf-8';

search-button {
	--blue-50: #f0f6ff;
	display: block;
	margin: 2em auto;
	text-align: center;
	& button {
		/* display: block; */
		margin: 0 auto;
		color: white;
		width: 15em;
		padding: 0.5em 0.25em;
		background-color: var(--default-light-link);
		border: 1px solid var(--default-light-link);
		border-radius: var(--btn_radius);
		@media (prefers-color-scheme: dark) {
			border: 1px solid var(--default-dark-link);
			background-color: var(--default-dark-link);
			color: black;
		}
		&:hover {
			cursor: pointer;
		}
		&:focus, &:active, &:hover {
			border: 1px solid var(--default-light-link-afh);
			background-color: var(--default-light-link-afh);
			@media (prefers-color-scheme: dark) {
				border: 1px solid var(--default-dark-link-afh);
				background-color: var(--default-dark-link-afh);
			}
		}
	}
}
