@charset 'utf-8';

.searchDiv, .searchDivPF {
	font-family: var(--sans-serif);
	--twcss-gray-800: #1f2937;
	--twcss-blue-50: #f0f6ff;
	margin: 2em auto;
}

.searchDivPF {
	/* margin: 0 auto; */
	width: 80%;
}

.searchDiv {
	width: 100%;
}

.searchBox {
	position: relative;
	margin: 0 auto;
	width: 17em;
	padding: 0;
	background-color: white;
	border: 1px solid black;
}

.searchInput {
	@media (min-width: 768px) {
		max-width: 300ch;
	}
	outline: none;
	padding: 0.25em 0.5em 0.25em;
	margin: 0;
	border: 0;
	background-color: transparent;
}

.searchBtn {
	appearance: none; /* otherwise, Safari rounds it */
	border-radius: 0; /* " " " " " " " " " " " " " " */
	position: absolute;
	right: 0px;
	margin: 0; /* fixes oddity in Safari */
	padding: 3px 12px;
	border: 1px solid var(--twcss-blue-700);
	font-weight: bold;
	background-color: var(--twcss-blue-700);
	color: white;
}
.searchBtn:hover {
	cursor: pointer;
}
.searchBtn:focus, .searchBtn:active, .searchBtn:hover {
	border: 1px solid var(--twcss-blue-700);
	background-color: var(--twcss-blue-700);
}

#search, #search-ddg {
	/* in case we need it */
	margin: 0.5em auto 1em;
}

.pagefind-ui {
	/* overall area */
}

.pagefind-ui__form {
	/* holding */
	position: relative;
	text-align: center;
}

.pagefind-ui__search-input {
	max-width: 300ch;
	width: 17em;
	text-align: left;
	outline: none;
	padding: 0.25em 0.5em 0.25em;
	border: 1px solid black;
	border-radius: 9px;
	background-color: white;
	@media (prefers-color-scheme: dark) {
		border: 1px solid var(--twcss-gray-300);
		background-color: var(--twcss-gray-800);
		color: white;
	}
}

.pagefind-ui__drawer {
	/* results area */
	gap: 1em;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	text-align: left;
}

.pagefind-ui__message {
	/* count of results */
	margin-top: 0.5em;
	text-align: center;
}

.pagefind-ui__button, .pagefind-ui__search-clear {
	/* "Load more results" */
	margin: 1em auto;
	text-align: center;
	border-radius: 9px;
	padding: 3px 12px;
	border: 1px solid var(--twcss-blue-700);
	font-weight: bold;
	background-color: var(--twcss-blue-700);
	color: white;
}
.pagefind-ui__button:hover, .pagefind-ui__search-clear:hover {
	cursor: pointer;
}
.pagefind-ui__button:focus, .pagefind-ui__search-clear:focus,
.pagefind-ui__button:active, .pagefind-ui__search-clear:active,
.pagefind-ui__button:hover, .pagefind-ui__search-clear:hover {
	border: 1px solid var(--twcss-blue-800);
	background-color: var(--twcss-blue-800);
}

.pagefind-ui__result {
	/* li for list */
	margin-bottom: 0.75em;
}

.pagefind-ui__results-area {
	position: relative;
}

.pagefind-ui__button {
	display: block;
	/* position: absolute;
	left: 50%;
	bottom: 0; */
}

.pagefind-ui__result-excerpt {
	/* font-family: var(--serif); */
}
.pagefind-ui__result-excerpt mark {
	color: black;
	background-color: var(--twcss-blue-100);
}

.pagefind-ui__result-title {
	font-weight: bold;
}

@media screen and (min-width: 768px) {
	.searchDivPF {
		width: 70%;
	}
}
@media screen and (min-width: 1024px) {
	.searchDivPF {
		width: 65%;
	}
}
@media screen and (min-width: 1536px) {
	.searchDivPF {
		width: 50%;
	}
}
@media (prefers-color-scheme: dark) {
	.searchBox {
		background-color: var(--twcss-gray-800);
		border: 1px solid var(--twcss-gray-300);
	}
	.searchInput {
		color: white;
	}
	.searchBtn {
		border: 1px solid var(--twcss-blue-300);
		background-color: var(--twcss-blue-300);
		color: black;
	}
	.searchBtn:focus, .searchBtn:active, .searchBtn:hover {
		border: 1px solid var(--twcss-blue-50);
		background-color: var(--twcss-blue-50);
	}
	.pagefind-ui__search-input {
		border: 1px solid var(--twcss-gray-300);
		background-color: var(--twcss-gray-800);
		color: white;
	}
	.pagefind-ui__button, .pagefind-ui__search-clear {
		background-color: var(--twcss-blue-300);
		border-color: var(--twcss-blue-300);
		color: black;
	}
	.pagefind-ui__button:focus, .pagefind-ui__search-clear:focus,
	.pagefind-ui__button:active, .pagefind-ui__search-clear:active,
	.pagefind-ui__button:hover, .pagefind-ui__search-clear:hover {
		border: 1px solid var(--twcss-blue-50);
		background-color: var(--twcss-blue-50);
	}
	.pagefind-ui__result-excerpt mark {
		color: white;
		background-color: var(--twcss-blue-900);
	}
}
