@charset 'utf-8';

/* based partly on https://github.com/astro-community/astro-embed/tree/main/packages/astro-embed-twitter */

.toot-blockquote {
	--gray-800: #1f2937;
	--social-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
	--tc-corner-radius: 1em;
	--tc-padding: 1em;
	line-height: 1.35em; /* for non-`p` results from $text */
	font-family: var(--social-sans-serif);
	font-size: var(--text-base);
	margin: 1.5rem auto;
	padding: 1rem;
	border: 2px solid var(--gray-700);
	border-radius: 12px;
	background: white;
	width: 100%;
}

.toot-blockquote p {
	margin-top: 0; /* reset */
	margin-bottom: 1em;
	line-height: 1.35em;
}
.toot-blockquote a, .toot-blockquote a:hover {
	border: none !important;
	text-decoration: none;
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
	/*
	See:
	- https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/
	- https://css-tricks.com/where-lines-break-is-complicated-heres-all-the-related-css-and-html/
	- https://css-tricks.com/better-line-breaks-for-long-urls/
	*/
}

.toot-body {
	text-align: left !important;
}

/* ==== rounded image "attachment" */
/* Eleventy version */
.toot-images img {
	border-radius: 12px;
}
/* Hugo version */
.toot-media-img {
	width: 100%; /* overcoming something in Andy Bell's `reset` */
	height: auto;
	aspect-ratio: 1;
	object-fit: cover;
}

.toot-blockquote-img {
	border-bottom: 1px solid var(--gray-700);
	width: 100%;
}

.toot-player {
	display: flex;
}

/* ==== END, rounded image "attachment" */

a > .card, a > .toot-card {
	color: var(--gray-800);
}

.card {
	overflow: hidden;
	/* background-color: yellow; */
	margin-top: 1em;
	border-radius: 12px;
	border: 1px solid var(--gray-700);
}
.card p {
	padding: 0.5em 1em 1em;
	line-height: 1.4;
	margin-top: 0;
	font-size: var(--text-sm);
}
.card p .card-title {
	color: black;
}


.toot-header {
	display: flex;
}
.toot-header .toot-profile {
	margin-right: 0.5em;
	margin-bottom: 1em;
	flex-shrink: 0;
}
.toot-header .toot-profile img {
	border-radius: 9999px;
	width: 48px;
	height: auto;
}
.toot-header .toot-author {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
.toot-header .toot-author .toot-author-name {
	font-weight: bold;
	font-size: var(--text-base);
	color: black;
	line-height: 1.375;
}
.toot-header .toot-author .toot-author-handle {
	color: var(--gray-700);
	font-size: var(--text-sm);
	line-height: 1;
}
.toot-header .toot-bird {
	margin-left: 1.25rem;
}

.toot-footer {
	margin-top: 1rem;
	display: flex;
	align-items: center;
	color: var(--gray-800);
	font-size: var(--text-sm);
}
.toot-footer .toot-like-icon, .toot-footer .toot-like-count {
	display: none;
}
.toot-footer a {
	color: var(--gray-800);
}
/* === needed in Eleventy but not in Hugo
.toot-footer .toot-date:after {
	content: " (UTC)";
	font-size: var(--text-xs);
}
*/

[class^='toot-img-grid'],
.toot-video-wrapper,
.toot-media-video {
	margin-top: 0.5em;
	border-radius: var(--tc-corner-radius);
	overflow: hidden;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 2px;
}

.toot-video-wrapper {
	border-radius: var(--tc-corner-radius);
	display: block;
	/* overriding previous */
	position: relative;
}

.toot-img-grid-3 {
	grid-template-columns: repeat(2, 1fr);
}

.toot-img-grid-3 .toot-media-img {
	aspect-ratio: 1.8;
}

.toot-img-grid-3 :nth-child(1) {
	grid-row: 1 / span 2;
	height: 100%;
}

.toot-img-grid-3 :nth-child(1) .toot-media-img {
	aspect-ratio: 0.9;
}

.toot-img-grid-2,
.toot-img-grid-4 {
	grid-template-columns: repeat(2, 1fr);
}

.toot-sens-blur {
	filter: blur(5rem);
	position: relative;
}

.toot-sens-blur-no {
	filter: none !important;
	z-index: 9999 !important;
	position: relative;
}

[class^='toot-img-grid'] {
	position: relative;
}

.blur-text {
	position: absolute;
	font-weight: bold;
	text-shadow: 0.125em 0.125em 0.1em black;
	width: 100%;
	top: 40%;
	color: white;
	text-align: center;
	font-size: 1.5em;
	line-height: 1.2;
}

.blur-text-no {
	display: none !important;
	background-color: black;
}

.toot-poll-wrapper {
	display: grid;
	grid-template-columns: 3.5em 0.5fr 1fr;
	grid-gap: 1em;
	line-height: 1;
}
.toot-poll-count {
	grid-column: 1;
	text-align: right;
}
.toot-poll-meter {
	grid-column: 2;
}
.toot-poll-meter meter {
	width: 100%;
}

.toot-poll-title {
	grid-column: 3;
}
.toot-poll-total {
	padding-top: 1em;
}

.toot-quoted-tweet {
	border: 1px solid var(--gray-800);
	border-radius: 12px;
	padding: 1em 1em 0.5em 1em;
	margin-top: 0.75em;
	margin-bottom: 0;
}
.toot-quoted-tweet p {
	font-size: var(--text-sm);
	margin: 0 0 0.5em;
	line-height: 1.4;
}
.toot-quoted-tweet p .toot-quoted-toot-profile-image {
	border-radius: 9999px;
	width: 18px;
	height: auto;
	display: inline;
}
.toot-quoted-tweet p.toot-quoted-toot-head {
	margin-bottom: 0.25em;
}
.toot-quoted-tweet p.toot-quoted-toot-head a {
	color: var(--gray-800);
}
.toot-quoted-tweet p.toot-quoted-toot-head a:hover {
	color: var(--default-light-link);
}

.toot-reply-to {
	margin-top: 0;
	padding-top: 0;
	line-height: 1.3em;
	color: var(--gray-800);
	font-size: var(--text-sm);
}
.toot-reply-to .toot-like-icon, .toot-reply-to .toot-like-count {
	display: none;
}

.toot-card {
	position: relative;
	border: 2px solid var(--gray-400);
	border-radius: 6px;
	margin-top: 1em;
	text-decoration: none;
	overflow: hidden;
}
.toot-card-image {
	flex: 0 0 100px;
	border-right: 2px solid var(--gray-400);
	position: relative;
}
.toot-card-image .toot-card-image-image {
	display: block;
	margin: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	background-size: cover;
	background-position: 50%;
}
.toot-card-content {
	flex: 1 1 auto;
	overflow: hidden;
	padding: 0.75em;
	line-height: 1.5;
}
.toot-card-content .card-title {
	font-weight: bold;
}
.toot-card-content .card-title, .toot-card-content .card-description {
	font-size: var(--text-sm);
}

@media screen and (min-width: 768px) {
	.toot-blockquote {
		font-size: var(--text-xl);
	}
	.toot-card {
		display: flex;
	}
	.toot-card-image {
		flex: 0 0 200px;
	}
}
@media screen and (min-width: 960px) {
	.toot-blockquote {
		width: 80%;
	}
}
@media screen and (min-width: 1024px) {
	.toot-blockquote {
		width: 85%;
	}
}
@media screen and (min-width: 1536px) {
	/*
	.toot-blockquote {
		width: 85%;
	}
	*/
}
@media screen and (min-width: 1920px) {
	.toot-blockquote {
		max-width: 80ch;
	}
}
@media (prefers-color-scheme: dark) {
	.toot-blockquote {
		background: var(--gray-900);
		/* background: transparent; */
		border: 2px solid var(--gray-200);
		color: white;
	}
	.toot-blockquote a, .toot-blockquote a:hover {
		color: var(--default-dark-link);
	}
	.toot-blockquote-img {
		border: 1px solid var(--gray-300);
	}
	a > .card, a > .toot-card {
		color: var(--gray-300);
	}
	.card {
		border: 1px solid var(--gray-300);
	}
	.card p .card-title {
		color: white;
	}
	.toot-header .toot-author .toot-author-name {
		color: white;
	}
	.toot-header .toot-author .toot-author-handle {
		color: var(--gray-300);
	}
	.toot-footer {
		color: var(--gray-200);
	}
	.toot-footer a {
		color: var(--gray-200);
	}
	.toot-quoted-tweet {
		border: 1px solid var(--gray-200);
	}
	.toot-quoted-tweet p.toot-quoted-toot-head a {
		color: var(--gray-200);
	}
	.toot-quoted-tweet p.toot-quoted-toot-head a:hover {
		color: var(--default-dark-link);
	}
	.toot-reply-to {
		color: var(--gray-200);
	}
}
