@charset 'utf-8';

table {
	--twcss-emerald-50: #ecfdf5;
	--twcss-emerald-900: #064e3b;
	font-family: var(--sans-serif);
}

td {
	vertical-align: top;
}

/* === table for web typography article, part II */
table.noborders {
	width: 100%;
	/* table-layout: fixed; */
	margin: 1.5rem auto 1rem auto;
	border: 0;
	border-collapse: collapse;
}
table.noborders td {
	text-align: left;
	vertical-align: middle;
	padding: 0.25rem 0 0.25rem 0.5rem;
}
table.noborders td img {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
}
table.noborders tr:nth-child(even) {
	background-color: hsl(210, 100%, 94%);
}
table.noborders thead {
	background-color: #1f3b8a; /* blue-900 */
	color: white;
}
table.noborders thead td {
	color: white;
	font-weight: bold;
}
table.noborders td img {
	display: block;
	max-width: 60%;
	height: auto;
}

/* === end, table for web typography article, part II */

/* === table for MLB/NFL article */
table.leagues {
	table-layout: fixed; /* so don't have to spec each `td`'s width */
	width: 90%;
	margin: 1rem auto 0 auto;
	border: 0;
	border-collapse: collapse;
}
/* === end, table for MLB/NFL article */

table.ulysses {
	width: 100%;
	table-layout: auto;
	border-collapse: collapse;
	font-size: var(--text-xs);
}
table.ulysses thead th {
	background-color: #1d4fd7; /* blue-700 */
	border: 1px solid black;
	color: white;
}
table.ulysses td {
	text-align: center;
	border: 1px solid black;
}
table.ulysses thead th, table.ulysses td {
	padding: 0.125em 0.375em;
}
table.ulysses thead th:nth-child(1), table.ulysses td:nth-child(1) {
	text-align: left;
}
table.ulysses tr:nth-child(odd) {
	background-color: white;
}
table.ulysses tr:nth-child(even) {
	background-color: #ecfdf5; /* emerald-50 */
}

@media screen and (min-width: 768px) {
	table.noborders td img {
		max-width: 40%;
	}
	table.ulysses {
		font-size: inherit;
		table-layout: fixed; /* so don't have to spec each `td`'s width */
	}
}
@media screen and (min-width: 900px) {
	.table.leagues {
		width: 60%;
	}
}
@media (prefers-color-scheme: dark) {
	table.noborders tr {
		background-color: #e5e7eb; /* gray-200 */
		color: black;
	}
	table.noborders thead tr {
		background-color: #1f3b8a; /* blue-900 */
	}
	table.ulysses thead th {
		background-color: #1f3b8a; /* blue-900 */
		border: 1px solid white;
	}
	table.ulysses td {
		border: 1px solid white;
		color: white;
	}
	table.ulysses tr:nth-child(odd) {
		background-color: #344256; /* slate-700 */
	}
	table.ulysses tr:nth-child(even) {
		background-color: #064e3b; /* emerald-900 */
	}
}
