{{ define "main" }}

   <div class="background-hero-image-div">
    <div class="gradient-titles" style="height: 100%; background-position: 50%; background-repeat: no-repeat; background-size: cover;">
      <img
        class='imgCover hero' 
        src='https://res.cloudinary.com/brycewray-com/image/upload/f_auto,q_auto:eco,w_600,x_0,z_1/{{ .Params.featured_image }}' 
        srcset='
        {{ if ge .Params.featured_image_width 300 }}https://res.cloudinary.com/brycewray-com/image/upload/f_auto,q_auto:eco,w_300,x_0,z_1/{{ .Params.featured_image }} 300w{{ end }}{{ if ge .Params.featured_image_width 450 }}, 
        https://res.cloudinary.com/brycewray-com/image/upload/f_auto,q_auto:eco,w_450,x_0,z_1/{{ .Params.featured_image }} 450w{{ end }}{{ if ge .Params.featured_image_width 600 }}, 
        https://res.cloudinary.com/brycewray-com/image/upload/f_auto,q_auto:eco,w_600,x_0,z_1/{{ .Params.featured_image }} 600w{{ end }}{{ if ge .Params.featured_image_width 750 }}, 
        https://res.cloudinary.com/brycewray-com/image/upload/f_auto,q_auto:eco,w_750,x_0,z_1/{{ .Params.featured_image }} 750w{{ end }}{{ if ge .Params.featured_image_width 900 }}, 
        https://res.cloudinary.com/brycewray-com/image/upload/f_auto,q_auto:eco,w_900,x_0,z_1/{{ .Params.featured_image }} 900w{{ end }}{{ if ge .Params.featured_image_width 1050 }}, 
        https://res.cloudinary.com/brycewray-com/image/upload/f_auto,q_auto:eco,w_1050,x_0,z_1/{{ .Params.featured_image }} 1050w{{ end }}{{ if ge .Params.featured_image_width 1200 }}, 
        https://res.cloudinary.com/brycewray-com/image/upload/f_auto,q_auto:eco,w_1200,x_0,z_1/{{ .Params.featured_image }} 1200w{{ end }}{{ if ge .Params.featured_image_width 1350 }}, 
        https://res.cloudinary.com/brycewray-com/image/upload/f_auto,q_auto:eco,w_1350,x_0,z_1/{{ .Params.featured_image }} 1350w{{ end }}{{ if ge .Params.featured_image_width 1500 }}, 
        https://res.cloudinary.com/brycewray-com/image/upload/f_auto,q_auto:eco,w_1500,x_0,z_1/{{ .Params.featured_image }} 1500w{{ end }}
        ' 
        alt='{{ .Params.featured_image_alt }}' 
        width='{{ .Params.featured_image_width }}' 
        height='{{ .Params.featured_image_height }}' 
        sizes="100vw"
      />
      <noscript>
        <img
          class="imgCover" 
          src="https://res.cloudinary.com/brycewray-com/image/upload/f_auto,q_auto:eco,w_300,x_0,z_1/{{ .Params.featured_image }}" 
          alt="{{ .Params.featured_image_alt }}" 
        />
      </noscript>
    </div>
    <div class="background-hero-wrapper-div">
      <div class="background-hero-title-block">
        <h1 class="background-hero-title-text">{{ .Title | markdownify}}</h1>
        <h2 class="background-hero-subtitle-text">
          {{- if .Params.Subtitle }}
          {{ .Params.Subtitle | markdownify }}
          {{- else }}
          &nbsp;
          {{- end }}
        </h2>
        <p class="background-hero-description-text">{{ .Params.Description }}</p>
        <p class="background-hero-p-text">
          <span style="font-variant: small-caps">published:</span>&nbsp; <strong>{{ .PublishDate.Format "January 2, 2006" }}</strong><br />
          <span class="pokey">
          {{- if ne .PublishDate .Lastmod }}
          <span style="font-variant: small-caps">last modified:</span>&nbsp; {{ .Lastmod.Format "January 2, 2006" }}
          {{- else }}
          &nbsp;
          {{- end }}
          </span>
        </p>
        {{- if isset .Params "featured_image_caption" }}
          <p class="featured-image-caption">{{ index .Params "featured_image_caption" | markdownify }}</p>
        {{- end }}
      </div>
    </div>
  </div>

  <div class="container-narrower">
    <article class="article">
      {{ .Content }}
    </article>
  </div>

  {{ partial "hyvor.html" . }}

  {{ if or .PrevPage .NextPage }}
    <div class="bg-dark">
      <h3 class="ctr wht prevnextH3"><a href="/posts" class="border-transparent text-blue-100 hover:text-white italic">Other posts</a></h3>
			<p class="ctr prevnextP">
				{{ with .NextInSection }}
					<strong>Next</strong>:
					<a class="next" href="{{.RelPermalink}}"> {{.Title}}</a>
					{{ end }}
			</p>
			<p class="ctr prevnextP">
				{{ with .PrevInSection }}
					<strong>Previous</strong>:
					<a class="previous" href="{{.RelPermalink}}"> {{.Title}}</a>
				{{ end }}
			</p>
    </div>
  {{ end }}
{{ end }}