{{ define "main" }}
	<div class="posts-Wrapper ctr" data-pagefind-ignore>
		<h1 class="posts-Head">Posts</h1>
		<div class="posts-Container">

			{{ $paginator := .Paginate (where .Data.Pages "Type" "posts") }}
			{{ $paginator := .Paginator }}

			{{ partial "pagerthing.html" . }}
			<hr class="paginatorTop" />

			{{ range $paginator.Pages }}
				<div class="posts-ItemDiv">
					<h2 class="posts-Title"><a href="{{ .RelPermalink }}">{{ .Title | .Page.RenderString }}</a></h2>
					{{- $dashDescription := replace .Description " — " "—" -}}{{- /* Due to Public Sans bug */ -}}
					<p class="posts-Description">
						{{ $dashDescription | .Page.RenderString }}
					</p>
					<p class="posts-Dates">
						{{- if ne (substr .Title 0 22) "The site this week: 20" -}}<strong>{{ .PublishDate.Format "2006-01-02" }}</strong>{{- end -}}
					</p>
					<p class="legal">&nbsp;</p>
				</div>
			{{ end }}

			<hr class="paginatorBottom" />
			{{ partial "pagerthing.html" . }}

		</div>
	</div>

{{ end }}
