{{ define "main" }}

<div class="container-home">
  <h1><strong>Welcome to brycewray.com, offering <a href="/about">its owner</a>&rsquo;s &ldquo;observations, opinions, and geekiness&rdquo; since&nbsp;2018.</strong></h1>
  <div class="homePost-Div">
    <div class="post-line"></div>
    <h2 class="homePost-Latest">Latest <a href="/posts">posts</a></h2>
    {{ range first 3 (where .Site.RegularPages "Section" "posts") }}	
      <div>
        <h2 class="homePost-Title"><a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a></h2>
        <p class="homePost-Subtitle">{{ .Params.Subtitle | markdownify }}</p>
        <p class="homePost-Dates">
          <strong>{{ .PublishDate.Format "January 2, 2006" }}</strong>{{- if ne .PublishDate .Lastmod }}<br />Last modified {{ .Lastmod.Format "January 2, 2006" }}{{- end }}
        </p>        
        <p class="homePost-Description">
          {{ .Description }}
        </p>
      </div>
    {{ end }}
    <p><a href="/posts/"><strong>All {{ len (where .Site.RegularPages "Section" "posts") }} posts</strong></a> <span class="pokey"><em>(listed five per page)</em></span></p>
  </div>
</div>
{{ end }}