// == footnotes == //

/*
.footnotes, .footnote-sim, .footnote-ref {
  font-family: $sans-serif;
}
*/

.footnote-sim {
  font-size: 0.65em;
  color: hsl(240, 100%, 50%);
  @media (prefers-color-scheme: dark) {
    color: hsl(200, 100%, 50%);
  }
}

.footnotes {
  ol {
    padding-inline-start: 1.5rem;
  }
  ol li {
    margin-bottom: 0.5rem;
    font-size: $pokey;
  }
  li p {
    font-size: 100%;
    line-height: 1.4;
  }
  .footnote-backref {
    font-size: 75%;
  }
}

a.footnote-return{
  font-size: 50%;
}

// == end, footnotes == //
