.background-hero {
  &-div {
    background: linear-gradient(to bottom,
      rgba(0,0,0,1.00),
      rgba(0,0,170,1.00),
      rgba(0,0,0,1.00)
    );
    @media screen and (prefers-color-scheme: dark) {
      background: linear-gradient(to bottom,
        rgba(0,0,170,1.00),
        rgba(0,0,0,1.00),
        rgba(0,0,170,1.00)
      );
      }
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    position: relative;
    height: 100%;
  }
  &-image-div {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 70vh;
    max-height: 70vh;
    @media screen and (min-width: 769px) and (max-width: 1024px) {
      height: 75vh;
      max-height: 75vh;
    }
    @media screen and (min-width: 1025px) {
      height: 95vh;
      max-height: 95vh;
    }
  }
  &-title-block-fit {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  &-title-block {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(
      transparent,
      rgba(0,0,0,.75) 80%,
      #000
    );  }
  &-title-text, &-subtitle-text, &-description-text {
    color: #fff;
    margin: 0 auto;
    text-shadow: 4px 4px 2px #000;
    text-align: center;
    letter-spacing: -0.025em;
    padding: 0.25em;
    @media screen and (min-width: $bkpt_lg) {
      text-align: left;
    }
    @media screen and (min-width: $bkpt_xl) {
      text-align: left;
    }
  }
  &-title-text {
    font-size: 2.75em;
    padding-top: 0.5em;
    padding-bottom: 0;
    @media screen and (min-width: $bkpt_lg) {
      font-size: 3.25em;
    }
    @media screen and (min-width: $bkpt_xl) {
      padding-top: 0;
      font-size: 3.75em;
      padding-left: 5%;
    }
  }
  &-subtitle-text {
    font-size: 1.5em;
    padding-top: 0.25em;
    padding-bottom: 0.5em;
    font-style: italic;
    @media screen and (min-width: $bkpt_lg) {
      font-size: 2em;
    }
    @media screen and (min-width: $bkpt_xl) {
      font-size: 2.5em;
      padding-left: 5%;
    }
  }
  &-description-text {
    display: none; // appears only on wider screens
    @media screen and (min-width: 769px) {
      display: block;
      padding-top: 0.25em;
      padding-right: 15%;
      font-size: 1.375em;
    }
    @media screen and (min-width: 1025px) {
      font-size: 1.625em;
      padding-left: 5%;
    }
  }
  &-p-text {
    font-size: $slightlybig;
    line-height: 1;
    color: #fff;
    text-shadow: 4px 4px 2px #000;
    text-align: center;
    @media screen and (min-width: 1024px) {
      text-align: right;
      padding-right: 5%;
    }
  }
}


img.featured-image {
  display: block;
  width: 90%;
  @media (min-width: 900px) {
    width: 65%;
  }
  height: auto;
  margin: 0 auto;
  &-hero {
    width: 100%;    
  }
}

.featured-image-caption {
  margin-top: 0.25em;
  padding-bottom: 1.5em;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  text-align: center !important;
  font-size: $legal;
  color: $white;
  a {
    color: $blueLight;
    border-bottom: 1px solid $blueLight;
  }
}
