.background-hero {
  &-div {
    position: relative;
    height: 100%;
  }
  &-image-div {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 80vh;
    max-height: 80vh;
    min-height: 80vh;
    @media screen and (min-width: $bkpt_md) {
      height: 85vh;
      max-height: 85vh;
      min-height: 85vh;
    }
    @media screen and (min-width: $bkpt_xl) {
      height: 95vh;
      max-height: 95vh;
      min-height: 95vh;
    }
  }
  &-title-block-fit {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  &-title-block {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(
      transparent,
      rgba(0,0,0,.75) 80%,
      #000
    );  }
  &-title-text, &-subtitle-text, &-description-text {
    font-family: $sans-serif;
    color: #fff;
    margin: 0 auto;
    text-shadow: 4px 4px 2px #000;
    text-align: center;
    letter-spacing: -0.025em;
    padding: 0.25em;
    @media screen and (min-width: $bkpt_lg) {
      text-align: left;
    }
    @media screen and (min-width: $bkpt_xl) {
      text-align: left;
    }
  }
  &-title-text {
    font-size: 2.5em;
    line-height: 1.1;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    @media screen and (min-width: $bkpt_md) {
      font-size: 3em;
    }
    @media screen and (min-width: $bkpt_lg) {
      font-size: 3.5em;
      padding-left: 5%;
      padding-right: 5%;
    }
    @media screen and (min-width: $bkpt_xl) {
      padding-top: 0;
      font-size: 4em;
    }
  }
  &-subtitle-text {
    font-size: 1.75em;
    line-height: 1.1;
    padding-top: 0;
    padding-bottom: 0.5em;
    // font-style: italic;
    @media screen and (min-width: $bkpt_md) {
      font-size: 2em;
    }
    @media screen and (min-width: $bkpt_lg) {
      font-size: 2.25em;
      padding-left: 5%;
      padding-right: 5%;
    }
    @media screen and (min-width: $bkpt_xl) {
      font-size: 2.75em;
    }
  }
  &-description-text {
    display: none; // appears only on wider screens
    @media screen and (min-width: $bkpt_lg) {
      display: block;
      padding-top: 0.25em;
      padding-right: 15%;
      padding-left: 5%;
      font-size: 1.375em;
    }
    @media screen and (min-width: $bkpt_xl) {
      font-size: 1.625em;
    }
  }
  &-p-text {
    font-family: $sans-serif;
    font-size: $slightlybig;
    line-height: 1.25;
    color: #fff;
    text-shadow: 4px 4px 2px #000;
    text-align: center;
    @media screen and (min-width: $bkpt_lg) {
      text-align: right;
      padding-right: 5%;
    }
  }
}

.featured-image-caption {
  margin-top: 1em;
  padding-bottom: 1.5em;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-family: $sans-serif;
  font-size: $legal;
  color: $white;
  a {
    color: $blueLight;
    border-bottom: 1px solid $blueLight;
  }
}
