// === for HTML sitemap

.sitemapDiv {
  h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 0.5em;
  }

  h2 {
    font-size: 2rem;
  }

  ul li {
    margin-bottom: 0.5em;
  }
}

// === end, for HTML sitemap
