{{ define "main" }}

  {{- if .Params.featured_image -}}
    {{- $respSizes := slice "300" "450" "600" "750" "900" "1050" "1200" "1350" "1500" -}}
    {{- $cloudiBase := "https://res.cloudinary.com/brycewray-com/image/upload/" -}}
    {{- $LQIPholder := "f_auto,q_1,w_20/" -}}
    {{- $xFmPart1 := "f_auto,q_auto:eco,w_" -}}
    {{- $xFmPart2 := ",x_0,z_1/" -}}
    {{- $imgBd5 := md5 .Params.featured_image -}}
    {{- $LQIPdata := printf "%s%s%s" $cloudiBase $LQIPholder .Params.featured_image -}}
    {{- $LQIP_get := resources.GetRemote $LQIPdata -}}
    {{- $LQIP_b64 := $LQIP_get.Content | base64Encode -}}
    {{- $CFPstyle := printf "%s%s%s" "background: url(data:image/jpeg;base64," $LQIP_b64 "); background-size: cover; background-repeat: no-repeat;" -}}
    {{/* vars for range */}}
    {{- $src := .Params.featured_image -}}
    {{- $width := .Params.featured_image_width -}}
    <div class="background-hero-image-div"><!-- beginning, overarching hero image div -->
      {{- if eq .Site.Params.Host "CFP" -}}
      <style nonce="DhcnhD3khTMePgXw">
      .imgB-{{ $imgBd5 }} { {{ $CFPstyle | safeCSS }} }
      </style>
      <div class="background-hero-div imgc-div imgB-{{ $imgBd5 }}">
      {{- else -}}
      <div class="background-hero-div imgc-div" style="background: url(data:image/jpeg;base64,{{ $LQIP_get.Content | base64Encode }}); background-size: cover; background-repeat: no-repeat;">
      {{- end -}}
        <img
          class='imgCover hero animate-fade'
          src='{{ $cloudiBase }}{{ $xFmPart1 | safeURL }}600{{ $xFmPart2 }}{{ .Params.featured_image }}'
          srcset="
          {{- with $respSizes -}}
            {{- range $i, $e := . -}}
              {{- if ge $width . -}}
                {{- if $i }}, {{ end -}}{{- $cloudiBase -}}f_auto,q_auto:eco,w_{{ . }}{{- $xFmPart2 -}}{{- $src }} {{ . }}w
              {{- end -}}
            {{- end -}}
          {{- end -}}"
          alt='{{ .Params.featured_image_alt }}'
          width='{{ .Params.featured_image_width }}'
          height='{{ .Params.featured_image_height }}'
          aspect-ratio="{{ .Params.featured_image_width }} / {{ .Params.featured_image_height }}"
          sizes="(min-width: 1024px) 100vw, 50vw"
        />
      </div>
      <div class="background-hero-wrapper-div">
        <div class="background-hero-title-block">
          <h1 class="background-hero-title-text">
            {{ .Title | markdownify }}
          </h1>
          <h2 class="background-hero-subtitle-text">
            {{- if .Params.Subtitle -}}
            {{ .Params.Subtitle | markdownify }}
            {{- else }}
            &nbsp;
            {{- end }}
          </h2>
          <p class="background-hero-description-text">
            {{ .Params.Description | markdownify }}
          </p>
          <p class="background-hero-p-text">
            <strong>{{ .PublishDate.Format "January 2, 2006" }}</strong><br />
            <span class="pokey">
              {{- if ne .PublishDate .Lastmod }}
              Last modified {{ .Lastmod.Format "January 2, 2006" }}
              {{- else }}
              &nbsp;
              {{- end }}
            </span>
          </p>
          {{- if isset .Params "featured_image_caption" }}
            <p class="featured-image-caption">
              {{ index .Params "featured_image_caption" | markdownify }}
            </p>
        </div>
        {{- end -}}
      </div>
    </div><!-- end, overarching hero image div -->
    {{- else -}}
      {{ partial "billboard.html" . }}
    {{- end -}}

    <div class="container-narrower">
      <article>
          {{ .Content }}
      </article>
    </div>
{{ end }}
