{{ define "main" }}

<div class="jumbotron jumbotron-fluid" style="background-image: url('images/West_Texas_1990_from_FB.jpg'); height: 40vh; background-size: cover; background-attachment: fixed; margin-bottom: 1rem;">
</div>
<div class="container">
  <div class="row">
    <div class="col-md-7">
      {{ .Content }}
    </div>
    <div class="col-md-5">
      <h2 style="margin-top: 0.5em; margin-bottom: 1.5rem;">Latest posts</h2>
      {{ range first 2 (where .Pages "Section" "posts") }}				
        <div>          
            <h2 class="h5" style="margin-bottom: 0;">{{ .Title | markdownify }}</h2>
            <time datetime="{{ .PublishDate }}" class="pokeytxt text-muted">{{ .PublishDate.Format "January 2, 2006" }}</time>
            <p class="pokeytxt">
              {{ .Summary }}
              {{ if .Truncated }}<br />
              <a href="{{ .RelPermalink }}"><strong>Read more&nbsp;.&nbsp;.&nbsp;.</strong></a>
              {{ end }}
            </p>
        </div>
    {{ end }}
    <p><a href="/posts/"><strong>All posts</strong></a></p>
    <h3 class="h5 twitter-border">Tweets by&nbsp;<a href="https://twitter.com/BryceWrayTX" target="_blank">@BryceWrayTX</a></h3>
    <a class="twitter-timeline" data-chrome="noheader transparent" data-tweet-limit="3" data-link-color="#0088ff" data-dnt="true" data-border-color="#c8c8c8" href="https://twitter.com/BryceWrayTX?ref_src=twsrc%5Etfw">Tweets by BryceWrayTX</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
</div>
{{ end }}