@charset 'utf-8';

code, article code .box code {
	background-color: var(--bg-lt);
	@media (prefers-color-scheme: dark) {
		background-color: var(--bg-dk)
	}
}

code {
	font-family: var(--monospaced);
  font-kerning: none;
  font-variant-ligatures: none;
	--bg-lt: #e1e7ef; /* slate-200 */
	--bg-dk: #1d283a; /* slate-800 */
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

article code {
	font-size: 0.975em;
	@media screen and (min-width: 768px) {
		font-size: 0.95em;
	}
	@media screen and (min-width: 1280px) {
		font-size: 0.925em;
	}
	@media screen and (min-width: 1536px) {
		font-size: 0.9em;
	}
	--bg-lt: #e1e7ef; /* slate-200 */
	--bg-dk: #344256; /* slate-700 */
}

article .footnotes code {
	font-size: 1em;
	/* overriding the `article code` part above for footnotes */
}

article p code {
	@media screen and (min-width: 768px) {
		white-space: nowrap;
	}
}

article p code.code-inline {
	/* font-size: var(--text-sm); */
	padding: 0.25em 0.5em;
	margin: 0 0.25em;
}

article .footnotes li code {
	white-space: normal;
}

article blockquote code {
	color: #1d283a; /* slate-800 */
	@media (prefers-color-scheme: dark) {
		color: #cbd5e1; /* slate-300 */
	}
}

.box code {
	font-size: 1em; /* definitely em */
	--bg-lt: #f1f5f9; /* slate-100 */
	--bg-dk: #48566a; /* slate-600 */
}

article ol li .highlight {
	line-height: 1.5;
}
