@charset 'utf-8';

:root {
	/* --twcss-slate-100: #f1f5f9; */
	--twcss-slate-200: #e1e7ef;
	/* --twcss-slate-300: #cbd5e1; */
	/* --twcss-slate-600: #48566a; */
	--twcss-slate-700: #344256;
	/* --twcss-slate-800: #1d283a; */
	--monospaced: SFMono-Regular, "SF Mono", ui-monospace, "Cascadia Mono", "Segoe UI Mono", "Liberation Mono", Menlo, Monaco, Consolas, monospace;
}

code, article code, .box code {
	background-color: var(--bg-lt);
	@media (prefers-color-scheme: dark) {
		background-color: var(--bg-dk)
	}
}

code {
	font-family: var(--monospaced);
  font-kerning: none;
  font-variant-ligatures: none;
	--bg-lt: var(--twcss-slate-200); /* slate-200 */
	--bg-dk: var(--twcss-slate-800); /* slate-800 */
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

article code {
	font-size: 0.975em;
	@media screen and (min-width: 768px) {
		font-size: 0.95em;
	}
	@media screen and (min-width: 1280px) {
		font-size: 0.925em;
	}
	@media screen and (min-width: 1536px) {
		font-size: 0.9em;
	}
	--bg-lt: var(--twcss-slate-200); /* slate-200 */
	--bg-dk: var(--twcss-slate-700); /* slate-700 */
}

article .footnotes code {
	font-size: 1em;
	/* overriding the `article code` part above for footnotes */
}

article p code {
	@media screen and (min-width: 768px) {
		white-space: nowrap;
	}
}

article p code.code-inline {
	/* font-size: var(--text-sm); */
	padding: 0.25em 0.5em;
	margin: 0 0.25em;
}

article .footnotes li code {
	white-space: normal;
}

article blockquote code {
	color: var(--twcss-slate-800); /* slate-800 */
	@media (prefers-color-scheme: dark) {
		color: var(--twcss-slate-300); /* slate-300 */
	}
}

.box code {
	font-size: 1em; /* definitely em */
	--bg-lt: var(--twcss-slate-100); /* slate-100 */
	--bg-dk: var(--twcss-slate-600); /* slate-600 */
}

article ol li .highlight {
	line-height: 1.5;
}
