@charset 'utf-8';

/* Background */
.chroma, .code-inline {
	color: black;
	background-color: white;
	border: 1px solid #9ca3af; /* gray-400 */
	@media (prefers-color-scheme: dark) {
		background-color: #1d283a; /* slate-800 */
	}
}

.chroma *, .code-inline * {
	color: var(--clr-lt);
	@media (prefers-color-scheme: dark) {
		color: var(--clr-dk);
	}
}

/* Other */
.chroma .x, .code-inline .x {
	--clr-lt: #000000;
	--clr-dk: #ffffff;
}

/* Error */
.chroma .err, .code-inline .err {
	--clr-lt: #ba1c1c; /* red-700 */
	--clr-dk: #fca6a6; /* red-300 */
}

/* Line text */
.chroma .cl, .code-inline .cl {
	--clr-lt: #000000;
	--clr-dk: #ffffff;
} /* was missing from original */

/* LineTableTD */
.chroma .lntd, .code-inline .lntd {
	vertical-align: top;
	padding: 0;
	margin: 0;
	border: 0;
}

/* LineTable */
.chroma .lntable, .code-inline .lntable {
	border-spacing: 0;
	padding: 0;
	margin: 0;
	border: 0;
	width: auto;
	overflow: auto;
	display: block;
}

/* LineHighlight */
.chroma .hl, .code-inline .hl {
	display: block;
	width: 100%;
	background-color: #fef08a; /* yellow-200) */
	@media (prefers-color-scheme: dark) {
		background-color: #854d0e; /* yellow-800 */
	}
}

/* LineNumbersTable */
.chroma .lnt, .code-inline .lnt {
	margin-right: 0.4em;
	padding: 0 0.4em 0 0.4em;
	--clr-lt: #384252; /* gray-700 */
	--clr-dk: #d1d5db; /* gray-300 */
}

/* LineNumbers */
.chroma .ln, .code-inline .ln {
	margin-right: 0.4em;
	padding: 0 0.4em 0 0.4em;
	--clr-lt: #384252; /* gray-700 */
	--clr-dk: #d1d5db; /* gray-300 */
}

/* Keyword */
.chroma .k, .code-inline .k {
	--clr-lt: #0369a0; /* sky-700 */
	--clr-dk: #7dd3fc; /* sky-300 */
}

/* KeywordConstant */
.chroma .kc, .code-inline .kc {
	--clr-lt: #0369a0; /* sky-700 */
	--clr-dk: #7dd3fc; /* sky-300 */
}

/* KeywordDeclaration */
.chroma .kd, .code-inline .kd {
	--clr-lt: #0e7490; /* cyan-700 */
	--clr-dk: #67e8f9; /* cyan-300 */
}

/* KeywordNamespace */
.chroma .kn, .code-inline .kn {
	--clr-lt: #0e7490; /* cyan-700 */
	--clr-dk: #67e8f9; /* cyan-300 */
}

/* KeywordPseudo */
.chroma .kp, .code-inline .kp {
	--clr-lt: #0e7490; /* cyan-700 */
	--clr-dk: #67e8f9; /* cyan-300 */
}

/* KeywordReserved */
.chroma .kr, .code-inline .kr {
	--clr-lt: #0e7490; /* cyan-700 */
	--clr-dk: #67e8f9; /* cyan-300 */
}

/* KeywordType */
.chroma .kt, .code-inline .kt {
	--clr-lt: #0e7490; /* cyan-700 */
	--clr-dk: #67e8f9; /* cyan-300 */
}

/* Name */
.chroma .n, .code-inline .n {
	--clr-lt: #c2410c; /* orange-700 */
	--clr-dk: #fdba74; /* orange-300 */
}

/* NameAttribute */
.chroma .na, .code-inline .na {
	--clr-lt: #075783; /* sky-800 */
	--clr-dk: #bae6fd; /* sky-200 */
}

/* NameBuiltin */
.chroma .nb, .code-inline .nb {
	--clr-lt: #075783; /* sky-800 */
	--clr-dk: #7dd3fc; /* sky-300 */
}

/* NameBuiltinPseudo */
.chroma .bp, .code-inline .bp {
	--clr-lt: #292524; /* stone-800 */
	--clr-dk: #d6d3d1; /* stone-300 */
}

/* NameClass */
.chroma .nc, .code-inline .nc {
	--clr-lt: #a21caf; /* fuchsia-700 */
	--clr-dk: #f0abfc; /* fuchsia-300 */
}

/* NameConstant */
.chroma .no, .code-inline .no {
	--clr-lt: #0891b2; /* cyan-600 */
	--clr-dk: #67e8f9; /* cyan-300 */
}

/* NameDecorator */
.chroma .nd, .code-inline .nd {
	--clr-lt: #9a3412; /* orange-800 */
	--clr-dk: #fdba74; /* orange-300 */
}

/* NameEntity */
.chroma .ni, .code-inline .ni {
	--clr-lt: #155e75; /* cyan-800 */
	--clr-dk: #67e8f9; /* cyan-300 */
}

/* NameException */
.chroma .ne, .code-inline .ne {
	--clr-lt: #292524; /* stone-800 */
	--clr-dk: #d6d3d1; /* stone-300 */
}

/* NameFunction */
.chroma .nf, .code-inline .nf {
	--clr-lt: #0369a0; /* sky-700 */
	--clr-dk: #bae6fd; /* sky-200 */
}

/* NameFunctionMagic */
.chroma .fm, .code-inline .fm {
	--clr-lt: #292524; /* stone-800 */
	--clr-dk: #d6d3d1; /* stone-300 */
}

/* NameLabel */
.chroma .nl, .code-inline .nl {
	--clr-lt: #292524; /* stone-800 */
	--clr-dk: #d6d3d1; /* stone-300 */
}

/* NameNamespace */
.chroma .nn, .code-inline .nn {
	--clr-lt: #0369a0; /* sky-700 */
	--clr-dk: #7dd3fc; /* sky-300 */
}

/* NameOther */
.chroma .nx, .code-inline .nx {
	--clr-lt: #9a3412; /* orange-800 */
	--clr-dk: #fed7aa; /* orange-200 */
}

/* NameProperty */
.chroma .py, .code-inline .py {
	--clr-lt: #1f2937; /* gray-800 */
	--clr-dk: #d1d5db; /* gray-300 */
}

/* NameTag */
.chroma .nt, .code-inline .nt {
	--clr-lt: #0e7490; /* cyan-700 */
	--clr-dk: #67e8f9; /* cyan-300 */
}

/* NameVariable */
.chroma .nv, .code-inline .nv {
	--clr-lt: #155e75; /* cyan-800 */
	--clr-dk: #a5f3fc; /* cyan-200 */
}

/* NameVariableClass */
.chroma .vc, .code-inline .vc {
	--clr-lt: #1f2937; /* gray-800 */
	--clr-dk: #d1d5db; /* gray-300 */
}

/* NameVariableGlobal */
.chroma .vg, .code-inline .vg {
	--clr-lt: #1f2937; /* gray-800 */
	--clr-dk: #d1d5db; /* gray-300 */
}

/* NameVariableInstance */
.chroma .vi, .code-inline .vi {
	--clr-lt: #1f2937; /* gray-800 */
	--clr-dk: #d1d5db; /* gray-300 */
}

/* NameVariableMagic */
.chroma .vm, .code-inline .vm {
	--clr-lt: #1f2937; /* gray-800 */
	--clr-dk: #d1d5db; /* gray-300 */
}

/* Literal */
.chroma .l, .code-inline .l {
	--clr-lt: #1f2937; /* gray-800 */
	--clr-dk: #d1d5db; /* gray-300 */
}

/* LiteralDate */
.chroma .ld, .code-inline .ld {
	--clr-lt: #384252; /* gray-700 */
	--clr-dk: #e5e7eb; /* gray-200 */
}

/* LiteralString */
.chroma .s, .code-inline .s {
	--clr-lt: #c2410c /* orange-700 */
	--clr-dk: #fb923c /* orange-400 */
}

/* LiteralStringAffix */
.chroma .sa, .code-inline .sa {
	--clr-lt: #a16207; /* yellow-700 */
	--clr-dk: #fef08a; /* yellow-200 */
}

/* LiteralStringBacktick */
.chroma .sb, .code-inline .sb {
	--clr-lt: #854d0e; /* yellow-800 */
	--clr-dk: #fef9c3; /* yellow-100 */
}

/* LiteralStringChar */
.chroma .sc, .code-inline .sc {
	--clr-lt: #a16207; /* yellow-700 */
	--clr-dk: #fef08a; /* yellow-200 */
}

/* LiteralStringDelimiter */
.chroma .dl, .code-inline .dl {
	--clr-lt: #a16207; /* yellow-700 */
	--clr-dk: #fef08a; /* yellow-200 */
}

/* LiteralStringDoc */
.chroma .sd, .code-inline .sd {
	--clr-lt: #a16207; /* yellow-700 */
	--clr-dk: #fef08a; /* yellow-200 */
}

/* LiteralStringDouble */
.chroma .s2, .code-inline .s2 {
	--clr-lt: #c2410c; /* orange-700 */
	--clr-dk: #fdba74; /* orange-300 */
}

/* LiteralStringEscape */
.chroma .se, .code-inline .se {
	--clr-lt: #a16207; /* yellow-700 */
	--clr-dk: #fef08a; /* yellow-200 */
}

/* LiteralStringHeredoc */
.chroma .sh, .code-inline .sh {
	--clr-lt: #a16207; /* yellow-700 */
	--clr-dk: #fef08a; /* yellow-200 */
}

/* LiteralStringInterpol */
.chroma .si, .code-inline .si {
	--clr-lt: #a16207; /* yellow-700 */
	--clr-dk: #fef08a; /* yellow-200 */
}

/* LiteralStringOther */
.chroma .sx, .code-inline .sx {
	--clr-lt: #c2410c; /* orange-700 */
	--clr-dk: #fdba74; /* orange-300 */
}

/* LiteralStringRegex */
.chroma .sr, .code-inline .sr {
	--clr-lt: #a16207; /* yellow-700 */
	--clr-dk: #fef08a; /* yellow-200 */
}

/* LiteralStringSingle */
.chroma .s1, .code-inline .s1 {
	--clr-lt: #a16207; /* yellow-700 */
	--clr-dk: #fef08a; /* yellow-200 */
}

/* LiteralStringSymbol */
.chroma .ss, .code-inline .ss {
	--clr-lt: #a16207; /* yellow-700 */
	--clr-dk: #fef08a; /* yellow-200 */
}

/* LiteralNumber */
.chroma .m, .code-inline .m {
	--clr-lt: #155e75; /* cyan-800 */
	--clr-dk: #a5f3fc; /* cyan-200 */
}

/* LiteralNumberBin */
.chroma .mb, .code-inline .mb {
	--clr-lt: #075783; /* sky-800 */
	--clr-dk: #bae6fd; /* sky-200 */
}

/* LiteralNumberFloat */
.chroma .mf, .code-inline .mf {
	--clr-lt: #0369a0; /* sky-700 */
	--clr-dk: #7dd3fc; /* sky-300 */
}

/* LiteralNumberHex */
.chroma .mh, .code-inline .mh {
	--clr-lt: #155e75; /* cyan-800 */
	--clr-dk: #a5f3fc; /* cyan-200 */
}

/* LiteralNumberInteger */
.chroma .mi, .code-inline .mi {
	--clr-lt: #0369a0; /* sky-700 */
	--clr-dk: #7dd3fc; /* sky-300 */
}

/* LiteralNumberIntegerLong */
.chroma .il, .code-inline .il {
	--clr-lt: #075783; /* sky-800 */
	--clr-dk: #7dd3fc; /* sky-300 */
}

/* LiteralNumberOct */
.chroma .mo, .code-inline .mo {
	--clr-lt: #a16207; /* yellow-700 */
	--clr-dk: #fef08a; /* yellow-200 */
}

/* Operator */
.chroma .o, .code-inline .o {
	--clr-lt: #854d0e; /* yellow-800 */
	--clr-dk: #fef08a; /* yellow-200 */
}

/* OperatorWord */
.chroma .ow, .code-inline .ow {
	--clr-lt: #075783; /* sky-800 */
	--clr-dk: #bae6fd; /* sky-200 */
}

/* Punctuation */
.chroma .p, .code-inline .p {
	--clr-lt: #344256; /* slate-700 */
	--clr-dk: #cbd5e1; /* slate-300 */
}

/* Comment */
.chroma .c, .code-inline .c {
	--clr-lt: #047857; /* emerald-700 */
	--clr-dk: #a7f3d0; /* emerald-200 */
}

/* CommentHashbang */
.chroma .ch, .code-inline .ch {
	--clr-lt: #15803d; /* green-700 */
	--clr-dk: #bbf7d0; /* green-200 */
}

/* CommentMultiline */
.chroma .cm, .code-inline .cm {
	--clr-lt: #15803d; /* green-700 */
	--clr-dk: #bbf7d0; /* green-200 */
}

/* CommentSingle */
.chroma .c1, .code-inline .c1 {
	--clr-lt: #15803d; /* green-700 */
	--clr-dk: #bbf7d0; /* green-200 */
}

/* CommentSpecial */
.chroma .cs, .code-inline .cs {
	color: #fca6a6; /* red-300 */
	background-color: #7f1d1d; /* red-900 */
}

/* CommentPreproc */
.chroma .cp, .code-inline .cp {
	--clr-lt: #292524; /* stone-800 */
	--clr-dk: #d6d3d1; /* stone-300 */
}

/* CommentPreprocFile */
.chroma .cpf, .code-inline .cpf {
	--clr-lt: #981b1b; /* red-800 */
	--clr-dk: #fca6a6; /* red-300 */
}

/* Generic */
.chroma .g, .code-inline .g {
	--clr-lt: #292524; /* stone-800 */
	--clr-dk: #d6d3d1; /* stone-300 */
}

/* GenericDeleted */
.chroma .gd, .code-inline .gd {
	--clr-lt: #981b1b; /* red-800 */
	--clr-dk: #fca6a6; /* red-300 */
}

/* GenericEmph */
.chroma .ge, .code-inline .ge {
	font-style: italic;
}

/* GenericError */
.chroma .gr, .code-inline .gr {
	--clr-lt: #981b1b; /* red-800 */
	--clr-dk: #fca6a6; /* red-300 */
}

/* GenericHeading */
.chroma .gh, .code-inline .gh {
	--clr-lt: black;
	--clr-dk: white;
}

/* GenericInserted */
.chroma .gi, .code-inline .gi {
	--clr-lt: #166534; /* green-800 */
	--clr-dk: #bbf7d0; /* green-200 */
}

/* GenericOutput */
.chroma .go, .code-inline .go {
	--clr-lt: #27272a; /* zinc-800 */
	--clr-dk: #d4d4d8; /* zinc-300 */
}

/* GenericPrompt */
.chroma .gp, .code-inline .gp {
	--clr-lt: #27272a; /* zinc-800 */
	--clr-dk: #d4d4d8; /* zinc-300 */
}

/* GenericStrong */
.chroma .gs, .code-inline .gs {
	font-weight: bold;
}

/* GenericSubheading */
.chroma .gu, .code-inline .gu {
	--clr-lt: black;
	--clr-dk: white;
}

/* GenericTraceback */
.chroma .gt, .code-inline .gt {
	--clr-lt: #981b1b; /* red-800 */
	--clr-dk: #fca6a6; /* red-300 */
}

/* GenericUnderline */
.chroma .gl, .code-inline .gl {
	text-decoration: underline;
}

/* TextWhitespace */
.chroma .w, .code-inline .w {
	--clr-lt: #27272a; /* zinc-800 */
	--clr-dk: #d4d4d8; /* zinc-300 */
}

/* ======= END, individual items from Chroma */

pre,
code {
	font-family: var(--monospaced);
  font-kerning: none;
  font-variant-ligatures: none;
  background-color: #e1e7ef; /* slate-200 */
  @media (prefers-color-scheme: dark) {
    background-color: #1d283a; /* slate-800 */
  }
}

code[class*="language-"],
pre[class*="language-"] {
	color: #e5e7eb; /* gray-200 */
	background: none;
	font-size: clamp(0.9rem, 1vw + 0.625em, var(--text-lg));
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;
	tab-size: 2;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"],
pre.chroma {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	color: black;
	background-color: white;
	@media (prefers-color-scheme: dark) {
		color: white;
		background-color: #1d283a; /* slate-800 */
	}
}

.highlight {
	position: relative;
	& .chroma {
		border-radius: 16px;
		/* keeps code blocks from being too small
		   due to the `article code` rule above */
		font-size: clamp(0.9rem, 1vw + 0.625em, var(--text-lg));
	}
}

@media screen and  (min-width: 1024px) {
	pre.expand:hover {
		margin-left: -20vw;
		margin-right: -20vw;
		max-width: 95vw;
	}
}

/* === for copy-code-to-clipboard */

/* h/t https://simplernerd.com/hugo-add-copy-to-clipboard-button/ */

.clipboard-button {
	position: absolute;
	right: 0;
	padding: 2px 7px 5px 7px;
	margin: 5px;
	color:  #6b7280; /* gray-500 */
	border-color:  #6b7280; /* gray-500 */
	background-color: #f3f4f6; /* gray-100 */
	border: 1px solid;
	border-radius: 6px;
	font-size: 0.8em;
	z-index: 1;
	opacity: 0;
	transition: 0.1s;
}
.clipboard-button > svg {
	fill:  #6b7280; /* gray-500 */
}
.clipboard-button:hover {
	cursor: pointer;
	border-color: #16a34a; /* green-600 */
	background-color: #dcfce7; /* green-100 */
}
.clipboard-button:hover > svg {
	fill: #16a34a;
}
.clipboard-button:focus {
	outline: 0;
}

/* .highlight {
   position: relative;
} */

.highlight:hover > .clipboard-button {
	opacity: 1;
	transition: 0.2s;
}
