@charset 'utf-8';

.container-home {
	/* font-family: var(--sans-serif); */
	padding-bottom: 1em;
	text-align: center;
	padding: 2vh 5vw;
	margin: 0 auto;
	@media screen and (min-width: 1024px) {
		width: 100%;
		display: flex;
		flex-direction: row;
		padding: 0;
		margin: 0;
		& .post-line {
			display: none;
		}
	}
}

.homeOpen {
	text-align: center;
	& h1 {
		line-height: 1.5em;
		font-size: clamp(1.5rem, 0.5rem + 1.5vw, 2.25rem);
		letter-spacing: -0.025em;
		padding-top: 5vh;
	}
	@media screen and (min-width: 768px) {
		& h1 {
			padding-top: 4vh;
		}
	}
	@media screen and (min-width: 1024px) {
		text-align: right;
		padding: 0 3em 0 0;
		width: 40%;
		& h1 {
			line-height: 1.75em;
			padding: 3em 0 0 2em;
		}
	}
	@media screen and (min-width: 1536px) {
		& h1 {
			padding: 2.5em 0 0 2.5em;
		}
	}
}

.homePost-Div {
	padding-top: 1.5em;
	@media screen and (min-width: 1024px) {
		text-align: left;
		width: 55%;
		padding: 0 1.5em 0 4em;
	}
}
.homePost-Latest {
	margin-top: 0.5em;
	margin-bottom: 0.25em;
	font-size: clamp(2rem, 2rem + 1vw, 3.5rem);
	letter-spacing: -0.025em;
	@media screen and (min-width: 1024px) {
		margin-top: 0;
		padding-top: 1em;
	}
}
.homePost-Title {
	font-size: clamp(1.75rem, 1.25rem + 1vw, 2.25rem);
	/* font-family: var(--serif); */
	letter-spacing: -0.025em;
	padding-top: 0.5em;
	line-height: normal;
}
.homePost-Description {
	margin-top: 0.5em;
	/* font-family: var(--serif); */
	/* font-style: italic; */
	letter-spacing: -0.0125em;
	font-size: clamp(1.125rem, 1rem + 1vw, 1.375rem);
}
.homePost-Dates {
	margin-top: 0.5em;
	margin-bottom: 1em;
	/* font-family: var(--sans-serif); */
	font-size: clamp(0.875rem, 0.75rem + 1vw, 1.125rem);
}
.homePost-Finish {
	/* font-family: var(--sans-serif); */
	margin-top: 3em;
}
