@charset 'utf-8';

.bg-dark {
	/* font-family: var(--sans-serif); */
	margin-top: 2.5rem;
	background-color: #cbd5e1; /* slate-300 */
	@media (prefers-color-scheme: dark) {
		background-color: #1d283a; /* slate-800 */
	}
	padding: 0.5rem 0;
	& div, p {
		color: black;
		@media (prefers-color-scheme: dark) {
			color: white;
		}
	}
	& p.prevnextP {
		margin: 0 auto;
		padding: 0.15rem 0;
		width: 90%;
		font-size: clamp(1rem, 1vw + 0.625em, var(--text-xl));
		& a {
			color: #1e3b8a; /* blue-800 */
			text-decoration: none;
			@media (prefers-color-scheme: dark) {
				color: #bedbfe; /* blue-200 */
			}
			&:hover, &:focus {
				color: #1f2937; /* gray-800 */
				text-decoration: underline; /* normal */
				text-decoration-thickness: var(--textDcThick); /* always rem */
				text-underline-offset: var(--textUnOffst); /* always em */
				text-decoration-skip-ink: auto;
				@media (prefers-color-scheme: dark) {
					color: #e5e7eb; /* gray-200 */
				}
			}
		}
	}
}

.contactBtn {
	/* font-family: var(--sans-serif); */
	text-align: center;
	margin: 1.5em auto 1em;
	& button {
		width: 15rem;
		margin-top: 0.5em;
		padding: 0.25rem 0;
		background-color: #1d4fd7; /* blue-700 */
		border-radius: var(--btn_radius);
		border-color: transparent;
		vertical-align: middle;
		color: white;
		&:focus, &:active, &:hover {
			background-color: #1e3b8a; /* blue-800 */
		}
		&:hover {
			cursor: pointer;
		}
		@media (prefers-color-scheme: dark) {
			color: black;
			background-color: #91c3fd; /* blue-300 */
			&:focus, &:active, &:hover {
				background-color: #f0f6ff; /* blue-50 */
			}
		}
	}
}
