@charset 'utf-8';

.searchBtnDiv {
	--twcss-blue-50: #f0f6ff;
	/* --twcss-blue-300: #91c3fd; */
	/* --twcss-blue-700: #1d4fd7; */
	--twcss-blue-800: #1e3b8a;
	/* font-family: var(--sans-serif); */
	margin: 2em auto;
	text-align: center;
	& button {
		/* display: block; */
		margin: 0 auto;
		color: white;
		width: 15em;
		padding: 0.5em 0.25em;
		background-color: var(--twcss-blue-700); /* blue-700 */
		border: 1px solid var(--twcss-blue-700); /* blue-700 */
		border-radius: var(--btn_radius);
		@media (prefers-color-scheme: dark) {
			border: 1px solid var(--twcss-blue-300); /* blue-300 */
			background-color: var(--twcss-blue-300); /* blue-300 */
			color: black;
		}
		&:hover {
			cursor: pointer;
		}
		&:focus, &:active, &:hover {
			border: 1px solid var(--twcss-blue-800); /* blue-800 */
			background-color: var(--twcss-blue-800); /* blue-800 */
			@media (prefers-color-scheme: dark) {
				border: 1px solid var(--twcss-blue-50); /* blue-50 */
				background-color: var(--twcss-blue-50); /* blue-50 */
			}
		}
	}
}
