@charset 'utf-8';

.searchDiv, .searchDivPF {
	/* font-family: var(--sans-serif); */
	margin: 2em auto;
}

.searchDivPF {
	/* margin: 0 auto; */
	width: 80%;
	@media screen and (min-width: 768px) {
		width: 70%;
	}
	@media screen and (min-width: 1024px) {
		width: 65%;
	}
	@media screen and (min-width: 1536px) {
		width: 50%;
	}
}

.searchDiv {
	width: 100%;
}

.searchBox {
	position: relative;
	margin: 0 auto;
	width: 17em;
	padding: 0;
	background-color: var(--white);
	border: 1px solid var(--black);
	@media (prefers-color-scheme: dark) {
		background-color: var(--twcss-gray-800);
		border: 1px solid var(--twcss-gray-300);
	}
}

.searchInput {
	@media (min-width: 768px) {
		max-width: 300ch;
	}
	outline: none;
	padding: 0.25em 0.5em 0.25em;
	margin: 0;
	border: 0;
	background-color: transparent;
	@media (prefers-color-scheme: dark) {
		color: var(--white);
	}
}

.searchBtn {
	appearance: none; /* otherwise, Safari rounds it */
	border-radius: 0; /* " " " " " " " " " " " " " " */
	position: absolute;
	right: 0px;
	margin: 0; /* fixes oddity in Safari */
	padding: 3px 12px;
	border: 1px solid var(--twcss-blue-700);
	font-weight: bold;
	background-color: var(--twcss-blue-700);
	color: var(--white);
	@media (prefers-color-scheme: dark) {
		border: 1px solid var(--twcss-blue-300);
		background-color: var(--twcss-blue-300);
		color: var(--black);
	}
	&:hover {
		cursor: pointer;
	}
	&:focus, &:active, &:hover {
		border: 1px solid var(--twcss-blue-700);
		background-color: var(--twcss-blue-700);
		@media (prefers-color-scheme: dark) {
			border: 1px solid var(--twcss-blue-50);
			background-color: var(--twcss-blue-50);
		}
	}
}

#search {
	/* in case we need it */
	margin: 0.5em auto 1em;
}

.pagefind-ui {
	/* overall area */
}

.pagefind-ui__form {
	/* holding */
	position: relative;
	text-align: center;
}

.pagefind-ui__search-input {
	max-width: 300ch;
	width: 17em;
	text-align: left;
	outline: none;
	padding: 0.25em 0.5em 0.25em;
	border: 1px solid var(--black);
	/* border-radius: 9px; */
	background-color: var(--white);
	@media (prefers-color-scheme: dark) {
		border: 1px solid var(--twcss-gray-300);
		background-color: var(--twcss-gray-800);
		color: var(--white);
	}
}

.pagefind-ui__drawer {
	/* results area */
	gap: 1em;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	text-align: left;
}

.pagefind-ui__message {
	/* count of results */
	margin-top: 0.5em;
	text-align: center;
}

.pagefind-ui__button {
	/* "Load more results" */
	margin: 1em auto;
	text-align: center;
	border-radius: 9px;
	padding: 3px 12px;
	border: 1px solid var(--twcss-blue-700);
	font-weight: bold;
	background-color: var(--twcss-blue-700);
	color: var(--white);
	@media (prefers-color-scheme: dark) {
		background-color: var(--twcss-blue-300);
		border-color: var(--twcss-blue-300);
		color: var(--black);
	}
	&:hover {
		cursor: pointer;
	}
	&:focus, &:active, &:hover {
		border: 1px solid var(--twcss-blue-700);
		background-color: var(--twcss-blue-700);
		@media (prefers-color-scheme: dark) {
			border: 1px solid var(--twcss-blue-50);
			background-color: var(--twcss-blue-50);
		}
	}
}

.pagefind-ui__result {
	/* li for list */
	margin-bottom: 0.75em;
}

.pagefind-ui__results-area {
	position: relative;
}

.pagefind-ui__button {
	display: block;
	/* position: absolute;
	left: 50%;
	bottom: 0; */
}

.pagefind-ui__result-excerpt {
	/* font-family: var(--serif); */
	& mark {
		color: var(--black);
		background-color: var(--twcss-blue-100);
		@media (prefers-color-scheme: dark) {
			color: var(--white);
			background-color: var(--twcss-blue-900);
		}
	}
}

.pagefind-ui__result-title {
	font-weight: bold;
}
