@charset 'utf-8';

.searchBtnDiv {
	/* font-family: var(--sans-serif); */
	margin: 2em auto;
	text-align: center;
	& button {
		/* display: block; */
		margin: 0 auto;
		color: white;
		width: 15em;
		padding: 0.5em 0.25em;
		background-color: #1d4fd7; /* blue-700 */
		border: 1px solid #1d4fd7; /* blue-700 */
		border-radius: var(--btn_radius);
		@media (prefers-color-scheme: dark) {
			border: 1px solid #91c3fd; /* blue-300 */
			background-color: #91c3fd; /* blue-300 */
			color: black;
		}
		&:hover {
			cursor: pointer;
		}
		&:focus, &:active, &:hover {
			border: 1px solid #1e3b8a; /* blue-800 */
			background-color: #1e3b8a; /* blue-800 */
			@media (prefers-color-scheme: dark) {
				border: 1px solid #f0f6ff; /* blue-50 */
				background-color: #f0f6ff; /* blue-50 */
			}
		}
	}
}
