
<head>
    <title>{{ .Title }}</title>
        
    {{ template "_internal/google_analytics.html" . }}
    
    <link href="https://micro.blog/BryceWrayTX" rel="me" />

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> from earlier-->

    {{- if eq .URL "/" }}
    <meta name="description" content="{{ .Site.Params.Description }}">
    <meta property="og:description" content="{{ .Site.Params.Description }}" />
    {{- else if isset .Params "description" }}
    <meta name="description" content="{{ index .Params "description" }}">
    {{- end }}

    {{- if isset .Params "final_url" }}
    <meta property="og:url" content="{{ .Site.BaseURL }}{{ index .Params "final_url" }}" />        
    {{- end }}

    {{- if isset .Params "featured_image" }}
    <meta property="og:image" content="https://brycewray.com{{ index .Params "featured_image" }}" />
    {{- end }}


    {{- if eq .URL "/" }}
    <title>{{ .Site.Title }}</title>
    <meta property="og:title" content="{{ .Site.Title }}" />
    {{- else }}
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <meta property="og:title" content="{{ .Title }} | {{ .Site.Title }}" />
    {{- end }}

  
    <!-- Bootstrap CSS as of 2018-10-26; Bootstrap JS at bottom of BODY tag -->
    <link rel="stylesheet" href="{{ .Site.BaseURL }}bootstrap/bootstrap-4/css/bootstrap.min.css">

    <!-- Font Awesome as of 2018-11-05; FontAwesome JS at bottom of BODY tag -->
    <link rel="stylesheet" href="{{ .Site.BaseURL }}fontawesome/css/all.min.css"><!-- load all styles -->

    <!-- CSS/SCSS -->
    {{ $sass := resources.Get "scss/ofotiboot.scss" }}
    {{ $style := $sass | resources.ToCSS }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="{{ .Site.BaseURL }}images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ .Site.BaseURL }}images/favicon-16x16.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ .Site.BaseURL}}images/apple-touch-icon.png">

    <!-- RSS -->
    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
  
    {{ range .AlternativeOutputFormats -}}
      {{ printf `<link rel="%s" type="%s+%s" href="%s" title="%s" />` .Rel .MediaType.Type .MediaType.Suffix .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
  
  </head>
  