@use 'partials/variables' as var;

pre,
code {
	font-family: var.$monospaced;
  font-kerning: none;
  font-variant-ligatures: none;
  background: var.$blueLightCode;
  @media screen and (prefers-color-scheme: dark) {
    background: var.$code-bkgd-dark-mode;
  }
}

code[class*="language-"],
pre[class*="language-"] {
	color: #ddd; // was ccc
	background: none;
	font-size: clamp(0.9rem, 1vw + 0.625em, var.$text-lg);
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;
	tab-size: 2;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"],
pre.chroma {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #2d2d2d;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

article code {
	font-size: 0.975em;
	@media screen and (min-width: var.$bkpt_md) {
		font-size: 0.95em;
	}
	@media screen and (min-width: var.$bkpt_xl) {
		font-size: 0.925em;
	}
	@media screen and (min-width: var.$bkpt_2xl) {
		font-size: 0.9em;
	}
	background-color: var.$blueLightCode;
	@media (prefers-color-scheme: dark) {
		background-color: #454545;
	}
}
article .footnotes code {
	font-size: 1em;
	// overriding the `article code` part above for footnotes
}

article p code {
	@media screen and (min-width: var.$bkpt_md) {
		white-space: nowrap;
	}
}

article p code.code-inline {
	// font-size: var.$pokey;
	padding: 0.25em 0.5em;
	margin: 0 0.25em;
}

article .footnotes li code {
	white-space: normal;
}

article blockquote code {
	color: #494d50;
	@media (prefers-color-scheme: dark) {
		color: #dddddd;
	}
}

.yellowBox code, .blueBox code {
	font-size: 1em; // definitely em
}

.highlight {
	position: relative;
	.chroma {
		border-radius: 16px;
		// keeps code blocks from being too small
		// due to the `article code` rule above
		font-size: clamp(0.9rem, 1vw + 0.625em, var.$text-lg);
	}
}

@media screen and  (min-width: var.$bkpt-lg) {
	pre.expand:hover {
		margin-left: -20vw;
		margin-right: -20vw;
		max-width: 95vw;
	}
}

// === for copy-code-to-clipboard

// h/t https://simplernerd.com/hugo-add-copy-to-clipboard-button/

.clipboard-button {
	position: absolute;
	right: 0;
	padding: 2px 7px 5px 7px;
	margin: 5px;
	color: #767676;
	border-color: #767676;
	background-color: #ededed;
	border: 1px solid;
	border-radius: 6px;
	font-size: 0.8em;
	z-index: 1;
	opacity: 0;
	transition: 0.1s;
}
.clipboard-button > svg {
	fill: #767676;
}
.clipboard-button:hover {
	cursor: pointer;
	border-color: #696969;
	background-color: #e0e0e0;
}
.clipboard-button:hover > svg {
	fill: #696969;
}
.clipboard-button:focus {
	outline: 0;
}
// .highlight {
//   position: relative;
// }
.highlight:hover > .clipboard-button {
	opacity: 1;
	transition: 0.2s;
}

article ol li .highlight {
	line-height: 1.5;
}
