
    <footer class="font-sans text-center pb-6">
      <div class="w-5/6 md:w-3/4 lg:w-2/3 mx-auto">
        <div class="flex flex-row justify-center gap-4">
					<a class="border-0" title="GitHub" href="https://github.com/brycewray" target="_blank" rel="noopener" aria-label="GitHub">
						{{- partialCached "svgGitHubIcon.html" . -}}
					</a>
					<a class="border-0" title="Twitter" href="https://twitter.com/BryceWrayTX" target="_blank" rel="noopener" aria-label="Twitter">
						{{- partialCached "svgTwitterIcon.html" . -}}
					</a>
					<a class="border-0" title="Mastodon" href="https://mastodon.technology/@BryceWrayTX" target="_blank" rel="noopener" aria-label="Mastodon">
						{{- partialCached "svgMastodonIcon.html" . -}}
					</a>
					<a class="border-0" title="RSS feed" href="/index.xml" target="_blank" rel="noopener" aria-label="RSS">
						{{- partialCached "svgRSSIcon.html" . -}}
					</a>
					<a class="border-0" title="JSON feed" href="/index.json" target="_blank" rel="noopener" aria-label="JSON newsfeed">
						{{- partialCached "svgJSONfeedIcon.html" . -}}
					</a>
				</div>
				<p class="text-xs leading-relaxed mt-4">
					<span class="text-nowrap">Site textual content &copy; 2018&ndash;{{ now.Year }} <a class="h-card" rel="me" href="https://www.brycewray.com/">Bryce Wray</a></span> <span class="text-nowrap">except where otherwise noted.</span><br />
					<span class="text-nowrap">Affiliated with <a href="https://cloudinary.com/invites/lpov9zyyucivvxsnalc5/dqunpyaeqiizezj6lbdu" target="_blank" rel="noopener">Cloudinary</a>* and <a href="https://usefathom.com/ref/ZKHYWX" target="_blank" rel="noopener">Fathom Analytics</a>.*</span><br />
					<span class="text-nowrap">Sitemaps: <a href="/sitemap/">HTML</a> &bull; <a href="/sitemap.xml">XML</a></span><br />
					&nbsp;<br />
					<span class="text-fn"><em>* Affiliate/invite links.</em></span>
				</p>
			</div>
		</footer>
