<header class="fixed w-full mt-0 bg-blue-900 dark:bg-blue-950 z-[9999]" data-pagefind-ignore>
  <nav class="text-white dark:text-gray-100 bg-blue-900 dark:bg-blue-950">
    <input type="checkbox" id="nav-Checkbox" class="hidden" aria-label="Navigation" aria-haspopup="true" aria-expanded="false" aria-controls="menu">
    <label for="nav-Checkbox" class="absolute lg:hidden cursor-pointer my-2 mx-4 right-[2.5em]">
      <svg id="svg-menu" class="w-6 fill-white mt-[0.3rem]" viewBox="0 0 672 768" width="100" title="bars"><path d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z" /></svg>
      <svg id="svg-close" class="w-6 fill-white hidden" viewBox="0 0 384 512" width="100" title="times"><path d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z" /></svg>
    </label>
    <ul class="font-bold nav-Menu flex flex-col lg:flex-row gap-4 lg:gap-2 text-right my-2 lg:mt-0 lg:mb-0 mr-2 lg:mr-[--navRightMargin] ml-0 mbs-0 mbe-0 pis-0">
      <li class="block pt-2 pb-2 md:pb-1 my-0 mr-auto ml-6 lg:mt-0 lg:mb-1 lg:tracking-normal lg:leading-none">
        <a href="/" title="Home page" aria-label="Home page" class="no-underline">{{ partialCached "svgNavIcon.html" . }}</a>
      </li>
      <li class="list-none hidden lg:text-sm lg:block lg:uppercase pr-3 my-0 lg:mt-[0.85rem] lg:mx-0"><a href="/about/" class="no-underline border-0 text-white hover:text-gray-200 focus:text-gray-200 active:text-gray-200 dark:text-white dark:hover:text-slate-300 dark:focus:text-slate-300 dark:active:text-slate-300" title="About me" aria-label="About me">About</a></li>
      {{- range first 1 (where .Site.RegularPages "Section" "posts") -}}
        <li class="list-none hidden lg:text-sm lg:block lg:uppercase pr-3 my-0 lg:mt-[0.85rem] lg:mx-0"><a href="{{ .RelPermalink }}" class="no-underline border-0 text-white hover:text-gray-200 focus:text-gray-200 active:text-gray-200 dark:text-white dark:hover:text-slate-300 dark:focus:text-slate-300 dark:active:text-slate-300" title="The most recently added post on the site" aria-label="Newest post">Newest post</a></li>
      {{- end -}}
      <li class="list-none hidden lg:text-sm lg:block lg:uppercase pr-3 my-0 lg:mt-[0.85rem] lg:mx-0"><a href="/posts/" class="no-underline border-0 text-white hover:text-gray-200 focus:text-gray-200 active:text-gray-200 dark:text-white dark:hover:text-slate-300 dark:focus:text-slate-300 dark:active:text-slate-300" title="Posts" aria-label="All posts">All posts</a></li>
      <li class="list-none hidden lg:text-sm lg:block lg:uppercase pr-3 my-0 lg:mt-[0.85rem] lg:mx-0"><a href="/search/" class="no-underline border-0 text-white hover:text-gray-200 focus:text-gray-200 active:text-gray-200 dark:text-white dark:hover:text-slate-300 dark:focus:text-slate-300 dark:active:text-slate-300" title="Site search" aria-label="Site search">Search</a></li>
      <li class="list-none hidden lg:text-sm lg:block lg:uppercase pr-3 my-0 lg:mt-[0.85rem] lg:mx-0"><a href="/privacy/" class="no-underline border-0 text-white hover:text-gray-200 focus:text-gray-200 active:text-gray-200 dark:text-white dark:hover:text-slate-300 dark:focus:text-slate-300 dark:active:text-slate-300" title="Privacy policy" aria-label="Privacy policy">Privacy</a></li>
      <li class="list-none hidden lg:text-sm lg:block lg:uppercase pr-3 my-0 lg:mt-[0.85rem] lg:mx-0"><a href="/contact/" class="no-underline border-0 text-white hover:text-gray-200 focus:text-gray-200 active:text-gray-200 dark:text-white dark:hover:text-slate-300 dark:focus:text-slate-300 dark:active:text-slate-300" title="Contact info and feed links" aria-label="Contact/RSS">Contact/RSS</a></li>
    </ul>
		<button type="button" class="nScrHidden nav-ModeToggle" data-theme-toggle></button>
  </nav>
</header>
{{- $jsToggle := resources.Get "js/mode-toggle.js" -}}
{{- with $jsToggle -}}
	<script{{ if site.Params.Nonces }} nonce="DhcnhD3khTMePgXw"{{ end }}>
		{{- .Content | safeJS -}}
	</script>
{{- end }}
