<div class="text-center font-sans my-8 mx-auto" data-pagefind-ignore>
	<a href="/search/"><button class="font-sans my-0 mx-auto text-center text-white dark:text-black w-[15em] py-2 px-1 border border-blue-600 dark:border-blue-300 bg-blue-600 dark:bg-blue-300 hover:cursor-pointer focus:border-blue-700 dark:focus:border-blue-300 focus:bg-blue-700 dark:focus:bg-blue-50 hover:border-blue-700 dark:hover:border-blue-50 hover:bg-blue-700 dark:hover:bg-blue-50 rounded-md"><strong>Search this site</strong></button></a>
</div>
