{{- /*
	h/t https://mentalpivot.com/using-duckduckgo-for-site-search-on-your-blog/
*/ -}}
<div class="my-8 mx-auto text-center w-full">
	<form method="get" id="search" action="https://duckduckgo.com/" target="_blank" title="DuckDuckGo search for www.brycewray.com">
		<input type="hidden" name="sites" value="brycewray.com" />
		<label class="font-sans" for="searchForm"><strong>Search this site</strong></label>
		<br />
		<input class="font-sans py-[3px] px-[6px] mb-2 border border-gray-800 dark:text-white dark:bg-gray-700 dark:border-gray-400" id="searchForm" type="text" name="q" maxlength="300" />
		<input type="submit" value="Go" class="font-sans font-bold rounded-md py-[3px] px-[12px] ml-2 text-white bg-blue-400 hover:bg-blue-600 active:bg-blue-600 focus:bg-blue-600 dark:text-black hover:dark:text-black dark:bg-sky-200 dark:hover:bg-sky-100" />
	</form>
	<p class="font-sans text-center text-xs">Uses <a href="https://duckduckgo.com" target="_blank" rel="noopener">DuckDuckGo</a>. <span class="nobrk">Results open in a new tab/window.</span></p>
</div>
