<script nonce="DhcnhD3khTMePgXw">
	document.addEventListener('toggle', function loadComments (event) {

    // Only run on [data-comments] element
    if (!event.target.matches('[data-comments]')) return;

    // Create and load the comments script
    let script = document.createElement('div');
    script.innerHTML =
			`<script src="https://giscus.app/client.js"
					data-repo="brycewray/comments"
					data-repo-id="R_kgDOHQK0bQ"
					data-category="Announcements"
					data-category-id="DIC_kwDOHQK0bc4CO1ew"
					data-mapping="pathname"
					data-strict="1"
					data-reactions-enabled="1"
					data-emit-metadata="1"
					data-input-position="bottom"
					data-theme="https://www.brycewray.com/assets/css/giscus-preferred_sysFonts_data-theme.css"
					data-lang="en"
					crossorigin="anonymous"
					data-loading="lazy"
			><\/script>`; // note need for escaping of closing tag

    // Load script
    event.target.append(script.children[0]);

    // Remove event listener
    document.removeEventListener('toggle', loadComments);
	});
</script>
<details class="comments nScrHidden" data-pagefind-ignore>
	<summary data-pagefind-ignore aria-label="Toggle for viewing or hiding comments">
		<div class="svg">
			<svg aria-hidden="true" class="inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M20 2H4c-1.103 0-2 .897-2 2v18l5.333-4H20c1.103 0 2-.897 2-2V4c0-1.103-.897-2-2-2zm0 14H6.667L4 18V4h16v12z"></path></svg>
		</div>
		<div class="legend">View/hide comments</div>
	</summary>
</details>
<noscript><p class="ctr legal">Commenting feature requires activation of JavaScript.</p></noscript>
