<details class="comments nScrHidden" id="data-comments" data-pagefind-ignore>
	<summary data-pagefind-ignore aria-label="Toggle for viewing or hiding comments">
		<div class="svg">
			<svg aria-hidden="true" class="inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M20 2H4c-1.103 0-2 .897-2 2v18l5.333-4H20c1.103 0 2-.897 2-2V4c0-1.103-.897-2-2-2zm0 14H6.667L4 18V4h16v12z"></path></svg>
		</div>
		<div id="legend-comments" class="legend">View comments</div>
	</summary>
	<div class="giscus-comments" id="giscus-comments">
		{{- $jsComments := resources.Get "js/comments-giscus.js" | resources.Minify | fingerprint -}}
		<script
			src="{{ $jsComments.RelPermalink }}"
			integrity="{{ $jsComments.Data.Integrity }}"
			defer
		>
		</script>
	</div>
</details>
<noscript><p class="ctr legal">Commenting feature requires activation of JavaScript.</p></noscript>
