
    <footer>
      <div class="footerWrapper">
        <div class="icons-box">
          <a class="icon" href="https://github.com/brycewray" target="_blank" rel="noopener" aria-label="GitHub">
            {{- partialCached "svgGitHubIcon.html" . -}}
          </a>
          <a class="icon" href="https://twitter.com/BryceWrayTX" target="_blank" rel="noopener" aria-label="Twitter">
            {{- partialCached "svgTwitterIcon.html" . -}}
          </a>
          <a class="icon" href="https://mastodon.technology/@BryceWrayTX" target="_blank" rel="noopener" aria-label="Mastodon">
            {{- partialCached "svgMastodonIcon.html" . -}}
          </a>
          <a class="icon" href="/index.xml" aria-label="RSS">
            {{- partialCached "svgRSSIcon.html" . -}}
          </a>
          <a class="icon" href="/index.json" aria-label="JSON newsfeed">
            {{- partialCached "svgJSONfeedIcon.html" . -}}
          </a>
        </div>
        <p>
          Site textual content &copy;&nbsp;2018&ndash;{{ now.Year }}&nbsp;<a class="h-card" rel="me" href="https://www.brycewray.com/">Bryce&nbsp;Wray</a> except&nbsp;where otherwise&nbsp;noted.<br /><span class="text-nowrap">Images hosted and processed by <a href="https://cloudinary.com/invites/lpov9zyyucivvxsnalc5/dqunpyaeqiizezj6lbdu" target="_blank" rel="noopener">Cloudinary</a>.*</span><br/><span class="text-nowrap">Analytics by <a href="https://usefathom.com/ref/ZKHYWX" target="_blank" rel="noopener">Fathom Analytics</a>.*</span> <span class="text-nowrap"><a href="/privacy/">View this site&rsquo;s <strong>privacy policy</strong></a>.</span><br /><span class="text-nowrap">Sitemaps: <a href="/sitemap/">HTML</a> &bull; <a href="/sitemap.xml">XML</a>.</span><br />&nbsp;<br /><span class="legal"><em>* Affiliate/invite links.</em></span>
        </p>
      </div>
    </footer>
