{{- $fallbackImg := resources.Get "/images/typewriter-monochrome_2242164_6260x4374.jpg" -}}
{{- $fallbackImg = $fallbackImg.Fit "1280x669" -}}
{{- $socImg := $fallbackImg -}}{{/* fallback if not Home */}}
	{{- if .IsHome }}
		{{/* */}}
	{{- else }}
		{{- $socImg = resources.Get "/images/social-OG-bkgd-for-left-align-text_1280x669.jpg" -}}
		{{- $titleSize := 108 -}}{{/* pixels */}}
		{{- if compare.Gt (len $.Title) 48 -}}
			{{- $titleSize = 96 -}}
		{{- end -}}
		{{- $titleSI := .Title -}}
		{{/*  {{- $titleSI = .Title | htmlUnescape -}}  */}}
		{{ $fontSI := resources.Get "/fonts/Franklin-Gothic-Medium.ttf" }}
		{{- $socImg = $socImg.Filter (images.Text $titleSI (dict
			"color" "#ffffff"
			"size" $titleSize
			"linespacing" 10
			"x" 72
			"y" 72
			"font" $fontSI
		)) }}
	{{- end }}
		<meta property="og:image" content="{{ $socImg.Permalink }}">
		<meta property="og:image:width" content="1280">
		<meta property="og:image:width" content="669">
		<meta property="twitter:image" content="{{ $socImg.Permalink }}">
		<meta property="twitter:card" content="summary_large_image">
