{{- $fontSans := true -}}
{{- $fontSerif := true -}}
{{- $fontMono := false -}}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
{{ with $fontSans -}}
	<link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&amp;display=swap" rel="stylesheet">
{{- end }}
{{ with $fontSerif -}}
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&amp;display=swap" rel="stylesheet">
{{- end }}
{{ with $fontMono -}}
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:ital,wght@0,100..900;1,100..900&amp;display=swap" rel="stylesheet">
{{- end }}

{{- $css := resources.Get "css/critical.css" | postCSS }}
{{- with $css }}
	<style media="screen">{{ .Content | safeCSS }}</style>
{{- end }}
