{{- if eq .Title "More palatable palettes with OKLCH" -}}
	{{/*
		Keep the TWCSS set RGB/hex-based, for the
		sake of the comparison.
	*/}}
	<style media="screen">
		:root {
			--twgreen-050: #f0fcf2;
			--okgreen-050: var(--twgreen-050);
			--twgreen-100: #defbe3;
			--okgreen-100: var(--twgreen-100);
			--twgreen-200: #c0f6ca;
			--okgreen-200: var(--twgreen-200);
			--twgreen-300: #8feda4;
			--okgreen-300: var(--twgreen-300);
			--twgreen-400: #52dd7c;
			--okgreen-400: var(--twgreen-400);
			--twgreen-500: #1bc45e;
			--okgreen-500: var(--twgreen-500);
			--twgreen-600: #09a34b;
			--okgreen-600: var(--twgreen-600);
			--twgreen-700: #147f3c;
			--okgreen-700: var(--twgreen-700);
			--twgreen-800: #1b6533;
			--okgreen-800: var(--twgreen-800);
			--twgreen-900: #18522a;
			--okgreen-900: var(--twgreen-900);
			--twgreen-950: #082d14;
			--okgreen-950: var(--twgreen-950);
		}
		@supports (color: oklch(49% 0.1 252)) {
			:root {
				--okgreen-050: oklch(98% 0.018 150);
				--okgreen-100: oklch(96% 0.043 150);
				--okgreen-200: oklch(92.5% 0.081 150);
				--okgreen-300: oklch(87% 0.136 150);
				--okgreen-400: oklch(80% 0.182 150);
				--okgreen-500: oklch(72% 0.192 150);
				--okgreen-600: oklch(62.5% 0.17 150);
				--okgreen-700: oklch(52.5% 0.137 150);
				--okgreen-800: oklch(45% 0.108 150);
				--okgreen-900: oklch(39% 0.09 150);
				--okgreen-950: oklch(26.5% 0.063 150);
			}
		}
		.twgreen-50, .twgreen-100, .twgreen-200, .twgreen-300, .twgreen-400, .twgreen-500,
		.okgreen-50, .okgreen-100, .okgreen-200, .okgreen-300, .okgreen-400, .okgreen-500,
		.twgreen-600, .twgreen-700, .twgreen-800, .twgreen-900, .twgreen-950,
		.okgreen-600, .okgreen-700, .okgreen-800, .okgreen-900, .okgreen-950 {
			background-color: var(--colorbg);
		}
		.twgreen-50 {--colorbg: var(--twgreen-050);}
		.twgreen-100 {--colorbg: var(--twgreen-100);}
		.twgreen-200 {--colorbg: var(--twgreen-200);}
		.twgreen-300 {--colorbg: var(--twgreen-300);}
		.twgreen-400 {--colorbg: var(--twgreen-400);}
		.twgreen-500 {--colorbg: var(--twgreen-500);}
		.twgreen-600 {--colorbg: var(--twgreen-600);}
		.twgreen-700 {--colorbg: var(--twgreen-700);}
		.twgreen-800 {--colorbg: var(--twgreen-800);}
		.twgreen-900 {--colorbg: var(--twgreen-900);}
		.twgreen-950 {--colorbg: var(--twgreen-950);}
		.okgreen-50 {--colorbg: var(--okgreen-050);}
		.okgreen-100 {--colorbg: var(--okgreen-100);}
		.okgreen-200 {--colorbg: var(--okgreen-200);}
		.okgreen-300 {--colorbg: var(--okgreen-300);}
		.okgreen-400 {--colorbg: var(--okgreen-400);}
		.okgreen-500 {--colorbg: var(--okgreen-500);}
		.okgreen-600 {--colorbg: var(--okgreen-600);}
		.okgreen-700 {--colorbg: var(--okgreen-700);}
		.okgreen-800 {--colorbg: var(--okgreen-800);}
		.okgreen-900 {--colorbg: var(--okgreen-900);}
		.okgreen-950 {--colorbg: var(--okgreen-950);}
		.colorBoxContainer {
			background-color: #000000;
			padding: 0.25rem 0 1.5rem;
		}
		.colorBoxContainer p, .colorBoxContainer p strong {
			color: #ffffff;
		}
		html[data-theme="dark"] .colorBoxContainer {
			background-color: transparent;
		}
		p.noY {
			margin-bottom: 0;
		}
		table.pals {
			font-size: 0.65em;
			margin: 0 auto;
		}
		table.pals td {
			padding: 0.15em;
			min-width: 2em;
		}
		@media (min-width: 1024px) {
			table.pals {
				font-size: 1.25em;
			}
			table.pals td {
				padding: 0.25em;
				font-weight: bold;
			}
		}
	</style>
{{- end -}}
