{{- $fallbackImg := resources.Get "/images/typewriter-monochrome_2242164_6260x4374.jpg" -}}
{{- $fallbackImg = $fallbackImg.Fit "1280x669" -}}
{{- $socImg := $fallbackImg -}}

{{- if not .IsHome }}
	{{- with .Page.Resources.GetMatch "title.png" }}
		{{- $titleImg := . -}}
		{{- $finalFilter := (images.Overlay $titleImg 0 0 ) -}}
		{{- $socImg = resources.Get "images/social-OG-bkgd-for-center-align-text_1280x669.png" -}}
		{{- $socImg = $socImg | images.Filter $finalFilter -}}
	{{- else -}}
		{{- /* $socImg remains fallback image */ -}}
	{{- end }}
{{- end -}}
<meta name="og:image" content="{{ $socImg.Permalink }}">
<meta name="twitter:image" content="{{ $socImg.Permalink }}">
