{{/*  {{- partialCached "head-criticalscss.html" . }}  */}}
{{- partialCached "head-criticalscss-cff.html" . }}
{{- /*
	With CFF, remember that the CSP's `style-src` must
	allow "unsafe-inline" --- because CFF injects a `style`
	AFTER the Page Function injects the CSP.
*/ -}}
{{/*  {{- partialCached "head-scss-unscoped.html" . }}  */}}
{{- partial "head-scss-scoped.html" . -}}
{{- /*

	**IMPORTANT**:

	If using UNSCOPED, be sure that `index.css` **is**
	in this theme’s `assets/css-original/` subdir and
	**not** in its `assets/css-original/_unused/` subdir.

	If using SCOPED, be sure that the top-level
	`layouts/head.html` calls this file as `partial`
	and NOT as `partialCached`.
*/ -}}
