{{- $scssOptions := dict "transpiler" "dartsass" -}}
{{- $scssOptionsPrint := $scssOptions -}}
{{- $condition := "" -}}
{{- $fileName := "" -}}
{{- $fileNameTarget := "" -}}

{{- /*
	save some repetition below
*/ -}}
{{- $titleSitemap := site.Params.Titles.Sitemap -}}
{{- $titleHome := site.Params.Titles.Home -}}
{{- $titlePostslist := site.Params.Titles.Postslist -}}
{{- $titleFourOhFour := site.Params.Titles.FourOhFour -}}
{{- $titleSearch := site.Params.Titles.Search -}}

{{- $conditionSocial := false -}}
{{- $conditionCode := false -}}
{{- $conditionArtCode := false -}}
{{- $conditionTables := false -}}
{{- $conditionLiteYT := false -}}
{{- $conditionBillboard := false -}}
{{- $conditionArticle := false -}}
{{- $conditionPostsSingle := false -}}
{{- $conditionPostsList := false -}}
{{- $conditionFootnotes := false -}}
{{- $conditionHome := false -}}
{{- $conditionSitemap := false -}}
{{- $conditionSearchForm := false -}}
{{- $condition404 := false -}}
{{- if or (findRE `<blockquote class="toot-blockquote"` .Content 1) (findRE `<blockquote class="twitter-tweet"` .Content 1) -}}{{- $conditionSocial = true -}}{{- end -}}
{{- if (findRE `<div class="highlight"` .Content 1) -}}{{- $conditionCode = true -}}{{- end -}}
{{- if and (findRE `(<code)` .Content 1) (not (findRE `<div class="highlight"` .Content 1)) -}}{{- $conditionArtCode = true -}}{{- end -}}
{{- if (findRE `<table` .Content 1) -}}{{- $conditionTables = true -}}{{- end -}}
{{- if (findRE `<lite-youtube` .Content 1) -}}{{- $conditionLiteYT = true -}}{{- end -}}
{{- if (and (ne .Title $titleHome) (ne .Title $titleSitemap) (ne .Title $titlePostslist) (ne .Title $titleFourOhFour)) -}}{{- $conditionBillboard = true -}}{{- end -}}
{{- if (and (and (ne .Title $titleSearch) (ne .Title $titlePostslist)) (or (eq .Section "posts") (eq .Title site.Params.Titles.About) (eq .Title site.Params.Titles.Privacy) (eq .Title site.Params.Titles.Contact))) -}}{{- $conditionArticle = true -}}{{- end -}}
{{- if (and (eq .Section "posts") (ne .Title $titlePostslist)) -}}{{- $conditionPostsSingle = true -}}{{- end -}}
{{- if (eq .Title $titlePostslist) -}}{{- $conditionPostsList = true -}}{{- end -}}
{{- if (findRE `class="footnote-ref"` .Content 1) -}}{{- $conditionFootnotes = true -}}{{- end -}}
{{- if (eq .Title $titleHome) -}}{{- $conditionHome = true -}}{{- end -}}
{{- if (eq .Title $titleSitemap) -}}{{- $conditionSitemap = true -}}{{- end -}}
{{- if (eq .Title $titleSearch) -}}{{- $conditionSearchForm = true -}}{{- end -}}
{{- if (eq .Title $titleFourOhFour) -}}{{- $condition404 = true -}}{{- end -}}

{{- $cssTypes := slice -}}{{/* init big slice */}}
{{- $cssTypes = append slice (slice $conditionSocial "social") $cssTypes -}}
{{- $cssTypes = append slice (slice $conditionCode "code") $cssTypes -}}
{{- $cssTypes = append slice (slice $conditionArtCode "artcode") $cssTypes -}}
{{- $cssTypes = append slice (slice $conditionTables "tables") $cssTypes -}}
{{- $cssTypes = append slice (slice $conditionLiteYT "lite-yt-embed") $cssTypes -}}
{{- $cssTypes = append slice (slice $conditionBillboard "billboard") $cssTypes -}}
{{- $cssTypes = append slice (slice $conditionArticle "article") $cssTypes -}}
{{- $cssTypes = append slice (slice $conditionPostsSingle "posts-single") $cssTypes -}}
{{- $cssTypes = append slice (slice $conditionPostsList "posts-list") $cssTypes -}}
{{- $cssTypes = append slice (slice $conditionFootnotes "footnotes") $cssTypes -}}
{{- $cssTypes = append slice (slice $conditionHome "home") $cssTypes -}}
{{- $cssTypes = append slice (slice $conditionSitemap "sitemaphtml") $cssTypes -}}
{{- $cssTypes = append slice (slice $conditionSearchForm "search-form") $cssTypes -}}
{{- $cssTypes = append slice (slice $condition404 "fourohfour") $cssTypes -}}

{{- range $cssTypes -}}
	{{- $condition = index . 0 -}}
	{{- $fileName = index . 1 -}}
	{{- $fileNameTarget = $fileName }}
	{{- $fileName = (print "_" $fileName) -}}
	{{- if eq $condition true -}}
		{{- if hugo.IsProduction -}}
			{{- $scssOptions = merge $scssOptions (dict "targetPath" (print "css/" $fileNameTarget ".min.css") "outputStyle" "compressed") -}}
		{{- else -}}
			{{- $scssOptions = merge $scssOptions (dict "targetPath" (print "css/" $fileNameTarget ".css")) -}}
		{{- end -}}
		{{- $css := resources.Get (print "scss/partials/" $fileName ".scss") | toCSS $scssOptions -}}
		{{- if hugo.IsProduction -}}
			{{- $css = $css | fingerprint -}}
		{{- end -}}
		{{- with $css -}}
			<link rel="preload" href="{{ $css.RelPermalink }}" as="style"{{- if hugo.IsProduction -}} integrity="{{ $css.Data.Integrity }}" crossorigin{{- end -}}>
			<link rel="stylesheet" href="{{ $css.RelPermalink }}" type="text/css" media="screen"{{- if hugo.IsProduction -}} integrity="{{ $css.Data.Integrity }}" crossorigin{{- end -}}>
		{{- end -}}
	{{ end -}}
{{- end }}

{{- /* for those who've requested CSS for printing */ -}}
{{- if hugo.IsProduction -}}
	{{- $scssOptionsPrint = merge $scssOptionsPrint (dict "targetPath" "css/print.min.css" "outputStyle" "compressed") -}}
{{- else -}}
	{{- $scssOptionsPrint = merge $scssOptionsPrint (dict "targetPath" "css/print.css") -}}
{{- end -}}
{{- $printCSS := resources.Get "scss/print.scss" | toCSS $scssOptionsPrint -}}
{{- if hugo.IsProduction -}}
	{{- $printCSS = $printCSS | fingerprint -}}
{{- end -}}
{{- with $printCSS -}}
	<link rel="stylesheet" href="{{ $printCSS.RelPermalink }}" type="text/css" media="print"{{- if hugo.IsProduction -}} integrity="{{ $printCSS.Data.Integrity }}"{{- end -}}>
{{- end }}
