{{- $fallbackImg := resources.Get "/images/typewriter-monochrome_2242164_6260x4374.jpg" -}}
{{- $fallbackImg = $fallbackImg.Fit "1280x669" -}}
{{- $socImg := $fallbackImg.Permalink -}}{{/* fallback if not Home */}}

{{/* Required meta tags */}}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
	{{- /* IndieWeb */ -}}
	{{- if .IsHome }}
		<link rel="me" href="https://twitter.com/BryceWrayTX">
		<link rel="me" href="https://github.com/brycewray">
	{{- end }}
		<link rel="webmention" href="https://webmention.io/www.brycewray.com/webmention">
		<link rel="pingback" href="https://webmention.io/www.brycewray.com/xmlrpc">
		<meta name="twitter:site" content="@BryceWrayTX">
		<meta name="twitter:creator" content="@BryceWrayTX">
		<meta name="twitter:card" content="summary_large_image">

	{{- if .IsHome }}
		<title>{{ .Site.Title }}</title>
		<meta name="description" content="{{ .Site.Params.Description }}">
		<link rel="canonical" href="{{ .Site.BaseURL }}">
		<meta property="og:title" content="{{ .Site.Title }}">
		<meta property="og:type" content="website">
		<meta property="og:description" content="{{ .Site.Params.Description }}">
		<meta property="og:url" content="{{ .Site.BaseURL }}">
		<meta property="twitter:title" content="{{ .Site.Title }}">
		<meta property="twitter:description" content="{{ .Site.Params.Description }}">
		<meta name="og:image" content="{{ $fallbackImg.Permalink }}">
		<meta name="twitter:image" content="{{ $fallbackImg.Permalink }}">
	{{- else }}
		{{- $escapedTitle := .Title -}}
		{{/*
			Cloudinary requires “double-escaping” (meaning, escaping the `%` within as `%25`) the following characters as follows:
			- Percent sign %2525 (not just %25)
			- Comma %252C (not just %2C)
			- Forward slash %252F (not just %2F)
			- Emoji character (not worrying about that one!)
		*/}}
		{{- $escapedTitle = replace $escapedTitle "%" "%2525" -}}{{/* percent sign */}}
			{{/* **MUST** put that one at the top to avoid fouling up the rest!! */}}
		{{- $escapedTitle = replace $escapedTitle "," "%252C" -}}{{/* comma */}}
		{{- $escapedTitle = replace $escapedTitle "/" "%252F" -}}{{/* forward slash*/}}
		{{- $escapedTitle = replace $escapedTitle " " "%20" -}}{{/* regular space */}}
		{{- $escapedTitle = replace $escapedTitle ":" "%3A" -}}{{/* colon */}}
		{{- $escapedTitle = replace $escapedTitle ";" "%3B" -}}{{/* semicolon */}}
		{{- $escapedTitle = replace $escapedTitle "!" "%21" -}}{{/* exclamation point */}}
		{{- $escapedTitle = replace $escapedTitle "?" "%3F" -}}{{/* question mark */}}
		{{- $escapedTitle = replace $escapedTitle "+" "%2B" -}}{{/* plus sign */}}
		{{- $escapedTitle = replace $escapedTitle "—" "%E2%80%94" -}}{{/* em dash */}}
		{{- $escapedTitle = replace $escapedTitle "–" "%E2%80%93" -}}{{/* en dash */}}
		{{- $escapedTitle = replace $escapedTitle " " "%C2%A0" -}}{{/* nbsp */}}
		{{- $escapedTitle = replace $escapedTitle "•" "%E2%80%A2" -}}{{/* bullet */}}
		{{- $escapedTitle = replace $escapedTitle "#" "%23" -}}{{/* number sign or hash */}}
		{{- $escapedTitle = replace $escapedTitle "(" "%28" -}}{{/* opening parenthesis */}}
		{{- $escapedTitle = replace $escapedTitle ")" "%29" -}}{{/* closing parenthesis */}}
		{{- $escapedTitle = replace $escapedTitle "“" "%E2%80%9C" -}}{{/* opening double quotation mark */}}
		{{- $escapedTitle = replace $escapedTitle "”" "%E2%80%9D" -}}{{/* closing double quotation mark */}}
		{{- $escapedTitle = replace $escapedTitle "‘" "%E2%80%98" -}}{{/* opening single quotation mark */}}
		{{- $escapedTitle = replace $escapedTitle "’" "%E2%80%99" -}}{{/* curly apostrophe - closing single quotation mark */}}
		{{- $escapedTitle = replace $escapedTitle "‑" "%E2%80%91" -}}{{/* non-breaking hyphen */}}
		{{- $titleSize := 72 -}}
		{{- $fontChoice := "librefranklinsemibold.ttf" -}}
		{{- $titleWidth := 1036 -}}{{/* 72 each side from 1280 */}}
		{{- /* choices are `librefranklinsemibold.ttf` and `librefranklinmedium.ttf` */ -}}
		{{- $socImg := print "https://res.cloudinary.com/brycewray-com/image/upload/w_1280,h_669,c_fill,q_auto,f_auto/w_" $titleWidth ",c_fit,co_rgb:ffffff,g_north,y_72,l_text:" $fontChoice "_" $titleSize "_center:" $escapedTitle "/social-OG-bkgd-w-BW-logo-ctrd-for-1280x669" -}}
		<title>{{ .Title }} | {{ .Site.Title }}</title>
	 {{- if .Params.Description }}
		<meta name="description" content="{{ .Params.Description }}">
		<meta property="og:description" content="{{ .Params.Description }}">
		<meta property="twitter:description" content="{{ .Params.Description }}">
	 {{- else }}
		<meta name="description" content="{{ .Site.Params.Description }}">
		<meta name="og:description" content="{{ .Site.Params.Description }}">
		<meta name="twitter:description" content="{{ .Site.Params.Description }}">
	 {{- end }}
	 {{- if .Params.Ext_canonical }}
		<link rel="canonical" href="{{ .Params.Ext_canonical }}">
	 {{- else }}
		<link rel="canonical" href="{{ .Page.Permalink }}">
	 {{- end }}
		<meta property="og:title" content="{{ .Title }} | {{ .Site.Title }}">
		<meta property="og:type" content="article">
		<meta property="og:url" content="{{ .Page.Permalink }}">
		<meta property="twitter:title" content="{{ .Title }} | {{ .Site.Title }}">
		<meta name="og:image" content="{{ $socImg }}">
		<meta name="twitter:image" content="{{ $socImg }}">
	{{- end -}}
