{{- $fallbackImg := resources.Get "/images/typewriter-monochrome_2242164_6260x4374.jpg" -}}
{{- $fallbackImg = $fallbackImg.Fit "1280x669" -}}
{{- $socImg := $fallbackImg -}}{{/* fallback if not Home */}}
		<meta name="twitter:site" content="@BryceWray">
		<meta name="twitter:creator" content="@BryceWray">
	{{- if .IsHome }}
		<link rel="me" href="https://twitter.com/BryceWray">
		<link rel="me" href="https://github.com/brycewray">
		<title>{{ .Site.Title }}</title>
		<meta name="description" content="{{ .Site.Params.Description }}">
		<link rel="canonical" href="{{ .Site.BaseURL }}">
		<meta property="twitter:title" content="{{ .Site.Title }}">
		<meta property="twitter:description" content="{{ .Site.Params.Description }}">
		<meta property="og:title" content="{{ .Site.Title }}">
		<meta property="og:type" content="website">
		<meta property="og:description" content="{{ .Site.Params.Description }}">
		<meta property="og:url" content="{{ .Site.BaseURL }}">
	{{- else }}
	{{- $socImg = resources.Get "/images/social-OG-bkgd-for-left-align-text_1280x669.jpg" -}}
	{{- $titleSize := 108 -}}{{/* pixels */}}
	{{/*  {{- if gt (len $.Title) 36 -}}
		{{- $titleSize = 72 -}}
	{{- end -}}  */}}
	{{- $titleSI := .Title -}}
	{{/*  {{- $titleSI = .Title | htmlUnescape -}}  */}}
	{{- $socImg = $socImg.Filter (images.Text $titleSI (dict
		"color" "#ffffff"
		"size" $titleSize
		"linespacing" 10
		"x" 72
		"y" 72
		"font" (resources.Get "/fonts/Franklin Gothic Medium.ttf")
	)) }}
	<title>{{ .Title }} | {{ .Site.Title }}</title>
	 {{- if .Params.Description }}
		<meta name="description" content="{{ .Params.Description }}">
		<meta property="og:description" content="{{ .Params.Description }}">
		<meta property="twitter:description" content="{{ .Params.Description }}">
	 {{- else }}
		<meta name="description" content="{{ .Site.Params.Description }}">
		<meta name="og:description" content="{{ .Site.Params.Description }}">
		<meta property="twitter:description" content="{{ .Site.Params.Description }}">
	 {{- end }}
	 {{- if .Params.Ext_canonical }}
		<link rel="canonical" href="{{ .Params.Ext_canonical }}">
	 {{- else }}
		<link rel="canonical" href="{{ .Page.Permalink }}">
	 {{- end }}
		<meta property="og:title" content="{{ .Title }} | {{ .Site.Title }}">
		<meta property="og:type" content="article">
		<meta property="og:url" content="{{ .Page.Permalink }}">
		<meta property="twitter:title" content="{{ .Title }} | {{ .Site.Title }}">
	{{- end }}
		<meta property="og:image" content="{{ $socImg.Permalink }}">
		<meta property="og:image:width" content="1280">
		<meta property="og:image:width" content="669">
		<meta property="twitter:image" content="{{ $socImg.Permalink }}">
		<meta name="twitter:card" content="summary_large_image">
