	<head>
		{{- /*
			Items ordered according to Harry Roberts's "Get your 'head' straight" talk, 2022:
			https://www.youtube.com/watch?v=MHyAOZ45vnU
		 */ -}}
{{- /* Required meta tags */}}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{{- /* <meta http-equiv="X-UA-Compatible" content="ie=edge"> */}}
	{{- if .IsHome }}
		<title>{{ site.Title }}</title>
	{{- else }}
		<title>{{ .Title }} | {{ site.Title }}</title>
	{{- end }}
	{{ hugo.Generator }}
{{- /* CSS */ -}}
	{{/*  {{- partialCached "head-criticalcss.html" . -}}  */}}
	{{- partialCached "head-criticalscss.html" . }}
	{{- $noncriticalCSS := "scoped" -}}
	{{- with $noncriticalCSS -}}
		{{- if eq $noncriticalCSS "scoped" -}}
			{{/*  {{- partial "head-css-scoped.html" $.Page }}  */}}
			{{- partial "head-scss-scoped.html" $.Page }}
		{{- else -}}
			{{/*  {{- partialCached "head-css-unscoped.html" $.Page }}  */}}
			{{- partialCached "head-scss-unscoped.html" $.Page }}
		{{- end }}
	{{- end }}
	{{- partial "head-imgs-css.html" . }}
	{{- partial "head-css-oklch-post.html" . -}}
	<noscript>
		<style>
			.nScrHidden {
				display: none;
			}
			:root {
				--navRightMargin: 0.5em;
				--navToggleRightMargin: 0.5em;
				/* ^^ override earlier CSS if JS is off and "light/auto/dark" toggle isn't there */
			}
		</style>
	</noscript>
{{ partial "json-ld.html" . }}
		<link rel="alternate" type="application/atom+xml" title="BryceWray.com, full-text - RSS" href="https://www.brycewray.com/index.xml">
		<link rel="alternate" type="application/feed+json" title="BryceWray.com, full-text - JSON" href="https://www.brycewray.com/index.json">
		<link rel="alternate" type="application/atom+xml" title="BryceWray.com, excerpt-only - RSS" href="https://www.brycewray.com/index-excerpts.xml">
		<link rel="alternate" type="application/feed+json" title="BryceWray.com, excerpt-only - JSON" href="https://www.brycewray.com/index-excerpts.json">
		{{ partial "head-meta-social.html" . }}
		{{ partial "head-one-socimg.html" . }}
		{{ partialCached "head-favicons.html" . }}
		<link rel="preconnect" href="https://giscus.app">
		<link rel="dns-prefetch" href="https://giscus.app">
	</head>
