{{- $optionsCSSCritical := (dict "transpiler" "dartsass") -}}

{{- $fontsSrc := "local" -}}
{{- /* "local" or "CFF"; fallback is system fonts. With CFF, remember that
the CSP's `style-src` must allow "unsafe-inline" because CFF injects a `style`
AFTER the CFP Page Function injects the CSP. */ -}}
{{- $fontFamily := "Inter" -}}
{{- $fontFileReg := "" -}}
{{- $fontFileIta := "" -}}
{{- with $fontsSrc -}}
	{{- if compare.Eq . "local" -}}
		{{- if compare.Eq $fontFamily "Inter" -}}
			{{- $fontFileReg = "InterVariable-4-0-Regular_subset.woff2" -}}
			{{- $fontFileIta = "InterVariable-4-0-Italic_subset.woff2" -}}
		{{- else -}}
			{{- $fontFileReg = "LibreFranklin-Roman-VariableFont_subset.woff2" -}}
			{{- $fontFileIta = "LibreFranklin-Italic-VariableFont_subset.woff2" -}}
		{{- end -}}
		<link rel="preload" as="font" href="/fonts/{{ $fontFileReg }}" type="font/woff2" media="screen and (min-width: 1024px)" crossorigin>
		{{/* DO NOT preload italic; it's not always needed (e.g., home page, search page, etc.). */}}
		<style media="screen and (min-width: 1024px)">
			@media screen and (min-width: 1024px) {
				@font-face {
					font-family: '{{ $fontFamily }}';
					font-weight: 100 900;
					font-style: normal;
					font-display: swap;
					src: url('/fonts/{{ $fontFileReg }}') format('woff2-variations'), url('/fonts/{{ $fontFileReg }}') format('woff2');
					unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191-2193, U+2212, U+2215, U+FEFF, U+FFFD;
				}
				@font-face {
					font-family: '{{ $fontFamily }}';
					font-weight: 100 900;
					font-style: italic;
					font-display: swap;
					src: url('/fonts/{{ $fontFileIta }}') format('woff2-variations'), url('/fonts/{{ $fontFileIta }}') format('woff2');
					unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191-2193, U+2212, U+2215, U+FEFF, U+FFFD;
				}
			}
		</style>
	{{- else if compare.Eq . "CFF" -}}
		{{- $URLopen := "https://fonts.googleapis.com/css2?family=" -}}
		{{- $fontSans := "Libre+Franklin" -}}
			{{- $itemsSans := "ital,wght" -}} {{/* ital,opsz,wdth,wght,GRAD */}}
			{{- $varsSans := "100..900" -}}
			{{- $URLSans := fmt.Print $URLopen $fontSans ":" $itemsSans "@0," $varsSans ";1," $varsSans "&display=swap" -}}
		{{- $fontSerif := "" -}}
			{{- $itemsSerif := "ital,wght" -}} {{/* ital,opsz,wdth,wght,GRAD */}}
			{{- $varsSerif := "100..900" -}}
			{{- $URLSerif := fmt.Print $URLopen $fontSerif ":" $itemsSerif "@0," $varsSerif ";1," $varsSerif "&display=swap" -}}
		{{- $fontMono := "" -}}
			{{- $itemsMono := "" -}} {{/* ital,opsz,wdth,wght,GRAD */}}
			{{- $varsMono := "" -}}
			{{- $URLMono := fmt.Print $URLopen $fontMono ":" $itemsMono "@0," $varsMono ";1," $varsMono "&display=swap" -}}
		<link rel="preconnect" href="https://fonts.googleapis.com" media="screen and (min-width: 1024px)" crossorigin>
		<link rel="preconnect" href="https://fonts.gstatic.com" media="screen and (min-width: 1024px)" crossorigin>
		{{/* https://discourse.gohugo.io/t/how-to-unescape-plus-sign-in-url-re-cloudflare-fonts/46734 */}}
		{{ with $fontSans -}}
			<link {{ fmt.Printf "href=%q" $URLSans | safe.HTMLAttr }} rel="stylesheet" media="screen and (min-width: 1024px)">
		{{- end }}
		{{ with $fontSerif -}}
			<link {{ fmt.Printf "href=%q" $URLSerif | safe.HTMLAttr }} rel="stylesheet" media="screen and (min-width: 1024px)">
		{{- end }}
		{{- with $fontMono -}}
			<link {{ fmt.Printf "href=%q" $URLMono | safe.HTMLAttr }} rel="stylesheet" media="screen and (min-width: 1024px)">
		{{- end }}
	{{/* otherwise, we fall back to system fonts */}}
	{{- end }}
{{- end }}

{{- $css := resources.Get "scss/critical.scss" | toCSS $optionsCSSCritical -}}
{{- if hugo.IsProduction -}}
	{{- $css = $css | postCSS -}}
	{{/* Hugo will minify, since this is going into the HTML */}}
{{- end -}}
{{- with $css -}}
	<style media="screen">{{ .Content | safeCSS }}</style>
{{- end }}
