{{- /*
	h/t https://mentalpivot.com/using-duckduckgo-for-site-search-on-your-blog/
*/ -}}
<div class="searchDiv">
	<form method="get" id="search" action="https://duckduckgo.com/" target="_blank" title="DuckDuckGo search for www.brycewray.com">
		<input type="hidden" name="sites" value="brycewray.com" />
		<input type="hidden" name="ia" value="web" />
		<input class="searchInput" type="text" name="q" maxlength="300" placeholder="Search this site" />
		<input type="submit" value="Go" class="searchBtn" />
	</form>
	<p class="ctr legal">Uses <a href="https://duckduckgo.com" target="_blank" rel="noopener">DuckDuckGo</a>. <span class="nobrk">Results open in a new tab/window.</span></p>
</div>
