{{- /*
	h/t https://mentalpivot.com/using-duckduckgo-for-site-search-on-your-blog/
*/ -}}
<div class="searchDiv">
	<p class="ctr"><strong>Search this site</strong></p>
	<div class="searchBox">
		<form method="get" id="search" action="https://duckduckgo.com/" title="DuckDuckGo search for www.brycewray.com">
			<input type="hidden" name="sites" value="brycewray.com" />
			<input class="searchInput" id="searchForm" type="text" name="q" maxlength="300" />
			<input type="submit" value="Go" class="searchBtn" />
		</form>
	</div>
	<p class="ctr legal">Uses <a href="https://duckduckgo.com" rel="noopener">DuckDuckGo</a>.</p>
</div>
