{{- /*
	h/t https://mentalpivot.com/using-duckduckgo-for-site-search-on-your-blog/
*/ -}}
<div class="searchDiv">
	<form method="post" id="search" action="https://duckduckgo.com/" target="_blank" title="DuckDuckGo search for www.brycewray.com">
		<input type="hidden" name="sites" value="brycewray.com" />
		<label for="searchForm"><strong>Search this site</strong></label>
		<br />
		<input class="searchInput" id="searchForm" type="text" name="q" maxlength="300" />
		<input type="submit" value="Go" class="searchBtn" />
	</form>
	<p class="ctr legal">Uses <a href="https://duckduckgo.com" target="_blank" rel="noopener">DuckDuckGo</a>. <span class="nobrk">Results open in a new tab/window.</span></p>
</div>
