{{ define "main" }}

<div class="w-full height-hero">
  <img src="{{ index .Params "featured_image" }}" alt="{{ index .Params "featured_image_alt" }}" class="imgCover" />
</div>
{{ if index .Params "featured_image_caption" }}
<p class="text-center text-xs tracking-normal mt-1">{{ index .Params "featured_image_caption" }}</p>
{{ end }}


<div class="container px-8 lg:grid lg:grid-cols-5 lg:gap-16 lg:w-5/6 mr-auto ml-auto">
  <div class="col-span-3 home-colOne">
    {{ .Content }}
  </div>
  <div class="col-span-2 border-black border-t lg:border-0 pt-4 lg:pt-0">
    <h2 class="h1 mb-4">Recent <a href="/posts/">posts</a></h2>
    {{ range first 7 (where .Site.RegularPages "Section" "posts") }}				
      <div>
        <h2 class="h4 not-italic tracking-tight"><a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a></h2>
        <p class="font-bold text-base mt-2 mb-0 leading-5">{{ .Params.Subtitle | markdownify }}</p>
        <p class="text-xs tracking-normal mt-0 mb-1">
          <time style="display: inline;" datetime="{{ .PublishDate }}">{{ .PublishDate.Format "January 2, 2006" }}</time>
          {{ if .Params.Lastmod }}
          &nbsp;&bull;&nbsp;&nbsp;Last modified: <time style="display: inline;" datetime="{{ .Params.Lastmod }}">{{ .Params.Lastmod.Format "January 2, 2006" }}</time>
        {{ end }}
        </p>
        
        <p class="text-sm mt-2 mb-3">
          {{ .Description }}
        </p>
      </div>
    {{ end }}
    <p><a href="/posts/"><strong>All {{ len (where .Site.RegularPages "Section" "posts") }} posts</strong></a> <span class="text-sm"><em>(listed five per page)</em></span></p>
  </div>
</div>
{{ end }}