{{ define "main" }}

<div class="hero-home">
  <img src="{{ index .Params "featured_image" }}" alt="{{ index .Params "featured_image_alt" }}" class="imgCover" />
</div>

<p class="legal ctr text-muted" style="margin-top: 0;">Image: Pixabay</p>

<div class="container-home">
  <div class="column-home-1">
    {{ .Content }}
  </div>
  <div class="column-home-2">
    <h2 class="h1" style="margin-bottom: 1.5rem;">Latest posts</h2>
    {{ range first 7 (where .Site.RegularPages "Section" "posts") }}				
      <div>          
        
          <h2 class="h5" style="margin-bottom: 0;"><a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a></h2>
          <time datetime="{{ .PublishDate }}" class="pokey text-muted text-sans-serif">{{ .PublishDate.Format "January 2, 2006" }}</time>
          <p class="pokey text-body">
            {{ .Description }}
          </p>
        
      </div>
    {{ end }}
    <p class="text-sans-serif"><a href="/posts/"><strong>All {{ len (where .Site.RegularPages "Section" "posts") }} posts</strong></a></p>
  </div>
</div>
{{ end }}