
    <header>
      <p class="site-logo"><a href="{{ "/" | relURL}}">{{.Site.Title}}</a></p>
      <input type="checkbox" id="nav-toggle" class="nav-toggle" title="Toggle for small screens">
      <nav>
        <ul>
          {{ $currentPage := . }}
          {{ range .Site.Menus.main }}
            <li>
              <a href="{{ .URL | relURL }}" title="{{ .Title }}">{{ .Name }}</a>
            </li>
          {{ end }}
        </ul>
      </nav>
        <label for="nav-toggle" class="nav-toggle-label" aria-label="Toggle for small screens">
        <span></span>
      </label>
    </header>