@charset 'utf-8';
@use 'partials/variables' as var;

/* This is (was) for giscus only. */

details.comments > summary {
	list-style: none;
	color: var.$white;
	border-radius: var.$btn_radius;
	margin: 0 auto;
	border: 1px solid map-get(var.$twcss, blue-700);
	background-color: map-get(var.$twcss, blue-700);
	padding: 0.5em 0.25em;
	width: 15em;
	&:hover {
		cursor: pointer;
		background-color: map-get(var.$twcss, blue-700);
		@media (prefers-color-scheme: dark) {
			border: 1px solid map-get(var.$twcss, blue-300);
			background-color: map-get(var.$twcss, blue-300);
		}
	}
	@media (prefers-color-scheme: dark) {
		border: 1px solid map-get(var.$twcss, blue-100);
		background-color: map-get(var.$twcss, blue-100);
		color: var.$black;
	}
}

details.comments > summary::marker,
details.comments > summary::-webkit-details-marker {
	display: none;
}
