/* === Inter, variable === */
/* === (see https://thetrevorharmon.com/blog/how-to-prepare-and-use-variable-fonts-on-the-web) === */
/* latin */
@font-face {
  font-family: 'Inter';
  font-weight: 1 999;
  font-style: oblique 0deg 10deg;
  font-display: swap;
  src: url('../fonts/Inter-3-15_subset_2020-08-20.woff2') format('woff2');
  unicode-range: U+0020-00FF;
}
/* latin */
@font-face {
  font-family: 'Inter';
  font-weight: 1 999;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Inter-3-15_subset_2020-08-20.woff2') format('woff2');
  unicode-range: U+0020-00FF;
}
