:root {
	/* === TYPOGRAPHY === */
	/* font families */
	--sans-serif: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
	--monospaced: ui-monospace, SFMono-Regular, "SF Mono", "Cascadia Code", "Cascadia Mono", "Segoe UI Mono", "Source Code Pro", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	/* --social-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif; */
	/* text sizes */
	--text-xs: 0.75rem;
	--text-sm: 0.875rem;
	--text-base: 1rem;
	--text-lg: 1.125rem;
	--text-xl: 1.25rem;
	--text-2xl: 1.5rem;
	--text-3xl: 1.875rem;
	--text-4xl: 2.25rem;
	/*
	--text-5xl: 3rem;
	--text-6xl: 3.75rem;
	--text-7xl: 4.5rem;
	--text-8xl: 6rem;
	--text-9xl: 8rem;
	*/
	/* underlines for hrefs */
	--textDcThick: 0.0275rem; /* always rem */
	--textUnOffst: 0.325em; /* always em */
	/* ^^^ 0.225em is OK with Libre Franklin,
	       but Segoe UI needs at least 0.25em
	*/
	/* === MISCELLANY === */
	/* alignment */
	/*
	--body-align: left;
	--nav-height: 50px;
	/*
	/* breakpoints (mostly based on TWCSS) */
	/*
		**BUT** these won't work for media queries:
		https://bholmes.dev/blog/alternative-to-css-variable-media-queries/
	*/
	/*
	--bkpt_sm: 640px;
	--bkpt_md: 768px;
	--bkpt_ml: 960px;
	--bkpt_lg: 1024px;
	--bkpt_xl: 1280px;
	--bkpt_2xl: 1536px;
	--bkpt_3xl: 1920px;
	*/
	/* button */
	--btn_radius: 6px;
}
