html, body {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	-moz-osx-font-smoothing: auto; /* only for Firefox on macOS (and not for system fonts); other browsers use defaults (if any) */
	font-variant-ligatures: normal; /* if using any ligature-savvy fonts, ligatures won't work without this */
	text-rendering: optimizeLegibility;
	font-kerning: normal;
	font-family: var(--sans-serif);
	background-color: var(--twcss-slate-100); /* slate-100 */
	color: var(--default-light); /* gray-900 */
	background-image: linear-gradient(
		var(--twcss-slate-600),
		var(--twcss-slate-300) 6em,
		transparent 10em
	); /* slate-600 -> slate-300 -> transparent */
}

/* h1, .h1, h2, .h2, h3, .h3, h4, .h4, footer {
	font-family: var(--sans-serif);
} */

html {
	/* scroll-behavior: smooth; */
	scroll-padding-top: 80px;
}

p, li {
	line-height: 1.4;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
	letter-spacing: -0.025rem;
}

h1, h2, h3, h4 {
	outline: 2px transparent;
	outline-offset: 2px;
}

h1:active, h1:focus, h1:hover,
h2:active, h2:focus, h2:hover,
h3:active, h3:focus, h3:hover,
h4:active, h4:focus, h4:hover {
	outline: 2px transparent;
	outline-offset: 2px;
}

h1, h2, h3, h4 {
	display: block;
	margin-block-start: 0.25rem;
	margin-block-end: 0.25rem;
}

h3, .h3 {
	font-style: italic;
}

h1, .h1 {
	font-size: clamp(2rem, 1rem + 3vw, 2.5rem);
	/* usually overridden by other styling (e.g., billboard partial) */
}

h2, .h2 {
	font-size: clamp(1.5rem, 0.75rem + 2vw, 2rem);
}

h3, .h3 {
	font-size: clamp(1.375rem, 0.5rem + 1.75vw, 1.75rem);
}

h4, .h4 {
	font-size: clamp(1.25rem, 0.25rem + 1.5vw, 1.625rem);
}

a, a:focus, a:hover, a:active {
	text-decoration-thickness: var(--textDcThick); /* always rem */
	text-underline-offset: var(--textUnOffst); /* always em */
	text-decoration-skip-ink: auto;
}

a {
	color: var(--twcss-blue-700); /* blue-700 */
}

a:focus, a:hover, a:active {
	color: var(--twcss-blue-900); /* blue-900 */
}

a.icon, a.icon:focus, a.icon:hover, a.icon:active, sup a, .footnote-return, .icon {
	border-bottom: 0;
	text-decoration: none;
}

hr {
	border: none;
	height: 1px;
	background-color: black;
}

blockquote {
	border-left: 4px solid var(--twcss-slate-400); /* slate-400 */
	color: var(--twcss-gray-600); /* gray-600 */
	margin-right: 0;
	margin-left: 0;
	padding-left: 1.5em;
}

blockquote p:last-child {
	margin-bottom: 0;
}

sub, sup {
	font-size: 65%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.45em;
}

ul li li, ol li li, ul li li li, ol li li li {
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
}

ul li li {
	list-style-type: circle;
}

ol li li {
	list-style-type: disc;
}

ul li li li, ol li li li {
	list-style-type: square;
}

#content-main-hugo, main {
	padding-top: 40px;
}

#content-main-hugo .topOfMain, main .topOfMain {
	margin-top: 0.5rem;
	font-size: 2.25rem;
}

audio, canvas, embed, iframe, img, object, svg, video {
	vertical-align: middle;
}

footer {
	text-align: center;
	font-size: var(--text-xs);
	margin: 4rem auto 0 auto;
	width: 100%;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

footer p {
	line-height: 1.5em; /* definitely em, not rem, here */
}

footer div.footerWrapper {
	margin: 0 auto;
	width: 80%;
}

footer div.footerWrapper p {
	margin: 1rem 0;
}

footer div.footerWrapper div.icons-box {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 1em;
}

.container {
	/* width: 90%; */
	margin: 0 auto;
}

.container-narrower {
	margin: 1rem auto 0 auto;
	width: 80%;
}

@media screen and (min-width: 768px) {
	a, a:focus, a:hover, a:active {
		--textDcThick: 0.05rem;
		--textUnOffst: 0.275em;
	}
}

@media screen and (min-width: 1024px){
	footer {
		margin: 2rem auto 0 auto;
		/* padding-bottom: 1rem; */
	}
	footer div.footerWrapper {
		width: 65%;
		height: 100%;
	}
	.container-narrower {
		width: 50%;
		/* max-width: 65ch; */
	}
}

@media screen and (min-width: 1536px){
	.container-narrower {
		width: 45%;
		/* max-width: 65ch; */
	}
}

@media screen and (min-width: 1920px){
	.container-narrower {
		width: 40%;
	}
}

li p {
	margin-right: 0;
	margin-left: 0;
	width: 100%;
}

@media (prefers-color-scheme: dark) {
	html, body {
		background: black;
		color: var(--default-dark); /* gray-100 */
		background-image: linear-gradient(
			var(--twcss-slate-500),
			var(--twcss-slate-800) 6em,
			transparent 10em
		); /* slate-500 -> slate-800 -> transparent */
	}
	a {
		color: var(--twcss-blue-300); /* blue-300 */
	}
	a:focus, a:hover, a:active {
		color: var(--twcss-slate-300); /* slate-300 */
	}
	hr {
		background-color: white;
	}
	blockquote {
		/* border-left is same color */
		color: var(--twcss-gray-400); /* gray-400 */
	}
}
