/*
====
	FOR USE **ONLY** WITH FONTS WITH VARIABLE WEIGHTS
	--------
	As of 2022-05-15, this includes system fonts such as San Francisco (macOS/iOS) and Segoe UI (Windows); not worrying about Linux distros because they're all over the map on this as with so many other specs.
	====
*/

b,
strong {
	font-weight: 600;
	@media (prefers-color-scheme: dark) {
		font-weight: 550;
	}
}

.header-anchor::after {
	font-weight: 425;
	@media (prefers-color-scheme: dark) {
		font-weight: 375;
	}
}
h1,
.h1,
.background-hero-title-text,
.billboard-title-text,
.posts-Head,
.homePost-Latest,
.sitemap-Div h1 {
	font-weight: 600;
	letter-spacing: -0.05em;
	@media (prefers-color-scheme: dark) {
		font-weight: 550;
	}
}

.homeOpen h1 {
	font-weight: 600;
	letter-spacing: -0.0375em;
}

h2,
.h2,
article h2,
article .h2,
h3,
.h3,
article h3,
article .h3,
h4,
.h4,
article h4,
article .h4,
.homePost-Title,
.posts-Title {
	font-weight: 550;
	letter-spacing: -0.025em;
	@media (prefers-color-scheme: dark) {
		font-weight: 500;
	}
}

.prevnextP {
	letter-spacing: -0.025em;
}

.billboard-description-text {
	font-weight: 300;
}
/*
	`.posts-Description` and `.homePost-Description`
	at font-weight 300
	are problematic in Windows as seen in Parallels Desktop,
	while font-weight 350 is same as 400 with San Francisco
*/

.posts-Description,
.homePost-Description {
	letter-spacing: -0.025em;
}

.billboard-description-text {
	letter-spacing: -0.0375em;
}

.billboard-p-text,
.homePost-Dates,
.posts-Dates {
	letter-spacing: -0.025em;
}

.footnotes li,
.footnotes li p,
.box,
.tweet-card div,
.tweet-card a,
.tweet-card p {
	letter-spacing: normal;
}
