{{ define "main" }}
<div class="container">
    <h1 class="mt-5 text-center"><strong>{{ .Title | markdownify}}</strong></h1>

    {{- if .Params.Subtitle }}
      <h2 class="mb-3 text-center h4">{{ .Params.Subtitle | markdownify }}</h2>
    {{- end }}
    <div class="row">
        <div class="col-md-3">&nbsp;</div>
        <div class="col-md-6">
            <p class="ctr teeny"><strong>Important note</strong>: My showing these items is intended <strong>only</strong> to display my work in a stable location and in no way indicates or implies that I have any ownership over either the items <span class="text-nowrap">or their content.</span> Please&nbsp;refer to each item’s individual copyright and other ownership&nbsp;notice(s).</p>
        </div>
        <div class="col-md-3">&nbsp;</div>
    </div>
    <div class="post-line"></div>

    <div class="row">
        <div class="col-md-6">
            {{ $headless := .Site.GetPage "page" "portfolio-contents" }}
            {{ $portfolioDatasheets := $headless.Resources.Match "video*" }}
            {{ range $portfolioDatasheets }}
                {{ .Content }}
            {{ end }}
            <br/ >
            {{ $headless := .Site.GetPage "page" "portfolio-contents" }}
            {{ $portfolioDatasheets := $headless.Resources.Match "web*" }}
            {{ range $portfolioDatasheets }}
                {{ .Content }}
            {{ end }}
            <br />
        </div>
        <div class="col-md-6">
            {{ $headless := .Site.GetPage "page" "portfolio-contents" }}
            {{ $portfolioDatasheets := $headless.Resources.Match "datasheet*" }}
            {{ range $portfolioDatasheets }}
                {{ .Content }}
            {{ end }}
            <br />&nbsp;
        </div>
    </div>
    <hr style="border-top: 1px solid #888;" />
    <div class="row">
        <div class="col-md-3">&nbsp;</div>
        <div class="col-md-6">
            <p class="ctr teeny"><strong>Important note</strong>: Again, my showing these items is intended <strong>only</strong> to display my work in a stable location and in no way indicates or implies that I have any ownership over either the items <span class="text-nowrap">or their content.</span> Please&nbsp;refer to each item’s individual copyright and other ownership&nbsp;notice(s).</p>
        </div>
        <div class="col-md-3">&nbsp;</div>
    </div>
    
</div>
	

{{ end }}