{{ define "main" }}
  <div class="container">
    <h1 class="mt-5 text-center"><strong>{{ .Title | markdownify}}</strong></h1>

    {{ range first 2 (where .Pages "Section" "posts") }}				
        <div style="margin-bottom: 1rem;">
            <a href="{{ .Permalink }}">
                {{- if isset .Params "featured_image" }}
                    <img src="{{ index .Params "featured_image" }}" class="postsFeatImg">
                {{- end }}
                <h2>{{ .Title }}</h2>
                <time datetime="{{ .PublishDate }}" class="catalogue-postsindex-time">{{ .PublishDate.Format "January 2, 2006" }}</time>
                <p>
                    {{ .Summary }}
                    {{ if .Truncated }}
                        &nbsp;<br />
                        <span class="catalogue-postsindex-readmore" style="color: #0088ff;">Read&nbsp;more&nbsp;.&nbsp;.&nbsp;.</span>
                    {{ end }}
                </p>
            </a>							
        </div>
    {{ end }}
    {{ range after 2 (where .Pages "Section" "posts") }}
        <div>
            <a href="{{ .Permalink }}" class="catalogue-postsindex-item">
                <p class="pokeytxt"><span style="color: #000088; font-size: 125%;"><strong>{{ .Title }}</strong></span><br /><time datetime="{{ .PublishDate }}" class="catalogue-postsindex-time" style="margin-top: 0;">{{ .PublishDate.Format "January 2, 2006" }}</time><br />
                    {{ .Summary }}
                    {{ if .Truncated }}
                    <a href="{{ .RelPermalink }}"><strong>Read&nbsp;more&nbsp;.&nbsp;.&nbsp;.</strong></a>
                    {{ end }}
                </p>
            </a>							
        </div>
    {{- end}}
    <div class="teenytxt ctr" style="margin-top: 3rem;">
        <p style="margin-top: 0; margin-bottom: 0;">For media credits (where applicable), see the original posts linked&nbsp;herein.</p>
    </div>
</div>

{{ end }}