{{ define "main" }}

<div class="hero hero-home"></div>
<p class="legal ctr text-muted" style="margin-top: 0;">Image: Pixabay</p>

<div class="container-home">
  <div class="column-home">
    {{ .Content }}
  </div>
  <div class="column-home">
    <h2 class="h1" style="margin-bottom: 1.5rem;">Latest posts</h2>
    {{ range first 2 (where .Pages "Section" "posts") }}				
      <div>          
        
          <h2 class="h5" style="margin-bottom: 0;"><a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a></h2>
          <time datetime="{{ .PublishDate }}" class="pokey text-muted text-sans-serif">{{ .PublishDate.Format "January 2, 2006" }}</time>
          <p class="pokey text-body">
            {{ .Description }}
          </p>
        
      </div>
    {{ end }}
    <p class="text-sans-serif"><a href="/posts/"><strong>All posts</strong></a></p>
    <h3 class="h5 twitter-border">Tweets by&nbsp;<a href="https://twitter.com/BryceWrayTX" target="_blank">@BryceWrayTX</a></h3>
    <p class="teeny"><strong>Note</strong>: Some retweets with added comments won‘t show the original&nbsp;tweets unless you click or tap on&nbsp;them.</p>
    <a class="twitter-timeline" data-chrome="noheader" data-tweet-limit="3" data-link-color="#0033ff" data-dnt="true" data-border-color="#656565" href="https://twitter.com/BryceWrayTX?ref_src=twsrc%5Etfw">Tweets by BryceWrayTX</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</div>
{{ end }}