/*
	=== Libre Franklin, variable ===
	===
	references:
	https://thetrevorharmon.com/blog/how-to-prepare-and-use-variable-fonts-on-the-web
	https://rwt.io/typography-tips/getting-bent-current-state-italics-variable-font-support
	===
*/
/* public-sans-regular - latin */
@font-face {
	font-family: 'Libre Franklin';
	font-weight: 1 999;
	font-style: normal;
	font-display: swap;
	/* optional is best for first-run CLS checks; swap looks better on one-hit */
	src: url('/fonts/LibreFranklin-Roman-VariableFont_subset.woff2') format('woff2-variations'), url('/fonts/LibreFranklin-Roman-VariableFont_subset.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: 'Libre Franklin';
	font-weight: 1 999;
	font-style: italic;
	font-display: swap;
	/* optional is best for first-run CLS checks; swap looks better on one-hit */
	src: url('/fonts/LibreFranklin-Italic-VariableFont_subset.woff2') format('woff2-variations'), url('/fonts/LibreFranklin-Italic-VariableFont_subset.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
