:root {
	/* === COLORS === */
	/*
	--default-color: hsl(0, 0%, 20%);
	--white: hsl(0, 0%, 100%);
	--black: hsl(0, 0%, 0%);
	*/
	--twcss-slate-50: #f8fafc;
	--twcss-slate-100: #f1f5f9;
	--twcss-slate-200: #e1e7ef;
	--twcss-slate-300: #cbd5e1;
	--twcss-slate-400: #94a3b8;
	--twcss-slate-500: #65758b;
	--twcss-slate-600: #48566a;
	--twcss-slate-700: #344256;
	--twcss-slate-800: #1d283a;
	/*
	--twcss-slate-900: #0f1729;
	--twcss-gray-50: #f9fafb;
	*/
	--twcss-gray-100: #f3f4f6;
	--twcss-gray-200: #e5e7eb;
	--twcss-gray-300: #d1d5db;
	--twcss-gray-400: #9ca3af;
	/*
	--twcss-gray-500: #6b7280;
	--twcss-gray-600: #4b5563;
	*/
	--twcss-gray-700: #384252;
	/* --twcss-gray-800: #1f2937; */
	--twcss-gray-900: #111827;
	/*
	--twcss-zinc-50: #fafafa;
	--twcss-zinc-100: #f4f4f5;
	--twcss-zinc-200: #e4e4e7;
	--twcss-zinc-300: #d4d4d8;
	--twcss-zinc-400: #a1a1aa;
	--twcss-zinc-500: #71717a;
	--twcss-zinc-600: #52525b;
	--twcss-zinc-700: #3f3f46;
	--twcss-zinc-800: #27272a;
	--twcss-zinc-900: #18181b;
	--twcss-neutral-50: #fafafa;
	--twcss-neutral-100: #f5f5f5;
	--twcss-neutral-200: #e5e5e5;
	--twcss-neutral-300: #d4d4d4;
	--twcss-neutral-400: #a3a3a3;
	--twcss-neutral-500: #737373;
	--twcss-neutral-600: #525252;
	--twcss-neutral-700: #404040;
	--twcss-neutral-800: #262626;
	--twcss-neutral-900: #171717;
	--twcss-stone-50: #fafaf9;
	--twcss-stone-100: #f5f5f4;
	--twcss-stone-200: #e7e5e4;
	--twcss-stone-300: #d6d3d1;
	--twcss-stone-400: #a8a29e;
	--twcss-stone-500: #78716c;
	--twcss-stone-600: #57534e;
	--twcss-stone-700: #44403c;
	--twcss-stone-800: #292524;
	--twcss-stone-900: #1c1917;
	--twcss-red-50: #fef2f2;
	--twcss-red-100: #fee2e2;
	--twcss-red-200: #fecaca;
	*/
	--twcss-red-300: #fca6a6;
	--twcss-red-400: #f87171;
	/* --twcss-red-500: #ef4444; */
	--twcss-red-600: #dc2626;
	--twcss-red-700: #ba1c1c;
	/*
	--twcss-red-800: #981b1b;
	--twcss-red-900: #7f1d1d;
	--twcss-orange-50: #fff7ed;
	--twcss-orange-100: #ffedd5;
	--twcss-orange-200: #fed7aa;
	--twcss-orange-300: #fdba74;
	--twcss-orange-400: #fb923c;
	--twcss-orange-500: #f97316;
	--twcss-orange-600: #ea580c;
	--twcss-orange-700: #c2410c;
	--twcss-orange-800: #9a3412;
	--twcss-orange-900: #7c2d12;
	--twcss-amber-50: #fffbeb;
	--twcss-amber-100: #fef3c7;
	--twcss-amber-200: #fde68a;
	--twcss-amber-300: #fcd34d;
	--twcss-amber-400: #fbbf24;
	--twcss-amber-500: #f59e0b;
	--twcss-amber-600: #d97706;
	--twcss-amber-700: #b45309;
	--twcss-amber-800: #92400e;
	--twcss-amber-900: #78350f;
	--twcss-yellow-50: #fefce8;
	--twcss-yellow-100: #fef9c3;
	--twcss-yellow-200: #fef08a;
	--twcss-yellow-300: #fde047;
	--twcss-yellow-400: #facc15;
	--twcss-yellow-500: #eab308;
	--twcss-yellow-600: #ca8a04;
	--twcss-yellow-700: #a16207;
	--twcss-yellow-800: #854d0e;
	--twcss-yellow-900: #713f12;
	--twcss-lime-50: #f7fee7;
	--twcss-lime-100: #ecfccb;
	--twcss-lime-200: #d9f99d;
	--twcss-lime-300: #bef264;
	--twcss-lime-400: #a3e635;
	--twcss-lime-500: #84cc16;
	--twcss-lime-600: #65a30d;
	--twcss-lime-700: #4d7c0f;
	--twcss-lime-800: #3f6212;
	--twcss-lime-900: #365314;
	--twcss-green-50: #f0fdf4;
	--twcss-green-100: #dcfce7;
	--twcss-green-200: #bbf7d0;
	--twcss-green-300: #86efac;
	--twcss-green-400: #4ade80;
	--twcss-green-500: #22c55e;
	--twcss-green-600: #16a34a;
	--twcss-green-700: #15803d;
	--twcss-green-800: #166534;
	--twcss-green-900: #14532d;
	--twcss-emerald-50: #ecfdf5;
	--twcss-emerald-100: #d1fae5;
	--twcss-emerald-200: #a7f3d0;
	--twcss-emerald-300: #6ee7b7;
	--twcss-emerald-600: #059669;
	--twcss-emerald-700: #047857;
	--twcss-emerald-800: #065f46;
	--twcss-emerald-900: #064e3b;
	--twcss-teal-50: #f0fdfa;
	--twcss-teal-100: #ccfbf1;
	--twcss-teal-200: #99f6e4;
	--twcss-teal-300: #5eead4;
	--twcss-teal-400: #2dd4bf;
	--twcss-teal-500: #14b8a6;
	--twcss-teal-600: #0d9488;
	--twcss-teal-700: #0f766e;
	--twcss-teal-800: #115e59;
	--twcss-teal-900: #134e4a;
	--twcss-cyan-50: #ecfeff;
	--twcss-cyan-100: #cffafe;
	--twcss-cyan-200: #a5f3fc;
	--twcss-cyan-300: #67e8f9;
	--twcss-cyan-400: #22d3ee;
	--twcss-cyan-500: #06b6d4;
	--twcss-cyan-600: #0891b2;
	--twcss-cyan-700: #0e7490;
	--twcss-cyan-800: #155e75;
	--twcss-cyan-900: #164e63;
	--twcss-sky-50: #f0f9ff;
	--twcss-sky-100: #e0f2fe;
	--twcss-sky-200: #bae6fd;
	--twcss-sky-300: #7dd3fc;
	--twcss-sky-400: #38bdf8;
	--twcss-sky-500: #0ea5e9;
	--twcss-sky-600: #0284c7;
	--twcss-sky-700: #0369a0;
	--twcss-sky-800: #075783;
	--twcss-sky-900: #0c4a6e;
	--twcss-blue-50: #f0f6ff;
	--twcss-blue-100: #dcebfe;
	*/
	--twcss-blue-200: #bedbfe;
	--twcss-blue-300: #91c3fd;
	/* --twcss-blue-400: #61a6fa; */
	/* --twcss-blue-500: #3c83f6; */
	/* --twcss-blue-600: #2463eb; */
	--twcss-blue-700: #1d4fd7;
	--twcss-blue-800: #1e3b8a;
	--twcss-blue-900: #1f3b8a;
	/*
	--twcss-indigo-50: #eef2ff;
	--twcss-indigo-100: #e0e7ff;
	--twcss-indigo-200: #c7d2fe;
	--twcss-indigo-300: #a5b4fc;
	--twcss-indigo-400: #818cf8;
	--twcss-indigo-500: #6366f1;
	--twcss-indigo-600: #4f46e5;
	--twcss-indigo-700: #4338ca;
	--twcss-indigo-800: #3730a3;
	--twcss-indigo-900: #312e81;
	--twcss-violet-50: #f5f3ff;
	--twcss-violet-100: #ede9fe;
	--twcss-violet-200: #ddd6fe;
	--twcss-violet-300: #c4b5fd;
	--twcss-violet-400: #a78bfa;
	--twcss-violet-500: #8b5cf6;
	--twcss-violet-600: #7c3aed;
	--twcss-violet-700: #6d28d9;
	--twcss-violet-800: #5b21b6;
	--twcss-violet-900: #4c1d95;
	--twcss-purple-50: #faf5ff;
	--twcss-purple-100: #f3e8ff;
	--twcss-purple-200: #e9d5ff;
	--twcss-purple-300: #d8b4fe;
	--twcss-purple-400: #c084fc;
	--twcss-purple-500: #a855f7;
	--twcss-purple-600: #9333ea;
	--twcss-purple-700: #7e22ce;
	--twcss-purple-800: #6b21a8;
	--twcss-purple-900: #581c87;
	--twcss-fuchsia-50: #fdf4ff;
	--twcss-fuchsia-100: #fae8ff;
	--twcss-fuchsia-200: #f5d0fe;
	--twcss-fuchsia-300: #f0abfc;
	--twcss-fuchsia-400: #e879f9;
	--twcss-fuchsia-500: #d946ef;
	--twcss-fuchsia-600: #c026d3;
	--twcss-fuchsia-700: #a21caf;
	--twcss-fuchsia-800: #86198f;
	--twcss-fuchsia-900: #701a75;
	--twcss-pink-50: #fdf2f8;
	--twcss-pink-100: #fce7f3;
	--twcss-pink-200: #fbcfe8;
	--twcss-pink-300: #f9a8d4;
	--twcss-pink-400: #f472b6;
	--twcss-pink-500: #ec4899;
	--twcss-pink-600: #db2777;
	--twcss-pink-700: #be185d;
	--twcss-pink-800: #9d174d;
	--twcss-pink-900: #831843;
	--twcss-rose-50: #fff1f2;
	--twcss-rose-100: #ffe4e6;
	--twcss-rose-200: #fecdd3;
	--twcss-rose-300: #fda4af;
	--twcss-rose-400: #fb7185;
	--twcss-rose-500: #f43f5e;
	--twcss-rose-600: #e11d48;
	--twcss-rose-700: #be123c;
	--twcss-rose-800: #9f1239;
	--twcss-rose-900: #881337;
	*/
	--default-light: var(--twcss-gray-900);
	--default-dark: var(--twcss-gray-300);

	/* === TYPOGRAPHY === */
	/* font families */
	--sans-serif: "Libre Franklin", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI Adjusted", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--serif: ui-serif, "New York", Georgia, Cambria, "Times New Roman", Times, serif;
	--monospaced: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	/* --social-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif; */
	/* text sizes */
	--text-xs: 0.75rem;
	--text-sm: 0.875rem;
	--text-base: 1rem;
	--text-lg: 1.125rem;
	--text-xl: 1.25rem;
	--text-2xl: 1.5rem;
	--text-3xl: 1.875rem;
	--text-4xl: 2.25rem;
	/*
	--text-5xl: 3rem;
	--text-6xl: 3.75rem;
	--text-7xl: 4.5rem;
	--text-8xl: 6rem;
	--text-9xl: 8rem;
	*/
	/* underlines for hrefs */
	--textDcThick: 0.0275rem; /* always rem */
	--textUnOffst: 0.325em; /* always em */
	/* ^^^ 0.225em is OK with Libre Franklin,
	       but Segoe UI needs at least 0.25em
	*/
	/* === MISCELLANY === */
	/* alignment */
	/*
	--body-align: left;
	--nav-height: 50px;
	/*
	/* breakpoints (mostly based on TWCSS) */
	/*
		**BUT** these won't work for media queries:
		https://bholmes.dev/blog/alternative-to-css-variable-media-queries/
	*/
	/*
	--bkpt_sm: 640px;
	--bkpt_md: 768px;
	--bkpt_ml: 960px;
	--bkpt_lg: 1024px;
	--bkpt_xl: 1280px;
	--bkpt_2xl: 1536px;
	--bkpt_3xl: 1920px;
	*/
	/* button */
	--btn_radius: 6px;
}
