/*
Based on TWCSS color palette.
Midpoints after 050 and before 950 from https://meyerweb.com/eric/tools/color-blend.
OKLCH versions from https://oklch.com.
>> COMPLETE LIST in `unused-010_all-colors.css`,
>> which is NOT imported by the `head-criticalcss.html` partial.
*/
:root {
	--slate-050: hsl(215, 23%, 97%);
	--slate-100: hsl(215, 44%, 96%);
	--slate-150: hsl(215, 35%, 94%);
	--slate-200: hsl(215, 30%, 91%);
	--slate-300: hsl(215, 27%, 84%);
	--slate-400: hsl(215, 20%, 65%);
	--slate-500: hsl(215, 16%, 47%);
	--slate-600: hsl(215, 19%, 35%);
	--slate-700: hsl(215, 26%, 27%);
	--slate-750: hsl(215, 29%, 22%);
	--slate-800: hsl(215, 36%, 17%);
	--slate-850: hsl(215, 43%, 14%);
	--slate-900: hsl(215, 57%, 10%);
	--slate-950: hsl(215, 100%, 5%);
	--gray-050: hsl(220, 20%, 98%);
	--gray-100: hsl(220, 13%, 95%);
	--gray-200: hsl(220, 14%, 91%);
	--gray-300: hsl(220, 11%, 84%);
	--gray-350: hsl(220, 10%, 75%);
	--gray-400: hsl(220, 10%, 65%);
	--gray-450: hsl(220, 9%, 56%);
	--gray-500: hsl(220, 9%, 46%);
	--gray-550: hsl(220, 11%, 40%);
	--gray-600: hsl(220, 13%, 35%);
	--gray-650: hsl(220, 15%, 31%);
	--gray-700: hsl(220, 18%, 27%);
	--gray-750: hsl(220, 21%, 22%);
	--gray-800: hsl(220, 26%, 17%);
	--gray-850: hsl(220, 31%, 14%);
	--gray-900: hsl(220, 39%, 11%);
	--gray-950: hsl(220, 71%, 4%);
	--neutral-400: hsl(0, 0%, 64%);
	--neutral-600: hsl(0, 0%, 32%);
	--red-300: hsl(0, 94%, 81%);
	--red-400: hsl(0, 91%, 70%);
	--red-500: hsl(0, 83%, 60%);
	--red-600: hsl(0, 72%, 50%);
	--red-700: hsl(0, 75%, 41%);
	--blue-100: hsl(210, 100%, 93%);
	--blue-150: hsl(210, 100%, 90%);
	--blue-200: hsl(210, 100%, 86%);
	--blue-300: hsl(210, 96%, 78%);
	--blue-400: hsl(210, 93%, 67%);
	--blue-500: hsl(210, 100%, 48%);
	--blue-600: hsl(210, 100%, 40%);
	--blue-700: hsl(210, 100%, 45%);
	--blue-750: hsl(210, 100%, 37%);
	--blue-800: hsl(210, 100%, 28%);
	--blue-850: hsl(210, 100%, 26%);
	--blue-900: hsl(210, 100%, 24%);
	--blue-950: hsl(210, 100%, 16%);
	--default-color: hsl(0, 0%, 20%);
	/* ^^^ same as #333 --- was #374151 (TWCSS "Prose" black) */
	--white: hsl(0, 0%, 100%);
	/* ^^^ could also be #eee at some point, hence this var */
	--black: hsl(0, 0%, 0%);
	/* ^^^ could also be #333 at some point, hence this var */
	@supports (color: oklch(49% 0.1 252)) {
		--red-300: oklch(80.01% 0.109 25);
		--red-400: oklch(70.44% 0.171 25);
		--red-500: oklch(63.5% 0.206 25);
		--red-600: oklch(57.43% 0.216 25);
		--red-700: oklch(50.03% 0.19 25);
		--blue-100: oklch(93.87% 0.030801877645985572 256);
		--blue-150: oklch(91.27% 0.044 256);
		--blue-200: oklch(87.85% 0.062 256);
		--blue-300: oklch(81.19% 0.095 256);
		--blue-500: oklch(59.6% 0.20464748630287913 256);
		--blue-700: oklch(56.85% 0.194 256);
		--blue-750: oklch(49.35% 0.166 256);
		--blue-800: oklch(40.56% 0.13357142043853795 256);
		--blue-850: oklch(38.55% 0.126 256);
		--blue-900: oklch(36.51% 0.118 256);
		--blue-950: oklch(28.03% 0.086 256);
	}
}
