header, .nav, .nav-Menu {
	background-color: var(--twcss-slate-300); /* slate-300 */
	@media (prefers-color-scheme: dark) {
		background-color: var(--twcss-slate-800); /* slate-800 */
	}
}

header {
	/* font-family: var(--sans-serif); */
	position: fixed;
	width: 100%;
	margin-top: 0;
	z-index: 9999;
}


.nav-Toggle {
	position: absolute;
	cursor: pointer;
	margin: 0rem 1rem;
	right: 0;
	& svg {
		width: 1.5rem;
		fill: var(--twcss-slate-800); /* slate-800 */
		@media (prefers-color-scheme: dark) {
			fill: var(--twcss-slate-50); /* slate-50 */
		}
	}
	& .close {
		display: none;
	}
	& .menu {
		margin-top: 0.2rem;
	}
}
.nav-Checkbox {
	display: none;
}
.nav-Menu {
	margin-block-start: 0;
	margin-block-end: 0;
	padding-inline-start: 0;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	text-align: right;
	/* align-items: right; */
	margin: 0.5rem 0.5rem 0.5rem 0;
	& li {
		list-style: none;
		display: none;
		font-weight: bold;
		padding-right: 0.75em;
		&.notMobile {
			display: none;
		}
		&:first-child {
			padding: 0;
			margin-right: auto;
			margin-left: 1.5rem;
			display: block;
			& svg { /* for site logo */
				width: auto;
			}
		}
	}
	& a {
		text-decoration: none;
		border: 0;
		color: black;
		&:focus, &:active, &:hover {
			color: var(--twcss-slate-600); /* slate-600 */
		}
		@media (prefers-color-scheme: dark) {
			color: white;
			&:focus, &:active, &:hover {
				color: var(--twcss-slate-200); /* slate-200 */
			}
		}
	}
	/* svg {
		width: 1.5rem;
		fill: white;
	}
	// (old SCSS comments follow)
	// possibly unused...
	// see `.nav > svg` above
	*/
}


#nav-Checkbox {
	&:checked ~ ul.nav-Menu li {
		display: block;
	}
	&:checked ~ label.nav-Toggle .close {
		display: block;
	}
	&:checked ~ label.nav-Toggle .menu {
		display: none;
	}
	&:checked ~ ul.nav-Menu {
		padding-bottom: 1rem;
	}
}

@media screen and (min-width: 1024px) {
	.nav-Toggle {
		display: none;
	}
	.nav-Menu {
		flex-direction: row;
		padding: 0;
		gap: 0.5rem;
		margin: 0.5rem 1.5rem 0 0;
		& li {
			font-size: var(--text-sm);
			display: block;
			text-transform: uppercase;
			margin: 0.5rem 0 0.5rem 0;
			&.notMobile {
				display: block;
			}
			&:first-child {
				letter-spacing: normal;
				line-height: 0;
				margin-top: 0;
			}
		}
	}
}

