/*
Based on TWCSS color palette.
Midpoints after 050 and before 950 from https://meyerweb.com/eric/tools/color-blend.
OKLCH versions from https://oklch.com.
*/
:root {
	--slate-050: hsl(215, 23%, 97%);
	--slate-100: hsl(215, 44%, 96%);
	--slate-150: hsl(215, 35%, 94%);
	--slate-200: hsl(215, 30%, 91%);
	--slate-300: hsl(215, 27%, 84%);
	--slate-300-oklch: oklch(86.79% 0.02 257);
	--slate-400: hsl(215, 20%, 65%);
	--slate-500: hsl(215, 16%, 47%);
	--slate-500-oklch: oklch(55.64% 0.04 257);
	--slate-600: hsl(215, 19%, 35%);
	--slate-700: hsl(215, 26%, 27%);
	--slate-750: hsl(215, 29%, 22%);
	--slate-800: hsl(215, 36%, 17%);
	--slate-850: hsl(215, 43%, 14%);
	--slate-900: hsl(215, 57%, 10%);
	--slate-950: hsl(215, 100%, 5%);
	--gray-050: hsl(220, 20%, 98%);
	--gray-100: hsl(220, 13%, 95%);
	--gray-200: hsl(220, 14%, 91%);
	--gray-300: hsl(220, 11%, 84%);
	--gray-350: hsl(220, 10%, 75%);
	--gray-400: hsl(220, 10%, 65%);
	--gray-450: hsl(220, 9%, 56%);
	--gray-500: hsl(220, 9%, 46%);
	--gray-550: hsl(220, 11%, 40%);
	--gray-600: hsl(220, 13%, 35%);
	--gray-650: hsl(220, 15%, 31%);
	--gray-700: hsl(220, 18%, 27%);
	--gray-750: hsl(220, 21%, 22%);
	--gray-800: hsl(220, 26%, 17%);
	--gray-850: hsl(220, 31%, 14%);
	--gray-900: hsl(220, 39%, 11%);
	--gray-950: hsl(220, 71%, 4%);
	--zinc-050: hsl(240, 0%, 98%);
	--zinc-100: hsl(240, 4%, 95%);
	--zinc-200: hsl(240, 6%, 90%);
	--zinc-300: hsl(240, 4%, 84%);
	--zinc-400: hsl(240, 5%, 65%);
	--zinc-500: hsl(240, 4%, 46%);
	--zinc-600: hsl(240, 6%, 34%);
	--zinc-700: hsl(240, 5%, 26%);
	--zinc-800: hsl(240, 4%, 16%);
	--zinc-900: hsl(240, 6%, 10%);
	--zinc-950: hsl(240, 10%, 4%);
	--neutral-050: hsl(0, 0%, 98%);
	--neutral-100: hsl(0, 0%, 96%);
	--neutral-200: hsl(0, 0%, 89%);
	--neutral-300: hsl(0, 0%, 83%);
	--neutral-400: hsl(0, 0%, 64%);
	--neutral-500: hsl(0, 0%, 45%);
	--neutral-600: hsl(0, 0%, 32%);
	--neutral-700: hsl(0, 0%, 25%);
	--neutral-800: hsl(0, 0%, 15%);
	--neutral-900: hsl(0, 0%, 9%);
	--neutral-950: hsl(0, 0%, 4%);
	--stone-050: hsl(25, 20%, 98%);
	--stone-100: hsl(25, 10%, 96%);
	--stone-200: hsl(25, 8%, 90%);
	--stone-300: hsl(25, 5%, 83%);
	--stone-400: hsl(25, 5%, 64%);
	--stone-500: hwb(26 42% 52%);
	--stone-600: hsl(25, 5%, 33%);
	--stone-700: hsl(25, 7%, 25%);
	--stone-800: hsl(25, 6%, 15%);
	--stone-900: hsl(25, 10%, 10%);
	--stone-950: hsl(25, 10%, 4%);
	--red-050: hsl(0, 87%, 97%);
	--red-100: hsl(0, 94%, 94%);
	--red-200: hsl(0, 97%, 89%);
	--red-300: hsl(0, 94%, 81%);
	--red-300-oklch: oklch(80.01% 0.109 25);
	--red-400: hsl(0, 91%, 70%);
	--red-400-oklch: oklch(70.44% 0.171 25);
	--red-500: hsl(0, 83%, 60%);
	--red-500-oklch: oklch(63.5% 0.206 25);
	--red-600: hsl(0, 72%, 50%);
	--red-600-oklch: oklch(57.43% 0.216 25);
	--red-700: hsl(0, 75%, 41%);
	--red-700-oklch: oklch(50.03% 0.19 25);
	--red-800: hsl(0, 71%, 35%);
	--red-900: hsl(0, 63%, 31%);
	--red-950: hsl(0, 75%, 16%);
	--orange-050: hsl(25, 100%, 98%);
	--orange-100: hsl(25, 100%, 95%);
	--orange-200: hsl(25, 100%, 87%);
	--orange-300: hsl(25, 100%, 78%);
	--orange-300-oklch: oklch(84.96% 0.097 49);
	--orange-400: hsl(25, 100%, 66%);
	--orange-500: hsl(25, 95%, 54%);
	--orange-500-oklch: oklch(71.12% 0.183 49);
	--orange-600: hsl(25, 100%, 44%);
	--orange-700: hsl(25, 100%, 36%);
	--orange-700-oklch: oklch(55.1% 0.155 49);
	--orange-800: hsl(25, 100%, 29%);
	--orange-900: hsl(25, 100%, 24%);
	--orange-950: hsl(25, 100%, 13%);
	--amber-050: hsl(35, 100%, 98%);
	--amber-100: hsl(35, 100%, 93%);
	--amber-200: hsl(35, 100%, 87%);
	--amber-300: hsl(35, 100%, 79%);
	--amber-400: hsl(35, 100%, 69%);
	--amber-500: hsl(35, 93%, 50%);
	--amber-600: hsl(35, 100%, 40%);
	--amber-700: hsl(35, 100%, 31%);
	--amber-800: hsl(35, 100%, 25%);
	--amber-900: hsl(35, 100%, 21%);
	--amber-950: hsl(35, 100%, 12%);
	--yellow-050: hsl(55, 73%, 96%);
	--yellow-100: hsl(55, 88%, 87%);
	--yellow-200: hsl(55, 90%, 76%);
	--yellow-200-oklch: oklch(94.03% 0.123 104);
	--yellow-300: hsl(55, 84%, 62%);
	--yellow-300-oklch: oklch(89.76% 0.164 104);
	--yellow-400: hsl(55, 77%, 53%);
	--yellow-500: hsl(55, 73%, 46%);
	--yellow-500-oklch: oklch(78.5% 0.159 104);
	--yellow-600: hsl(55, 87%, 35%);
	--yellow-700: hsl(55, 100%, 25%);
	--yellow-800: hsl(55, 100%, 20%);
	--yellow-800-oklch: oklch(47.33% 0.09965845980572594 104);
	--yellow-900: hsl(55, 100%, 17%);
	--yellow-950: hsl(55, 100%, 9%);
	--lime-050: hsl(85, 100%, 96%);
	--lime-100: hsl(85, 92%, 90%);
	--lime-200: hsl(85, 94%, 82%);
	--lime-300: hsl(85, 88%, 70%);
	--lime-400: hsl(85, 79%, 58%);
	--lime-500: hsl(85, 77%, 45%);
	--lime-600: hsl(85, 88%, 34%);
	--lime-700: hsl(85, 85%, 26%);
	--lime-800: hsl(85, 68%, 23%);
	--lime-900: hsl(85, 63%, 20%);
	--lime-950: hsl(85, 84%, 10%);
	--green-050: hsl(145, 67%, 96%);
	--green-100: hsl(145, 78%, 93%);
	--green-100-oklch: oklch(96.37% 0.036 151);
	--green-200: hsl(145, 75%, 86%);
	--green-300: hsl(145, 72%, 75%);
	--green-400: hsl(145, 67%, 59%);
	--green-500: hsl(145, 76%, 44%);
	--green-500-oklch: oklch(72.37% 0.19 151);
	--green-600: hsl(145, 90%, 34%);
	--green-600-oklch: oklch(63.06% 0.174 151);
	--green-700: hsl(145, 73%, 29%);
	--green-800: hsl(145, 58%, 25%);
	--green-900: hsl(145, 55%, 21%);
	--green-950: hsl(145, 70%, 10%);
	--emerald-050: hsl(155, 80%, 96%);
	--emerald-050-oklch: oklch(98% 0.019 158);
	--emerald-100: hsl(155, 80%, 90%);
	--emerald-200: hsl(155, 76%, 81%);
	--emerald-200-oklch: oklch(90.85% 0.085 158);
	--emerald-300: hsl(155, 71%, 68%);
	--emerald-400: hsl(155, 63%, 52%);
	--emerald-500: hsl(155, 80%, 40%);
	--emerald-500-oklch: oklch(68.96% 0.158 158);
	--emerald-600: hsl(155, 81%, 32%);
	--emerald-700: hsl(155, 70%, 28%);
	--emerald-700-oklch: oklch(51.24% 0.11 158);
	--emerald-800: hsl(155, 66%, 22%);
	--emerald-900: hsl(155, 61%, 19%);
	--emerald-900-oklch: oklch(37.92% 0.074 158);
	--emerald-950: hsl(155, 69%, 10%);
	--teal-050: hsl(175, 75%, 97%);
	--teal-100: hsl(170, 89%, 89%);
	--teal-200: hsl(170, 84%, 78%);
	--teal-300: hsl(170, 77%, 64%);
	--teal-400: hsl(170, 66%, 50%);
	--teal-500: hsl(170, 78%, 41%);
	--teal-600: hsl(170, 77%, 33%);
	--teal-700: hsl(170, 70%, 27%);
	--teal-800: hsl(170, 65%, 22%);
	--teal-900: hsl(170, 56%, 20%);
	--teal-950: hsl(170, 77%, 10%);
	--cyan-050: hsl(190, 100%, 97%);
	--cyan-100: hsl(190, 100%, 92%);
	--cyan-200: hsl(190, 100%, 85%);
	--cyan-300: hsl(190, 100%, 73%);
	--cyan-400: hsl(190, 89%, 55%);
	--cyan-500: hsl(190, 97%, 42%);
	--cyan-600: hsl(190, 100%, 34%);
	--cyan-700: hsl(190, 100%, 27%);
	--cyan-800: hsl(190, 85%, 24%);
	--cyan-900: hsl(190, 76%, 21%);
	--cyan-950: hsl(190, 100%, 12%);
	--sky-050: hsl(200, 88%, 97%);
	--sky-100: hsl(200, 94%, 94%);
	--sky-200: hsl(200, 97%, 87%);
	--sky-300: hsl(200, 100%, 77%);
	--sky-300-oklch: oklch(84.54% 0.094 241);
	--sky-400: hsl(200, 97%, 63%);
	--sky-500: hsl(200, 92%, 48%);
	--sky-500-oklch: oklch(67.37% 0.154 241);
	--sky-600: hsl(200, 100%, 38%);
	--sky-700: hsl(200, 100%, 30%);
	--sky-700-oklch: oklch(48.74% 0.113 241);
	--sky-800: hsl(200, 100%, 25%);
	--sky-900: hsl(200, 100%, 21%);
	--sky-950: hsl(200, 95%, 15%);
	--blue-050: hsl(210, 100%, 97%);
	--blue-100: hsl(210, 100%, 93%);
	--blue-150: hsl(210, 100%, 90%);
	--blue-150-oklch: oklch(91.27% 0.044 256);
	--blue-200: hsl(210, 100%, 86%);
	--blue-200-oklch: oklch(87.85% 0.062 256);
	--blue-300: hsl(210, 96%, 78%);
	--blue-300-oklch: oklch(81.19% 0.095 256);
	--blue-400: hsl(210, 93%, 67%);
	--blue-500: hsl(210, 100%, 48%);
	--blue-500-oklch: oklch(59.6% 0.20464748630287913 256);
	--blue-600: hsl(210, 100%, 40%);
	--blue-700: hsl(210, 100%, 45%);
	--blue-700-oklch: oklch(56.85% 0.194 256);
	--blue-750: hsl(210, 100%, 37%);
	--blue-750-oklch: oklch(49.35% 0.166 256);
	--blue-800: hsl(210, 100%, 28%);
	--blue-800-oklch: oklch(40.56% 0.13357142043853795 256);
	--blue-850: hsl(210, 100%, 26%);
	--blue-850-oklch: oklch(38.55% 0.126 256);
	--blue-900: hsl(210, 100%, 24%);
	--blue-900-oklch: oklch(36.51% 0.118 256);
	--blue-950: hsl(210, 100%, 16%);
	--blue-950-oklch: oklch(28.03% 0.086 256);
	--indigo-050: hsl(235, 89%, 96%);
	--indigo-100: hsl(235, 100%, 94%);
	--indigo-200: hsl(235, 96%, 89%);
	--indigo-300: hsl(235, 91%, 82%);
	--indigo-400: hsl(235, 89%, 74%);
	--indigo-500: hsl(235, 84%, 67%);
	--indigo-600: hsl(235, 75%, 59%);
	--indigo-700: hsl(235, 58%, 50%);
	--indigo-800: hsl(235, 54%, 42%);
	--indigo-900: hsl(235, 47%, 35%);
	--indigo-950: hsl(235, 49%, 20%);
	--violet-050: hsl(255, 100%, 98%);
	--violet-100: hsl(255, 100%, 96%);
	--violet-200: hsl(255, 95%, 92%);
	--violet-300: hsl(255, 95%, 85%);
	--violet-400: hsl(255, 93%, 77%);
	--violet-500: hsl(255, 90%, 66%);
	--violet-600: hsl(255, 83%, 58%);
	--violet-700: hsl(255, 69%, 50%);
	--violet-800: hsl(255, 70%, 42%);
	--violet-900: hsl(255, 67%, 35%);
	--violet-950: hsl(255, 73%, 23%);
	--purple-050: hsl(270, 100%, 98%);
	--purple-100: hsl(270, 100%, 95%);
	--purple-200: hsl(270, 100%, 92%);
	--purple-300: hsl(270, 100%, 85%);
	--purple-400: hsl(270, 97%, 75%);
	--purple-500: hsl(270, 90%, 65%);
	--purple-600: hsl(270, 80%, 55%);
	--purple-700: hsl(270, 74%, 46%);
	--purple-800: hsl(270, 66%, 40%);
	--purple-900: hsl(270, 66%, 32%);
	--purple-950: hsl(270, 89%, 21%);
	--fuchsia-050: hsl(290, 85%, 97%);
	--fuchsia-100: hsl(290, 85%, 95%);
	--fuchsia-200: hsl(290, 85%, 90%);
	--fuchsia-300: hsl(290, 93%, 83%);
	--fuchsia-300-oklch: oklch(83.21% 0.131 320);
	--fuchsia-400: hsl(290, 93%, 73%);
	--fuchsia-500: hsl(290, 84%, 61%);
	--fuchsia-500-oklch: oklch(66.09% 0.255 320);
	--fuchsia-600: hsl(290, 70%, 49%);
	--fuchsia-700: hsl(290, 70%, 41%);
	--fuchsia-700-oklch: oklch(50.88% 0.222 320);
	--fuchsia-800: hsl(290, 69%, 34%);
	--fuchsia-900: hsl(290, 62%, 29%);
	--fuchsia-950: hsl(290, 86%, 17%);
	--pink-050: hsl(330, 75%, 97%);
	--pink-100: hsl(330, 100%, 95%);
	--pink-200: hsl(330, 100%, 91%);
	--pink-300: hsl(330, 98%, 83%);
	--pink-400: hsl(330, 89%, 71%);
	--pink-500: hsl(330, 81%, 60%);
	--pink-600: hsl(330, 68%, 50%);
	--pink-700: hsl(330, 73%, 42%);
	--pink-800: hsl(330, 70%, 35%);
	--pink-900: hsl(330, 65%, 30%);
	--pink-950: hsl(330, 79%, 17%);
	--rose-050: hsl(345, 100%, 97%);
	--rose-100: hsl(345, 100%, 95%);
	--rose-200: hsl(345, 92%, 90%);
	--rose-300: hsl(345, 96%, 82%);
	--rose-400: hsl(345, 95%, 71%);
	--rose-500: hsl(345, 88%, 60%);
	--rose-600: hsl(345, 78%, 49%);
	--rose-700: hsl(345, 83%, 41%);
	--rose-800: hsl(345, 79%, 35%);
	--rose-900: hsl(345, 75%, 30%);
	--rose-950: hsl(345, 88%, 16%);
	--default-color: hsl(0, 0%, 20%);
	/* ^^^ same as #333 --- was #374151 (TWCSS "Prose" black) */
	--white: hsl(0, 0%, 100%);
	/* ^^^ could also be #eee at some point, hence this var */
	--black: hsl(0, 0%, 0%);
	/* ^^^ could also be #333 at some point, hence this var */
	@supports (color: oklch(49% 0.1 252)) {
		--red-300: oklch(80.01% 0.109 25);
		--red-400: oklch(70.44% 0.171 25);
		--red-500: oklch(63.5% 0.206 25);
		--red-600: oklch(57.43% 0.216 25);
		--red-700: oklch(50.03% 0.19 25);
		--blue-150: oklch(91.27% 0.044 256);
		--blue-200: oklch(87.85% 0.062 256);
		--blue-300: oklch(81.19% 0.095 256);
		--blue-500: oklch(59.6% 0.20464748630287913 256);
		--blue-700: oklch(56.85% 0.194 256);
		--blue-750: oklch(49.35% 0.166 256);
		--blue-800: oklch(40.56% 0.13357142043853795 256);
		--blue-850: oklch(38.55% 0.126 256);
		--blue-900: oklch(36.51% 0.118 256);
		--blue-950: oklch(28.03% 0.086 256);
	}
}
