{{ define "main" }}

  {{- if .Params.featured_image -}}
    {{- $respSizes := slice "300" "450" "600" "750" "900" "1050" "1200" "1350" "1500" -}}
    {{- $cloudiBase := "https://res.cloudinary.com/brycewray-com/image/upload/" -}}
    {{- $LQIPholder := "f_auto,q_1,w_20/" -}}
    {{- $xFmPart1 := "f_auto,q_auto:eco,w_" -}}
    {{- $xFmPart2 := ",x_0,z_1/" -}}
    {{- $imgBd5 := md5 .Params.featured_image -}}
    {{- $LQIPdata := printf "%s%s%s" $cloudiBase $LQIPholder .Params.featured_image -}}
    {{- $LQIP_get := resources.GetRemote $LQIPdata -}}
    {{- $LQIP_b64 := $LQIP_get.Content | base64Encode -}}
    {{- $CFPstyle := printf "%s%s%s" "background: url(data:image/jpeg;base64," $LQIP_b64 "); background-size: cover; background-repeat: no-repeat;" -}}
    {{/* vars for range */}}
    {{- $src := .Params.featured_image -}}
    {{- $width := .Params.featured_image_width -}}
    <div class="relative overflow-hidden w-full h-[80vh] bg-black dark:bg-blue-700 max-h-[80vh] min-h-[80vh] md:h-[90vh] md:max-h-[90vh] md:min-h-[90vh] xl:h-[100xh] xl:max-h-[100vh] xl:min-h-[100vh]"><!-- beginning, overarching hero image div -->
      {{- if eq .Site.Params.Host "CFP" -}}
        <style nonce="DhcnhD3khTMePgXw">
          .imgB-{{ $imgBd5 }} { {{ $CFPstyle | safeCSS }} }
        </style>
        <div class="h-full bg-center bg-no-repeat bg-cover imgB-{{ $imgBd5 }}">
      {{- else -}}
        <div class="h-full bg-center" style="background: url(data:image/jpeg;base64,{{ $LQIP_get.Content | base64Encode }}); background-size: cover; background-repeat: no-repeat;">
      {{- end -}}
        <img
          class='imgCover hero animate-fade'
          src='{{ $cloudiBase }}{{ $xFmPart1 | safeURL }}600{{ $xFmPart2 }}{{ .Params.featured_image }}'
          srcset="
          {{- with $respSizes -}}
            {{- range $i, $e := . -}}
              {{- if ge $width . -}}
                {{- if $i }}, {{ end -}}{{- $cloudiBase -}}f_auto,q_auto:eco,w_{{ . }}{{- $xFmPart2 -}}{{- $src }} {{ . }}w
              {{- end -}}
            {{- end -}}
          {{- end -}}"
          alt='{{ .Params.featured_image_alt }}'
          width='{{ .Params.featured_image_width }}'
          height='{{ .Params.featured_image_height }}'
          aspect-ratio="{{ .Params.featured_image_width }} / {{ .Params.featured_image_height }}"
          sizes="(min-width: 1024px) 100vw, 50vw"
        />
      </div>
      <div class="block w-full absolute bottom-0 bg-gradient-to-t to-transparent from-black pt-[5em] px-[2em] pb-[1.5em]">
        <div class="[text-shadow:4px_4px_2px_#000] xl:pb-8">
          <h1 class="text-center text-4xl md:text-left lg:text-6xl tracking-tight leading-[1.1] pt-0 pb-0 mt-0 lg:px-[5%] xl:pt-0 md:px-0 text-white">
            {{ .Title | markdownify }}
          </h1>
          <h2 class="text-center text-2xl md:text-left md:text-3xl lg:text-5xl leading-tight tracking-tight text-white mt-0 pt-0 pb-[1.5rem] lg:px-[5%]">
            {{- if .Params.Subtitle -}}
            {{ .Params.Subtitle | markdownify }}
            {{- else }}
            &nbsp;
            {{- end }}
          </h2>
          <p class="font-sans hidden not-italic md:block md:text-2xl lg:text-3xl md:text-left tracking-tight lg:mb-[1em] lg:pt-[0.25em] lg:pr-[15%] lg:pl-[5%] text-white">
            <em>{{ .Params.Description | markdownify }}</em>
          </p>
          <p class="font-sans text-base text-center px-4 md:text-right text-white leading-snug pt-4 lg:mt-0 lg:pt-0 lg:pr-[5%]">
            <strong class="text-lg md:text-xl lg:text-2xl">{{ .PublishDate.Format "January 2, 2006" }}</strong><br />
            <span class="text-sm">
              {{- if ne .PublishDate .Lastmod }}
              Last modified {{ .Lastmod.Format "January 2, 2006" }}
              {{- else }}
              &nbsp;
              {{- end }}
            </span>
          </p>
          <p class="featured-image-caption font-sans text-center text-white text-xs mt-4 mb-0 pb-4">
            {{- if isset .Params "featured_image_caption" }}
              {{ index .Params "featured_image_caption" | markdownify }}
            {{- else -}}
              &nbsp;
            {{- end -}}
          </p>
        </div>
      </div>
    </div><!-- end, overarching hero image div -->
  {{- else -}}
    {{ partial "billboard.html" . }}
  {{- end -}}

  <div class="w-4/5 lg:w-[70%] xl:w-3/5 2xl:w-1/2 mt-10 mr-auto ml-auto">
    <article>
      {{ .Content }}
    </article>
  </div>
{{ end }}
