{{ define "main" }}

	<div data-pagefind-ignore>
		<div class="my-0 mx-auto w-[90%] lg:w-[40%]">
			<h1 class="text-center pt-7 text-5xl tracking-tight mb-1">Sitemap</h1>
			<h2 class="text-2xl py-2">Main pages</h2>
			<ul>
				<li class="text-sm font-sans mb-3"><a href="/">Home page</a></li>
				<li class="text-sm font-sans mb-3"><a href="/about/">About me</li>
				<li class="text-sm font-sans mb-3"><a href="/search/">Search page</a></li>
				<li class="text-sm font-sans mb-3"><a href="/privacy/">Privacy policy</a></li>
				<li class="text-sm font-sans mb-3"><a href="/contact/">How to contact me</a></li>
			</ul>
			<h2 class="text-2xl py-2">Posts</h2>
			<ul>
				<li class="text-sm font-sans mb-3"><a href="/posts/"><strong class="font-semibold">Complete list</strong></a> (first page of paginated list; five posts per page)</li>
			{{- range where site.Pages.ByPublishDate.Reverse ".Type" "posts" -}}
				{{- if (ne .Title "Posts") -}}
				<li class="text-sm font-sans mb-3"><strong class="font-semibold"><a href="{{ .RelPermalink }}">{{ .Title | .Page.RenderString }}</a></strong>{{- if ne (substr .Title 0 22) "The site this week: 20" -}}&nbsp;&nbsp;<span class="legal nobrk pub-date">{{ .PublishDate.Format "2006-01-02" }}</span>{{- end -}}<br />
				<span class="description">{{ .Description | .Page.RenderString }}</span></li>
				{{- end -}}
			{{- end -}}
			</ul>
		</div>
	</div>

{{ end }}
