{{ range .Site.Data.twitter.tweets_small.data }}
	<blockquote class="tweet-card">
		<div class="tweet-header">
			<img src="/images/icons/favicon-45x45.png" alt="" loading="lazy" class="tweet-profile twitterExt" />
			<div class="tweet-author">
				<div class="tweet-author-name twitterExt">
					Bryce Wray
				</div>
				<div class="tweet-author-handle twitterExt">
					@BryceWrayTX
				</div>
			</div>
		</div>
		<div>
			<p>{{ .tweet.full_text }}</p>
		</div>
		<div class="tweet-footer">
			{{ dateFormat "3:04 PM • January 2, 2006" .tweet.created_at }}&nbsp;<span class="legal">(UTC)</span>
		</div>
	</blockquote>
{{ end }}
