{{- /*
	This shortcode takes the following form:
	twitscrn src, alt, width, height, twitterUrl
*/ -}}

{{/* init vars */}}
{{- $respSizes := slice "320" "640" "960" "1280" "1600" "1920" -}}
{{- $src := .Get "src" -}}
{{- $alt := .Get "alt" -}}
{{- $width := .Get "width" -}}
{{- $height := .Get "height" -}}
{{- $twitterUrl := .Get "twitterUrl" -}}

{{/*
	separating the Cloudinary-related vars for greater flexibility, especially in case somebody else
	wants to borrow this code for their own Cloudinary setup and transformation ("xFm") choices
*/}}
{{- $cloudiBase := "https://res.cloudinary.com/brycewray-com/image/upload/" -}}
{{- $LQIPholder := "f_auto,q_1,w_20/" -}}
{{- $xFmPart1 := "f_auto,q_auto:eco,w_" -}}
{{- $xFmPart2 := ",x_0,z_1/" -}}

{{- $imgBd5 := md5 $src -}}
{{- $divClass := "tweet-twitscrn relative bg-center" -}}
{{- $imgClass := "w-full h-auto" -}}
{{- $nscClass := "containedImage twitter-tweet" -}}
{{- $dataSzes := "(min-width: 1024px) 100vw, 50vw" -}}
{{- $LQIPdata := printf "%s%s%s" $cloudiBase $LQIPholder $src -}}
{{- $LQIP_get := resources.GetRemote $LQIPdata -}}
{{- $LQIP_b64 := $LQIP_get.Content | base64Encode -}}
{{- $CFPstyle := printf "%s%s%s" "background: url(data:image/jpeg;base64," $LQIP_b64 "); background-size: cover; background-repeat: no-repeat;" -}}

<div class="{{ $divClass }}" data-pagefind-ignore>
	<a href="{{ $twitterUrl }}" rel="noopener">
	<img class="{{ $imgClass }}" src="{{ $cloudiBase }}{{ $xFmPart1 }}600{{ $xFmPart2 }}{{ $src }}" srcset="
	{{- with $respSizes -}}
		{{- range $i, $e := . -}}
			{{- if ge $width . -}}
			{{- if $i }}, {{ end -}}{{- $cloudiBase -}}f_auto,q_auto:eco,w_{{ . }}{{- $xFmPart2 -}}{{- $src }} {{ . }}w
			{{- end -}}
		{{- end -}}
	{{- end -}}" alt="{{ $alt }}" width="{{ $width }}" height="{{ $height }}" loading="lazy" sizes="{{ $dataSzes }}" aspect-ratio="{{ $width }} / {{ $height }}" data-pagefind-ignore /></a>
	<noscript>
		<a href="{{ $twitterUrl }}" rel="noopener"><img class="{{ $nscClass }}" src="{{ $cloudiBase }}f_auto,q_auto:eco,w_600{{ $xFmPart2 }}{{ $src }}" alt="{{ $alt }}" /></a>
	</noscript>
</div>
