{{ define "main" }}
  <div class="pt-12 text-center" data-pagefind-ignore>
    <h1 class="fluid-4xl !tracking-tight !leading-tight mt-16 md:mb-12 2xl:mt-24 mb-0">Page not found</h1>
    <p class="fluid-2xl !leading-tight !tracking-tight">Sorry, that page isn&rsquo;t on this&nbsp;site.</p>
    <p class="fluid-base !tracking-normal px-4 md:px-0 mt-8 mb-12">Please use the <a href="/search/">search page</a>, navigation menu, or <a href="/sitemap/">sitemap</a> to&nbsp;find another&nbsp;page.</p>
  </div>
{{ end }}
