{{ define "main" }}

		<div class="pb-[1em] text-center py-[2vh] px-[5vw] my-0 mx-auto lg:w-full lg:flex lg:flex-row lg:p-0 lg:m-0" data-pagefind-ignore>
			<div class="text-center md:pt-[3vh] lg:text-right lg:py-0 lg:pr-[3em] lg:w-[40%]">
				<h1 class="text-3xl lg:leading-[2] tracking-tighter pt-[2vh] lg:pt-[3.5em] lg:pr-0 lg:pb-0 lg:pl-[2em] 2xl:pt-[2.5em] 2xl:pl-[2.5em]">Welcome&nbsp;to brycewray.com, offering&nbsp;<a href="/about/">its&nbsp;owner</a>&rsquo;s observations, opinions, and&nbsp;geekiness since&nbsp;2018.</h1>
			</div>
			<div class="pt-[1.5em] pb-0 px-0 lg:text-left lg:w-[55%] lg:py-0 lg:pr-[1.5em] lg:pl-[4em]">
				<div class="hidden"><hr /></div>
				<h2 class="text-5xl text-[var(--head)] mt-[0.5em] lg:mt-0 mb-[0.25em] tracking-tighter lg:pt-[1em]">Latest posts</h2>
				{{- range first 3 (where site.RegularPages "Section" "posts") }}
				<div>
					<h2 class="text-4xl tracking-tight pt-[0.5em] leading-[1.25em]"><a href="{{ .RelPermalink }}">{{ .Title | .Page.RenderString }}</a></h2>
					<p class="text-xl mt-[0.5em] tracking-tight">
						{{ .Description }}
					</p>
					<p class="mt-[0.5em] mb-[1em]">
						{{- if ne (substr .Title 0 22) "The site this week: 20" -}}<span class="font-semibold text-base">{{ .PublishDate.Format "2006-01-02" }}</span>{{- end -}}
					</p>
				</div>
				{{- end }}
				<p class="mt-[3em]"><a href="/posts/"><strong class="font-semibold">All {{ len (where site.RegularPages "Section" "posts") }} posts</strong></a> <span class="text-sm">(listed five per page)</span></p>
			</div>
		</div>
		{{- end }}
