{{/*
  This shortcode takes the following form:
  imgc src, alt, width, height
  ...with 'src' in the form of (note NO leading or ending slash):
  filename.ext
  ...and 'tmpl' optional in body copy. The template is used
  to specify hero images on either the home page ('index') or
  post pages ('posts'). Without this parameter, the defaults
  cause body-copy-style image-handling.

  This is based on the `lazy-picture.js` shortcode from
  the eleventy_solo repo.
/*}}

{{/* init vars */}}
{{- $respSizes := slice "300" "450" "600" "750" "900" "1050" "1200" "1350" "1500" -}}
{{- $src := .Get "src" -}}
{{- $alt := .Get "alt" -}}
{{- $width := .Get "width" -}}
{{- $height := .Get "height" -}}

{{/*
  separating the Cloudinary-related vars for greater flexibility, especially in case somebody else
  wants to borrow this code for his/her own Cloudinary setup and transformation ("xFm") choices
*/}}
{{- $cloudiBase := "https://res.cloudinary.com/brycewray-com/image/upload/" -}}
{{ $LQIPholder := "f_auto,q_1,w_20/" }}
{{/* $xFmPart1 := "f_auto,q_auto:eco,w_" */}}
{{- $xFmPart2 := ",x_0,z_1/" -}}

{{/* Some of these vars seem pointless, but am keeping in case I ever decide to use other kinds of images again. */}}
{{- $imgBd5 := md5 $src -}}
{{- $divClass := printf "%s%s" "relative imgB-" $imgBd5 -}}
{{- $imgClass := "w-full h-auto lazy nScrHidden" -}}
{{- $nscClass := "containedImage" -}}
{{- $dataSzes := "(min-width: 1024px) 100vw, 50vw" -}}
{{- $LQIPdata := printf "%s%s%s" $cloudiBase $LQIPholder $src -}}
{{- $LQIP_get := resources.GetRemote $LQIPdata -}}

<style{{ if eq .Site.Params.Host "CFP" }} nonce="DhcnhD3khTMePgXw"{{- end -}}>.imgB-{{ $imgBd5 }} {background: url(data:image/jpeg;base64,{{ $LQIP_get.Content | base64Encode }}); background-size: cover; background-repeat: no-repeat;}</style>
<div class="{{ $divClass }} bg-center" aspect-ratio="{{ $width }} / {{ $height }}">
  <img class="{{ $imgClass }}" data-src="{{ $cloudiBase }}f_auto,q_auto:eco,w_600{{ $xFmPart2 }}{{ $src }}" data-srcset="
  {{- with $respSizes -}}
    {{- range $i, $e := . -}}
      {{- if ge $width . -}}
        {{- if $i }}, {{ end -}}{{- $cloudiBase -}}f_auto,q_auto:eco,w_{{ . }}{{- $xFmPart2 -}}{{- $src }} {{ . }}w
      {{- end -}}
    {{- end -}}
  {{- end -}}" alt="{{ $alt }}" width="{{ $width }}" height="{{ $height }}" loading="lazy" sizes="{{ $dataSzes }}" />
  <noscript>
    <img class="{{ $nscClass }}" src="{{ $cloudiBase }}f_auto,q_auto:eco,w_600{{ $xFmPart2 }}{{ $src }}" alt="{{ $alt }}" />
  </noscript>
</div>
