<div class="colorBoxContainer">
	<p class="ctr sans-serif pokey noY">Tailwind CSS green palette:</p>
	<table class="pals">
		<thead>
		</thead>
		<tr>
			<td class="twgreen-50">&nbsp;</td>
			<td class="twgreen-100">&nbsp;</td>
			<td class="twgreen-200">&nbsp;</td>
			<td class="twgreen-300">&nbsp;</td>
			<td class="twgreen-400">&nbsp;</td>
			<td class="twgreen-500">&nbsp;</td>
			<td class="twgreen-600">&nbsp;</td>
			<td class="twgreen-700">&nbsp;</td>
			<td class="twgreen-800">&nbsp;</td>
			<td class="twgreen-900">&nbsp;</td>
			<td class="twgreen-950">&nbsp;</td>
		</tr>
	</table>
	<p class="ctr sans-serif pokey noY">Similar, OKLCH-based green palette:</p>
	<table class="pals">
		<tr>
			<td class="okgreen-50">&nbsp;</td>
			<td class="okgreen-100">&nbsp;</td>
			<td class="okgreen-200">&nbsp;</td>
			<td class="okgreen-300">&nbsp;</td>
			<td class="okgreen-400">&nbsp;</td>
			<td class="okgreen-500">&nbsp;</td>
			<td class="okgreen-600">&nbsp;</td>
			<td class="okgreen-700">&nbsp;</td>
			<td class="okgreen-800">&nbsp;</td>
			<td class="okgreen-900">&nbsp;</td>
			<td class="okgreen-950">&nbsp;</td>
		</tr>
	</table>
</div>

