{{/*
	- https://github.com/capjamesg/bsky.link/blob/main/app.js
	- https://dev.to/shinyakato/easily-use-firehose-api-on-bluesky-social-with-dart-and-flutter-mdk
	- https://gist.github.com/pojntfx/72403066a96593c1ba8fd5df2b531f2d
	- https://medium.com/@stephane.giron/post-and-get-messages-with-bluesky-social-api-and-google-apps-script-1cf76cd9c4cd
*/}}

{{ $didURL := "https://bsky.social/xrpc/com.atproto.identity.resolveHandle" }}
{{ $appIdentifier := os.Getenv "BSKY_HANDLE" }}
{{ $appPassword := os.Getenv "BSKY_API_PW" }}
{{ $apiKeyURL := "https://bsky.social/xrpc/com.atproto.server.createSession" }}
{{ $handle := .Get "handle" }}
{{ $id := .Get "id" }}
{{ $inst := .Get "instance" }}
{{ $jsonDID := "" }}
{{ $jsonOpts := ""}}
{{ $jsonDIDholder := ""}}
{{ $token := "" }}
{{ $postGetURL := "https://bsky.social/xrpc/app.bsky.feed.getPosts" }}
{{ $jsonBare := "" }}
{{ $json := "" }}
{{ $postLink := fmt.Print "https://" $inst "/profile/" $handle "/post/" $id }}
{{ $created_at := "" }}
{{ $handleInst := "" }}
{{ $author := "" }}
{{ $displayName := "" }}
{{ $facets := "" }}
{{ $avatar := "" }}
{{ $text := "" }}
{{ $embedURI := "" }}
{{ $extURI := "" }}
{{ $extTitle := "" }}
{{ $extDescr := "" }}
{{ $extThumb := "" }}
{{/* img-only posts */}}
{{ $embedThumb := "" }}
{{ $embedImage := "" }}
{{ $embedAlt := "" }}
{{/* reposts */}}
{{ $embedText := "" }}
{{ $embedAuthor := "" }}
{{ $embedHandle := "" }}
{{ $embedDisplayName := "" }}
{{ $embedAvatar := "" }}
{{ $embedCreated_at := "" }}
{{ $embedExtDescr := "" }}
{{ $embedExtThumb := "" }}
{{ $embedExtTitle := "" }}
{{ $embedExtURI := "" }}
{{ $embedId := "" }}
{{ $embedInst := "" }}
{{ $embedPostLink := fmt.Print "https://" $embedInst "/profile/" $embedHandle "/post/" $embedId }}

{{/* ================== */}}

{{/* resolve handle */}}
{{- $handleURL := fmt.Print $didURL "?handle=" $handle -}}
{{- with resources.GetRemote $handleURL -}}
	{{ with .Err }}
		<p>Error from handle resolution is:<br>
			{{ . }}</p>
		{{/*  {{ fmt.Errorf "%s" . }}  */}}
	{{ else }}
		{{ $json := transform.Unmarshal .Content }}
		{{ $jsonDID = $json.did }}
	{{ end }}
{{- end -}}

{{/* get token (API key) */}}
{{- $tokenOpts := collections.Dictionary
	"method" "POST"
	"headers" (collections.Dictionary
		"Content-Type" "application/json"
	)
	"body" (collections.Dictionary
		"identifier" $appIdentifier
		"password" $appPassword
	| encoding.Jsonify)
-}}
{{ with resources.GetRemote $apiKeyURL $tokenOpts }}
	{{ with (resources.GetRemote $apiKeyURL $tokenOpts).Err }}
		<p>Error from getting API key is:<br>
			{{ . }}</p>
		{{/*  {{ fmt.Errorf "%s" . }}  */}}
	{{ else }}
		{{ $token = transform.Unmarshal .Content }}
		{{ $token = $token.accessJwt }}
	{{ end }}
{{ end }}

{{/* get post */}}
{{- $postGetOpts := collections.Dictionary
	"method" "GET"
	"headers" (collections.Dictionary
		"Accept" "application/json"
		"Authorization" (fmt.Printf "Bearer %s" $token)
	)
-}}
{{ $postGetURL = fmt.Print $postGetURL "?uris=at://" $jsonDID "/app.bsky.feed.post/" $id }}
{{ with resources.GetRemote $postGetURL $postGetOpts }}
	{{ with (resources.GetRemote $postGetURL $postGetOpts).Err }}
		<p>Error from post-get attempt is:<br>
		{{ . }}</p>
	{{ else }}
		{{ $jsonBare = .Content  }}
		{{ $json = transform.Unmarshal .Content }}
	{{ end }}
{{ end }}

{{/* ================== */}}

{{ with $json }}
	{{ range $json.posts }}
		{{ $posts := . }}
		{{ $created_at = $posts.record.createdAt }}
		{{ $text = $posts.record.text }}
		{{ $text = strings.Replace $text "\n" "<br>"}}
		{{ with $posts.author }}
			{{ $author = . }}
			{{ $displayName = $author.displayName }}
			{{ $avatar = $author.avatar }}
		{{ end }}
		{{ range .record.facets }}
			{{ range .features }}
				{{ $embedURI = .uri }}
			{{ end }}
		{{ end }}
		{{/* ^^
			2024-02-27:
			https://discourse.gohugo.io/t/trying-to-access-item-in-json-from-bluesky/48534
		*/}}
		{{ with $posts.embed }}
			{{ with $posts.embed.external }}
				{{ $embedURI = .uri }}
				{{ $extURI = .uri }}
				{{ $extTitle = .title }}
				{{ $extDescr = .description }}
				{{ $extThumb = .thumb }}
			{{ end }}
			{{ with $posts.embed.images }}{{/* img-only */}}
				{{ range . }}
					{{ $embedThumb = .thumb }}
					{{ $embedAlt = .alt }}
				{{ end }}
			{{ end }}
			{{ with $posts.embed.record }}{{/* repost */}}
				{{ range .embeds }}
					{{ with .external }}
						{{ $embedExtDescr = .description}}
						{{ $embedExtTitle = .title }}
						{{ $embedExtURI = .uri }}
						{{ $embedExtThumb = .thumb }}
					{{ end }}
				{{ end }}
				{{ with $posts.embed.record.author }}
					{{ $embedAuthor = . }}
					{{ $embedHandle = $embedAuthor.handle}}
					{{ $embedDisplayName = $embedAuthor.displayName }}
					{{ $embedAvatar = $embedAuthor.avatar }}
				{{ end }}
				{{ with .value }}
					{{ $embedText = .text }}
				{{ end }}
			{{ end }}
		{{ end }}
	{{ end }}
{{ end }}

{{/*  {{ $jsonBare }}  */}}

<blockquote class="toot-blockquote" cite="{{ $postLink }}">
	<div class="toot-header">
		<a class="toot-profile" href="https://{{ $inst }}/profile/{{ $handle }}" rel="noopener">
			<img
				src="{{ $avatar }}"
				alt="Bluesky avatar for @{{ $handle }}"
				loading="lazy"
			/>
		</a>
		<div class="toot-author">
			<a class="toot-author-name" href="https://{{ $inst }}/profile/{{ $handle }}" rel="noopener">{{ $displayName }}</a>
			<a class="toot-author-handle" href="https://{{ $inst }}/profile/{{ $handle }}" rel="noopener">{{ fmt.Print "@" $handle }}</a>
		</div>
	</div>
	<p>
		{{ $text | safe.HTML }}
	</p>
	{{ if not $extURI }}
		{{ with $embedURI }}
			<p class="pokey">(<a href="{{ $embedURI }}" rel="noopener">{{ $embedURI }}</a>)</p>
		{{ end }}
	{{ end }}
	{{ with $embedExtURI }}{{/* reposts */}}
		<blockquote class="toot-blockquote">
			<div class="toot-header">
				<span class="toot-profile">
					<img
						src="{{ $embedAvatar }}"
						alt="Bluesky avatar for @{{ $embedHandle }}"
						loading="lazy"
					/>
				</span>
				<div class="toot-author">
					<span class="toot-author-name">{{ $embedDisplayName }}</span>
					<span class="toot-author-handle">{{ fmt.Print "@" $embedHandle }}</span>
				</div>
			</div>
			<p>
				{{ $embedText | safe.HTML }}
				{{ with $embedExtURI }}
					<br>
					<span class="pokey">(<a href="{{ $embedExtURI }}" rel="noopener">{{ $embedExtURI }}</a>)</span>
				{{ end }}
			</p>
			{{ with $embedExtURI }}
				<a href="{{ $embedExtURI }}" rel="noopener">
					<div class="toot-card">
						<div class="toot-card-image">
							<img
								src="{{ $embedExtThumb }}"
								alt="Card image from embedded post"
								loading="lazy"
								class="toot-card-image-image"
							/>
						</div>
						<div class="toot-card-content">
							<p class="card-title">{{ $embedExtTitle }}</p>
							<p class="card-description">{{ $embedExtDescr }}</p>
						</div>
					</div>
				</a>
			{{ end }}
		</blockquote>
	{{ end }}
	{{ with $embedThumb }}
		<div class="toot-card">
			<div class="toot-card-image">
				<img
					src="{{ $embedThumb }}"
					alt="{{ $embedAlt }}"
					loading="lazy"
					class="toot-card-image-image"
				/>
			</div>
		</div>
	{{ end }}
	{{ with $extURI }}
		<a href="{{ $extURI }}" rel="noopener">
			<div class="toot-card">
				<div class="toot-card-image">
					<img
						src="{{ $extThumb }}"
						alt="Card image from {{ $inst }} post {{ $id }}"
						loading="lazy"
						class="toot-card-image-image"
					/>
				</div>
				<div class="toot-card-content">
					<p class="card-title">{{ $extTitle }}</p>
					<p class="card-description">{{ $extDescr }}</p>
				</div>
			</div>
		</a>
	{{ end }}
	<div class="toot-footer">
		<a href="{{ $postLink }}" class="toot-date" rel="noopener">{{ dateFormat "3:04 PM • January 2, 2006" $created_at }}</a>&nbsp;<span class="legal">(UTC)</span>
	</div>
</blockquote>
