{{ $masIns := .Get 0 }}
{{ $tootLink := "" }}
{{ $handleInst := "" }}
{{ $imageCount := 0 }}
{{ $id := .Get 1 }}
{{ $urlPre := print "https://" $masIns "/api/v1/statuses/" }}
{{ $json := getJSON $urlPre $id }}
{{ $jsonHolder := $json }}{{/* Being safe */}}


{{ if isset $json "mentions" }}
  {{/* to come */}}
{{ end }}
{{ if isset $json "tags" }}
  {{/* to come */}}
{{ end }}
{{ if isset $json "media_attachments" }}
  {{/* to come */}}
{{ end }}
{{ if isset $json "url" }}
  {{/* to come */}}
{{ end }}

{{ if isset $json "account" }}
  {{ $tootLink = print "https://" $masIns "@" $json.account.acct "/status/" $id }}
  {{ $handleInst = print "@" $json.account.acct "@" $masIns }}
{{ end }}

{{ if isset $json "content" }}
  <blockquote class="tweet-card" cite="{{ $tootLink }}">
    <div class="tweet-header">
      <a class="tweet-profile twitterExt" href="https://{{ $masIns }}/@{{ $json.account.acct }}" target="_blank" rel="noopener">
        <img src="{{ $json.account.avatar }}" alt="Mastodon avatar for {{ $handleInst }}" loading="lazy" />
      </a>
      <div class="tweet-author">
        <a class="tweet-author-name twitterExt" href="https://{{ $masIns }}/@{{ $json.account.acct }}" target="_blank" rel="noopener">{{ $json.account.display_name }}</a>
        <a class="tweet-author-handle twitterExt" href="https://{{ $masIns }}/@{{ $json.account.acct }}" target="_blank" rel="noopener">{{ $handleInst }}</a>
      </div>
    </div>
    <p class="tweet-body">
      {{ $json.content | safeHTML }}
    </p>
    {{ with $json.media_attachments }}
      {{ range $media_attachments := . }}
        {{ if eq $media_attachments.type "image" }}
          {{ $imageCount = (add ($imageCount) 1) }}
        {{ end }}
      {{ end }}
      <div class="tweet-img-grid-{{ $imageCount }}">
      {{ range $media_attachments := . }}
        {{ if eq $media_attachments.type "image" }}
          <img
            src="{{ $media_attachments.url }}"
            alt="Image {{ $media_attachments.id }} from toot {{ $id }} on {{ $masIns }}"
            class="tweet-media-img"
            loading="lazy"
          />
        {{ end }}
      {{ end }}
      </div>
      {{/*
        N.B.:
        The above results in an empty, no-height div
        when there's no image but there **is**
        at least one item in `$media_attachments`.
        Unfortunately, it seems to be the only way
        to accomplish this. Not a good HTML practice,
        but gets the job done.
      */}}
      {{ range $media_attachments := . }}
        {{ if eq $media_attachments.type "video" }}
          <div class="ctr tweet-video-wrapper">
            <video muted playsinline controls class="ctr tweet-media-img">
              <source
                src="{{ $media_attachments.url }}"
              >
              <p class="legal ctr">(Your browser doesn&rsquo;t support the <code>video</code> tag.)</p>
            </video>
          </div>
        {{ end }}
        {{ if eq $media_attachments.type "gifv" }}
          <div class="ctr tweet-video-wrapper">
            <video loop autoplay muted playsinline controlslist="nofullscreen" class="ctr tweet-media-img">
              <source
                src="{{ $media_attachments.url }}"
              >
              <p class="legal ctr">(Your browser doesn&rsquo;t support the <code>video</code> tag.)</p>
            </video>
          </div>
        {{ end }}
      {{ end }}
    {{ end }}
    <div class="tweet-footer">
      <a href="https://{{ $masIns }}/@{{ $json.account.acct }}/{{ $json.id }}" class="tweet-date twitterExt" target="_blank" rel="noopener">{{ dateFormat "3:04 PM • January 2, 2006" $json.created_at }}</a>&nbsp;<span class="legal">(UTC)</span>
    </div>
  </blockquote>
{{ end }}
