@charset 'utf-8';

.bg-dark {
	margin-top: 2.5rem;
	background-color: var(--twcss-slate-300); /* slate-300 */
	@media (prefers-color-scheme: dark) {
		background-color: var(--twcss-slate-800); /* slate-800 */
	}
	padding: 0.5rem 0;
	& div, p {
		color: black;
		@media (prefers-color-scheme: dark) {
			color: white;
		}
	}
	& p.prevnextP {
		margin: 0 auto;
		padding: 0.15rem 0;
		width: 90%;
		font-size: clamp(1rem, 1vw + 0.625em, var(--text-xl));
		--twcss-blue-200: #bedbfe;
		& a {
			color: var(--twcss-blue-800); /* blue-800 */
			text-decoration: none;
			@media (prefers-color-scheme: dark) {
				color: var(--twcss-blue-200); /* blue-200 */
			}
			&:hover, &:focus {
				--twcss-gray-800: #1f2937;
				--twcss-gray-200: #e5e7eb;
				color: var(--twcss-gray-800); /* gray-800 */
				text-decoration: underline; /* normal */
				text-decoration-thickness: var(--textDcThick); /* always rem */
				text-underline-offset: var(--textUnOffst); /* always em */
				text-decoration-skip-ink: auto;
				@media (prefers-color-scheme: dark) {
					color: var(--twcss-gray-200); /* gray-200 */
				}
			}
		}
	}
}

.contactBtn {
	font-family: var(--sans-serif);
	text-align: center;
	--twcss-blue-50: #f0f6ff;
	margin: 1.5em auto 1em;
	& button {
		width: 15rem;
		margin-top: 0.5em;
		padding: 0.25rem 0;
		background-color: var(--twcss-blue-700); /* blue-700 */
		border-radius: var(--btn_radius);
		border-color: transparent;
		vertical-align: middle;
		color: white;
		&:focus, &:active, &:hover {
			background-color: var(--twcss-blue-800); /* blue-800 */
		}
		&:hover {
			cursor: pointer;
		}
		@media (prefers-color-scheme: dark) {
			color: black;
			background-color: var(--twcss-blue-300); /* blue-300 */
			&:focus, &:active, &:hover {
				background-color: var(--twcss-blue-50); /* blue-50 */
			}
		}
	}
}
