html, body {
  font-family: $sans-serif !important;
  color: $default-color;
  letter-spacing: -0.001em;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  font-feature-settings: "liga" 1; // ligatures won't work without this
}

.IEonly {
  display: none;
}

p, li {
  line-height: 1.4;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: $sans-serif;
  color: $default-color;
  letter-spacing: -0.025em;
  font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
  display: block;
  margin-block-start: 0.25em;
  margin-block-end: 0.25em;
}

h3, h5, h6 {
  font-style: italic;
}

h1, .h1 {
  font-size: $biggest + unquote("em");
}

h2, .h2 {
  font-size: $bigger + unquote("em");
}

h3, .h3 {
  font-size: $mightybig + unquote("em");
}

h4, .h4 {
  font-size: $sortabig + unquote("em");
}

h5, .h5, h6, .h6 {
  font-size: $slightlybig + unquote("em");
}

a, a:focus, a:hover, a:active {
  text-decoration: none;
  border-bottom: 1px solid $blue;
  text-decoration-skip-ink: auto;
}

a {
  color: $blue;
}

a:focus, a:hover, a:active {
  color: $darkblue;
  border-bottom: 1px solid $blueFirst;
}

sup a, a.previous, a.next, .footnote-return, a.icon {
  border-bottom: 0;
}

blockquote {
	color: $grey-1;
	margin-right: 1em;
	margin-left: 2em;

  p:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 600px) {
    padding: 0 5em 0 1.25em;
  }
}

td {
  vertical-align: top;
}

sub, sup {
  font-size: 65%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}


a.footnote-return{
  font-size: 50%;
}

.ctr {
  text-align: center;
}

.rgt {
  text-align: right;
}

.wht {
  color: #fff;
}

.smallCaps {
  font-variant: small-caps;
}

.teenytxt, .teeny {
  font-size: $teeny + unquote("em");
}

.legaltxt, .legal {
  font-size: $legal + unquote("em");
}

.pokeytxt, .pokey {
  font-size: $pokey + unquote("em");
}

.nobrk {
  white-space: nowrap;
  font-size: inherit;
}