/* Webmention Section */
/* from https://github.com/maxboeck/eleventy-webmentions/blob/master/css/webmentions.css */

.webmentions {
  border-top: 1px solid #333;
  display:block;
  margin-top: 2em;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  h2, h3, h4 {
    text-align: center;
  }
  @media (prefers-color-scheme: dark) {
    border-top: 1px solid #fff;
  }
  @media screen and (min-width: 900px) {
    width: 50%;
  }
}

.webmentions__facepile {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.webmentions__face {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  object-fit: cover;
  flex: none;
}

.webmentions__list {
  list-style-type: none;
  padding:0;
}

.webmentions__item {
  margin-bottom: 2rem;
}

/* Single Webmention */

.webmention {
  display: block;
}

.webmention__meta,
.webmention__author {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.webmention__meta {
  margin-bottom: .5rem;
}

.webmention__author {
  margin-right: .25rem;
}

.webmention__author__photo {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: .5rem;
}

.webmention__pubdate {
  font-style: italic;
}

.p-note {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 1.5em; // avoids phone UI stuff
  @media screen and (min-width: 1025px) {
    width: 50%;
    padding-bottom: 0.5em;
  }
}

.u-url {
  color: #333;
  border-bottom: 1px solid #333;  
}

// for imported comments

.commentOpen {
  margin-top: 1.5em;
  margin-bottom: 0;
}

.commentBody {
  margin-top: 0;
  margin-bottom: 0;
}