// === for home page
.homeOpen {
  text-align: center;
  h1 {
    line-height: 1.5em;
    font-size: 1.5rem;
  }
  @media screen and (min-width: $bkpt_lg) {
    text-align: right;
    padding: 0 3em 0 0;
    color: $white;
    background-image: linear-gradient(to bottom, $darkblue, $black 60%, $white);
    @media screen and (prefers-color-scheme: dark) {
      background-image: linear-gradient(to bottom, $black, $darkblue 60%, $black);
    }
    width: 45%;
    min-height: 80vh;
    h1 {
      padding: 3.5em 0 0 2em;
      font-size: 2rem;
    }
    a {
      color: $blueLight;
      border-bottom: 1px solid $blueLight;
    }
  }
  @media screen and (min-width: $bkpt_2xl) {
    h1 {
      padding: 2.5em 0 0 2.5em;
      font-size: 3rem;
    }
  }
}

.homePost {
  &-Div {
    padding-top: 1.5em;
    @media screen and (min-width: $bkpt_lg) {
      text-align: left;
      width: 55%;
      padding: 0 1.5em 0 4em;
    }
  }
  &-Latest {
    margin-top: 0.5em;
    margin-bottom: 0.25em;
    font-weight: 825;
    font-size: 2rem;
    @media screen and (min-width: $bkpt_lg) {
      margin-top: 0;
      padding-top: 1em;
      font-size: 3rem;
    }
    @media screen and (min-width: $bkpt_2xl) {
      font-size: 4rem;
    }
  }
  &-Title {
    font-size: 1.75rem;
    padding-top: 0.5em;
    line-height: normal;
    @media screen and (min-width: $bkpt_lg) {
      font-size: 2rem;
    }
    @media screen and (min-width: $bkpt_2xl) {
      font-size: 2.25rem;
    }
  }
  &-Subtitle {
    margin-top: 0;
    margin-bottom: 0.25em;
    font-weight: 625;
    font-size: 1.25rem;
    @media screen and (min-width: $bkpt_lg) {
      font-size: 1.5rem;
    }
    @media screen and (min-width: $bkpt_2xl) {
      font-size: 1.75rem;
    }
  }
  &-Dates {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0.875rem;
    @media screen and (min-width: $bkpt_lg) {
      font-size: 1rem;
    }
    @media screen and (min-width: $bkpt_2xl) {
      font-size: 1.125rem;
    }
  }
  &-Description {
    margin-top: 0.5em;
    font-size: 0.875rem;
    @media screen and (min-width: $bkpt_lg) {
      font-size: 1rem;
    }
    @media screen and (min-width: 1536px) {
      font-size: 1.25rem;
    }
  }
  &-Finish {
    margin-top: 2em;
  }
}
// === end, for home page
