/*
td {
  font-family: $sans-serif;
}
*/

// === table for web typography article, part II
table.noborders {
  width: 100%;
  margin: 1.5rem auto 1rem auto;
  border: 0;
  border-collapse: collapse;
  tr {
    @media (prefers-color-scheme: dark) {
      background-color: $default-color-dark-mode;
      color: $default-color;
    }
  }
  td {
    text-align: left;
    vertical-align: middle;
    padding: 0.25rem 0 0.25rem 0.5rem;
    img {
      display: inline-block;
      vertical-align: middle;
      margin: 0;
    }
  }
  tr:nth-child(even) {
    background-color: hsl(210, 100%, 94%);
  }
  thead {
    background-color: $darkblue;
  }
  thead tr {
    @media (prefers-color-scheme: dark) {
      background-color: $darkblue;
    }
  }
  thead td {
    color: hsl(0, 0%, 100%);
    font-weight: bold;
  }
  td.td70 {
    width: 70%;
    img {
      display: block;
      width: 50%;
      max-width: 50%;
      height: auto;
    }
  }
  td.td30 {
    width: 30%;
  }
}
// === end, table for web typography article, part II

// === table for MLB/NFL article
table.leagues {
	width: 90%;
	margin: 1rem auto 0 auto;
	border: 0;
	border-collapse: collapse;
	@media (min-width: 900px) {
		width: 60%;
	}
	td.col {
		width: 50%;
	}
}

// === end, table for MLB/NFL article
