// === utility classes
.ctr {
  text-align: center;
}

.rgt {
  text-align: right;
}

.wht {
  color: hsl(0, 0%, 100%);
}

.smallCaps {
  font-variant: small-caps;
}

.sortabig {
  font-size: $sortabig;
}

.bigger {
  font-size: $bigger;
}

.teenytxt, .teeny {
  font-size: $teeny;
}

.legaltxt, .legal {
  font-size: $legal;
}

.pokeytxt, .pokey {
  font-size: $pokey;
}

.eightyFive {
  font-size: $eightyFive;
}

.seventyFive {
  font-size: $seventyFive;
}

.sixtyFive {
  font-size: $sixtyFive;
}

.topM2 {
  margin-top: 2em;
}

.btmM1 {
  margin-bottom: 1em;
}

.btmM10 {
  margin-bottom: 10em;
}

.tightLead {
  line-height: 1.25;
}

.text {
  &-nowrap, .nobrk {
    white-space: nowrap;
    font-size: inherit;
  }
  &-link {
    color: $blue;
  }
  &-link:active, &-link:focus, &-link:hover {
    color: $darkblue;
  }
  &-muted {
    color: $grey-1;
    @media (prefers-color-scheme: dark) {
      color: $grey-2-dark-mode;
    }
  }
  &-body {
  color: $default-color;
  }
}
.bg-primary {
  background-color: $blue;
}

.bg-center {
  background-position: center;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.bg-cover {
  background-size: cover;
}

.btn-primary {
  background-color: $blue;
  border-color: $blue;
  color: hsl(0, 0%, 100%);
  border-radius: 6px;
  padding: 0.25rem 0.5rem;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: $darkblue;
  border-color: $darkblue;
}

.sansSerif {
  font-family: $sans-serif;
}

.IEonly {
  display: none;
}

.yellowBox, .blueBox {
  font-family: $sans-serif;
  display: block;
  box-sizing: border-box;
  border: 1px solid hsl(0, 0%, 20%);
  margin: 0.5em auto;
  width: 100%;
  padding: 1.5em;
  @media (prefers-color-scheme: dark) {
    border: 1px solid $grey-1;
  }
}

.yellowBox + hr, .blueBox + hr { // for situations like in "Gems in the rough #4" as of 2021-04-15
  margin-top: 1.75em;
}

.yellowBox {
  background: hsl(52, 100%, 85%);
  @media (prefers-color-scheme: dark) {
    background: hsl(40, 100%, 10%);
  }
}

.blueBox {
  background: hsl(200, 100%, 95%);
  font-size: 85%;
  @media (prefers-color-scheme: dark) {
    background: hsl(200, 100%, 20%);
  }
}

img.containedImage {
  display: block;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0 auto;
}

.red {
  color: $red;
  @media (prefers-color-scheme: dark) {
    color: $red-dark-mode;
  }
}

.imgcCaption, .imgCaption, .lazypicturecaption {
  font-family: $sans-serif;
  padding: 0;
  margin-block-start: 0.5em;
  line-height: 1.375;
  font-size: $pokey;
  text-align: center;
}

.FeatImgCaption {
  font-family: $sans-serif;
  font-size: $legal;
  text-align: center;
  padding-top: 0.5em;
  margin-bottom: 0;
}

.EICapt { // for use with images used with Eleventy Image which have captions
  margin-bottom: -0.5em;
}

.relative {
  position: relative;
}

.h-full {
  height: 100%;
}

.punctuationExample {
  font-size: 1.5em;
  font-weight: normal;
  font-family: $serif;
  text-align: center;
}

.indentAfterLI {
  margin-left: 2em; // 2em with Public Sans, 2.25em with Inter
  @media screen and (min-width: $bkpt_2xl) {
    margin-left: 2em;
  }
}

/* === start, borrowed from TWCSS === */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.inline {
  display: inline;
}

/* === end, borrowed from TWCSS === */

.grayedOut {
  color: $grey-2;
}

/* start, for imgc.html */

.imgc {
  &-div {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/* end, for imgc.html */

/* start, for 404 page */

.FourOhFour {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  h1 {
    font-size: $biggest;
    margin-top: 5rem;
    margin-bottom: 3rem;
    @media screen and (min-width: $bkpt_lg) {
      font-size: 3.25rem;
    }
    @media screen and (min-width: $bkpt_xl) {
      font-size: 3.5rem;
    }
  }
  p {
    font-size: $slightlybig;
  }
  .bottom {
    margin-bottom: 10em;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade {
  animation: fadeIn 1s ease-in-out;
}

// === end, utility classes
